<div class="row">
    <div class="col-12 mb-2">
        <ul class="nav nav-pills flex-column flex-sm-row my-2">
            <li class="nav-item">
                <a ActiveBy
                   asp-action="@nameof(VendorCodesController.Index)"
                   class="nav-link"
                   routeKey="Action"
                   value="@nameof(VendorCodesController.Index)">Summary</a>
            </li>
            <li class="nav-item">
                <a ActiveBy
                   asp-action="@nameof(VendorCodesController.ImportStatus)"
                   class="nav-link"
                   routeKey="Action"
                   value="@nameof(VendorCodesController.ImportStatus)">Import Status</a>
            </li>
            <li class="nav-item">
                <a ActiveBy
                   asp-action="@nameof(VendorCodesController.EmailAward)"
                   class="nav-link"
                   routeKey="Action"
                   value="@nameof(VendorCodesController.EmailAward)">Email Awards</a>
            </li>
            <li class="nav-item">
                <a ActiveBy
                   asp-action="@nameof(VendorCodesController.ViewPackingSlip)"
                   asp-route-id=""
                   class="nav-link"
                   routeKey="Action"
                   value="@nameof(VendorCodesController.ViewPackingSlip)">
                    View/Receive Packing Slip
                </a>
            </li>
            <li class="nav-item">
                <a ActiveBy
                   aria-expanded="false"
                   aria-haspopup="true"
                   class="dropdown nav-link"
                   data-bs-toggle="dropdown"
                   href="#"
                   id="adminDropdown"
                   role="presentation"
                   routeKey="Action"
                   value="@nameof(VendorCodesController.BulkCodeReassignment),@nameof(VendorCodesController.Configure),@nameof(VendorCodesController.GenerateCodes),@nameof(VendorCodesController.ExportCodes)">
                    Administration <span class="fas fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a asp-action="@nameof(VendorCodesController.BulkCodeReassignment)"
                           class="nav-link">
                            Bulk code reassignment
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@nameof(VendorCodesController.Configure)" class="nav-link">
                            Configure
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@nameof(VendorCodesController.GenerateCodes)"
                           class="nav-link">
                            Generate Codes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@nameof(VendorCodesController.ExportCodes)" class="nav-link">
                            <span class="fas fa-file-download fa-fw"></span>
                            Download Codes
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>