<div class="row">
    <div class="col-12 mb-2">
        <ul class="nav nav-pills flex-column flex-sm-row" style="margin-top: 2rem; margin-bottom: 1rem;">
            <li class="nav-item">
            <a ActiveBy 
                routeKey="Action" 
                value="@nameof(VendorCodesController.Index)"
                asp-action="@nameof(VendorCodesController.Index)" 
                class="nav-link">
                Summary</a>
            </li>
            <li class="nav-item">
                <a ActiveBy 
                    routeKey="Action" 
                    value="@nameof(VendorCodesController.ImportStatus)"
                    asp-action="@nameof(VendorCodesController.ImportStatus)" 
                    class="nav-link">
                    Import Status</a>
            </li>
            <li class="nav-item">
            <a ActiveBy 
                routeKey="Action" 
                value="@nameof(VendorCodesController.EmailAward)"
                asp-action="@nameof(VendorCodesController.EmailAward)" 
                class="nav-link">
                Email Awards</a>
            </li>
            <li class="nav-item">
                <a ActiveBy
                routeKey="Action"
                value="@nameof(VendorCodesController.ViewPackingSlip)"
                asp-action="@nameof(VendorCodesController.ViewPackingSlip)"
                asp-route-id="" 
                class="nav-link">
                View/Receive Packing Slip
                </a>
            </li>
            <li class="nav-item">
                   <a role="presentation" 
                   class="dropdown nav-link"
                   data-bs-toggle="dropdown"
                   href="#"
                   aria-haspopup="true"
                   aria-expanded="false"
                   id="adminDropdown">
                   Administration <span class="fas fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a asp-action="@nameof(VendorCodesController.BulkCodeReassignment)" class="nav-link">
                            Bulk code reassignment
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@nameof(VendorCodesController.Configure)" class="nav-link">
                            Configure
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@nameof(VendorCodesController.GenerateCodes)" class="nav-link">
                            Generate
                            Codes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@nameof(VendorCodesController.ExportCodes)" class="nav-link">
                            Download
                            Codes
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>