@model GRA.Domain.Model.PackingSlipSummary
@section styles {
    <style type="text/css">
        @@media print {
            @@page {
                margin-bottom: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                margin-top: 3rem;
                size: letter;
            }

            body {
                margin: 0 auto;
            }
        }

        .mc-page-title {
            display: none;
        }

        footer {
            display: none;
        }

        .hold-slip {
            break-inside: avoid;
            height: 10rem;
        }

        .vertical-element {
            font-size: 1.5rem;
            max-height: 10rem;
        }

        .rotate {
            height: 10.5rem;
            overflow: hidden;
            transform: rotate(180deg);
            white-space: nowrap;
            writing-mode: vertical-lr;
        }

        .print-line {
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
}

@foreach (var vendorCode in Model.VendorCodes)
{
    <div class="row holdslip">
        <div class="col-1 fs-4">
            <div class="rotate">
                @GRA.Domain.Model.PackingSlipSummary.LastCommaFirstUpper(vendorCode.FirstName, vendorCode.LastName)
            </div>
        </div>
        <div class="col-11">
            <div class="fs-1">
                <strong>
                    @GRA.Domain.Model.PackingSlipSummary.LastCommaFirstUpper(vendorCode.FirstName, vendorCode.LastName)
                </strong>
            </div>
            <div class="fs-2">
                @(vendorCode.Details.Length > 39 ? $"{vendorCode.Details.Substring(0, 39).TrimEnd().TrimEnd(',').TrimEnd('(').TrimEnd('/').TrimEnd()}..." : vendorCode.Details)
            </div>
            <div class="d-flex align-items-end">
                <div class="flex-grow-1 fs-4">
                    <div>@vendorCode.Code</div>
                    <div>@Model.ProgramInfo</div>
                </div>
                <div>
                    @if (!string.IsNullOrEmpty(vendorCode.GroupName))
                    {
                        <div class="flex-nowrap text-end fs-6">Group: @vendorCode.GroupName</div>
                    }
                    @if (!string.IsNullOrEmpty(vendorCode.ProgramName))
                    {
                        <div class="flex-nowrap text-end fs-6">@vendorCode.ProgramName</div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="print-line">—————————————————————————————————————————————————————————————————————————————————————————</div>
}
