@model GRA.Domain.Model.PackingSlipSummary

<div class="row">
    <div class="col-xs-12">
        <p style="margin-top: 1rem;">
            Verification of packing slip number: <strong>@Model.PackingSlipNumber</strong>
        </p>

        @if (Model.VendorCodes?.Count > 0)
        {
            <p>
                There are <strong>@Model.VendorCodes.Count</strong> codes associated with this
                packing slip.
            </p>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Code</th>
                    <th>Order Date</th>
                    <th>Ship Date</th>
                </tr>
                @foreach (var vendorCode in Model.VendorCodes)
                {
                    <tr>
                        <td>@vendorCode.Code</td>
                        <td>@vendorCode.OrderDate?.ToString("d")</td>
                        <td>@vendorCode.ShipDate?.ToString("d")</td>
                    </tr>
                }
            </table>
        }

        @if (Model.VendorCodePackingSlip == null)
        {
            <div style="margin-bottom: 2rem;">
                <form asp-action="@nameof(VendorCodesController.ProcessPackingSlip)"
                      method="post"
                      role="form"
                      enctype="multipart/form-data">
                    <input type="hidden"
                           name="PackingSlipNumber"
                           value="@Model.PackingSlipNumber" />
                    <a asp-action="Index" class="btn btn-warning">Cancel</a>
                    <input type="submit"
                           class="btn btn-success"
                           value="@Model.SubmitText" />
                </form>
            </div>
        }
    </div>
</div>
