@model GRA.Domain.Model.PackingSlipSummary

@if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageVendorCodes.ToString()))
{
    @await Html.PartialAsync("_VendorCodePartial")
}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <table class="table table-condensed table-bordered" style="margin-top: 2rem;">
            <tr>
                <th>Packing slip number</th>
                <td>@Model.PackingSlipNumber</td>
            </tr>
            <tr>
                <th>Associated codes</th>
                <td>@(Model.VendorCodes?.Count ?? 0)</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    @if (Model.VendorCodePackingSlip?.IsReceived == true)
                    {
                        <span>
                            <strong class="text-success">Received</strong>
                            at @Model.VendorCodePackingSlip.CreatedAt by
                            @if (Model.CanViewDetails)
                            {
                                <a asp-action="Detail"
                           asp-route-id="@Model.VendorCodePackingSlip.CreatedBy"
                           asp-controller="@ParticipantsController.Name"
                           asp-area="@nameof(GRA.Controllers.MissionControl)"
                           target="_blank">
                                    @Model.ReceivedBy
                                </a>
                            }
                            else
                            {
                                @Model.ReceivedBy
                            }
                        </span>
                    }
                    else
                    {
                        @:<strong class="text-warning">Not received yet</strong>
                    }
                </td>
            </tr>
            @if (Model.TrackingNumbers != null)
            {
                <tr>
                    <th>Tracking Numbers</th>
                    <td>
                        @foreach (var trackingNumber in Model.TrackingNumbers)
                        {
                            @trackingNumber
                            <br />
                        }
                    </td>
                </tr>
            }
            @if (Model.CanViewDetails && !Model.CanBeReceived)
            {
                <tr class="hidden-print">
                    <th>Hold slips</th>
                    <td>
                        <a asp-action="@nameof(VendorCodesController.ViewHoldSlips)"
                       asp-route-id="@Model.PackingSlipNumber"
                       target="_blank"
                       class="btn btn-sm btn-success">Generate hold slips</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @if (Model.VendorCodes?.Count > 0)
        {
            <div style="margin-bottom: 2rem;">
                <form asp-action="@nameof(VendorCodesController.ProcessPackingSlip)"
                  id="processForm"
                  method="post"
                  role="form"
                  enctype="multipart/form-data">
                    <table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>Participant Status</th>
                            <th>Participant</th>
                            <th>Code</th>
                            <th>Details</th>
                            <th>Order Date</th>
                            <th>Ship Date</th>
                            <th>Arrival Date</th>
                            @if (Model.CanBeReceived)
                            {
                                <th>Damaged?</th>
                                <th>Missing?</th>
                            }
                            else
                            {
                                <th>Item Status</th>
                            }
                        </tr>
                        @foreach (var vendorCode in Model.VendorCodes)
                        {
                            <tr class="@(vendorCode.IsUserValid ? null : "danger")"
                        title="@(vendorCode.IsUserValid ? null : "Participant has been deleted.")">
                                <td class="text-center">
                                    @if (vendorCode.IsUserValid)
                                    {
                                        <span class="text-success far fa-thumbs-up"
                                  title="Participant is still valid in the program."></span>
                                    }
                                    else
                                    {
                                        <span class="text-danger fas fa-exclamation-triangle"></span>
                                    }
                                </td>
                                <td style="white-space:nowrap;">
                                    <a asp-action="@nameof(ParticipantsController.Detail)"
                               asp-route-id="@vendorCode.UserId"
                               asp-controller="@ParticipantsController.Name"
                               asp-area="@nameof(GRA.Controllers.MissionControl)"
                               target="_blank">@vendorCode.ParticipantName</a>
                                <td style="white-space: nowrap;">@vendorCode.Code</td>
                                <td>@vendorCode.Details</td>
                                <td>@vendorCode.OrderDate?.ToString("d")</td>
                                <td>@vendorCode.ShipDate?.ToString("d")</td>
                                <td>@vendorCode.ArrivalDate?.ToString("d")</td>
                                    @if (Model.CanBeReceived)
                                    {
                                    <td class="text-center">
                                        <input name="DamagedItems"
                                   value="@vendorCode.Id"
                                   class="statusSelector"
                                   type="checkbox" />
                                    </td>
                                    <td class="text-center">
                                        <input name="MissingItems"
                                   value="@vendorCode.Id"
                                   class="statusSelector"
                                   type="checkbox" />
                                    </td>
                                    }
                                    else
                                    {
                                        @if (vendorCode.IsDamaged == true)
                                        {
                                        <td>Damaged</td>
                                        }
                                        else if (vendorCode.IsMissing == true)
                                        {
                                        <td>Missing</td>
                                        }
                                        else
                                        {
                                        <td class="text-center">
                                            <span class="text-success far fa-thumbs-up"
                                  title="Item is recorded not damaged or missing."></span>
                                        </td>
                                        }
                                    }
                            </tr>
                        }
                    </table>

                    @if (Model.CanBeReceived)
                    {
                        <input asp-for="PackingSlipNumber" type="hidden" />
                        <a asp-action="@nameof(ParticipantsController.Index)" class="btn btn-warning">Cancel</a>
                        <button type="submit"
                        class="btn btn-success">
                            @Model.SubmitText
                        </button>
                    }
                </form>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(".statusSelector").on("change", function () {
            if ($(this).prop("checked")) {
                $(this).parent().siblings().children(".statusSelector").prop("checked", false);
            }
        });
    </script>
}