@model GRA.Controllers.ViewModel.MissionControl.Schools.DistrictListViewModel

@await Html.PartialAsync("_SchoolsPartial")

<form asp-controller="Schools" asp-action="Districts" method="get" role="form">
    <div class="row row-spacing">
        <div class="col-8">
            <input asp-for="Search" class="form-control" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-secondary" style="margin-right: 8px;" />
            <a asp-action="Districts" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <a class="btn btn-secondary"
           data-bs-toggle="modal"
           data-bs-target="#addModal">Add a School District</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.SchoolDistricts.Count() == 0)
        {
            <div class="alert alert-warning">No School Districts</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th width="100">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var district in Model.SchoolDistricts)
                        {
                            <tr>
                                <td>
                                    @district.Name
                                </td>
                                <td>
                                    <button type="button"
                                            class="btn btn-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal"
                                            data-id="@district.Id"
                                            data-name="@district.Name">
                                        <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm"
                                            style="margin-left:16px;"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@district.Id"
                                            data-name="@district.Name">
                                        <span class="fas fa-times" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="addModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Schools"
                  asp-action="AddDistrict"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="Search" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="addModalLabel">Add district</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="District.Name" class="col-form-label"></label>
                            <input asp-for="District.Name" class="form-control" />
                            <span asp-validation-for="District.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Schools"
                  asp-action="EditDistrict"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="Search" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="editModalLabel">Edit district</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <input id="District_Id" name="District.Id" type="hidden" />
                            <label asp-for="District.Name" class="col-form-label"></label>
                            <input asp-for="District.Name" class="form-control" />
                            <span asp-validation-for="District.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete district</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                        
                    </button>
                </div>
                <div class="modal-body">
                    <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            style="margin-right: 1em;">
                        Cancel
                    </button>
                    <form asp-controller="Schools"
                          asp-action="DeleteDistrict"
                          method="post"
                          role="form"
                          style="display:inline">
                        <input asp-for="Search" type="hidden" />
                        <input id="Id" name="Id" type="hidden" />
                        <button type="submit"
                                class="btn btn-danger btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var private = button.data("private");
            var charter = button.data("charter");
            var modal = $(this);
            modal.find('#editModalLabel').text('Edit district - "' + name + '"');
            modal.find('#District_Id').val(id);
            modal.find('#District_Name').val(name);
        })

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#modal-text').text('Are you sure you wish to delete the school district "' + name + '" ?');
            modal.find('#Id').val(id);
        })
    </script>
}