@model GRA.Controllers.ViewModel.MissionControl.Schools.SchoolsListViewModel

@await Html.PartialAsync("_SchoolsPartial")

<form asp-controller="Schools" asp-action="Index" method="get" role="form">
    <div class="row row-spacing">
        <div class="col-8">
            <input asp-for="Search" class="form-control" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-secondary" style="margin-right: 8px;" />
            <a asp-action="Index" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <a class="btn btn-secondary"
           data-bs-toggle="modal"
           data-bs-target="#addModal">Add a School</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.Schools.Count() == 0)
        {
            <div class="alert alert-warning">No Schools</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>District</th>
                            <th width="100">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var school in Model.Schools)
                        {
                            <tr>
                                <td>
                                    @school.Name
                                </td>
                                <td>
                                    @school.SchoolDistrict.Name
                                </td>
                                <td class="gra-mc-icon">
                                    <button type="submit"
                                            class="btn btn-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal"
                                            data-id="@school.Id"
                                            data-name="@school.Name"
                                            data-district="@school.SchoolDistrictId">
                                        <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            style="margin-left:16px;"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@school.Id"
                                            data-name="@school.Name">
                                        <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="addModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <form id="addForm"
                  asp-controller="Schools"
                  asp-action="AddSchool"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="Search" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="addModalLabel">Add school</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="School.Name" class="col-form-label"></label>
                            <input id="addName" asp-for="School.Name" class="form-control" />
                            <span asp-validation-for="School.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="School.SchoolDistrictId" class="col-form-label"></label>
                            <select id="addDistrict"
                                    asp-for="School.SchoolDistrictId"
                                    class="form-control schoolDistrict">
                                <option></option>
                                @foreach (var district in Model.DistrictList)
                                {
                                    <option value="@district.Id">@district.Name</option>
                                }
                            </select>
                            <span asp-validation-for="School.SchoolDistrictId"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Schools"
                  asp-action="EditSchool"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="Search" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="editModalLabel">Edit school</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <input id="School_Id" name="School.Id" type="hidden" />
                            <label asp-for="School.Name" class="col-form-label"></label>
                            <input id="editName" asp-for="School.Name" class="form-control" />
                            <span asp-validation-for="School.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="School.SchoolDistrictId" class="col-form-label"></label>
                            <select id="editDistrict"
                                    asp-for="School.SchoolDistrictId"
                                    class="form-control schoolDistrict">
                                @foreach (var district in Model.DistrictList)
                                {
                                    <option value="@district.Id">@district.Name</option>
                                }
                            </select>
                            <span asp-validation-for="School.SchoolDistrictId"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete school</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                        
                    </button>
                </div>
                <div class="modal-body">
                    <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            style="margin-right: 1em;">
                        Cancel
                    </button>
                    <form asp-controller="Schools"
                          asp-action="DeleteSchool"
                          method="post"
                          role="form"
                          style="display:inline">
                        <input asp-for="Search" type="hidden" />
                        <input id="Id" name="Id" type="hidden" />
                        <button type="submit"
                                class="btn btn-outline-danger btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var district = button.data('district');
            var modal = $(this);
            modal.find('#editModalLabel').text('Edit school - "' + name + '"');
            modal.find('#School_Id').val(id);
            modal.find('#editName').val(name);
            modal.find('#editDistrict option[value="' + district + '"]').attr("selected", "selected");
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#modal-text').text('Are you sure you wish to delete the school "' + name + '" ?');
            modal.find('#Id').val(id);
        });
    </script>
}