@model GRA.Controllers.ViewModel.MissionControl.Schools.SchoolsListViewModel

@Html.Partial("_SchoolsPartial")

<div class="row">
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <form id="addForm" asp-controller="Schools" asp-action="AddSchool" method="post" role="form" style="display:inline">
                <input asp-for="Search" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addModalLabel">Add school</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="School.Name" class="control-label"></label>
                            <input id="addName" asp-for="School.Name" class="form-control" />
                            <span asp-validation-for="School.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="School.SchoolDistrictId" class="control-label"></label>
                            <select id="addDistrict" asp-for="School.SchoolDistrictId" class="form-control schoolDistrict">
                                <option></option>
                                @foreach (var district in Model.DistrictList)
                                {
                                    <option value="@district.Id" data-asktype="@(!district.IsCharter && !district.IsPrivate)">@district.Name</option>
                                }
                            </select>
                            <span asp-validation-for="School.SchoolDistrictId" class="text-danger"></span>
                        </div>
                        <div class="form-group typeSelection hide">
                            <label asp-for="School.SchoolTypeId" class="control-label"></label>
                            <select id="addType" asp-for="School.SchoolTypeId" asp-items="Model.SchoolTypes" class="form-control" data-val="true" data-val-required="The School Type field is required.">
                                <option></option>
                            </select>
                            <span asp-validation-for="School.SchoolTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-spinner pull-right" aria-label="Confirm">
                            Add
                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Schools" asp-action="EditSchool" method="post" role="form" style="display:inline">
                <input asp-for="Search" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editModalLabel">Edit school</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id="School_Id" name="School.Id" type="hidden" />
                            <label asp-for="School.Name" class="control-label"></label>
                            <input id="editName" asp-for="School.Name" class="form-control" />
                            <span asp-validation-for="School.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="School.SchoolDistrictId" class="control-label"></label>
                            <select id="editDistrict" asp-for="School.SchoolDistrictId" class="form-control schoolDistrict">
                                @foreach (var district in Model.DistrictList)
                                {
                                    <option value="@district.Id" data-asktype="@(!district.IsCharter && !district.IsPrivate)">@district.Name</option>
                                }
                            </select>
                            <span asp-validation-for="School.SchoolDistrictId" class="text-danger"></span>
                        </div>
                        <div class="form-group typeSelection hide">
                            <label asp-for="School.SchoolTypeId" class="control-label"></label>
                            <select id="editType" asp-for="School.SchoolTypeId" asp-items="Model.SchoolTypes" class="form-control" data-val="true" data-val-required="The School Type field is required."></select>
                            <span asp-validation-for="School.SchoolTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-spinner pull-right" aria-label="Confirm">
                            Save
                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel">Delete school</h4>
                </div>
                <div class="modal-body">
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                    <form asp-controller="Schools" asp-action="DeleteSchool" method="post" role="form" style="display:inline">
                        <input asp-for="Search" type="hidden" />
                        <input id="Id" name="Id" type="hidden" />
                        <button type="submit" class="btn btn-danger btn-spinner pull-right" aria-label="Confirm">
                            <span class="fa fa-remove" aria-hidden="true"></span>
                            Delete
                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-controller="Schools" asp-action="Index" method="get" role="form">
    <div class="row row-spacing">
        <div class="col-xs-8">
            <input asp-for="Search" class="form-control" />
        </div>
        <div class="col-xs-4">
            <input type="submit" value="Search" class="btn btn-default" style="margin-right: 8px;" />
            <a asp-action="Index" class="btn btn-default">Clear</a>
        </div>
    </div>
</form>

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        <a class="btn btn-default"
           data-toggle="modal"
           data-target="#addModal">Add a School</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Schools.Count() == 0)
        {
            <div class="alert alert-warning">No Schools</div>
        }
        else
        {
            <div>
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>District</th>
                            <th>Type</th>
                            <th width="100">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var school in Model.Schools)
                        {
                            <tr>
                                <td>
                                    @school.Name
                                </td>
                                <td>
                                    @school.SchoolDistrict.Name
                                </td>
                                <td>
                                    @school.SchoolType?.Name
                                </td>
                                <td class="gra-mc-icon">
                                    <button type="submit"
                                            class="btn btn-primary btn-xs"
                                            data-toggle="modal"
                                            data-target="#editModal"
                                            data-id="@school.Id"
                                            data-name="@school.Name"
                                            data-district="@school.SchoolDistrictId"
                                            data-type="@school.SchoolTypeId"
                                            data-asktype="@(!school.SchoolDistrict.IsCharter && !school.SchoolDistrict.IsPrivate)">
                                        <span class="fa fa-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-xs"
                                            style="margin-left:16px;"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            data-id="@school.Id"
                                            data-name="@school.Name">
                                        <span class="fa fa-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@section scripts {
    <script>
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var district = button.data('district');
            var type = button.data('type');
            var asktype = button.data("asktype");
            var modal = $(this);
            modal.find('#editModalLabel').text('Edit school - "' + name + '"');
            modal.find('#School_Id').val(id);
            modal.find('#editName').val(name);
            modal.find('#editDistrict option[value="' + district + '"]').attr("selected", "selected");
            if (asktype == "True") {
                modal.find(".typeSelection").removeClass("hide");
                modal.find('#editType option[value="' + type + '"]').attr("selected", "selected");
            }
            else {
                modal.find(".typeSelection").addClass("hide");
            }
        });

        $(".schoolDistrict").on("change", function (event) {
            var askType = $(this).find(":selected").data("asktype");
            if (askType == "True") {
                $(this).parent().parent().find(".typeSelection").removeClass("hide");
            }
            else {
                $(this).parent().parent().find(".typeSelection").addClass("hide");
            }
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#modal-text').text('Are you sure you wish to delete the school "' + name + '" ?');
            modal.find('#Id').val(id);
        });
    </script>
}