@model GRA.Controllers.ViewModel.MissionControl.Roles.AuthorizationCodeListViewModel

@await Html.PartialAsync("_RolesPartial")

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <a class="btn btn-secondary"
           data-bs-toggle="modal"
           data-bs-target="#addModal">Add an Authorization Code</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.AuthorizationCodes.Count() == 0)
        {
            <div class="alert alert-warning">No Authorization Codes</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Role</th>
                            <th>Usage</th>
                            <th>Uses</th>
                            <th style="min-width: 12rem">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var code in Model.AuthorizationCodes)
                        {
                            <tr>
                                <td class="text-middle">
                                    @code.Code
                                </td>
                                <td class="text-middle">
                                    @code.RoleName
                                </td>
                                <td class="text-middle">
                                    @(code.IsSingleUse ? "Single Use" : "Multiple Use")
                                </td>
                                <td class="text-middle">
                                    @code.Uses
                                </td>
                                <td class="text-middle">
                                    <button type="button"
                                            class="btn btn-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal"
                                            data-id="@code.Id"
                                            data-role="@code.RoleId"
                                            data-code="@code.Code"
                                            data-description="@code.Description"
                                            data-single="@code.IsSingleUse"
                                            data-program="@code.ProgramId"
                                            data-branch="@code.BranchId"
                                            data-express="@code.SinglePageSignUp">
                                        <span class="fas fa-fw fa-pencil-alt" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@code.Id"
                                            data-code="@code.Code">
                                        <span class="fas fa-fw fa-times" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="addModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Roles"
                  asp-action="AddCode"
                  method="post"
                  role="form"
                  style="display:inline">
                <input name="PaginateModel.CurrentPage"
                       value="@Model.PaginateModel.CurrentPage"
                       type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="addModalLabel">Add Authorization Code</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.RoleId"
                                   class="col-form-label"></label>
                            <select id="addRole" asp-for="AuthorizationCode.RoleId"
                                    asp-items="Model.RoleList"
                                    class="form-control"></select>
                            <span asp-validation-for="AuthorizationCode.RoleId"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.Code" class="col-form-label"></label>
                            <input id="addCode" asp-for="AuthorizationCode.Code"
                                   class="form-control" />
                            <span asp-validation-for="AuthorizationCode.Code"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.Description"
                                   class="col-form-label"></label>
                            <textarea id="addDescription"
                                      asp-for="AuthorizationCode.Description"
                                      class="form-control"></textarea>
                            <span asp-validation-for="AuthorizationCode.Description"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.IsSingleUse"
                                   class="col-form-label"></label>
                            <span class="far fa-question-circle"
                                  data-bs-toggle="tooltip"
                                  title="Single use codes may be used once and then are deactivated."></span>
                            <select id="addSingle" asp-for="AuthorizationCode.IsSingleUse"
                                    class="form-control">
                                <option value="true">Single Use</option>
                                <option value="false">Multiple Use</option>
                            </select>
                            <span asp-validation-for="AuthorizationCode.IsSingleUse"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.ProgramId"
                                   class="col-form-label"></label>
                            <span class="far fa-question-circle"
                                  data-bs-toggle="tooltip"
                                  title="Automatically assign users of this role to the selected program (optional)."></span>
                            <select id="addProgram"
                                    asp-for="AuthorizationCode.ProgramId"
                                    asp-items="Model.ProgramList"
                                    class="form-control">
                                <option value="null" selected>None</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.BranchId"
                                   class="col-form-label"></label>
                            <span class="far fa-question-circle"
                                  data-bs-toggle="tooltip"
                                  title="Automatically assign users of this role to the selected branch (optional)."></span>
                            <select id="addBranch"
                                    asp-for="AuthorizationCode.BranchId"
                                    asp-items="Model.BranchList"
                                    class="form-control">
                                <option value="null" selected>None</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.SinglePageSignUp"
                                   class="col-form-label"></label>
                            <span class="far fa-question-circle"
                                  data-bs-toggle="tooltip"
                                  title="Use a shortened, single-page sign-up to join with this code."></span>
                            <select id="addSinglePage"
                                    asp-for="AuthorizationCode.SinglePageSignUp"
                                    class="form-control">
                                <option value="False">No</option>
                                <option value="True">Yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Roles"
                  asp-action="EditCode"
                  method="post"
                  role="form"
                  style="display:inline">
                <input name="PaginateModel.CurrentPage"
                       value="@Model.PaginateModel.CurrentPage"
                       type="hidden" />
                <input id="editId" name="AuthorizationCode.Id" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4"
                            id="editModalLabel">
                            Edit Authorization Code
                        </h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>

                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.RoleId" class="col-form-label"></label>
                            <select id="editRole"
                                    asp-for="AuthorizationCode.RoleId"
                                    asp-items="Model.RoleList"
                                    class="form-control"></select>
                            <span asp-validation-for="AuthorizationCode.RoleId"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.Code"
                                   class="col-form-label"></label>
                            <input id="editCode" asp-for="AuthorizationCode.Code"
                                   class="form-control" />
                            <span asp-validation-for="AuthorizationCode.Code"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.Description"
                                   class="col-form-label"></label>
                            <textarea id="editDescription"
                                      asp-for="AuthorizationCode.Description"
                                      class="form-control"></textarea>
                            <span asp-validation-for="AuthorizationCode.Description"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.IsSingleUse"
                                   class="col-form-label"></label>
                            <span class="far fa-question-circle"
                                  data-bs-toggle="tooltip"
                                  title="Single use codes may be used once and then are deactivated."></span>
                            <select id="editSingle"
                                    asp-for="AuthorizationCode.IsSingleUse"
                                    class="form-control">
                                <option value="true">Single Use</option>
                                <option value="false">Multiple Use</option>
                            </select>
                            <span asp-validation-for="AuthorizationCode.IsSingleUse"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.ProgramId"
                                   class="col-form-label"></label>
                            <span class="far fa-question-circle"
                                  data-bs-toggle="tooltip"
                                  title="Automatically assign users of this role to a program (optional)"></span>
                            <select id="editProgram"
                                    asp-for="AuthorizationCode.ProgramId"
                                    asp-items="Model.ProgramList"
                                    class="form-control">
                                <option value="null" selected>None</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.BranchId"
                                   class="col-form-label"></label>
                            <span class="far fa-question-circle"
                                  data-bs-toggle="tooltip"
                                  title="Automatically assign users of this role to the selected branch (optional)."></span>
                            <select id="editBranch"
                                    asp-for="AuthorizationCode.BranchId"
                                    asp-items="Model.BranchList"
                                    class="form-control">
                                <option value="null" selected>None</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AuthorizationCode.SinglePageSignUp"
                                   class="col-form-label"></label>
                            <span class="far fa-question-circle"
                                  data-bs-toggle="tooltip"
                                  title="Use a shortened, single-page sign-up to join with this code."></span>
                            <select id="editSinglePage"
                                    asp-for="AuthorizationCode.SinglePageSignUp"
                                    class="form-control">
                                <option value="False">No</option>
                                <option value="True">Yes</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                    style="margin-right: 1em;">
                                Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-primary btn-spinner float-end"
                                    aria-label="Confirm"
                                    button-spinner>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Roles"
                  asp-action="DeleteCode"
                  method="post"
                  role="form"
                  style="display:inline">
                <input name="PaginateModel.CurrentPage"
                       value="@Model.PaginateModel.CurrentPage"
                       type="hidden" />
                <input id="deleteId" name="AuthorizationCode.Id" type="hidden" />
                <input id="deleteCode" name="AuthorizationCode.Code" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4"
                            id="deleteModalLabel">
                            Delete Authorization Code
                        </h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>

                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-danger btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('[data-bs-toggle="tooltip"]').tooltip();

        $("#editModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let code = button.data("code");
            let modal = $(this);
            modal.find("#editModalLabel").text("Edit Authorization Code - \"" + code + "\"");
            modal.find("#editId").val(button.data("id"));
            modal.find("#editRole").val(button.data("role"));
            modal.find("#editCode").val(code);
            modal.find("#editDescription").val(button.data("description"));
            modal.find("#editSingle").val(button.data("single").toLowerCase());
            modal.find("#editProgram").val(!!button.data("program") ? button.data("program") : "null");
            modal.find("#editBranch").val(!!button.data("branch") ? button.data("branch") : "null");
            modal.find("#editSinglePage").val(button.data("express"));
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let code = button.data("code");
            let modal = $(this);
            modal.find("#modal-text").text("Are you sure you want to delete the authorization code \"" + code + "\"?");
            modal.find("#deleteId").val(button.data("id"));
            modal.find("#deleteCode").val(code);
        });
    </script>
}