@model GRA.Controllers.ViewModel.MissionControl.Roles.RoleListViewModel

@await Html.PartialAsync("_RolesPartial")

<div class="row my-4">
    <div class="col-12">
        <a asp-action="Create" class="btn btn-outline-primary">Add a Role</a>
    </div>
</div>

<div class="row my-4">
    <div class="col-12">
        @if (Model.Roles.Count() == 0)
        {
            <div class="alert alert-warning">No Roles</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Permissions in role</th>
                            <th>Users in role</th>
                            <th style="width: 5em;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.Roles)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="Edit" asp-route-id="@role.Id" class="rowlink">
                                        @role.Name
                                    </a>
                                </td>
                                <td>@role.PermissionCount</td>
                                <td>@(Model.UsersInRoles?.ContainsKey(role.Id) == true ? Model.UsersInRoles[role.Id] : 0)</td>
                                <td class="on-top gra-mc-icon">
                                    @if (role.IsAdmin == false)
                                    {
                                        <button type="button"
                                                class="btn btn-outline-danger btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteModal"
                                                data-id="@role.Id"
                                                data-name="@role.Name">
                                            <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button"
                                                class="btn btn-outline-warning btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteModal"
                                                data-sysadmin="True">
                                            <span class="fas fa-exclamation fa-fw" aria-hidden="true"></span>
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-action="Delete" method="post" role="form" style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <input asp-for="Role.Id" type="hidden" />
                <input asp-for="Role.Name" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="deleteModalLabel">Delete Role</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="modal-body d-flex align-items-stretch">
                            <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                                  aria-hidden="true"></span>
                            <span id="modal-text"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit"
                                id="deleteConfirmButton"
                                class="btn btn-outline-danger"
                                aria-label="Confirm"
                                button-spinner>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#deleteModal").on("show.bs.modal", function (e) {
            const button = $(e.relatedTarget);
            const modal = $(this);
            const sysadmin = button.data("sysadmin");
            console.info("delete confirm button %o", modal.find("deleteConfirmButton"));
            if(sysadmin ==="True") {
                modal.find("#modal-text").html("You cannot delete the built-in System Administrator role.");
                modal.find("#deleteConfirmButton").addClass("d-none");
            } else {
                const id = button.data("id");
                const name = button.data("name");
                modal.find("#modal-text").html("Are you sure you want to delete the role <strong>" + name + "</strong>?");
                modal.find("#Role_Id").val(id);
                modal.find("#Role_Name").val(name);
                modal.find("#deleteConfirmButton").removeClass("d-none");
            }
        });

        $(window).on("load", function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });
        $(window).resize(function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });
    </script>
}