@model GRA.Controllers.ViewModel.Shared.DisplayNotificationsViewModel

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="alert alert-success">
            @foreach (var notification in Model.Notifications)
            {
                if (notification.LocalizedText != null)
                {
                    <div class="d-flex">
                        @if (!string.IsNullOrEmpty(notification.DisplayIcon))
                        {
                            <div class="me-2">
                                <span class="@notification.DisplayIcon"></span>
                            </div>
                        }
                        <div class="flex-grow-1">@notification.LocalizedText</div>
                    </div>
                }
                else
                {
                    <div>
                        @Html.Raw(notification.Text)
                    </div>
                }
                @if (notification.IsJoiner && Context.Items.ContainsKey(ItemKey.AskToAddFamilyMember))
                {
                    <div class="mt-2">
                        @SharedHtmlLocalizer[GRA.Annotations.Interface.AddFamilyMember, Url.Action(nameof(ProfileController.AddHouseholdMember), ProfileController.Name)]
                    </div>
                }
            }
            @if (!string.IsNullOrWhiteSpace(Model.SummaryText))
            {
                <span>@Html.Raw(Model.SummaryText)</span>
            }
        </div>
    </div>
</div>
