@model GRA.Controllers.ViewModel.Shared.DisplayNotificationsViewModel

<div class="row">
    <div id="notificationsAlert" class="d-block col-12 col-md-6 offset-md-3">
        <div class="alert alert-success">
            @foreach (var notification in Model.Notifications)
            {
                <div>
                    @Html.Raw(notification.Text)
                </div>
                @if (notification.IsJoiner && Context.Items.ContainsKey(ItemKey.AskToAddFamilyMember))
                {
                    <div class="mt-2">
                        @SharedHtmlLocalizer[GRA.Annotations.Interface.AddFamilyMember, Url.Action(nameof(ProfileController.AddHouseholdMember), ProfileController.Name)]
                    </div>
                }
            }
            @if (!string.IsNullOrWhiteSpace(Model.SummaryText))
            {
                <span>@Html.Raw(Model.SummaryText)</span>
            }
        </div>
    </div>
</div>

<div class="modal fade"
     id="notificationsModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="notificationsModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4" id="notificationsModalLabel">Notifications</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="@SharedLocalizer[GRA.Annotations.Interface.CloseDialog]">
                </button>
            </div>
            <div class="modal-body">
                @foreach (var notification in Model.Notifications)
                {
                    <div class="d-flex flex-column-reverse flex-sm-row">
                        <div class="flex-grow-1">
                            @if (notification.LocalizedText != null)
                            {
                                <div class="d-flex">
                                    @if (!string.IsNullOrEmpty(notification.DisplayIcon))
                                    {
                                        <div class="me-1">
                                            <span class="@notification.DisplayIcon"></span>
                                        </div>
                                    }
                                    <div class="flex-grow-1">
                                        <p>@notification.LocalizedText</p>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <p>@Html.Raw(notification.Text)</p>
                            }
                        </div>
                        @if (!string.IsNullOrEmpty(notification.BadgeFilename))
                        {
                            <div class="ms-1 mb-1 d-flex justify-content-center badge-sm-fixed-container">
                                <img class="img-thumbnail"
                                     src="~/@notification.BadgeFilename"
                                     alt="@notification.AltText" />
                            </div>
                        }
                    </div>
                    @if (!string.IsNullOrEmpty(notification.AttachmentFilename))
                    {
                        <div>
                            <span>@SharedLocalizer[GRA.Annotations.Info.ReceivedCertificate]</span>
                            <a href="~/@notification.AttachmentFilename" target="_blank">
                                <img src="~/images/certificate.png"
                                     alt="@SharedLocalizer[GRA.Annotations.Title.Certificate]" />
                                @SharedLocalizer[GRA.Annotations.Interface.ViewCertificate]
                            </a>
                        </div>
                    }
                }
                <div>@Html.Raw(Model.SummaryText)</div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
