@model GRA.Controllers.ViewModel.Shared.DisplayNotificationsViewModel

<div class="row">
    <div id="notificationsAlert" class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="alert alert-success">
            @foreach (var notification in Model.Notifications)
            {
                @Html.Raw(notification.Text.Replace("and a badge", $"<a href=\"{Url.Action("History", "Profile")}\">and a badge</a>"))
                <br />
                @if (notification.IsJoiner && Context.Items.ContainsKey(ItemKey.AskToAddFamilyMember))
                {
                    <br />
                    @SharedHtmlLocalizer[GRA.Annotations.Interface.AddFamilyMember, Url.Action(nameof(ProfileController.AddHouseholdMember), ProfileController.Name)]
                    <br />
                }
            }
            @if (!string.IsNullOrWhiteSpace(Model.SummaryText))
            {
                <span>@Html.Raw(Model.SummaryText)</span>
            }
        </div>
    </div>
    <div class="modal fade"
         id="notificationsModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="notificationsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="@SharedLocalizer[GRA.Annotations.Interface.CloseDialog]">
                        
                    </button>
                    <h1 class="modal-title h4" id="notificationsModalLabel">Notifications</h1>
                </div>
                <div class="modal-body">
                    <table class="table">
                        @foreach (var notification in Model.Notifications)
                        {
                            <tr>
                                <td>
                                    <div class="col-xs-8 col-sm-9">
                                        @if (notification.LocalizedText != null)
                                        {
                                            if (!string.IsNullOrEmpty(notification.DisplayIcon))
                                            {
                                                <span class="@notification.DisplayIcon"></span>
                                            }
                                            <p>@notification.LocalizedText</p>
                                        }
                                        else
                                        {
                                            <p>@Html.Raw(notification.Text)</p>
                                        }
                                    </div>
                                    <div class="col-xs-4 col-sm-3" style="min-width: 110px;">
                                        @if (!string.IsNullOrEmpty(notification.BadgeFilename))
                                        {
                                            <img class="img-thumbnail badge-sm pull-right"
                                                 src="~/@notification.BadgeFilename"
                                                 asp-append-version="true"
                                                 alt="@notification.AltText" />
                                        }
                                    </div>
                                </td>
                            </tr>
                            @if (!string.IsNullOrEmpty(notification.AttachmentFilename))
                            {
                                <tr>
                                    <td>
                                        <div class="col-xs-12">
                                            <span>@SharedLocalizer[GRA.Annotations.Info.ReceivedCertificate]</span>
                                            <a href="~/@notification.AttachmentFilename" target="_blank">
                                                <img src="~/images/certificate.png"
                                                     alt="@SharedLocalizer[GRA.Annotations.Title.Certificate]" />
                                                @SharedLocalizer[GRA.Annotations.Interface.ViewCertificate]
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>
                                <div class="col-xs-12">@Html.Raw(Model.SummaryText)</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            style="margin-right: 1em;">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("notificationsAlert").style.display = "block";
</script>
