@model GRA.Controllers.ViewModel.MissionControl.Categories.CategoryListViewModel

@section inHeading {
    <div class="ms-auto d-print-none">
        <a class="btn btn-outline-success"
           data-bs-toggle="modal"
           data-bs-target="#addModal">
            <span class="fas fa-plus-circle fa-fw"></span>
            Add a Category
        </a>
    </div>
}

<form asp-controller="Categories" asp-action="Index" method="get" role="form">
    <div class="row my-3">
        <div class="col-12 input-group">
            <input asp-for="Search"
                   class="form-control"
                   placeholder="Search for category" />
            <a asp-action="@nameof(CategoriesController.Index)"
               class="btn btn-outline-secondary">Clear</a>
            <input type="submit" value="Search" class="btn btn-outline-primary" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        @if (Model.Categories.Count() == 0)
        {
            <div class="alert alert-warning">No Categories</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Preview</th>
                            <th style="width: 7rem;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>
                                    @category.Name
                                </td>
                                <td>
                                    @category.Description
                                </td>
                                <td>
                                    <span class="badge"
                                          style="background-color: @category.Color">
                                        @category.Name
                                    </span>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-evenly">
                                        <button type="button"
                                                class="btn btn-outline-primary btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editModal"
                                                data-id="@category.Id"
                                                data-name="@category.Name"
                                                data-description="@category.Description"
                                                data-color="@category.Color">
                                            <span class="fas fa-pencil-alt fa-fw"
                                                  aria-hidden="true"></span>
                                        </button>
                                        <button type="button"
                                                class="btn btn-outline-danger btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteModal"
                                                data-id="@category.Id"
                                                data-name="@category.Name">
                                            <span class="fas fa-times fa-fw"
                                                  aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

<div class="modal fade"
     id="addModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <form asp-controller="Categories"
              asp-action="Add"
              method="post"
              role="form"
              style="display:inline">
            <input asp-for="PaginateModel.CurrentPage" type="hidden" />
            <input asp-for="Search" type="hidden" />
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="addModalLabel">Add Category</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <label asp-for="Category.Name" class="col-form-label"></label>
                        <input asp-for="Category.Name" class="form-control" />
                        <span asp-validation-for="Category.Name" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Category.Description" class="col-form-label"></label>
                        <input asp-for="Category.Description" class="form-control" />
                        <span asp-validation-for="Category.Description"
                              class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Category.Color" class="col-form-label"></label>
                        <input asp-for="Category.Color"
                               class="d-block"
                               type="color"
                               value="#777777" />
                        <span asp-validation-for="Category.Color" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-outline-primary"
                            aria-label="Confirm"
                            button-spinner>
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Categories"
                  asp-action="Edit"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <input asp-for="Search" type="hidden" />
                <input asp-for="Category.Id" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="editModalLabel">Edit Category</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label asp-for="Category.Name" class="col-form-label"></label>
                            <input asp-for="Category.Name" class="form-control" />
                            <span asp-validation-for="Category.Name" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Category.Description" class="col-form-label"></label>
                            <input asp-for="Category.Description" class="form-control" />
                            <span asp-validation-for="Category.Description"
                                  class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Category.Color" class="col-form-label"></label>
                            <input asp-for="Category.Color" class="d-block" type="color" />
                            <span asp-validation-for="Category.Color"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-outline-primary"
                                aria-label="Confirm"
                                button-spinner>
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <form asp-controller="Categories"
              asp-action="Delete"
              method="post"
              role="form"
              style="display:inline">
            <input asp-for="PaginateModel.CurrentPage" type="hidden" />
            <input asp-for="Search" type="hidden" />
            <input asp-for="Category.Id" type="hidden" />
            <input asp-for="Category.Name" type="hidden" />
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete Category</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="modal-body d-flex align-items-stretch">
                        <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                              aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal"
                            style="margin-right: 1em;">
                        Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-outline-danger btn-spinner float-end"
                            aria-label="Confirm"
                            button-spinner>
                        <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        $("#editModal").on("show.bs.modal", function (e) {
            const button = $(e.relatedTarget);
            const id = button.data("id");
            const name = button.data("name");
            const description = button.data("description");
            const color = button.data("color");
            const modal = $(this);
            modal.find("#editModalLabel").text("Edit Category - \"" + name + "\"");
            modal.find("#Category_Id").val(id);
            modal.find("#Category_Name").val(name);
            modal.find("#Category_Description").val(description);
            modal.find("#Category_Color").val(color);
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            const button = $(e.relatedTarget);
            const id = button.data("id");
            const name = button.data("name");
            const modal = $(this);
            modal.find("#modal-text").html("Are you sure you wish to delete the Category <strong>" + name + "</strong>?");
            modal.find("#Category_Id").val(id);
            modal.find("#Category_Name").val(name);
        });
    </script>
}