@model GRA.Controllers.ViewModel.MissionControl.Categories.CategoryListViewModel

<form asp-controller="Categories" asp-action="Index" method="get" role="form">
    <div class="row row-spacing" style="padding-top: 10px;">
        <div class="col-8">
            <input asp-for="Search" class="form-control" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-secondary" style="margin-right: 8px;" />
            <a asp-action="Index" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <a class="btn btn-secondary"
           data-bs-toggle="modal"
           data-bs-target="#addModal">Add a Category</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.Categories.Count() == 0)
        {
            <div class="alert alert-warning">No Categories</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Preview</th>
                            <th width="100">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>
                                    @category.Name
                                </td>
                                <td>
                                    @category.Description
                                </td>
                                <td>
                                    <span class="label" style="background-color:@category.Color">@category.Name</span>
                                </td>
                                <td>
                                    <button type="button"
                                            class="btn btn-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal"
                                            data-id="@category.Id"
                                            data-name="@category.Name"
                                            data-description="@category.Description"
                                            data-color="@category.Color">
                                        <span class="fas fa-2x fa-pencil-alt" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm"
                                            style="margin-left:16px;"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@category.Id"
                                            data-name="@category.Name">
                                        <span class="fas fa-2x fa-times" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="addModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Categories"
                  asp-action="Add"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <input asp-for="Search" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="addModalLabel">Add Category</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>

                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="Category.Name" class="col-form-label"></label>
                            <input asp-for="Category.Name" class="form-control" />
                            <span asp-validation-for="Category.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Category.Description" class="col-form-label"></label>
                            <input asp-for="Category.Description" class="form-control" />
                            <span asp-validation-for="Category.Description"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Category.Color" class="col-form-label"></label>
                            <input asp-for="Category.Color" type="color" value="#777777"/>
                            <span asp-validation-for="Category.Color"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Categories"
                  asp-action="Edit"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <input asp-for="Search" type="hidden" />
                <input asp-for="Category.Id" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="editModalLabel">Edit Category</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="Category.Name" class="col-form-label"></label>
                            <input asp-for="Category.Name" class="form-control" />
                            <span asp-validation-for="Category.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Category.Description" class="col-form-label"></label>
                            <input asp-for="Category.Description" class="form-control" />
                            <span asp-validation-for="Category.Description"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Category.Color" class="col-form-label"></label>
                            <input asp-for="Category.Color" type="color" />
                            <span asp-validation-for="Category.Color"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Categories"
                  asp-action="Delete"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <input asp-for="Search" type="hidden" />
                <input asp-for="Category.Id" type="hidden" />
                <input asp-for="Category.Name" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete Category</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-danger btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#editModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var description = button.data("description");
            var color = button.data("color");
            var modal = $(this);
            modal.find("#editModalLabel").text("Edit Category - \"" + name + "\"");
            modal.find("#Category_Id").val(id);
            modal.find("#Category_Name").val(name);
            modal.find("#Category_Description").val(description);
            modal.find("#Category_Color").val(color);
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var modal = $(this);
            modal.find("#modal-text").text("Are you sure you wish to delete the Category \"" + name + "\"?");
            modal.find("#Category_Id").val(id);
            modal.find("#Category_Name").val(name);
        });
    </script>
}