<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[GRA.Controllers.ViewDataKey.Title]</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="/css/main.min.css" />
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
    @RenderSection("styles", required: false)
    <style>
        div.tooltip-inner {
            width: 10rem;
        }
    </style>
    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.SiteCss))
    {
        <link rel="stylesheet" href="@Url.Content(Context.Items[GRA.Controllers.ItemKey.SiteCss].ToString())" />
    }
</head>
<body id="mission-control-body">
    <nav class="navbar navbar-expand-md d-print-none bg-light">
        <div class="container-fluid">
            <a asp-controller="Home"
               asp-action="Index"
               class="navbar-brand mc-navbar-brand">
                <span class="fas fa-theater-masks"></span>
                Performer Registration
            </a>
            <button type="button"
                    class="navbar-toggler btn-sm"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent"
                    aria-controls="navbarContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">@GRA.Domain.Model.DisplayNames.ToggleNavigation</span>
                @GRA.Domain.Model.DisplayNames.Menu
            </button>
            <div class="collapse navbar-collapse ms-auto" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="navbar-nav"><a asp-area="PerformerRegistration" asp-controller="Home" asp-action="Index" class="nav-link" title="Performer Registration" data-bs-toggle="tooltip" data-bs-placement="bottom"><span class="fas fa-theater-masks fa-fw"></span><span class="d-md-none"> Mission Control</span></a></li>
                    <li class="navbar-nav"><a asp-controller="Home" asp-action="Index" asp-area="" class="nav-link" title="Home"><span class="fas fa-home fa-fw"></span><span class="d-md-none"> Home</span></a></li>
                    <li class="navbar-nav"><a asp-controller="Home" asp-action="Signout" asp-area="" class="nav-link">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <noscript>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning"><span class="fas fa-lg fa-exclamation-triangle text-primary"></span> This website relies on JavaScript. Please enable JavaScript in your browser to get the best experience.</div>
                </div>
            </div>
        </noscript>
        @RenderSection("Nav", required: false)

        @if (TempData[GRA.Controllers.TempDataKey.AlertDanger] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-danger">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertDanger])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertWarning] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-warning">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertWarning])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertSuccess] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-success">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertSuccess])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertInfo] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-info">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertInfo])</div>
                </div>
            </div>
        }
        @RenderBody()
        <footer style="clear: both; margin-top: 2rem;">
            <grasite property="footer"></grasite>
        </footer>
    </div>
    <script src="/js/main.min.js"></script>
    <script src="/js/performerregistration.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
