<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[GRA.Controllers.ViewDataKey.Title]</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5e3ab6">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/performerregistration.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
    <style>
        div.tooltip-inner {
            width: 10rem;
        }
    </style>
</head>
<body id="mission-control-body">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle mc-menu-button btn-sm"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
                <a asp-controller="Home"
                   asp-action="Index"
                   class="navbar-brand mc-navbar-brand">
                    <span class="fa fa-cutlery"></span>
                    Performer Registration
                </a>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" title="Back to the site" data-toggle="tooltip" data-placement="bottom" class="gra-homelink"><span class="fa fa-sitemap"></span><span class="visible-xs-inline"> Back to the site</span></a></li>
                    <li><a asp-controller="Home" asp-action="Signout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <noscript>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning"><span class="fa fa-lg fa-warning text-primary"></span> This website relies on JavaScript. Please enable JavaScript in your browser to get the best experience.</div>
                </div>
            </div>
        </noscript>
        @RenderSection("Nav", required: false)
        @if (ViewData.ContainsKey(GRA.Controllers.ViewDataKey.TitleHtml)
           && ViewData[GRA.Controllers.ViewDataKey.TitleHtml] != null)
        {
            <div class="row">
                <div class="col-xs-12">
                    @RenderSection("inHeading", required: false)
                    <span class="h2">@Html.Raw(ViewData[GRA.Controllers.ViewDataKey.TitleHtml])</span>
                </div>
            </div>
        }
        else if (ViewData.ContainsKey(GRA.Controllers.ViewDataKey.Title))
        {
            <div class="row">
                <div class="col-xs-12">
                    @RenderSection("inHeading", required: false)
                    <span class="h2">@ViewData[GRA.Controllers.ViewDataKey.Title]</span>
                </div>
            </div>
        }

        @if (TempData[GRA.Controllers.TempDataKey.AlertDanger] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-danger">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertDanger])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertWarning] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-warning">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertWarning])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertSuccess] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-success">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertSuccess])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertInfo] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-info">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertInfo])</div>
                </div>
            </div>
        }
        @RenderBody()
        <footer style="clear: both;">
            <grasite property="footer"></grasite>
        </footer>
    </div>
    <script src="~/js/main.min.js" asp-append-version="true"></script>
    <script src="~/js/performerregistration.min.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
