<div class="row d-print-none">
    <div class="col-12 mb-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a add-active asp-action="@nameof(ProfileController.Index)" class="nav-link">
                    @SharedLocalizer[GRA.Annotations.Interface.Details]
                </a>
            </li>
            <li class="nav-item">
                <a add-active asp-action="@nameof(ProfileController.Household)" class="nav-link">
                    @SharedLocalizer[Context.Items[GRA.Controllers.ItemKey.HouseholdTitle].ToString()]
                    @if (Model.HouseholdCount > 0)
                    {
                        <span class="badge text-bg-info">@(Model.HouseholdCount + 1)</span>
                    }
                </a>
            </li>
            <li class="nav-item">
                <a add-active asp-action="@nameof(ProfileController.Books)" class="nav-link">
                    @SharedLocalizer[GRA.Annotations.Interface.BookList]
                </a>
            </li>
            <li class="nav-item">
                <a add-active asp-action="@nameof(ProfileController.History)" class="nav-link">
                    @SharedLocalizer[GRA.Annotations.Interface.History]
                </a>
            </li>
            <li class="nav-item">
                <a add-active asp-action="@nameof(ProfileController.Badges)" class="nav-link">
                    @SharedLocalizer[GRA.Annotations.Interface.Badges]
                </a>
            </li>
            <li class="nav-item">
                <a add-active asp-action="@nameof(ProfileController.Prizes)" class="nav-link">
                    @SharedLocalizer[GRA.Annotations.Interface.Prizes]
                </a>
            </li>
            <li class="nav-item">
                <a add-active asp-action="@nameof(ProfileController.Attachments)" class="nav-link">
                    @SharedLocalizer[GRA.Annotations.Interface.Certificates]
                </a>
            </li>
            @if (Model.HasAccount)
            {
                <li class="nav-item">
                    <a add-active
                       asp-action="@nameof(ProfileController.ChangePassword)"
                       class="nav-link">
                        @SharedLocalizer[GRA.Annotations.Interface.ChangePassword]
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
