@model GRA.Controllers.ViewModel.Profile.AttachmentListViewModel

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="card ">
            <div class="card-header">
                <span class="lead">@SharedLocalizer[GRA.Domain.Model.DisplayNames.MyProfile]</span>
            </div>
            <div class="card-body">

                @await Html.PartialAsync("_ProfilePartial")

                @if (Model.Attachments.Count() == 0)
                {
                    <div class="row" style="padding: 10px 0;">
                        <div class="col-xs-12">
                            <div class="alert alert-warning">@SharedLocalizer[GRA.Annotations.Info.NoCertificates]</div>
                        </div>
                    </div>
                }
                else
                {
                    <table class="table table-bordered table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>@SharedLocalizer[GRA.Annotations.Title.Date]</th>
                                <th colspan="2">@SharedLocalizer[GRA.Annotations.Interface.Details]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Attachments)
                            {
                                <tr>
                                    <td>@item.EarnedOn</td>
                                    <td>
                                        <span>@item.Description</span>
                                    </td>
                                    <td class="text-center">
                                        <a href="~/@item.AttachmentFilename" download="@SharedLocalizer[GRA.Annotations.Title.Certificate]">
                                            @if (item.ShowCertificate)
                                            {
                                                <img src="~/images/certificate.png"
                                                    alt="@SharedLocalizer[GRA.Annotations.Title.Certificate]" />
                                            }
                                            else
                                            {
                                                <span>@SharedLocalizer[GRA.Annotations.Interface.Download]</span>
                                            }
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (Model.MaxPage > 1)
                    {
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <paginate paginateModel="@Model"></paginate>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>