@model GRA.Controllers.ViewModel.Profile.BadgeListViewModel

<div class="modal fade" id="earnedModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@SharedLocalizer[GRA.Annotations.Interface.Cancel]</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead">@SharedLocalizer[GRA.Domain.Model.DisplayNames.MyProfile]</span>
            </div>
            <div class="panel-body">

                @await Html.PartialAsync("_ProfilePartial")

                <div class="row">
                    @foreach (var userLog in Model.UserLogs)
                    {
                        <div class="col-xs-3 col-sm-3 col-md-2 badge-thumbnail mx-auto">
                            <a href="#"
                                data-toggle="modal"
                                data-target="#earnedModal"
                                data-id="@userLog.Id">
                                <img src="~/@userLog.BadgeFilename" class="img-responsive img-thumbnail">
                            </a>
                        </div>
                    }
                </div>
                @if (Model.PaginateModel.MaxPage > 1)
                {
                    <paginate paginateModel="@Model.PaginateModel"></paginate>
                }
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $("#earnedModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var id = button.data("id");
            var modal = $(this);

            var modalBody = modal.find(".modal-body");
            modalBody.html("<span class=\"fa fa-spinner fa-2x fa-pulse\"></span>");

            $.get("@Url.Action(nameof(ProfileController.GetUserBadgeInfo), ProfileController.Name)",
                { id },
                function (response) {
                    modalBody.html(response);
                });
        });
    </script>
}