@model GRA.Controllers.ViewModel.Profile.BookListViewModel

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="card ">
            <div class="card-header">
                <span class="lead">@SharedLocalizer[GRA.Domain.Model.DisplayNames.MyProfile]</span>
            </div>
            <div class="card-body">

                @await Html.PartialAsync("_ProfilePartial")

                <div class="row" style="padding: 10px 0;">
                    <div class="col-xs-12">
                        @if (Model.Books.Count() == 0)
                        {
                            <div class="alert alert-warning">@SharedLocalizer[GRA.Annotations.Info.NoBooksLogged]</div>
                        }
                        else
                        {
                            <table class="table table-sm table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <a sort
                                               asp-route-Sort="@Model.SortBooks.GetValue(0)"
                                               asp-route-Order="@(Model.Sort == Model.SortBooks.GetValue(0).ToString() && !Model.IsDescending ? "Descending" : "Ascending")">@SharedLocalizer[GRA.Annotations.Title.Date]</a>
                                        </th>
                                        <th>
                                            <a sort
                                               asp-route-Sort="@Model.SortBooks.GetValue(1)"
                                               asp-route-Order="@(Model.Sort == Model.SortBooks.GetValue(1).ToString() && !Model.IsDescending ? "Descending" : "Ascending")">@SharedLocalizer[GRA.Domain.Model.DisplayNames.Title]</a>
                                        </th>
                                        <th>
                                            <a sort
                                               asp-route-Sort="@Model.SortBooks.GetValue(2)"
                                               asp-route-Order="@(Model.Sort == Model.SortBooks.GetValue(2).ToString() && !Model.IsDescending ? "Descending" : "Ascending")">@SharedLocalizer[GRA.Domain.Model.DisplayNames.Author]</a>
                                        </th>
                                        @if (Model.CanEditBooks)
                                        {
                                            <th width="95">&nbsp;</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var book in Model.Books)
                                    {
                                        <tr>
                                            <td style="vertical-align:middle;">@book.CreatedAt.ToString("d")</td>
                                            <td style="vertical-align:middle;">@book.Title</td>
                                            <td style="vertical-align:middle;">@book.Author</td>
                                            @if (Model.CanEditBooks)
                                            {
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-primary btn-sm"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#editModal"
                                                            data-id="@book.Id"
                                                            data-bs-title="@book.Title"
                                                            data-author="@book.Author">
                                                        <span class="fas fa-2x fa-pencil-alt" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-danger btn-sm pull-right"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#deleteModal"
                                                            data-id="@book.Id"
                                                            data-bs-title="@book.Title">
                                                        <span class="fas fa-2x fa-times" aria-hidden="true"></span>
                                                    </button>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (Model.PaginateModel.MaxPage > 1)
                            {
                                <paginate paginateModel="@Model.PaginateModel"></paginate>
                            }
                        }
                        @if (Model.CanEditBooks)
                        {
                            <a href="#"
                               id="addBook"
                               class="btn btn-secondary"
                               data-bs-toggle="modal"
                               data-bs-target="#addModal">
                                @SharedLocalizer[GRA.Annotations.Interface.AddBook]
                            </a>
                        }
                        else
                        {
                            <a href="#"
                               id="addBook"
                               class="btn btn-secondary wide-tooltip"
                               data-bs-toggle="tooltip"
                               title="@SharedLocalizer[GRA.Annotations.Interface.AddBookNotYet]"
                               data-bs-placement="top"
                               disabled>
                                @SharedLocalizer[GRA.Annotations.Interface.AddBook]
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.CanEditBooks)
{
    <div class="row">
        <div class="modal fade"
             id="editModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="editModalLabel">
            <div class="modal-dialog" role="document">
                <form asp-controller="Profile"
                      asp-action="EditBook"
                      method="post"
                      role="form"
                      style="display:inline">
                    <input asp-for="CanEditBooks" type="hidden" />
                    <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                    <input asp-for="Book.Id" type="hidden" />
                    <input asp-for="Book.Isbn" type="hidden" />
                    <input asp-for="Book.Url" type="hidden" />
                    <input id="Book_Id" name="Book.Id" type="hidden" />
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title h4"
                                id="editModalLabel">
                                @SharedLocalizer[GRA.Annotations.Title.EditBook]
                            </h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="@SharedLocalizer[GRA.Annotations.Interface.CloseDialog]">
                                
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label asp-for="Book.Title" class="col-form-label"></label>
                                <input asp-for="Book.Title" class="form-control" />
                                <span asp-validation-for="Book.Title" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Book.Author" class="col-form-label"></label>
                                <input asp-for="Book.Author" class="form-control" />
                                <span asp-validation-for="Book.Author" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                    style="margin-right: 1em;">
                                @SharedLocalizer[GRA.Annotations.Interface.Cancel]
                            </button>
                            <button type="submit"
                                    class="btn btn-primary pull-right"
                                    aria-label="Confirm">
                                @SharedLocalizer[GRA.Annotations.Interface.Save]
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="modal fade"
             id="addModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="addModalLabel">
            <div class="modal-dialog" role="document">
                <form asp-controller="Profile"
                      asp-action="AddBook"
                      method="post"
                      role="form"
                      style="display:inline">
                    <input asp-for="CanEditBooks" type="hidden" />
                    <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title h4"
                                id="addModalLabel">
                                @SharedLocalizer[GRA.Annotations.Interface.AddBook]
                            </h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="@SharedLocalizer[GRA.Annotations.Interface.CloseDialog]">
                                
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label asp-for="Book.Title" class="col-form-label"></label>
                                <input asp-for="Book.Title" class="form-control" />
                                <span asp-validation-for="Book.Title" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Book.Author" class="col-form-label"></label>
                                <input asp-for="Book.Author" class="form-control" />
                                <span asp-validation-for="Book.Author" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                    style="margin-right: 1em;">
                                @SharedLocalizer[GRA.Annotations.Interface.Cancel]
                            </button>
                            <button type="submit"
                                    class="btn btn-primary pull-right"
                                    aria-label="Confirm">
                                @SharedLocalizer[GRA.Annotations.Interface.Save]
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4"
                            id="deleteModalLabel">
                            @SharedLocalizer[GRA.Annotations.Title.DeleteBook]
                        </h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="@SharedLocalizer[GRA.Annotations.Interface.CloseDialog]">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            @SharedLocalizer[GRA.Annotations.Interface.Cancel]
                        </button>
                        <form asp-controller="Profile"
                              asp-action="RemoveBook"
                              method="post"
                              role="form"
                              style="display:inline">
                            <input asp-for="CanEditBooks" type="hidden" />
                            <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                            <input asp-for="Book.Id" type="hidden" />
                            <input asp-for="Book.Title" type="hidden" />
                            <button type="submit"
                                    class="btn btn-danger btn-spinner pull-right"
                                    aria-label="Confirm"
                                    button-spinner>
                                <span class="fas fa-times" aria-hidden="true"></span>
                                @SharedLocalizer[GRA.Annotations.Interface.Delete]
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
        @if (Model.CanEditBooks) {
        <text>
        $("#editModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var id = button.data("id");
            var title = button.data("title");
            var author = button.data('author');
            var modal = $(this);
            modal.find("#editModalLabel").text('@SharedLocalizer[GRA.Annotations.Title.EditBook] - "' + title + '"');
            modal.find("#Book_Id").val(id);
            modal.find("#Book_Title").val(title);
            modal.find("#Book_Author").val(author);
        })

        $("#deleteModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var id = button.data("id");
            var title = button.data("title");
            var modal = $(this);
            modal.find("#modal-text").text('@SharedLocalizer[GRA.Annotations.Info.ConfirmBookDelete] ' + title);
            modal.find("#Book_Id").val(id);
            modal.find("#Book_Title").val(title);
        })
        </text>
        }
    </script>
}