@model GRA.Controllers.ViewModel.Profile.ChangePasswordViewModel

<form asp-controller="@ProfileController.Name"
      asp-action="@nameof(ProfileController.ChangePassword)"
      method="post"
      role="form">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1">
            <div class="card">
                <div class="card-header">
                    <span class="fw-bold">
                        @SharedLocalizer[GRA.Domain.Model.DisplayNames.MyProfile]
                    </span>
                </div>
                <div class="card-body">
                    @await Html.PartialAsync("_ProfilePartial")
                    <div class="row">
                        <div class="col-12">
                            <input asp-for="HouseholdCount" type="hidden" />
                            <input asp-for="HasAccount" type="hidden" />
                            @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                            {
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="alert alert-danger">
                                            @Model.ErrorMessage
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-12">
                                    <label asp-for="OldPassword" class="col-form-label"></label>
                                    <input asp-for="OldPassword"
                                           class="form-control"
                                           type="password" />
                                    <span asp-validation-for="OldPassword"
                                          class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label asp-for="NewPassword" class="col-form-label"></label>
                                    <input asp-for="NewPassword"
                                           class="form-control"
                                           type="password" />
                                    <span asp-validation-for="NewPassword"
                                          class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label asp-for="ConfirmPassword" class="col-form-label"></label>
                                    <input asp-for="ConfirmPassword"
                                           class="form-control"
                                           type="password" />
                                    <span asp-validation-for="ConfirmPassword"
                                          class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-print-none d-flex justify-content-end">
                    <button type="submit"
                            class="btn btn-outline-primary">
                        @SharedLocalizer[GRA.Annotations.Interface.ChangePassword]
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>