@model GRA.Controllers.ViewModel.Profile.EmailAwardViewModel

<div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 ">
        <div class="card">
            <form asp-controller="@ProfileController.Name" asp-action="@nameof(ProfileController.EmailAward)" method="post" role="form" style="display:inline">
                <input asp-for="UserId" type="hidden" />
                <div class="card-body">
                    <h4>@Model.Name</h4>
                    <p>@Html.Raw(Model.EmailAwardInstructions)</p>
                    <div class="row row-spacing">
                        <div class="col-12">
                            <label asp-for="Email" class="col-form-label"></label>
                            <input asp-for="Email" type="email" class="form-control" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="@(Model.UserId.HasValue ? nameof(ProfileController.Household) : nameof(ProfileController.Index))"
                       class="btn btn-outline-secondary" 
                       style="margin-right: 1em;">
                        @SharedLocalizer[GRA.Annotations.Interface.Cancel]
                    </a>
                    <button type="submit"
                            class="btn btn-outline-danger float-end"
                            aria-label="Confirm"
                            button-spinner>
                        @SharedLocalizer[GRA.Annotations.Interface.Confirm]
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>