@model GRA.Controllers.ViewModel.Profile.HistoryListViewModel

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span class="fw-bold">
                    @SharedLocalizer[GRA.Domain.Model.DisplayNames.MyProfile]
                </span>
            </div>
            <div class="card-body pb-0">
                @await Html.PartialAsync("_ProfilePartial")
                <div class="row">
                    <div class="col-12">
                        @if (Model.Historys.Count() == 0)
                        {
                            <div class="alert alert-warning">
                                @SharedLocalizer[GRA.Annotations.Info.NoHistory]
                            </div>
                        }
                        else
                        {
                            <table class="table table-sm table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>@SharedLocalizer[GRA.Annotations.Title.Date]</th>
                                        <th>@SharedLocalizer[GRA.Annotations.Title.Activity]</th>
                                        <th>@SharedLocalizer[GRA.Annotations.Title.Badge]</th>
                                        <th>@SharedLocalizer[GRA.Annotations.Title.Points]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var history in Model.Historys)
                                    {
                                        <tr>
                                            <td>@history.CreatedAt</td>
                                            <td>
                                                @Html.Raw(history.Description)
                                                @if (history.ShowCertificate)
                                                {
                                                    <div class="m-1 fw-bold">
                                                        <a href="~/@history.AttachmentFilename"
                                                           download="@history.AttachmentDownload">
                                                            <img src="~/images/certificate.png"
                                                                 alt="@SharedLocalizer[GRA.Annotations.Title.Certificate]" />
                                                            @SharedLocalizer[GRA.Annotations.Interface.ViewCertificate]
                                                        </a>
                                                    </div>
                                                }
                                            </td>
                                            <td class="text-center">
                                                @if (!string.IsNullOrEmpty(history.BadgeFilename))
                                                {
                                                    <img class="img-thumbnail badge-sm"
                                                         src="~/@history.BadgeFilename"
                                                         alt="@history.BadgeAltText" />
                                                }
                                                else
                                                {
                                                    @:&nbsp;
                                                }
                                            </td>
                                            <td>@history.PointsEarned</td>
                                        </tr>
                                    }
                                    @if (Model.TotalPoints != 0)
                                    {
                                        <tr class="total-row fw-bold">
                                            <td colspan="3" class="text-end">
                                                @SharedLocalizer[GRA.Annotations.Interface.TotalPoints]:
                                            </td>
                                            <td>@Model.TotalPoints</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <div class="card-footer d-print-none d-flex">
                    <div class="flex-grow-1">
                        <paginate paginateModel="@Model.PaginateModel"></paginate>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
