@model GRA.Controllers.ViewModel.Profile.HistoryListViewModel

<div class="row">
    <div class="modal fade" id="bundleModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editModalLabel">Bundle Items</h4>
                </div>
                <div id="bundleModalBody" class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead">My Profile</span>
            </div>
            <div class="panel-body">

                @Html.Partial("_ProfilePartial")

                <div class="row" style="padding: 10px 0;">
                    <div class="col-xs-12">
                        @if (Model.Historys.Count() == 0)
                        {
                            <div class="alert alert-warning">No history to display</div>
                        }
                        else
                        {
                            <div>
                                <table class="table table-condensed table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Activity</th>
                                            <th>Badge</th>
                                            <th>Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var history in Model.Historys)
                                        {
                                            <tr>
                                                <td>@history.CreatedAt</td>
                                                <td>@Html.Raw(history.Description)</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(history.BadgeFilename))
                                                    {
                                                        <div style="text-align:center;">
                                                            <img class="img-thumbnail badge-sm" src="~/@history.BadgeFilename" asp-append-version="true" />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @: &nbsp;
                                    }
                                                </td>
                                                <td>@history.PointsEarned</td>
                                            </tr>
                                        }
                                        @if (Model.TotalPoints != 0)
                                        {
                                            <tr class="total-row">
                                                <td colspan="3" style="text-align:right">Total Points:</td>
                                                <td>@Model.TotalPoints</td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (Model.PaginateModel.MaxPage > 1)
                            {
                                <paginate paginateModel="@Model.PaginateModel"></paginate>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(".bundle-link").on("click", function () {
            var id = $(this).data("id");
            var url = "@Url.Action("GetItemsInBundleAsync", "Lookup", new { Area = string.Empty })";

            $.getJSON(url, { id: id }, function(response) {
                $("#bundleModalBody").html("");
                $("#bundleModal").modal("show");
                $.each(response, function (index, item) {
                    $("#bundleModalBody").html($("#bundleModalBody").html() + "<img class='img-thumbnail badge-sm bundle-image' src='/" + item + "' asp-append-version='true' />");
                });
            });

        })
    </script>
}