@model GRA.Controllers.ViewModel.Profile.HouseholdRemoveViewModel

<form asp-controller="@ProfileController.Name"
      asp-action="@nameof(ProfileController.RemoveHouseholdMember)"
      method="post"
      role="form">
    <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <div class="card">
            <div class="card-header fw-bold">
                Remove @Model.MemberName from @Context.Items[GRA.Controllers.ItemKey.HouseholdTitle]
            </div>
            <div class="card-body">
                <input asp-for="MemberId" type="hidden" />
                @if (string.IsNullOrWhiteSpace(Model.MemberUsername))
                {
                    <div class="mb-2">
                        Please provide a username and password to remove @Model.MemberName from the
                        @Context.Items[GRA.Controllers.ItemKey.HouseholdTitle].
                    </div>
                }
                else
                {
                    <div>
                        Are you sure you want to remove @Model.MemberName from the
                        @Context.Items[GRA.Controllers.ItemKey.HouseholdTitle]?
                    </div>
                }
                @if (string.IsNullOrWhiteSpace(Model.MemberUsername))
                {
                    <div>
                        <label asp-for="Username" class="col-form-label"></label>
                        <span id="Username-Icon" class="fas colored-icon d-none fa-fw"></span>
                        <input asp-for="Username" class="form-control" autofocus />
                        <span id="Username-Validation"
                              asp-validation-for="Username"></span>
                    </div>
                    <div>
                        <label asp-for="Password" class="col-form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword" class="col-form-label"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                }
            </div>
            <div class="card-footer d-flex justify-content-end">
                <a asp-action="Household"
                   class="btn btn-outline-secondary">
                    Return to @Context.Items[GRA.Controllers.ItemKey.HouseholdTitle]
                </a>
                <button type="submit"
                        id="Submit"
                        name="Submit"
                        value="Submit"
                        class="btn btn-outline-primary ms-2"
                        button-spinner>
                    <span class="buttonText">Remove Member</span>
                </button>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
        const usernameCheckUrl = "@Url.Action(nameof(GRA.Controllers.LookupController.UsernameInUse), LookupController.Name, new { Area = string.Empty })";
        const usernameIcon = $("#Username-Icon");
        const usernameField = $("#Username");
        const usernameValidation = $("#Username-Validation");

        usernameField.on("blur", function () {
            if ($(this).val().trim() != "" && !$(this).hasClass("input-validation-error")) {
                $(this).val($(this).val().trim());
                usernameIcon.addClass("fa-spinner fa-spin")
                    .removeClass("d-none fa-times-circle fa-check-circle text-success text-danger");
                $.post(usernameCheckUrl, { username: $(this).val() }, function (response) {
                    if (response) {
                        $(this).removeClass("valid");
                        $(this).addClass("input-validation-error");
                        usernameValidation.removeClass("field-validation-valid text-success")
                            .addClass("field-validation-error")
                            .text("Someone has already chosen that username.");
                        usernameIcon.removeClass("fa-spinner fa-spin")
                            .addClass("fa-times-circle text-danger");
                    }
                    else {
                        usernameValidation.removeClass("field-validation-valid")
                            .addClass("text-success")
                            .text("The chosen username is available.");
                        usernameIcon.removeClass("fa-spinner fa-spin")
                            .addClass("fa-check-circle text-success");
                    }
                });
            }
        });

        usernameField.on("keypress", function () {
            usernameIcon.addClass("d-none");
        });
    </script>
}
