@model GRA.Controllers.ViewModel.Profile.HouseholdListViewModel

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead">@SharedLocalizer[GRA.Domain.Model.DisplayNames.MyProfile]</span>
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("_ProfilePartial")

                @if (!string.IsNullOrEmpty(Model.GroupName))
                {
                    @if (Model.GroupLeader)
                    {
                        @SharedHtmlLocalizer[GRA.Annotations.Info.GroupLeader,
                            Url.Action(nameof(ProfileController.GroupDetails)),
                            Model.GroupName]
                    }
                    else
                    {
                        @SharedHtmlLocalizer[GRA.Annotations.Info.GroupMember,
                            Model.GroupName]
                    }
                }

                <div class="row" style="padding: 10px 0;">
                    <div class="col-xs-12">
                        @if (Model.Users.Count() == 0)
                        {
                            if (Model.CanEditHousehold)
                            {
                                <div class="alert alert-warning">
                                    @SharedLocalizer[GRA.Annotations.Info.GroupCreate,
                                        Model.LocalizedHouseholdTitle]
                                </div>
                                <a asp-action="AddHouseholdMember" class="btn btn-default">
                                    @SharedLocalizer[GRA.Annotations.Info.GroupRegister,
                                     Model.LocalizedHouseholdTitle]
                                </a>
                                <a asp-action="AddExistingParticipant" class="btn btn-default">
                                    @SharedLocalizer[GRA.Annotations.Info.GroupAdd,
                                        Model.LocalizedHouseholdTitle]
                                </a>
                            }
                            else
                            {
                                <div class="alert alert-warning">
                                    @SharedLocalizer[GRA.Annotations.Info.GroupCannot,
                                        Model.LocalizedHouseholdTitle]
                                </div>
                            }
                        }
                        else
                        {
                            <div class="row" style="padding-bottom: 2rem;">
                                <div class="col-xs-12">
                                    @if (Model.AuthUserIsHead && Model.CanEditHousehold)
                                    {
                                        <a asp-action="AddHouseholdMember" class="btn btn-default">
                                            @SharedLocalizer[GRA.Annotations.Info.GroupRegister,
                                                Model.LocalizedHouseholdTitle]
                                        </a>
                                        <a asp-action="AddExistingParticipant" class="btn btn-default">
                                            @SharedLocalizer[GRA.Annotations.Info.GroupAdd,
                                                Model.LocalizedHouseholdTitle]
                                        </a>
                                    }
                                </div>
                            </div>
                            <form id="form" asp-controller="Profile" method="post" role="form">
                                @if (Model.AuthUserIsHead && Model.CanLogActivity)
                                {
                                    <input asp-for="UserSelection" type="hidden" />
                                    <input asp-for="ActivityAmount" type="hidden" />
                                    <input asp-for="SecretCode" type="hidden" />

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 row-spacing">
                                            <table>
                                                <tr>
                                                    @if (Model.PointTranslation.IsSingleEvent == false)
                                                    {
                                                        <td style="padding-right:6px;">@SharedLocalizer["Enter {0} read", SharedLocalizer[Model.PointTranslation.ActivityDescriptionPlural]]</td>
                                                        <td width="80px" style="padding-right:6px;">
                                                            <input data-action="HouseholdApplyActivity" value="" class="form-control activityInput" />
                                                        </td>
                                                    }
                                                    <td>
                                                        <button type="submit" class="btn btn-primary btn-spinner activityButton" data-action="HouseholdApplyActivity">
                                                            <span>
                                                                @if (Model.PointTranslation.IsSingleEvent)
                                                                {
                                                                    <span>
                                                                        @($"{Model.PointTranslation.TranslationDescriptionPastTense.Replace("{0}", "1")} {Model.PointTranslation.ActivityDescription}")
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span>
                                                                        @SharedLocalizer[GRA.Annotations.Interface.Apply]
                                                                    </span>
                                                                }
                                                            </span>
                                                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                @if (!string.IsNullOrWhiteSpace(Model.ActivityMessage))
                                                {
                                                    <tr>
                                                        @if (Model.PointTranslation.IsSingleEvent == false)
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                        <td colspan="2">@Model.ActivityMessage</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                        @if (!Model.DisableSecretCode)
                                        {
                                            <div class="col-xs-12 col-sm-6 row-spacing">
                                                <table>
                                                    <tr>
                                                        <td style="padding-right:6px;">@SharedLocalizer[GRA.Annotations.Interface.Apply]</td>
                                                        <td width="200px">
                                                            <input data-action="HouseholdApplySecretCode" class="form-control codeInput" />
                                                        </td>
                                                        <td style="padding-left:6px;">
                                                            <button type="submit" class="btn btn-primary btn-spinner codeButton" data-action="HouseholdApplySecretCode">
                                                                <span class="buttonText">@SharedLocalizer[GRA.Domain.Model.DisplayNames.SecretCode]</span>
                                                                <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    @if (!string.IsNullOrWhiteSpace(Model.SecretCodeMessage))
                                                    {
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td colspan="2">@Html.Raw(Model.SecretCodeMessage)</td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        }
                                    </div>
                                }
                                <div>
                                    <table class="table table-condensed table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                @if (Model.AuthUserIsHead)
                                                {
                                                    if (Model.CanLogActivity)
                                                    {
                                                        <th style="vertical-align:middle;" class="text-center" width="24px;"><input id="checkAll" type="checkbox" data-id="@Model.Head.Id" /></th>
                                                    }
                                                    <th width="36px" class="text-center"><span class="far fa-envelope fa-lg"></span></th>
                                                }
                                                <th>@SharedLocalizer[GRA.Annotations.Title.Participant]</th>
                                                <th>@SharedLocalizer[GRA.Annotations.Title.Points]</th>
                                                @if (Model.ShowVendorCodes)
                                                {
                                                    <th>@SharedLocalizer[GRA.Annotations.Title.BookCode]</th>
                                                }
                                                @if (Model.AuthUserIsHead && Model.CanEditHousehold)
                                                {
                                                    <th width="36px">&nbsp;</th>
                                                }
                                            </tr>
                                            <tr class="warning @(Model.ActiveUser == Model.Head.Id ? "text-strong" : null)">
                                                @if (Model.AuthUserIsHead)
                                                {
                                                    if (Model.CanLogActivity)
                                                    {
                                                        <td style="vertical-align:middle;" class="text-center">
                                                            <input class="userSelection" data-id="@Model.Head.Id" type="checkbox" />
                                                        </td>
                                                    }
                                                    <td style="vertical-align:middle;" class="text-center">
                                                        <div class="user-mail" data-action="@(Model.ActiveUser == Model.Head.Id ? "" : @Url.Action("LoginAs", new { loginId = Model.Head.Id, goToMail = true }))">
                                                            @if (Model.Head.HasNewMail)
                                                            {
                                                                <span class="fas fa-envelope fa-lg text-danger" title="@SharedLocalizer[GRA.Annotations.Interface.NewMail]"></span>
                                                            }
                                                            else
                                                            {
                                                                <span class="far fa-envelope fa-lg text-muted"></span>
                                                            }
                                                        </div>
                                                    </td>
                                                }
                                                <td>
                                                    <table style="display: inline-block;">
                                                        <tr>
                                                            <td style="vertical-align: top;">
                                                                @if (Model.ActiveUser == Model.Head.Id)
                                                                {
                                                                    <span class="fa fa-user"></span>
                                                                }
                                                                @Model.Head.FullName
                                                            </td>
                                                            <td style="vertical-align: top;">
                                                                @if (Model.ActiveUser != Model.Head.Id && Model.AuthUserIsHead)
                                                                {
                                                                    <button type="submit"
                                                                            class="btn btn-primary btn-xs"
                                                                            style="margin-left: 6px;"
                                                                            name="loginId"
                                                                            value="@Model.Head.Id"
                                                                            asp-action="LoginAs">
                                                                        <span class="fa fa-sign-in"></span>
                                                                        @SharedLocalizer[GRA.Annotations.Interface.SwitchTo]
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    @:&nbsp;
                                                                }
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.Head.Username
                                                            </td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    @if (Model.AuthUserIsHead && Model.DailyImageDictionary.ContainsKey(Model.Head.ProgramId))
                                                    {
                                                        <button type="button"
                                                                class="btn btn-primary btn-xs viewDailyImage"
                                                                style="display: inline-block;vertical-align:top;"
                                                                data-src="@Url.Content($"~/{Model.DailyImageDictionary[Model.Head.ProgramId].DailyImagePath}")"
                                                                data-large="@Model.DailyImageDictionary[Model.Head.ProgramId].IsLarge">
                                                            @Model.DailyImageDictionary[Model.Head.ProgramId].DailyImageMessage
                                                        </button>
                                                    }
                                                </td>
                                                <td>@Model.Head.PointsEarned</td>
                                                @if (Model.ShowVendorCodes)
                                                {
                                                    <td>
                                                        @if (Model.Head.NeedsToAnswerVendorCodeQuestion)
                                                        {
                                                            @SharedLocalizer[GRA.Annotations.Interface.ChooseAnOption]
                                                            <button class="btn btn-info btn-sm btn-spinner"
                                                                    name="redeemButton"
                                                                    value="@Model.Head.Id"
                                                                    asp-action="HandleHouseholdDonation">
                                                                <span class="buttonText">@SharedLocalizer[GRA.Annotations.Interface.RedeemYourCode]</span>
                                                                <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                                                            </button>
                                                            @if (Model.Head.CanDonateVendorCode)
                                                            {
                                                                <button class="btn btn-success btn-sm btn-spinner"
                                                                        name="donateButton"
                                                                        value="@Model.Head.Id"
                                                                        asp-action="HandleHouseholdDonation">
                                                                    <span class="buttonText">@SharedLocalizer[GRA.Annotations.Interface.DonateYourBook]</span>
                                                                    <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                                                                </button>
                                                            }
                                                            @if (Model.Head.CanEmailAwardVendorCode)
                                                            {
                                                                <a class="btn btn-warning btn-sm emailAwardButton"
                                                                   asp-action="@nameof(ProfileController.EmailAward)"
                                                                   asp-route-id="@Model.Head.Id"
                                                                   data-email="@Model.Head.Email"
                                                                   data-userid="@Model.Head.Id">
                                                                    <span class="buttonText">@SharedLocalizer[GRA.Annotations.Interface.ReceiveEAudiobook]</span>
                                                                </a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (!string.IsNullOrEmpty(Model.Head.VendorCodeUrl))
                                                            {
                                                                <strong>
                                                                    <a aria-label="@Model.Head.VendorCode @SharedLocalizer[GRA.Annotations.Info.OpensNewWindow]"
                                                                       href="@Model.Head.VendorCodeUrl"
                                                                       target="_blank">@Model.Head.VendorCode</a>
                                                                </strong>
                                                            }
                                                            else
                                                            {
                                                                <strong>@Model.Head.VendorCode</strong>
                                                            }
                                                            if (!string.IsNullOrEmpty(Model.Head.VendorCodeMessage))
                                                            {
                                                                <br />@Html.Raw(Model.Head.VendorCodeMessage)
                                                            }
                                                        }
                                                    </td>
                                                }
                                                @if (Model.AuthUserIsHead && Model.CanEditHousehold)
                                                {
                                                    <td>&nbsp;</td>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in Model.Users)
                                            {
                                                <tr class="@(Model.ActiveUser == user.Id ? "info text-strong" : null)">
                                                    @if (Model.AuthUserIsHead)
                                                    {
                                                        if (Model.CanLogActivity)
                                                        {
                                                            <td style="vertical-align:middle;" class="text-center">
                                                                @if (!user.HasPendingQuestionnaire)
                                                                {
                                                                    <input class="userSelection" type="checkbox" data-id="@user.Id" />
                                                                }
                                                                else
                                                                {
                                                                    <span class="pendingQuestionnaire fa fa-exclamation-circle text-warning" style="cursor:pointer" data-toggle="modal" data-target=".pendingModal"></span>

                                                                }
                                                            </td>
                                                        }
                                                        <td style="vertical-align:middle;" class="text-center">
                                                            <div class="user-mail" data-action="@(Model.ActiveUser == user.Id ? "" : @Url.Action("LoginAs", new { loginId = user.Id, goToMail = true }))">
                                                                @if (user.HasNewMail)
                                                                {
                                                                    <span class="fas fa-envelope fa-lg text-danger" title="@SharedLocalizer[GRA.Annotations.Interface.NewMail]"></span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="far fa-envelope fa-lg text-muted"></span>
                                                                }
                                                            </div>
                                                        </td>
                                                    }
                                                    <td>
                                                        <table style="display:inline-block;">
                                                            <tr>
                                                                <td style="vertical-align: top;">
                                                                    @if (Model.ActiveUser == user.Id)
                                                                    {
                                                                        <span class="fa fa-user"></span>
                                                                    }
                                                                    @user.FullName
                                                                </td>
                                                                <td style="vertical-align: top;">
                                                                    @if (Model.ActiveUser != user.Id && Model.AuthUserIsHead)
                                                                    {
                                                                        <button type="submit"
                                                                                class="btn btn-primary btn-xs top"
                                                                                style="margin: 0 6px;"
                                                                                name="loginId"
                                                                                value="@user.Id"
                                                                                asp-action="LoginAs">
                                                                            <span class="fa fa-sign-in"></span>
                                                                            @SharedLocalizer[GRA.Annotations.Interface.SwitchTo]
                                                                        </button>
                                                                    }
                                                                    else
                                                                    {
                                                                        @:&nbsp;
                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    @if (string.IsNullOrWhiteSpace(user.Username) && Model.AuthUserIsHead && Model.CanEditHousehold)
                                                                    {
                                                                        <button type="submit"
                                                                                class="btn btn-default btn-xs"
                                                                                name="RegisterId"
                                                                                asp-action="RegisterHouseholdMember"
                                                                                value="@user.Id">
                                                                            <span class="fa fa-user-plus"></span>
                                                                            @SharedLocalizer[GRA.Annotations.Interface.AddUsername]
                                                                        </button>
                                                                    }
                                                                    else
                                                                    {
                                                                        @user.Username
                                                                    }
                                                                </td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                        @if (Model.AuthUserIsHead && Model.DailyImageDictionary.ContainsKey(user.ProgramId))
                                                        {
                                                            <button type="button"
                                                                    class="btn btn-primary btn-xs viewDailyImage"
                                                                    style="display: inline-block;vertical-align:top;"
                                                                    data-src="@Url.Content($"~/{Model.DailyImageDictionary[user.ProgramId].DailyImagePath}")"
                                                                    data-large="@Model.DailyImageDictionary[user.ProgramId].IsLarge.ToString().ToLower()">
                                                                @Model.DailyImageDictionary[user.ProgramId].DailyImageMessage
                                                            </button>
                                                        }
                                                    </td>
                                                    <td>@user.PointsEarned</td>
                                                    @if (Model.ShowVendorCodes)
                                                    {
                                                        <td>
                                                            @if (user.NeedsToAnswerVendorCodeQuestion)
                                                            {
                                                                @SharedLocalizer[GRA.Annotations.Interface.ChooseAnOption]
                                                                <button class="btn btn-info btn-sm btn-spinner"
                                                                        name="redeemButton"
                                                                        value="@user.Id"
                                                                        asp-action="HandleHouseholdDonation">
                                                                    <span class="buttonText">@SharedLocalizer[GRA.Annotations.Interface.RedeemYourCode]</span>
                                                                    <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                                                                </button>
                                                                @if (user.CanDonateVendorCode)
                                                                {
                                                                    <button class="btn btn-success btn-sm btn-spinner"
                                                                            name="donateButton"
                                                                            value="@user.Id"
                                                                            asp-action="HandleHouseholdDonation">
                                                                        <span class="buttonText">@SharedLocalizer[GRA.Annotations.Interface.DonateYourBook]</span>
                                                                        <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                                                                    </button>
                                                                }
                                                                @if (user.CanEmailAwardVendorCode)
                                                                {
                                                                    <a class="btn btn-warning btn-sm emailAwardButton"
                                                                       asp-action="@nameof(ProfileController.EmailAward)"
                                                                       asp-route-id="@user.Id"
                                                                       data-email="@user.Email"
                                                                       data-userid="@user.Id">
                                                                        <span class="buttonText">@SharedLocalizer[GRA.Annotations.Interface.ReceiveEAudiobook]</span>
                                                                    </a>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (!string.IsNullOrEmpty(user.VendorCodeUrl))
                                                                {
                                                                    <strong>
                                                                        <a aria-label="@user.VendorCode @SharedLocalizer[GRA.Annotations.Info.OpensNewWindow]"
                                                                           href="@user.VendorCodeUrl"
                                                                           target="_blank">
                                                                            @user.VendorCode
                                                                        </a>
                                                                    </strong>
                                                                }
                                                                else
                                                                {
                                                                    <strong>@user.VendorCode</strong>
                                                                }
                                                                if (!string.IsNullOrEmpty(user.VendorCodeMessage))
                                                                {
                                                                    <br />@Html.Raw(user.VendorCodeMessage)
                                                                }
                                                            }
                                                        </td>
                                                    }
                                                    @if (Model.AuthUserIsHead && Model.CanEditHousehold)
                                                    {
                                                        <td>
                                                            <a asp-action="@nameof(ProfileController.RemoveHouseholdMember)"
                                                               asp-route-id="@user.Id" class="btn btn-xs btn-danger"
                                                               title="Remove @user.FullName from this @Model.LocalizedHouseholdTitle">
                                                                <span class="fa fa-sign-out"></span>
                                                            </a>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        }
                    </div>
                </div>
                @if (Model.HouseholdCount > 0)
                {
                    <a href="#" class="btn btn-default pull-right">@SharedLocalizer[GRA.Annotations.Interface.ReturnToTop]</a>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.AuthUserIsHead)
{
    <div class="row">
        <div class="modal fade"
             id="dailyImageModal"
             style="text-align:center;"
             tabindex="-1" role="dialog"
             aria-labelledby="dailyImageModalLabel">
            <div id="dailyImageModalDialog"
                 class="modal-dialog"
                 style="display: inline-block;"
                 role="document">
                <div class="modal-content">
                    <button class="frame-close fa-stack fa-lg gra-close-stack gra-close-stack-absolute"
                          data-dismiss="modal"
                          alt="@SharedLocalizer[GRA.Annotations.Interface.Close]">
                        <span class="fas fa-circle fa-stack-2x fa-inverse"></span>
                        <span class="fas fa-times-circle fa-stack-1x fa-lg gra-close-times"></span>
                    </button>
                    <div style="padding: 25px;">
                        <img class="img img-responsive daily-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.ShowVendorCodes)
{
    <div class="row">
        <div class="modal fade"
             id="emailAwardModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="emailAwardLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form asp-action="@nameof(ProfileController.EmailAward)" method="post" role="form" style="display:inline">
                        <input asp-for="EmailAwardModel.UserId" type="hidden" />
                        <div class="modal-body">
                            <p>@Html.Raw(Model.Head.EmailAwardInstructions)</p>
                            <div class="row row-spacing">
                                <div class="col-xs-12">
                                    <label asp-for="EmailAwardModel.Email" class="control-label"></label>
                                    <input asp-for="EmailAwardModel.Email" class="form-control" />
                                    <span asp-validation-for="EmailAwardModel.Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">@SharedLocalizer[GRA.Annotations.Interface.Cancel]</button>
                            <button type="submit" class="btn btn-warning btn-spinner pull-right" aria-label="Confirm">
                                @SharedLocalizer[GRA.Annotations.Interface.Confirm]
                                <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade pendingModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="pendingModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close dialog">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br />
                @SharedLocalizer[GRA.Annotations.Validate.ParticipantQuestionnaire]
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var submitting = false;

        $(".user-mail").on("click", function () {
            var action = $(this).data("action");
            if (action == "") {
                window.open("@Url.Action(nameof(MailController.Index), MailController.Name)", "_blank");
            }
            else {
                $("#form").attr("action", action).submit();
            }
        });

        $("#checkAll").on("change", function (e) {
            if (e.originalEvent) {
                $(".userSelection").prop("checked", $(this).prop("checked"));
            }
        });

        $(".userSelection").on("change", function (e) {
            if (e.originalEvent) {
                if ($(".userSelection:not(:checked)").length) {
                    $("#checkAll").prop("checked", false);
                }
                else {
                    $("#checkAll").prop("checked", true);
                }
            }
        });

        $(".activityInput").on("keypress", function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                if (submitting != true) {
                    submitting = true;
                    $("#ActivityAmount").val($(this).val());
                    SetUserSelection();
                    $("#form").attr("action", $(this).data("action")).submit();
                }
            }
        });

        $(".codeInput").on("keypress", function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                if (submitting != true) {
                    submitting = true;
                    $("#SecretCode").val($(this).val());
                    SetUserSelection();
                    $("#form").attr("action", $(this).data("action")).submit();
                }
            }
        });

        $(".activityButton").on("click", function (e) {
            e.preventDefault();
            if (submitting != true) {
                submitting = true;
                $("#ActivityAmount").val($(this).parent().parent().find(".activityInput").val());
                SetUserSelection();
                $("#form").attr("action", $(this).data("action")).submit();
            }
        });

        $(".codeButton").on("click", function (e) {
            e.preventDefault();
            if (submitting != true) {
                submitting = true;
                $("#SecretCode").val($(this).parent().parent().find(".codeInput").val());
                SetUserSelection();
                $("#form").attr("action", $(this).data("action")).submit();
            }
        });

        function SetUserSelection() {
            var selectionArray = [];
            $(".userSelection:checked").each(function () {
                selectionArray.push($(this).data("id"));
            });
            $("#UserSelection").val(selectionArray);
        };

        $(".viewDailyImage").on("click", function () {
            var src = $(this).data("src");
            var isLarge = $(this).data("large");
            $(".daily-image").attr("src", src);
            if (isLarge) {
                $("#dailyImageModalDialog").addClass("modal-lg")
            }
            else {
                $("#dailyImageModalDialog").removeClass("modal-lg")
            }
            $("#dailyImageModal").modal().show();
        });

        $(".emailAwardButton").on("click", function (event) {
            event.preventDefault();
            var modal = $("#emailAwardModal");
            modal.find("#EmailAwardModel_Email").val($(this).data("email"));
            modal.find("#EmailAwardModel_UserId").val($(this).data("userid"));
            modal.modal();
        });
    </script>
}
