@model GRA.Controllers.ViewModel.Profile.HouseholdListViewModel

<div class="row">
    <div class="col-xs-12">
        <span class="h2">My Household</span>
    </div>
</div>

@Html.Partial("_ProfilePartial")

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Users.Count() == 0)
        {
            <div class="alert alert-warning">Click below to create a household</div>
            <a asp-action="AddHouseholdMember" class="btn btn-default">Add Household Member</a>
        }
        else
        {
            <form asp-controller="Profile" method="post" role="form">
                <div>
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Points Earned</th>
                                @if (Model.AuthUserIsHead)
                                {
                                    <th>UserName</th>
                                    <th>EmailAddress</th>
                                    <th>&nbsp;</th>
                                }
                            </tr>
                            <tr class="warning">
                                <td>
                                    @if (Model.ActiveUser == Model.Head.Id)
                                    {
                                        <span class="fa fa-user"></span>
                                    }
                                    <strong>@Model.Head.FullName</strong>
                                </td>
                                <td><strong>@Model.Head.PointsEarned</strong></td>
                                @if (Model.AuthUserIsHead)
                                {
                                    <td><strong>@Model.Head.Username</strong></td>
                                    <td><strong>@Model.Head.Email</strong></td>

                                    <td>
                                        @if (Model.ActiveUser != Model.Head.Id)
                                        {
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs"
                                                    asp-action="LoginAs"
                                                    asp-route-id="@Model.Head.Id">
                                                <span class="fa fa-sign-in"></span>
                                                Sign In As
                                            </button>
                                        }
                                        else
                                        {
                                            @:&nbsp;
                                        }
                                    </td>

                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr class="@(Model.ActiveUser == user.Id ? "info" : null)">
                                    <td>
                                        @if (Model.ActiveUser == user.Id)
                                        {
                                            <span class="fa fa-user"></span>
                                        }
                                        @user.FullName
                                    </td>
                                    <td>@user.PointsEarned</td>
                                    @if (Model.AuthUserIsHead)
                                    {
                                        <td>@user.Username</td>
                                        <td>@user.Email</td>

                                        <td>
                                            @if (Model.ActiveUser != user.Id)
                                            {
                                                <button type="submit"
                                                        class="btn btn-primary btn-xs"
                                                        asp-action="LoginAs"
                                                        asp-route-id="@user.Id">
                                                    <span class="fa fa-sign-in"></span>
                                                    Sign In As
                                                </button>
                                            }
                                            else
                                            {
                                                @:&nbsp;
                                            }
                                        </td>

                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
            @if (Model.AuthUserIsHead)
            {
                <a asp-action="AddHouseholdMember" class="btn btn-default">Add Household Member</a>
            }
        }
    </div>
</div>