@model GRA.Controllers.ViewModel.Profile.HouseholdRemoveViewModel

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="card ">
            <div class="card-header">
                <span class="lead">Remove @Model.MemberName from @Context.Items[GRA.Controllers.ItemKey.HouseholdTitle]</span>
            </div>
            <div class="card-body">

                <form asp-controller="Profile" asp-action="@nameof(ProfileController.RemoveHouseholdMember)" method="post" role="form">
                    <input asp-for="MemberId" type="hidden" />

                    <div class="row" style="padding: 10px 0;">
                        <div class="col-xs-12">
                            <div class="row row-spacing">
                                <div class="col-xs-12">
                                    @if (string.IsNullOrWhiteSpace(Model.MemberUsername))
                                    {
                                        @: Please provide a username and password to remove @Model.MemberName from the @Context.Items[GRA.Controllers.ItemKey.HouseholdTitle].
                                    }
                                    else
                                    {
                                        @: Are you sure you want to remove @Model.MemberName from the @Context.Items[GRA.Controllers.ItemKey.HouseholdTitle]?
                                    }
                                </div>
                            </div>
                            @if (string.IsNullOrWhiteSpace(Model.MemberUsername))
                            {
                                <div class="row row-spacing">
                                    <div class="col-xs-12">
                                        <label asp-for="Username" class="col-form-label"></label>
                                        <span id="Username-Icon" class="fas colored-icon hide"></span>
                                        <input asp-for="Username" class="form-control" autofocus />
                                        <span id="Username-Validation" asp-validation-for="Username" class="text-success"></span>
                                    </div>
                                </div>

                                <div class="row row-spacing">
                                    <div class="col-xs-12">
                                        <label asp-for="Password" class="col-form-label"></label>
                                        <input asp-for="Password" type="password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row row-spacing">
                                    <div class="col-xs-12">
                                        <label asp-for="ConfirmPassword" class="col-form-label"></label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="mb-3">
                        <a asp-action="Household" class="btn btn-secondary">Return to @Context.Items[GRA.Controllers.ItemKey.HouseholdTitle]</a>
                        <button type="submit"
                                id="Submit"
                                name="Submit"
                                value="Submit"
                                class="btn btn-primary btn-spinner"
                                button-spinner>
                            <span class="buttonText">Remove Member</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $("#Username").on("blur", function () {
            if ($(this).val().trim() != "" && !$(this).hasClass("input-validation-error")) {
                $(this).val($(this).val().trim());
                var usernameCheckUrl = "@Url.Action("UsernameInUse", "Lookup", new { Area = string.Empty })";
                var icon = $("#Username-Icon");
                icon.removeClass("hide fa-times fa-check");
                icon.addClass("fa-spinner fa-spin");
                $.post(usernameCheckUrl, { username: $(this).val() }, function (response) {
                    if (response) {
                        $("#Username").removeClass("valid");
                        $("#Username").addClass("input-validation-error");
                        $("#Username-Validation").removeClass("field-validation-valid");
                        $("#Username-Validation").addClass("field-validation-error");
                        $("#Username-Validation").text("Someone has already chosen that username.");
                        icon.removeClass("fa-spinner fa-spin");
                        icon.addClass("fa-times");
                    }
                    else {
                        $("#Username-Validation").removeClass("field-validation-valid");
                        $("#Username-Validation").text("The chosen username is available.");
                        icon.removeClass("fa-spinner fa-spin");
                        icon.addClass("fa-check");
                    }
                });
            }
        });

        $("#Username").on("keypress", function () {
            $("#Username-Icon").addClass("hide");
        });
    </script>
}
