@model GRA.Controllers.ViewModel.Profile.PrizeListViewModel

<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1">
        <div class="card">
            <div class="card-header">
                <span class="lead">@SharedLocalizer[GRA.Domain.Model.DisplayNames.MyProfile]</span>
            </div>
            <div class="card-body">

                @await Html.PartialAsync("_ProfilePartial")

                @if (Model.PrizeWinners.Count() > 0)
                {
                    <div class="alert alert-warning" style="margin: 1rem 0;">
                        <p>@SharedLocalizer[GRA.Annotations.Info.WhileSuppliesLast]</p>
                    </div>
                }

                <div class="row" style="padding: 1rem 0;">
                    <div class="col-12">
                        @if (Model.PrizeWinners.Count() == 0)
                        {
                            <div class="alert alert-warning">@SharedLocalizer[GRA.Annotations.Info.NoPrizes]</div>
                        }
                        else
                        {
                            <div>
                                <table class="table table-sm table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>@SharedLocalizer[GRA.Domain.Model.DisplayNames.Name]</th>
                                            <th>@SharedLocalizer[GRA.Annotations.Title.Participant]</th>
                                            <th>@SharedLocalizer[GRA.Domain.Model.DisplayNames.Location]</th>
                                            <th>@SharedLocalizer[GRA.Annotations.Interface.Status]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var prizeWinner in Model.PrizeWinners)
                                        {
                                            <tr class="@(!prizeWinner.RedeemedAt.HasValue ? "success" : "")">
                                                <td>@prizeWinner.PrizeName</td>
                                                <td>@prizeWinner.UserFirstName</td>
                                                <td>
                                                    @if (!string.IsNullOrWhiteSpace(prizeWinner.AvailableAtSystem))
                                                    {
                                                        @if (!string.IsNullOrWhiteSpace(prizeWinner.AvailableAtBranch) && !string.IsNullOrWhiteSpace(prizeWinner.AvailableAtBranchUrl))
                                                        {
                                                            @: @prizeWinner.AvailableAtSystem -
                                                            <a href="@prizeWinner.AvailableAtBranchUrl" target="_blank">
                                                                @prizeWinner.AvailableAtBranch
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            @Html.ActionLink(prizeWinner.AvailableAtSystem,
                                            "Index",
                                            "ParticipatingLibraries",
                                            null,
                                            null,
                                            fragment: Html.GenerateIdFromName(prizeWinner.AvailableAtSystem),
                                            null,
                                            null)
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="ParticipatingLibraries" asp-action="Index">
                                                            <span>@SharedLocalizer[GRA.Annotations.Info.AnyLibrary]</span>
                                                        </a>
                                                    }
                                                </td>
                                                <td>
                                                    @if (prizeWinner.RedeemedAt.HasValue)
                                                    {
                                                        @SharedLocalizer[GRA.Annotations.Info.PickedUp]
                                                    }
                                                    else
                                                    {
                                                        @SharedLocalizer[GRA.Annotations.Info.AvailableForPickup]
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (Model.PaginateModel.MaxPage > 1)
                            {
                                <paginate paginateModel="@Model.PaginateModel"></paginate>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

