@model GRA.Controllers.ViewModel.MissionControl.Dashboard.DashboardListViewModel

<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills my-4">
            <li class="nav-item">
                <a ActiveBy
                   routeKey="archived"
                   value=",false"
                   asp-action="Index"
                   class="nav-link">
                    Current and Upcoming
                </a>
            </li>
            <li class="nav-item">
                <a ActiveBy
                   routeKey="archived"
                   value="true"
                   asp-action="Index"
                   asp-route-archived="true"
                   class="nav-link">
                    Archived
                </a>
            </li>
            <a asp-controller="Dashboard"
               asp-action="Create"
               class="btn btn-outline-primary ms-auto">Add Dashboard Content</a>
        </ul>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
    </div>
</div>

<div class="row">
    <div class="col-12">
        @if (Model.DashboardContents.Count() == 0)
        {
            <div class="alert alert-warning">No Dashboard Content</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Start Time</th>
                            <th width="75">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.DashboardContents.Count(); i++)
                        {
                            <tr>
                                <td class="td-class @(i == 0 && Model.HighlightFirst ? "text-strong" : "")">
                                    <a asp-action="@nameof(DashboardController.Edit)"
                                       asp-route-id="@Model.DashboardContents[i].Id"
                                       class="rowlink">
                                        @Model.DashboardContents[i].StartTime
                                    </a>
                                </td>
                                <td class="on-top text-center">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@Model.DashboardContents[i].Id"
                                            data-time="@Model.DashboardContents[i].StartTime">
                                        <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="@DashboardController.Name"
                  asp-action="@nameof(DashboardController.Delete)"
                  method="post"
                  role="form">
                <input asp-for="DashboardContentId" type="hidden" />
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4"
                            id="deleteModalLabel">
                            Delete Dashboard Content
                        </h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="modal-body d-flex align-items-stretch">
                            <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                                  aria-hidden="true"></span>
                            <span id="modal-text"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-outline-danger"
                                aria-label="Confirm"
                                button-spinner>
                            <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(window).on("load", function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 8);
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 8);
            });
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let id = button.data("id");
            let time = button.data("time");
            let modal = $(this);
            modal.find("#modal-text").html("Are you sure you wish to delete the content starting at: <strong>" + time + "</strong>?");
            modal.find("#DashboardContentId").val(id);
        });
    </script>
}