@model GRA.Controllers.ViewModel.MissionControl.Dashboard.DashboardListViewModel

<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Archived" value=",false"><a asp-action="Index">Current and Upcoming</a></li>
            <li ActiveBy routeKey="Archived" value="True"><a asp-action="Index" asp-route-archived="true">Archived</a></li>
        </ul>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <a asp-controller="Dashboard" asp-action="Create" class="btn btn-secondary">Add Dashboard Content</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.DashboardContents.Count() == 0)
        {
            <div class="alert alert-warning">No Dashboard Content</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Start Time</th>
                            <th width="100">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(int i = 0; i < Model.DashboardContents.Count(); i++)
                        {
                            <tr class="@(i == 0 && Model.HighlightFirst ? "warning text-strong" : "")">
                                <td class="td-class">
                                    <a asp-action="Edit" asp-route-id="@Model.DashboardContents[i].Id" class="rowlink">
                                        @Model.DashboardContents[i].StartTime
                                    </a>
                                </td>
                                <td class="on-top">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            style="margin-left:16px;"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@Model.DashboardContents[i].Id"
                                            data-time="@Model.DashboardContents[i].StartTime">
                                        <span class="fas fa-2x fa-times fa-fw" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Dashboard"
                  asp-action="Delete"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="DashboardContentId" type="hidden" />
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4"
                            id="deleteModalLabel">
                            Delete Dashboard Content
                        </h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>

                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-danger btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(window).on("load", function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var time = button.data("time");
            var modal = $(this);
            modal.find("#modal-text").text("Are you sure you wish to delete the content starting at \"" + time + "\"?");
            modal.find("#DashboardContentId").val(id);
        });
    </script>
}