@model GRA.Controllers.ViewModel.MissionControl.Sites.SiteScheduleViewModel

@section styles {
    <style>
        .gra-preview-landings {
            display: inline-block;
            margin-left: 1rem;
        }
    </style>
}

@await Html.PartialAsync("_SitePartial")

<form asp-controller="Sites" asp-action="Schedule" method="post" role="form">
    <input asp-for="Id" type="hidden" />

    <div class="row row-spacing">
        <div class="col-12">
            <label class="col-form-label">Prior to Registration Opening</label>
            <em class="gra-preview-landings">
                Preview
                <a asp-area=""
                   asp-controller="Home"
                   asp-action="PreviewLanding"
                   asp-route-id="@nameof(GRA.Domain.Model.SiteStage.BeforeRegistration)"
                   target="_blank">Landing</a> /
                <a asp-area=""
                   asp-controller="Home"
                   asp-action="PreviewExit"
                   asp-route-id="@nameof(GRA.Domain.Model.SiteStage.BeforeRegistration)"
                   target="_blank">Exit</a>
            </em>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="RegistrationOpens" class="col-form-label"></label>
            <em class="gra-preview-landings">
                Preview
                <a asp-area=""
                   asp-controller="Home"
                   asp-action="PreviewLanding"
                   asp-route-id="@nameof(GRA.Domain.Model.SiteStage.RegistrationOpen)"
                   target="_blank">Landing</a> /
                <a asp-area=""
                   asp-controller="Home"
                   asp-action="PreviewExit"
                   asp-route-id="@nameof(GRA.Domain.Model.SiteStage.RegistrationOpen)"
                   target="_blank">Exit</a>
            </em>
            <div class="mb-3">
                <div class="input-group td-picker-datetime"
                     id="registrationOpensPicker"
                     data-current-value="@Model.RegistrationOpens?.ToString("o", System.Globalization.CultureInfo.InvariantCulture)"
                     data-td-target-input="nearest"
                     data-td-target-toggle="nearest">
                    <input asp-for="RegistrationOpens"
                           type="text"
                           class="form-control"
                           data-td-target="#registrationOpensPicker" />
                    <span class="input-group-text"
                          data-td-target="#registrationOpensPicker"
                          data-td-toggle="datetimepicker">
                        <span class="far fa-calendar"></span>
                    </span>
                </div>
            </div>
            <span asp-validation-for="RegistrationOpens" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="ProgramStarts" class="col-form-label"></label>
            <em class="gra-preview-landings">
                Preview
                <a asp-area=""
                   asp-controller="Home"
                   asp-action="PreviewLanding"
                   asp-route-id="@nameof(GRA.Domain.Model.SiteStage.ProgramOpen)"
                   target="_blank">Landing</a> /
                <a asp-area=""
                   asp-controller="Home"
                   asp-action="PreviewExit"
                   asp-route-id="@nameof(GRA.Domain.Model.SiteStage.ProgramOpen)"
                   target="_blank">Exit</a>
            </em>
            <div class="mb-3 date">
                @* timepicker *@
                <input asp-for="ProgramStarts" type="datetime-local" class="form-control" />
            </div>
            <span asp-validation-for="ProgramStarts" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="ProgramEnds" class="col-form-label"></label>
            <em class="gra-preview-landings">
                Preview
                <a asp-area=""
                   asp-controller="Home"
                   asp-action="PreviewLanding"
                   asp-route-id="@nameof(GRA.Domain.Model.SiteStage.ProgramEnded)"
                   target="_blank">Landing</a> /
                <a asp-area=""
                   asp-controller="Home"
                   asp-action="PreviewExit"
                   asp-route-id="@nameof(GRA.Domain.Model.SiteStage.ProgramEnded)"
                   target="_blank">Exit</a>
            </em>
            <div class="input-group date">
                @* timepicker *@
                <input asp-for="ProgramEnds" type="datetime-local" class="form-control" />
            </div>
            <span asp-validation-for="ProgramEnds" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-12">
            <label asp-for="AccessClosed" class="col-form-label"></label>
            <em class="gra-preview-landings">
                Preview
                <a asp-area=""
                   asp-controller="Home"
                   asp-action="PreviewLanding"
                   asp-route-id="@nameof(GRA.Domain.Model.SiteStage.AccessClosed)"
                   target="_blank">Landing</a> /
                <a asp-area=""
                   asp-controller="Home"
                   asp-action="PreviewExit"
                   asp-route-id="@nameof(GRA.Domain.Model.SiteStage.AccessClosed)"
                   target="_blank">Exit</a>
            </em>
            <div class="mb-3">
                <input asp-for="AccessClosed" type="datetime-local" class="form-control" />
            </div>
            <span asp-validation-for="AccessClosed" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <a asp-action="Index" class="btn btn-outline-secondary">Return to List</a>
        <button type="submit"
                id="Submit"
                name="Submit"
                value="Submit"
                class="btn btn-outline-primary btn-spinner"
                button-spinner>
            <span class="buttonText">Save</span>
        </button>
    </div>
</form>
@section scripts {
    <script>
        var datetimePickers = document.querySelectorAll(".td-picker-datetime");
        for(let i = 0; i < datetimePickers.length; i++) {
            let currentValue = new Date(datetimePickers[i].dataset.currentValue);
            if(isNaN(currentValue)) {
                currentValue = undefined;
            }
            new tempusDominus.TempusDominus(datetimePickers[i],
            {
                allowInputToggle: true,
                defaultDate: currentValue,
                display: {
                    buttons: {
                        close: true,
                        today: true,
                    },
                    icons: {
                        type: 'icons',
                        time: 'fas fa-clock',
                        date: 'fas fa-calendar',
                        up: 'fas fa-arrow-up',
                        down: 'fas fa-arrow-down',
                        previous: 'fas fa-chevron-left',
                        next: 'fas fa-chevron-right',
                        today: 'fas fa-calendar-check',
                        clear: 'fas fa-trash',
                        close: 'fas fa-xmark'
                    },
                    sideBySide: true
                },
                useCurrent: false,
            });
        }
    </script>
}