@model GRA.Controllers.ViewModel.MissionControl.Sites.SiteSettingsViewModel

@await Html.PartialAsync("_SitePartial")

<div asp-validation-summary="ModelOnly"></div>
<form asp-controller="Sites" asp-action="Settings" method="post" role="form">
    <input asp-for="Id" type="hidden" />

    @for (int i = 0; i < Model.SiteSettingGroups.Count; i++)
    {
        <a name="@Model.SiteSettingGroups[i].Name"></a><h2>@Model.SiteSettingGroups[i].Name</h2>

        @for (int j = 0; j < Model.SiteSettingGroups[i].SettingInformations.Count; j++)
        {
            <input asp-for="SiteSettingGroups[i].SettingInformations[j].SiteSetting.Key" value="@Model.SiteSettingGroups[i].SettingInformations[j].Key" type="hidden" />

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="SiteSettingGroups[i].SettingInformations[j].SiteSetting.Value">@Model.SiteSettingGroups[i].SettingInformations[j].Definition.Name</label>
                    <span class="far fa-question-circle wide-tooltip" title="@Model.SiteSettingGroups[i].SettingInformations[j].Definition.Info" data-toggle="tooltip" data-placement="top"></span>
                    @if (Model.SiteSettingGroups[i].SettingInformations[j].Definition.Format == GRA.Domain.Model.SiteSettingFormat.Boolean)
                    {
                        <select asp-for="SiteSettingGroups[i].SettingInformations[j].SiteSetting.Value" class="form-control">
                            <option></option>
                            <option value="True">Yes</option>
                        </select>
                    }
                    else if (Model.SiteSettingGroups[i].SettingInformations[j].Definition.Format == GRA.Domain.Model.SiteSettingFormat.Integer)
                    {
                        <input asp-for="SiteSettingGroups[i].SettingInformations[j].SiteSetting.Value" type="number" class="form-control" />
                    }
                    else if (Model.SiteSettingGroups[i].SettingInformations[j].Definition.Format == GRA.Domain.Model.SiteSettingFormat.String ||
                    Model.SiteSettingGroups[i].SettingInformations[j].Definition.Format == GRA.Domain.Model.SiteSettingFormat.IntegerCsv)
                    {
                        <input asp-for="SiteSettingGroups[i].SettingInformations[j].SiteSetting.Value" type="text" class="form-control" />
                    }
                    <span asp-validation-for="SiteSettingGroups[i].SettingInformations[j].SiteSetting.Value" class="text-danger"></span>
                </div>
            </div>
        }
        <hr />
    }

    <div class="mb-3">
        <a asp-action="Index" class="btn btn-secondary">Return to List</a>
        <button type="submit"
                id="Submit"
                name="Submit"
                value="Submit"
                class="btn btn-primary btn-spinner"
                button-spinner>
            <span class="buttonText">Save</span>
        </button>
    </div>
</form>