@model GRA.Controllers.ViewModel.MissionControl.Programs.ProgramDetailViewModel

<form asp-action="@Model.Action" method="post" role="form" enctype="multipart/form-data" style="padding-top:10px;">
    <input asp-for="Action" type="hidden" />
    <input asp-for="BadgeMakerImage" type="hidden" />
    <input asp-for="BadgeMakerUrl" type="hidden" />
    <input asp-for="UseBadgeMaker" type="hidden" />
    @if (Model.Action == nameof(ProgramsController.Edit))
    {
        <input asp-for="Program.Id" type="hidden" />
        <input asp-for="Program.JoinBadgeId" type="hidden" />
    }

    <div class="row">
        <div class="col-12">

            <div class="mb-3">
                <label asp-for="Program.Name" class="col-form-label"></label>
                <input asp-for="Program.Name" class="form-control" />
                <span asp-validation-for="Program.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Program.AchieverPointAmount" class="col-form-label"></label>
                <input asp-for="Program.AchieverPointAmount" class="form-control" />
                <span asp-validation-for="Program.AchieverPointAmount" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="col-form-label" asp-for="Program.DashboardAlert"></label>
                <span class="fas fa-info-circle wide-tooltip"
                      title="Display this text in a banner at the top of the participant dashboard. Only text, no HTML/links."
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"></span>
                <button type="button" class="btn btn-sm btn-secondary" id="previewAlertButton" data-bs-toggle="modal" data-bs-target="#previewAlertModal" style="margin-bottom: 0.25rem; margin-left: 0.5rem;">Preview alert</button>
                <select asp-for="Program.DashboardAlertType" asp-items="Html.GetEnumSelectList<GRA.Domain.Model.AlertType>()" class="form-control" style="margin-bottom: 1rem;"></select>
                <textarea asp-for="Program.DashboardAlert" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label class="col-form-label">Ask Age</label>
                <select asp-for="AgeValues" class="form-control">
                    <option value="0">Don't Ask</option>
                    <option value="1">Ask</option>
                    <option value="2">Ask (Required)</option>
                </select>
                <span asp-validation-for="AgeValues" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="col-form-label">Ask School</label>
                <select asp-for="SchoolValues" class="form-control">
                    <option value="0">Don't Ask</option>
                    <option value="1">Ask</option>
                    <option value="2">Ask (Required)</option>
                </select>
                <span asp-validation-for="SchoolValues" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label asp-for="Program.AgeMinimum" class="col-form-label">Minimum Age?</label>
                        <input asp-for="Program.AgeMinimum" class="form-control" />
                        <span asp-validation-for="Program.AgeMinimum" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-6">
                    <div class="mb-3">
                        <label asp-for="Program.AgeMaximum" class="col-form-label">Maximum Age?</label>
                        <input asp-for="Program.AgeMaximum" class="form-control" />
                        <span asp-validation-for="Program.AgeMaximum" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Program.PointTranslationId" class="col-form-label"></label>
                <select asp-for="Program.PointTranslationId" asp-items="Model.PointTranslationList" class="form-control" disabled="@(Model.PointTranslationList.Count() == 0 ? "disabled" : null)"></select>
                <span asp-validation-for="Program.PointTranslationId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Program.DailyLiteracyTipId" class="col-form-label"></label>
                <select asp-for="Program.DailyLiteracyTipId" asp-items="Model.DailyLiteracyTipList" class="form-control" disabled="@(Model.DailyLiteracyTipList.Count() == 0 ? "disabled" : null)">
                    <option></option>
                </select>
                <span asp-validation-for="Program.DailyLiteracyTipId" class="text-danger"></span>
            </div>

            <div class="row row-spacing">
                <div class="col-12 col-sm-4 col-md-3">
                    @if (!string.IsNullOrWhiteSpace(Model.BadgePath))
                    {
                        <label class="col-form-label">Edit sign-up badge</label>
                    }
                    else
                    {
                        <label class="col-form-label">Add a sign-up badge</label>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.BadgePath))
                    {
                        <input asp-for="BadgePath" type="hidden" />
                        <img id="badgeImage" class="img-thumbnail badge-lg"
                         src="~/@Model.BadgePath?@DateTime.Now.ToString("yyMMddHHmmss")"
                         asp-append-version="true" />
                    }
                    else
                    {
                        <img id="badgeImage" class="img-thumbnail badge-lg" src="@Model.BadgeMakerImage" style="height:210px;" />
                    }
                    <span asp-validation-for="BadgePath" class="text-danger" style="display:block;"></span>
                </div>

                <div class="col-12 col-sm-8 col-md-9">
                    <div class="mb-3">
                        <label asp-for="Program.JoinBadgeName" class="col-form-label"></label>
                        <input asp-for="Program.JoinBadgeName" class="form-control" />
                        <span asp-validation-for="Program.JoinBadgeName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-sm-8 col-md-9 float-end">
                    <ul class="nav nav-tabs" role="tablist">
                        @if (Model.UseBadgeMaker)
                        {
                            <li role="presentation" class=@(Model.UseBadgeMaker ? "active" : "")>
                                <a id="badgeTab" href="#badge" aria-controls="badge" role="tab" data-bs-toggle="tab">Badge Maker</a>
                            </li>
                        }
                        <li role="presentation" class=@(Model.UseBadgeMaker ? "" : "active")>
                            <a id="uploadTab" href="#upload" aria-controls="upload" role="tab" data-bs-toggle="tab">Upload an Image</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane gra-tab-pane @(Model.UseBadgeMaker ? "active" : "")" id="badge">
                            <button id="openMaker" type="button" class="btn btn-secondary">
                                <span class="fas fa-certificate"></span> Create a Badge
                            </button>
                        </div>

                        <div role="tabpanel" class="tab-pane gra-tab-pane @(Model.UseBadgeMaker ? "" : "active")" id="upload">
                            <p>Upload a badge image. Badge images must be square.</p>
                            <div class="input-group">
                                <label class="input-group-append">
                                    <span class="btn btn-secondary btn-file">
                                        <span class="far fa-file-image"></span> Select an image<input type="file" asp-for="BadgeUploadImage" accept=".png,.jpg,.jpeg" style="display: none;" />
                                    </span>
                                </label>
                                <input type="text" class="form-control" readonly id="selectedFile">
                            </div>
                            <div>
                                <span asp-validation-for="BadgeUploadImage" class="text-danger"></span>
                            </div>
                            <button id="clearFile" class="btn btn-secondary" type="button" style="margin-top: 0.5em;"><span class="fas fa-ban"></span> Clear file selection</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-12">
                    <label asp-for="BadgeAltText" class="col-form-label"></label>
                    <span class="fas fa-info-circle wide-tooltip"
                          title="How should this badge be described to someone who can't see it?"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"></span>
                    <textarea asp-for="BadgeAltText" class="form-control">
                        @Model.BadgeAltText
                    </textarea>
                    <span asp-validation-for="BadgeAltText" class="text-danger"></span>
                </div>
            </div>
            <hr />

            <div class="mb-3">
                <a asp-action="Index" class="btn btn-secondary">Return to List</a>
                <button type="submit"
                        id="Submit"
                        name="Submit"
                        value="Submit"
                        class="btn btn-primary btn-spinner"
                        button-spinner>
                    <span class="buttonText">Save Program</span>
                </button>
            </div>

        </div>
    </div>
</form>

<div class="row">
    <div class="modal fade frame-modal"
         id="badgeModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="badgeModalLabel">
        <div class="modal-content">
            <div class="modal-body" style="padding: 30px;">
                <span class="close frame-close fa-stack fa-lg gra-close-stack gra-close-stack-absolute"
                      data-bs-dismiss="modal"
                      alt="Close dialog."
                      role="button">
                    <span class="fas fa-circle fa-stack-2x fa-inverse"></span>
                    <span class="fas fa-times-circle fa-stack-1x fa-lg gra-close-times"></span>
                </span>
                <iframe id="badgeMaker" class="badge-maker"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="previewAlertModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">Preview alert</h4>
            </div>
            <div class="modal-body">
                <div class="alert" id="alertPreview"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var alertPreviewButtonEnabled = true;

        $(':file').on('fileselect', function (event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles = ' files selected' : label;

            if (input.length) {
                input.val(log);
                $('.btn-file').removeClass('btn-secondary');
                $('.btn-file').addClass('btn-success');
                $("#badgeImage").removeAttr("src");
                $("#badgeImage").height(200);
                $("#BadgeMakerImage").val("");
            }
            else {
                input.val('');
                $('.btn-file').addClass('btn-secondary');
                $('.btn-file').removeClass('btn-success');
            }
        });

        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $("#badgeTab").on('show.bs.tab', function () {
            $("#UseBadgeMaker").val("true");
        });

        $("#uploadTab").on('show.bs.tab', function () {
            $("#UseBadgeMaker").val("false");
        });

        $("#openMaker").on("click", function () {
            $("#badgeMaker").attr("src", "@Html.Raw(@Model.BadgeMakerUrl)");
            $("#badgeModal").modal("show");
        });

        $('#clearFile').on("click", function () {
            $('#BadgeUploadImage').val('');
            $('.btn-file').addClass('btn-secondary');
            $('.btn-file').removeClass('btn-success');
            $('#selectedFile').val('');
        });

        $(window).on("message", function (e) {
            $("#badgeModal").modal("hide");
            var data = e.originalEvent.data;
            $("#badgeImage").attr("src", data);
            $("#badgeImage").height(200);
            $("#BadgeMakerImage").val(data);
            $('#BadgeUploadImage').val('');
            $('.btn-file').addClass('btn-secondary');
            $('.btn-file').removeClass('btn-success');
            $('#selectedFile').val('');
        });

        $('#previewAlertModal').on('show.bs.modal', function (e) {
            $('#alertPreview').removeClass('alert-info');
            $('#alertPreview').removeClass('alert-success');
            $('#alertPreview').removeClass('alert-warning');
            $('#alertPreview').removeClass('alert-danger');
            let selectedType = $('#Program_DashboardAlertType option:selected').text().toLowerCase();
            $('#alertPreview').addClass('alert-' + selectedType);
            $('#alertPreview').text($('#Program_DashboardAlert').val());
        });

        function fixDashboardPreviewButton() {
            let length = $('#Program_DashboardAlert').val().length;
            if (length == 0) {
                alertPreviewButtonEnabled = false;
                $('#previewAlertButton').prop('disabled', true);
            } else if (!alertPreviewButtonEnabled) {
                alertPreviewButtonEnabled = true;
                $('#previewAlertButton').prop('disabled', false);
            }
        }

        $('#Program_DashboardAlert').on('input', fixDashboardPreviewButton);

        $().ready(function () {
            fixDashboardPreviewButton();
        });
    </script>
}