@model GRA.Controllers.ViewModel.MissionControl.Programs.PointTranslationDetailViewModel

<form asp-action="@Model.Action" method="post" role="form" style="padding-top:10px;">
    <input asp-for="PointTranslation.Id" type="hidden" />
    <input asp-for="Action" type="hidden" />
    <input asp-for="HasBeenUsed" type="hidden" />

    <div class="row">
        <div class="col-12">

            <div class="mb-3">
                <label asp-for="PointTranslation.TranslationName" class="col-form-label"></label>
                <input asp-for="PointTranslation.TranslationName" class="form-control" />
                <span asp-validation-for="PointTranslation.TranslationName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PointTranslation.IsSingleEvent" class="col-form-label"></label>
                <select asp-for="PointTranslation.IsSingleEvent" class="form-control" disabled="@(Model.HasBeenUsed ? "readonly" : null)">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <span asp-validation-for="PointTranslation.IsSingleEvent" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="mb-3">
                        <label asp-for="PointTranslation.PointsEarned" class="col-form-label"></label>
                        <input asp-for="PointTranslation.PointsEarned" class="form-control" disabled="@(Model.HasBeenUsed ? "readonly" : null)" />
                        <span asp-validation-for="PointTranslation.PointsEarned" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="mb-3">
                        <label asp-for="PointTranslation.ActivityAmount" class="col-form-label"></label>
                        <input asp-for="PointTranslation.ActivityAmount" class="form-control" disabled="@(Model.HasBeenUsed ? "readonly" : null)" />
                        <span asp-validation-for="PointTranslation.ActivityAmount" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="mb-3">
                        <label asp-for="PointTranslation.ActivityDescription" class="col-form-label"></label>
                        <input asp-for="PointTranslation.ActivityDescription" class="form-control" />
                        <span asp-validation-for="PointTranslation.ActivityDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="mb-3">
                        <label asp-for="PointTranslation.ActivityDescriptionPlural" class="col-form-label"></label>
                        <input asp-for="PointTranslation.ActivityDescriptionPlural" class="form-control" />
                        <span asp-validation-for="PointTranslation.ActivityDescriptionPlural" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="mb-3">
                        <label asp-for="PointTranslation.TranslationDescriptionPastTense" class="col-form-label"></label>
                        <input asp-for="PointTranslation.TranslationDescriptionPastTense" class="form-control" />
                        <span asp-validation-for="PointTranslation.TranslationDescriptionPastTense" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="mb-3">
                        <label asp-for="PointTranslation.TranslationDescriptionPresentTense" class="col-form-label"></label>
                        <input asp-for="PointTranslation.TranslationDescriptionPresentTense" class="form-control" />
                        <span asp-validation-for="PointTranslation.TranslationDescriptionPresentTense" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <a asp-action="@nameof(ProgramsController.PointTranslations)" class="btn btn-secondary">Return to List</a>
                <button type="submit"
                        id="Submit"
                        name="Submit"
                        value="Submit"
                        class="btn btn-primary btn-spinner"
                        button-spinner>
                    <span class="buttonText">Save Point Translation</span>
                </button>
            </div>

        </div>
    </div>
</form>