@model GRA.Controllers.ViewModel.MissionControl.Avatar.BundlesDetailViewModel
@using GRA.Controllers.MissionControl

@section inHeading {
    <a asp-action="@nameof(AvatarsController.Bundles)"
       class="btn btn-outline-secondary ms-auto d-print-none">Return to List</a>
}

<form asp-controller="Avatars" asp-action="@($"Bundle{Model.Action}")" method="post" role="form">
    <input asp-for="Action" type="hidden" />
    <input asp-for="ItemsList" type="hidden" />
    @if (Model.Action == "Edit")
    {
        <input asp-for="Bundle.Id" type="hidden" />
    }

    @if (Model.TriggersAwardingBundle?.Count > 0)
    {
        <div class="list-group pt-4"
             id="accordionTriggers"
             role="tablist"
             aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingTriggers">
                    <h4 class="card-title">
                        <a role="button"
                           data-bs-toggle="collapse"
                           data-bs-parent="#accordionTriggers"
                           href="#collapseTriggers"
                           aria-expanded="false"
                           aria-controls="collapseTriggers">
                            Triggers Awarding Bundle
                        </a>
                    </h4>
                </div>
                <div id="collapseTriggers"
                     class="card-collapse collapse"
                     role="tabpanel"
                     aria-labelledby="headingTriggers">
                    <div class="card-body">
                        The following trigger(s) award this bundle:
                        <ul>
                            @foreach (var trigger in Model.TriggersAwardingBundle)
                            {
                                <li>
                                    <a target="_blank"
                                       href="@Url.Action("Edit", "Triggers", new { id = trigger.Id })"> @trigger.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.Bundle?.HasBeenAwarded == true)
    {
        <div class="row pt-4">
            <div class="col-12 fs-4">
                This bundle has been awarded to a participant and can no longer be edited.
            </div>
        </div>
    }

    <div class="row py-2">
        <div class="col-12">
            <label asp-for="Bundle.Name" class="col-form-label"></label>
            <input asp-for="Bundle.Name"
                   class="form-control"
                   disabled="@(Model.Bundle?.HasBeenAwarded == true ? "disabled" : null)" />
            <span asp-validation-for="Bundle.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <label asp-for="Bundle.CanBeUnlocked" class="col-form-label">Bundle Type</label>
            <select asp-for="Bundle.CanBeUnlocked"
                    class="form-select"
                    disabled="@(Model.Action == "Edit" ? "disabled" : null)">
                <option value="True">Unlockable</option>
                <option value="False">Default</option>
            </select>
            <span asp-validation-for="Bundle.CanBeUnlocked" class="text-danger"></span>
        </div>
    </div>

    <div class="mt-2">
        <div class="card">
            <div class="card-header bg-warning-subtle">
                <h3 class="card-title">Items</h3>
            </div>
            <div class="card-body">
                <span asp-validation-for="ItemsList" class="text-danger"></span>
                <div>
                    <table class="table table-sm table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th width="100px">Thumbnail</th>
                                @if (Model.Bundle?.HasBeenAwarded != true)
                                {
                                    <th width="44px">&nbsp;</th>
                                }
                            </tr>
                        </thead>
                        <tbody id="itemList">
                            <tr id="noItems"
                                class="@(Model.Bundle?.AvatarItems?.Count > 0 ? "d-none" : "")">
                                <td colspan="4"><em>No items</em></td>
                            </tr>
                            @if (Model.Bundle?.AvatarItems?.Count > 0)
                            {
                                foreach (var item in Model.Bundle.AvatarItems)
                                {
                                    <tr class="itemRow">
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrWhiteSpace(item.Thumbnail))
                                            {
                                                <img class="img-thumbnail badge-xs"
                                                     src="~/@item.Thumbnail?@DateTime.Now.ToString("yyMMddHHmmss")"
                                                     asp-append-version="true" />
                                            }
                                            else
                                            {
                                                <text>&nbsp;</text>
                                            }
                                        </td>
                                        @if (Model.Bundle?.HasBeenAwarded != true)
                                        {
                                            <td class="align-middle">
                                                <button type="button"
                                                        class="btn btn-outline-danger btn-sm removeItemButton"
                                                        data-itemid="@item.Id">
                                                    <span class="fas fa-times fa-fw"
                                                          aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model.Bundle?.HasBeenAwarded != true)
                {
                    <button type="button"
                            id="addButton"
                            class="btn btn-outline-primary">
                        Add Item
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="my-4 d-flex justify-content-end">
        @if (Model.Bundle?.HasBeenAwarded != true)
        {
            <button type="submit" class="btn btn-outline-primary" button-spinner>
                <span class="buttonText">@(Model.Action == "Edit" ? "Save" : Model.Action) Bundle</span>
            </button>
        }
    </div>
</form>

@if (Model.Bundle?.HasBeenAwarded != true)
{
    <div class="row">
        <div class="modal fade"
             id="listModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="listModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div action="modal-title">Add item</div>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col-12">
                                <select id="layerId"
                                        asp-items="Model.Layers"
                                        class="form-select">
                                    <option value="">All Layers</option>
                                </select>
                            </div>
                        </div>
                        <form onsubmit="return false;">
                            <div class="row my-3">
                                <div class="col-12 input-group">
                                    <input id="searchText"
                                           class="form-control"
                                           placeholder="Search for avatar elements" />
                                    <button type="button"
                                            id="clearButton"
                                            class="btn btn-outline-secondary">
                                        Clear
                                    </button>
                                    <button type="submit"
                                            id="searchButton"
                                            class="btn btn-outline-primary">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div id="searchMessage" class="row d-none">
                            <div class="col-12">
                                <p class="alert alert-info py-2 px-3">
                                    Searching for <strong id="searchTerm"></strong>:
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div id="modalItemList" class="col-12"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Close
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section scripts
{
    <script>
        var itemIds = $("#ItemsList").val().split(',').filter(function (x) { return x }).map(Number);
        var itemsUrl = "@Url.Action(nameof(AvatarsController.GetItemsList), AvatarsController.Name)";
        var page = 1;
        var search = "";

        $("#Bundle_CanBeUnlocked").on("change", function () {
            itemIds = [];
            $(".itemRow").remove();
            $("#noItems").removeClass("d-none");
        });

        function UpdateItemsList() {
            $.get(itemsUrl,
                {
                    itemIds: itemIds.join(','),
                    search: search,
                    layerId: $("#layerId").val(),
                    canBeUnlocked: $("#Bundle_CanBeUnlocked").val(),
                    page: page
                }, function (response) {
                    $("#modalItemList").html(response);
                });
        }

        $("#addButton").on('click', function (e) {
            $("#listModal").modal("show");
            UpdateItemsList();
        });

        $(document).on("click", ".addItemButton", function () {
            if (!$(this).hasClass("disabled")) {
                itemIds.push($(this).data("itemid"));
                $("#ItemsList").val(itemIds.join(','));

                $("#noItems").addClass("d-none");

                let row = $(this).parent().parent().clone();
                let addedItem = row.find(".addItemButton");
                addedItem.removeClass("addItemButton btn-outline-success")
                addedItem.addClass("removeItemButton btn-outline-danger")
                addedItem.children().removeClass("fa-plus");
                addedItem.children().addClass("fa-times");
                $("#itemList").append(row);
                $(".addItemButton").addClass("disabled");
                UpdateItemsList();
            }
        });

        $(document).on("click", ".removeItemButton", function () {
            itemIds.splice(itemIds.indexOf($(this).data("itemid")), 1);
            $("#ItemsList").val(itemIds.join(','));
            $(this).parent().parent().remove();
            if (itemIds.length == 0) {
                $("#noItems").removeClass("d-none");
            }
        });

        $("#layerId").on("change", function () {
            page = 1;
            UpdateItemsList();

        })

        $("#searchButton").on("click", function () {
            search = $("#searchText").val();
            if (search != "") {
                $("#searchMessage").removeClass("d-none");
                $("#searchTerm").html(search);
            }
            else {
                $("#searchMessage").addClass("d-none");
            }
            page = 1;
            UpdateItemsList();
        })

        $("#clearButton").on("click", function () {
            $("#searchText").val("");
            search = "";
            $("#searchMessage").addClass("d-none");
            page = 1;
            UpdateItemsList();
        })

        $(document).on("click", ".page-button", function () {
            if (!$(this).hasClass("disabled")) {
                page = $(this).data("page");
                UpdateItemsList();
            }
        });
    </script>
}