@model GRA.Controllers.ViewModel.MissionControl.Avatar.AvatarIndexViewModel

@section inHeading {
    <div class="ms-auto">
        <a asp-action="@nameof(AvatarsController.ItemTexts)"
           class="btn btn-outline-primary">ALT Text</a>
        <a asp-action="@nameof(AvatarsController.Bundles)"
           class="btn btn-outline-primary">Bundles</a>
        <a asp-action="@nameof(AvatarsController.Transfers)"
           class="btn btn-outline-primary">Transfers</a>
    </div>
}

<div class="row my-4">
    <div class="col-12">
        <table class="table table-sm table-bordered link-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Available Items</th>
                    <th>Unavailable Items</th>
                    <th>Unlockable Items</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var layer in Model.Layers)
                {
                    <tr>
                        <td class="td-class">
                            <a asp-action="Layer"
                               asp-route-id="@layer.Id"
                               class="rowlink">
                                <img src="~/@layer.Icon"
                                     style="height: 32px; width: auto;" />
                                @layer.Name
                            </a>
                        </td>
                        <td>@layer.AvailableItems</td>
                        <td>@layer.UnavailableItems</td>
                        <td>@layer.UnlockableItems</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script>
        $(window).on("load", function () {
            $('.td-class').each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });
    </script>
}