@model GRA.Controllers.ViewModel.MissionControl.Avatar.AvatarIndexViewModel

@{
    var invalid = Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;
}

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Layers.Count() == 0)
        {
            <div class="alert alert-warning">
                <span class="fa fa-ban"></span>
                Avatars have not been configured. Set up the default avatars or upload an avatar .zip file.
            </div>
            @if (Model.AvatarZipPresent)
            {
                <form asp-action="@nameof(AvatarsController.SetupAvatarZip)"
                      method="post"
                      style="padding: 1em 0;">
                    <button type="submit" class="btn btn-primary btn-spinner">
                        Import avatars.zip
                        <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                    </button>
                </form>
            }
            else if (Model.DefaultAvatarsPresent)
            {
                <form asp-action="@nameof(AvatarsController.SetupDefaultAvatars)"
                      method="post"
                      style="padding: 1em 0;">
                    <button type="submit" class="btn btn-primary btn-spinner">
                        Add default avatars
                        <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                    </button>
                </form>
            }
            <form asp-action="@nameof(AvatarsController.SetupAvatars)"
                  method="post"
                  enctype="multipart/form-data">
                <div class="row row-spacing">
                    <div class="col-xs-12">
                        <label for="selectedFile">Select an avatar .zip file:</label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    <span class="fa fa-file-image-o"></span>
                                    Select an avatar .zip file
                                    <input type="file"
                                           asp-for="UploadedFile"
                                           class="form-control"
                                           accept=".zip"
                                           style="display: none;" />
                                </span>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   readonly
                                   id="selectedFile"
                                   @(ViewData.ModelState.GetValidationState("UploadedFile") == invalid ? "input-validation-error" : "")>
                        </div>
                        <span asp-validation-for="UploadedFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="row-spacing">
                    <button class="btn btn-primary btn-spinner" type="submit">
                        <span class="fas fa-file-upload"></span>
                        Upload
                        <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                    </button>
                </div>
            </form>
        }
        else
        {
            <div>
                <table class="table table-condensed table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Available Items</th>
                            <th>Unavailable Items</th>
                            <th>Unlockable Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var layer in Model.Layers)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="Layer"
                                       asp-route-id="@layer.Id"
                                       class="rowlink">
                                        <img src="~/@layer.Icon"
                                             style="height: 32px; width: auto;" />
                                        @layer.Name
                                    </a>
                                </td>
                                <td>@layer.AvailableItems</td>
                                <td>@layer.UnavailableItems</td>
                                <td>@layer.UnlockableItems</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(window).on("load", function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(':file').on('fileselect', function (event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles = ' files selected' : label;

            if (input.length) {
                input.val(log);
                $('.btn-file').removeClass('btn-default');
                $('.btn-file').addClass('btn-success');
                $("#badgeImage").removeAttr("src");
                $("#badgeImage").height(200);
                $("#BadgeMakerImage").val("");
            }
            else {
                input.val('');
                $('.btn-file').addClass('btn-default');
                $('.btn-file').removeClass('btn-success');
            }
        });
        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });
    </script>
}