@model GRA.Controllers.ViewModel.MissionControl.Avatar.ItemsListViewModel

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li class="@(!Model.Available && !Model.Unavailable && !Model.Unlockable ? "active" : null)"><a asp-route-search="@Model.Search">All</a></li>
            <li class="@(Model.Available ? "active" : null)"><a asp-route-search="@Model.Search" asp-route-available="True">Available</a></li>
            <li class="@(Model.Unavailable ? "active" : null)"><a asp-route-search="@Model.Search" asp-route-unavailable="True">Unavailable</a></li>
            <li class="@(Model.Unlockable ? "active" : null)"><a asp-route-search="@Model.Search" asp-route-unlockable="True">Unlockable</a></li>
        </ul>
    </div>
</div>

<form asp-controller="Avatars" asp-action="Layer" method="get" role="form">
    <input asp-for="Available" type="hidden" />
    <input asp-for="Unavailable" type="hidden" />
    <input asp-for="Unlockable" type="hidden" />
    <div class="row row-spacing" style="padding-top: 10px;">
        <div class="col-xs-8">
            <input name="Search" value="@Model.Search" class="form-control" />
        </div>
        <div class="col-xs-4">
            <input type="submit" value="Search" class="btn btn-default" style="margin-right: 8px;" />
            <a asp-action="Layer" asp-route-id="@Model.Id" class="btn btn-default">Clear</a>
        </div>
    </div>
</form>


<div class="row" style="padding: 10px 0">
    <div class="col-xs-12">
        <div class="row">
            <form asp-controller="Avatars" method="post" role="form">
                <input name="Id" value="@Model.Id" type="hidden" />
                <input name="Search" value="@Model.Search" type="hidden" />
                <input asp-for="Available" type="hidden" />
                <input asp-for="Unavailable" type="hidden" />
                <input asp-for="Unlockable" type="hidden" />
                <input name="PaginateModel.CurrentPage" value="@Model.PaginateModel.CurrentPage" type="hidden" />
                @foreach (var item in Model.Items)
                {
                    <div class="col-xs-4 col-sm-3 col-md-2" style="padding-top:10px; padding-bottom:20px; text-align:center;">
                        <img src="~/@item.Thumbnail" class="img-responsive img-thumbnail" />
                        <div style="height: 40px;">
                            @item.Name
                        </div>
                        <button asp-action="@nameof(AvatarsController.DecreaseItemSort)" name="ItemId" value="@item.Id" class="btn btn-xs btn-default" style="margin-right: 6px;" disabled="@(Model.PaginateModel.FirstPage == null && item == Model.Items.First() ? "disabled" : null)">
                            <span class="fas fa-arrow-left"></span>
                        </button>
                        @if (item.Unlockable)
                        {
                            <button asp-action="@nameof(AvatarsController.SetItemAvailable)" name="ItemId" value="@item.Id" class="btn btn-xs btn-primary" style="margin: 0 3px;">
                                <span class="fas fa-lock"></span>
                            </button>
                        }
                        else
                        {
                            <button asp-action="@nameof(AvatarsController.SetItemUnlockable)" name="ItemId" value="@item.Id" class="btn btn-xs btn-success" style="margin: 0 3px;">
                                <span class="fas fa-unlock-alt"></span>
                            </button>
                        }
                        <button type="button"
                                class="btn btn-xs btn-danger"
                                style="margin: 0 3px;"
                                data-toggle="modal"
                                data-target="#deleteModal"
                                data-id="@item.Id"
                                data-name="@item.Name">
                            <span class="fas fa-times"></span>
                        </button>
                        <button asp-action="@nameof(AvatarsController.IncreaseItemSort)" name="ItemId" value="@item.Id" class="btn btn-xs btn-default" style="margin-left: 6px;" disabled="@(Model.PaginateModel.LastPage == null && item == Model.Items.Last() ? "disabled" : null)">
                            <span class="fas fa-arrow-right"></span>
                        </button>
                    </div>

                }
            </form>
        </div>
        @if (Model.PaginateModel.MaxPage > 1)
        {
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
        <a asp-action="Index" class="btn btn-default">Return to List</a>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-action="@nameof(AvatarsController.DeleteItem)"
                  method="post"
                  role="form"
                  style="display:inline">
                <input name="Id" value="@Model.Id" type="hidden" />
                <input name="Search" value="@Model.Search" type="hidden" />
                <input asp-for="Available" type="hidden" />
                <input asp-for="Unavailable" type="hidden" />
                <input asp-for="Unlockable" type="hidden" />
                <input name="PaginateModel.CurrentPage"
                       value="@Model.PaginateModel.CurrentPage"
                       type="hidden" />
                <input asp-for="ItemId" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close dialog">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h1 class="modal-title h4" id="deleteModalLabel">Delete Item</h1>
                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-danger btn-spinner pull-right"
                                aria-label="Confirm">
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var modal = $(this);
            modal.find("#modal-text").text("Are you sure you want to delete the item \"" + name + "\"?");
            modal.find("#ItemId").val(id);
        });
    </script>
}