@using GRA.Controllers.ViewModel.MissionControl.Avatar
@model TransfersViewModel

@section inHeading {
    <div class="ms-auto">
        <form asp-action="@nameof(AvatarsController.GenerateExport)" method="post">
            <input type="submit" class="btn btn-outline-primary" value="Export Avatars" />
        </form>
    </div>
}

@if (Model.Transfers.Count == 0)
{
    <div class="row">
        <div class="col-12 col-sm-6 offset-sm-3 mt-2">
            <div class="alert alert-warning">
                No transfers found.
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-sm table-bordered table-striped mt-2">
        <tr>
            <th>Type</th>
            <th>File</th>
            <th>Run at</th>
            <th>Run by</th>
            <th>Duration</th>
            <th>Status</th>
        </tr>
        @foreach (var transfer in Model.Transfers)
        {
            <tr>
                <td>@transfer.TransferType</td>
                <td>
                    @if (string.IsNullOrEmpty(transfer.Filename))
                    {
                        <em>no filename</em>
                    }
                    else if (transfer.FileKBytes.HasValue && transfer.TransferType == GRA.DataTransferType.Export)
                    {
                        <a asp-action="@nameof(AvatarsController.GetExport)"
                           asp-route-id="@transfer.Id">@transfer.Filename</a>
                        <small>@TransfersViewModel.OutputSize(transfer.FileKBytes.Value)</small>
                    }
                    else
                    {
                        @transfer.Filename
                    }
                </td>
                <td>@transfer.CreatedAt</td>
                <td>
                    <a aria-label="Profile of @transfer.CreatedByName"
                       asp-action="@nameof(ParticipantsController.Detail)"
                       asp-controller="@ParticipantsController.Name"
                       asp-route-id="@transfer.CreatedBy">@transfer.CreatedByName</a>
                </td>
                <td>@TransfersViewModel.FormatDuration(Model.Jobs[transfer.JobId])</td>
                <td>@Model.Jobs[transfer.JobId].Status</td>
            </tr>
        }
    </table>
}