@model GRA.Controllers.ViewModel.Join.Step3ViewModel

<form asp-controller="Join" asp-action="Step3" method="post" role="form" novalidate>
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <span class="lead">@ViewData[ViewDataKey.Title]</span>
                </div>
                <div class="card-body">

                    @if (TempData.ContainsKey("TwoStepSignUp"))
                    {
                        <partial name="_TwoStepPartial" />
                    }
                    else
                    {
                        <partial name="_MultiStepPartial" />
                    }

                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="Username" class="col-form-label"></label>
                            <span id="Username-Icon" class="fas colored-icon d-none"></span>
                            <input asp-for="Username"
                                   class="form-control"
                                   autofocus
                                   autocomplete="username" />
                            <span id="Username-Validation"
                                  asp-validation-for="Username"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="Password" class="col-form-label"></label>
                            <p class="password-note">
                                @SharedLocalizer[GRA.Annotations.Validate.PasswordRequirement]
                            </p>
                            <input asp-for="Password"
                                   type="password"
                                   class="form-control"
                                   autocomplete="new-password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="ConfirmPassword" class="col-form-label"></label>
                            <input asp-for="ConfirmPassword"
                                   type="password"
                                   class="form-control"
                                   autocomplete="new-password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <div class="row mb-3">
                        <div class="col-12">
                            <p>
                                @SharedLocalizer[GRA.Annotations.Validate.EmailPhoneNeededForPrizes]
                            </p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="Email" class="col-form-label"></label>
                            <input asp-for="Email"
                                   class="form-control"
                                   type="email"
                                   autocomplete="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="PhoneNumber" class="col-form-label"></label>
                            <input asp-for="PhoneNumber"
                                   class="form-control"
                                   type="tel"
                                   autocomplete="tel-national" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    @if (Model?.AskFirstTime?.Count() > 1)
                    {
                        <div class="row mb-3">
                            <div class="col-12">
                                <label asp-for="IsFirstTime" class="col-form-label"></label>
                                <select asp-for="IsFirstTime"
                                        asp-items="Model.AskFirstTime"
                                        class="form-select"></select>
                                <span asp-validation-for="IsFirstTime" class="text-danger"></span>
                            </div>
                        </div>
                    }

                    @if (Model.AskEmailSubscription?.Count() > 1)
                    {
                        <div class="row mb-3">
                            <div class="col-12">
                                <label asp-for="EmailSubscriptionRequested" class="col-form-label">
                                    @SharedLocalizer[Model.AskEmailSubscriptionText]
                                </label>
                                <select asp-for="EmailSubscriptionRequested"
                                        asp-items="Model.AskEmailSubscription"
                                        class="form-select"></select>
                                <span asp-validation-for="EmailSubscriptionRequested"
                                      class="text-danger"></span>
                            </div>
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.TranslationDescriptionPastTense))
                    {
                        <div class="row mb-3">
                            <div class="col-12">
                                <label asp-for="DailyPersonalGoal" class="col-form-label"></label>
                                <div>
                                    @SharedLocalizer["I will {0}", Model.TranslationDescriptionPastTense]
                                    <input asp-for="DailyPersonalGoal"
                                           class="form-control"
                                           style="display:inline-block; width:75px;" />
                                    @SharedLocalizer["{0} a day", Model.ActivityDescriptionPlural]
                                </div>
                                <span asp-validation-for="DailyPersonalGoal"
                                      class="text-danger"></span>
                            </div>
                        </div>
                    }

					@if (Model.AskPersonalPointGoal)
					{
						<div class="row mb-3">
							<div class="col-12">
								<label asp-for="PersonalPointGoal" class="col-form-label"></label>
								<span class="fas fa-info-circle"
									  data-bs-toggle="tooltip"
									  title="@SharedLocalizer[GRA.Annotations.Interface.PersonalPointGoalDescription, Model.MinimumPersonalPointGoal]"></span>
								<div>
									@SharedLocalizer[GRA.Annotations.Interface.PersonalPointGoalLabel]
									<input asp-for="PersonalPointGoal"
										   max="@Model.MaximumPersonalPointGoal"
										   min="@Model.MinimumPersonalPointGoal"
										   class="form-control"
										   style="display:inline-block; width:100px;" />
								</div>
								<span asp-validation-for="PersonalPointGoal" class="text-danger"></span>
							</div>
						</div>
					}
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="submit"
                            class="btn btn-outline-primary btn-lg"
                            button-spinner>
                        <span class="fas fa-book"></span> @SharedLocalizer["Join!"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
        const usernameCheckUrl = "@Url.Action(nameof(GRA.Controllers.LookupController.UsernameInUse), LookupController.Name, new { Area = string.Empty })";
        const usernameIcon = $("#Username-Icon");
        const usernameField = $("#Username");
        const usernameValidation = $("#Username-Validation");

        usernameField.on("blur", function () {
            if ($(this).val().trim() != "" && !$(this).hasClass("input-validation-error")) {
                $(this).val($(this).val().trim());
                usernameIcon.addClass("fa-spinner fa-spin")
                    .removeClass("d-none fa-times-circle fa-check-circle text-success text-danger");
                $.post(usernameCheckUrl, { username: $(this).val() }, function (response) {
                    if (response) {
                        $(this).removeClass("valid");
                        $(this).addClass("input-validation-error");
                        usernameValidation.removeClass("field-validation-valid text-success")
                            .addClass("field-validation-error")
                            .text("Someone has already chosen that username.");
                        usernameIcon.removeClass("fa-spinner fa-spin")
                            .addClass("fa-times-circle text-danger");
                    }
                    else {
                        usernameValidation.removeClass("field-validation-valid")
                            .addClass("text-success")
                            .text("The chosen username is available.");
                        usernameIcon.removeClass("fa-spinner fa-spin")
                            .addClass("fa-check-circle text-success");
                    }
                });
            }
        });

        usernameField.on("keypress", function () {
            usernameIcon.addClass("d-none");
        });
    </script>
}