@model GRA.Controllers.ViewModel.Join.Step2ViewModel

@Html.Partial("_MultiStepPartial")

<form asp-controller="Join" asp-action="Step2" method="post" role="form" novalidate>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="lead"><grasite property="name"></grasite> - Join Now!</span>
                </div>
                <div class="panel-body">

                    <input asp-for="NewEnteredSchool" type="hidden" />

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <label asp-for="ProgramId" class="control-label"></label>
                            <select asp-for="ProgramId" asp-items="Model.ProgramList" class="form-control">
                                <option></option>
                            </select>
                            <span asp-validation-for="ProgramId" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="ageField" class="row row-spacing @(Model.ShowAge ? "": "hide")">
                        <div class="col-xs-12">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" type="text" />
                            <span id="ageMessage" asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="schoolFields" class="@(Model.ShowSchool ? "": "hide")">
                        <div class="row">
                            <div id="schoolDistrictGroup" class="col-xs-12 @(Model.NewEnteredSchool ? "" : "col-sm-6" ) row-spacing">
                                <label class="control-label">School District</label>
                                <select asp-for="SchoolDistrictId" asp-items="Model.SchoolDistrictList" class="form-control">
                                    <option></option>
                                </select>
                                <span asp-validation-for="SchoolDistrictId" class="text-danger"></span>
                            </div>

                            <div id="schoolTypeGroup" class="col-xs-12 col-sm-6 row-spacing @(Model.NewEnteredSchool ? "hide" : "" )">
                                <label class="control-label">School Type</label>
                                <select asp-for="SchoolTypeId" asp-items="Model.SchoolTypeList" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div id="schoolGroup" class="row row-spacing @(Model.NewEnteredSchool ? "hide" : "" )">
                            <div class="col-xs-12">
                                <label asp-for="SchoolId" class="control-label"></label>
                                <label style="font-size: 12px;">
                                    <a id="schoolNotListed" style="text-decoration:none;cursor:pointer">My school isn't listed</a>
                                </label>
                                <select asp-for="SchoolId" asp-items="Model.SchoolList" class="form-control">
                                    <option></option>
                                </select>
                                <span asp-validation-for="SchoolId" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="enteredSchoolGroup" class="row row-spacing @(Model.NewEnteredSchool ? "" : "hide" )">
                            <div class="col-xs-12">
                                <label asp-for="EnteredSchoolName" class="control-label"></label>
                                <label style="font-size: 12px;">
                                    <a id="viewSchoolList" style="text-decoration:none;cursor:pointer">View school list</a>
                                </label>
                                <input asp-for="EnteredSchoolName" class="form-control" />
                                <span asp-validation-for="EnteredSchoolName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Final Step <span class="fa fa-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
        var programs = JSON.parse('@Html.Raw(Model.ProgramJson)');
        var selectedProgram = $.grep(programs, function(obj) {
            return obj.Id == $("#ProgramId").val();
        })[0];

        $("#ProgramId").on("change", function() {
            var programId = $(this).val();
            selectedProgram = $.grep(programs, function(obj) {
                return obj.Id == programId;
            })[0];
            if (selectedProgram != null)
            {
                if (selectedProgram.AskAge)
                {
                    $("#ageField").removeClass("hide");
                    validateAge();
                }
                else
                {
                    $("#ageField").addClass("hide");
                }

                if (selectedProgram.AskSchool)
                {
                    $("#schoolFields").removeClass("hide");
                }
                else
                {
                    $("#schoolFields").addClass("hide");
                }
            }
        });

        $("#Age").on("change", function() {
            validateAge();
        });

        function validateAge() {
            var age = $("#Age").val();
            var message = $("#ageMessage");
            if (age != "" && ((age > selectedProgram.AgeMaximum && selectedProgram.AgeMaximum != null)
                || (age < selectedProgram.AgeMinimum && selectedProgram.AgeMinimum != null)))
            {
                var program = $.grep(programs, function(obj) {
                    return ((obj.AgeMaximum >= age || obj.AgeMaximum == null)
                            && (obj.AgeMinimum <= age || obj.AgeMinimum == null));
                })[0];
                if (program != null)
                {
                    message.removeClass('field-validation-valid field-validation-error text-danger');
                    message.addClass('text-primary');
                    $("#Age").removeClass("input-validation-error")
                    message.text("The program " + program.Name + " may be better suited for your age.")
                }
            }
            else
            {
                message.text("");
            }
        }

        $("#SchoolDistrictId").on("change", function() {
            var districtId = $(this).val();
            var typeList = $("#SchoolTypeId");
            var typeId = typeList.val();
            var getTypesUrl = "@Url.Action("GetSchoolTypes", "Lookup", new { Area = string.Empty })";

            if (districtId > 0)
            {
                $.getJSON(getTypesUrl, { districtId: districtId, typeId: typeId }, function(response) {
                    typeList.empty();
                    if (response.length > 1)
                    {
                        typeList.append(new Option("", ""));
                    }
                    $.each(response, function(index, item) {
                        typeList.append(new Option(item.text, item.value, item.selected, item.selected))
                    });
                    UpdateSchoolList(districtId, typeList.val());
                });
            }
            else
            {
                typeList.empty();
                typeList.append(new Option("", ""));
                UpdateSchoolList(districtId, typeList.val());
            }
        });

        $("#SchoolTypeId").on("change", function() {
            var typeId = $(this).val();
            var districtId = $("#SchoolDistrictId").val();
            UpdateSchoolList(districtId, typeId);
        });

        $("#schoolNotListed").on("click", function() {
            $("#schoolDistrictGroup").removeClass("col-sm-6");
            $("#schoolTypeGroup").addClass("hide");
            $("#schoolGroup").addClass("hide");
            $("#enteredSchoolGroup").removeClass("hide");
            $("#NewEnteredSchool").val("true");
        });

        $("#viewSchoolList").on("click", function() {
            $("#schoolDistrictGroup").addClass("col-sm-6");
            $("#schoolTypeGroup").removeClass("hide");
            $("#schoolGroup").removeClass("hide");
            $("#enteredSchoolGroup").addClass("hide");
            $("#NewEnteredSchool").val("false");
        });

        function UpdateSchoolList(districtId, typeId) {
            var schoolList = $("#SchoolId");
            if (districtId > 0)
            {
                var schoolId = schoolList.val();
                var getSchoolsUrl = "@Url.Action("GetSchools", "Lookup", new { Area = string.Empty })";

                $.getJSON(getSchoolsUrl, { districtId: districtId, typeId: typeId, schoolId: schoolId }, function(response) {
                    schoolList.empty();
                    schoolList.append(new Option("", ""));
                    $.each(response, function(index, item) {
                        schoolList.append(new Option(item.text, item.value, item.selected, item.selected))
                    });
                });
            }
            else
            {
                schoolList.empty();
                schoolList.append(new Option("", ""));
            }
        }
    </script>
}