<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Action" value="Detail"><a asp-action="Detail" asp-route-id="@Model.Id">Details</a></li>
            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.LogActivityForAny.ToString()))
            {
                <li ActiveBy routeKey="Action" value="LogActivity"><a asp-action="LogActivity" asp-route-id="@Model.Id">Log Activity</a></li>
            }
            <li ActiveBy routeKey="Action" value="Household">
                <a asp-action="Household" asp-route-id="@Model.Id">
                    @if(Model.IsGroup)
                    {
                        @:Group
                    }
                    else
                    {
                        @:Household
                    }
                    @if (Model.HouseholdCount > 0)
                    {
                        <span class="label label-default label-as-badge">@(Model.HouseholdCount + 1)</span>
                    }
                </a>
            </li>
            <li ActiveBy routeKey="Action" value="Books"><a asp-action="Books" asp-route-id="@Model.Id">Books</a></li>
            <li ActiveBy routeKey="Action" value="History"><a asp-action="History" asp-route-id="@Model.Id">History</a></li>
            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ViewUserPrizes.ToString()))
            {
                <li ActiveBy routeKey="Action" value="Prizes">
                    <a asp-action="Prizes" asp-route-id="@Model.Id">
                        Prizes
                        @if (Model.PrizeCount > 0)
                        {
                            <span class="label label-default label-as-badge">@(Model.PrizeCount)</span>
                        }
                    </a>
                </li>
            }
            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ReadAllMail.ToString()))
            {
                <li ActiveBy routeKey="Action" value="Mail"><a asp-action="Mail" asp-route-id="@Model.Id">Mail</a></li>
            }
            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.EditParticipants.ToString())
                && Model.HasAccount)
            {
                <li ActiveBy routeKey="Action" value="PasswordReset"><a asp-action="PasswordReset" asp-route-id="@Model.Id">Password Reset</a></li>
            }
        </ul>
    </div>
</div>
