@model GRA.Controllers.ViewModel.MissionControl.Participants.BookListViewModel

@await Html.PartialAsync("_ParticipantPartial")

@if (Model.HasPendingQuestionnaire)
{
    <div class="row">
        <div class="col-12 mb-3">
            <div class="alert alert-warning">
                Books cannot be added while there is a pending questionnaire to be taken.
                </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        @if (Model.Books.Count() == 0)
        {
            <div class="alert alert-warning">No Books</div>
        }
        else
        {
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            <a sort asp-route-Sort="@Model.SortBooks.GetValue(0)"
                               asp-route-Order="@(Model.Sort == Model.SortBooks.GetValue(0).ToString() && !Model.IsDescending ? "Descending" : "Ascending")">Date</a>
                        </th>
                        <th>
                            <a sort asp-route-Sort="@Model.SortBooks.GetValue(1)"
                               asp-route-Order="@(Model.Sort == Model.SortBooks.GetValue(1).ToString() && !Model.IsDescending ? "Descending" : "Ascending")">Title</a>
                        </th>
                        <th>
                            <a sort asp-route-Sort="@Model.SortBooks.GetValue(2)"
                               asp-route-Order="@(Model.Sort == Model.SortBooks.GetValue(2).ToString() && !Model.IsDescending ? "Descending" : "Ascending")">Author</a>
                        </th>
                        @if (Model.CanEditBooks)
                        {
                            <th class="d-print-none" width="96">&nbsp;</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model.Books)
                    {
                        <tr>
                            <td class="align-middle">@book.CreatedAt.ToString("d")</td>
                            <td class="align-middle">@book.Title</td>
                            <td class="align-middle">@book.Author</td>
                            @if (Model.CanEditBooks)
                            {
                                <td class="align-middle text-center d-print-none">
                                    <button type="button"
                                            class="btn btn-outline-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal"
                                            data-id="@book.Id"
                                            data-title="@book.Title"
                                            data-author="@book.Author">
                                        <span class="fas fa-pencil-alt fa-fw"
                                              aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@book.Id"
                                            data-title="@book.Title">
                                        <span class="fas fa-times fa-fw"
                                              aria-hidden="true"></span>
                                    </button>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

<div class="mb-3 d-flex d-print-none">
    @if (!Model.HasPendingQuestionnaire && Model.OpenToLog)
    {
        <div>
            <button type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#addModal"
                    class="btn btn-outline-primary">
                Add Book
            </button>
        </div>
    }
    <div class="ms-auto">
        <a asp-action="Index" class="btn btn-outline-secondary">Return to Participants</a>
    </div>
</div>

@if (Model.CanEditBooks)
{
    <div class="row">
        <div class="modal fade"
             id="addModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="addModalLabel">
            <div class="modal-dialog" role="document">
                <form asp-controller="Participants"
                      asp-action="AddBook"
                      method="post"
                      role="form"
                      style="display:inline">
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="CanEditBooks" type="hidden" />
                    <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title h4" id="addModalLabel">Add book</h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close dialog">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label asp-for="Book.Title" class="col-form-label"></label>
                                <input asp-for="Book.Title" class="form-control" />
                                <span asp-validation-for="Book.Title" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Book.Author" class="col-form-label"></label>
                                <input asp-for="Book.Author" class="form-control" />
                                <span asp-validation-for="Book.Author" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-end">
                            <button type="button"
                                    class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-outline-primary"
                                    aria-label="Confirm">
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="modal fade"
             id="editModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="editModalLabel">
            <div class="modal-dialog" role="document">
                <form asp-controller="Participants"
                      asp-action="EditBook"
                      method="post"
                      role="form"
                      style="display:inline">
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="CanEditBooks" type="hidden" />
                    <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                    <input asp-for="Book.Id" type="hidden" />
                    <input asp-for="Book.Isbn" type="hidden" />
                    <input asp-for="Book.Url" type="hidden" />
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title h4" id="editModalLabel">Edit book</h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close dialog">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label asp-for="Book.Title" class="col-form-label"></label>
                                <input asp-for="Book.Title" class="form-control" />
                                <span asp-validation-for="Book.Title" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Book.Author" class="col-form-label"></label>
                                <input asp-for="Book.Author" class="form-control" />
                                <span asp-validation-for="Book.Author" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-end">
                            <button type="button"
                                    class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-outline-primary"
                                    aria-label="Confirm">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="deleteModalLabel">Delete book</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body d-flex align-items-stretch">
                        <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" 
                        aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer d-flex justify-content-end">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <form asp-controller="Participants"
                              asp-action="RemoveBook"
                              method="post"
                              role="form"
                              style="display:inline">
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="CanEditBooks" type="hidden" />
                            <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                            <input asp-for="Book.Id" type="hidden" />
                            <input asp-for="Book.Title" type="hidden" />
                            <button type="submit"
                                    class="btn btn-outline-danger"
                                    aria-label="Confirm"
                                    button-spinner>
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    @if (Model.CanEditBooks)
    {
        <script>
            $("#editModal").on("show.bs.modal", function (event) {
                let button = $(event.relatedTarget);
                let id = button.data("id");
                let title = button.data("title");
                let author = button.data('author');
                let modal = $(this);
                modal.find("#editModalLabel").html('Edit book - <strong>' + title + '</strong>');
                modal.find("#Book_Id").val(id);
                modal.find("#Book_Title").val(title);
                modal.find("#Book_Author").val(author);
            })

            $("#deleteModal").on("show.bs.modal", function (event) {
                let button = $(event.relatedTarget);
                let id = button.data("id");
                let title = button.data("title");
                let modal = $(this);
                modal.find("#modal-text").html('Are you sure you wish to delete the book <strong>' + title + '</strong>?');
                modal.find("#Book_Id").val(id);
                modal.find("#Book_Title").val(title);
            });
        </script>
    }
}
