@model GRA.Controllers.ViewModel.MissionControl.Participants.ParticipantsDetailViewModel

@Html.Partial("_ParticipantPartial")

<form asp-controller="Participants" method="post" role="form">
    <input asp-for="Id" type="hidden" />
    <input asp-for="HouseholdCount" type="hidden" />
    <input asp-for="HasAccount" type="hidden" />
    <input asp-for="HasSchoolId" type="hidden" />
    <input asp-for="NewEnteredSchool" type="hidden" />
    <input asp-for="User.EnteredSchoolId" type="hidden" />
    <input asp-for="User.VendorCode" type="hidden" />
    <input asp-for="User.VendorCodeMessage" type="hidden" />

    <div class="row" style="padding: 10px 0;">
        <div class="col-xs-12">

            @if (Model.CanEditUsername)
            {
                <input asp-for="CanEditUsername" type="hidden" />
                <div class="row row-spacing">
                    <div class="col-xs-12">
                        <label asp-for="User.Username" class="control-label"></label>
                        <span id="Username-Icon" class="fa colored-icon hide"></span>
                        <input asp-for="User.Username" class="form-control" />
                        <span id="Username-Validation" asp-validation-for="User.Username" class="text-success"></span>
                    </div>
                </div>
            }

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.FirstName" class="control-label"></label>
                    <input asp-for="User.FirstName" class="form-control" />
                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.LastName" class="control-label"></label>
                    <input asp-for="User.LastName" class="form-control" />
                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                </div>
            </div>

            @if (Model.RequirePostalCode)
            {
                <div class="row row-spacing">
                    <div class="col-xs-12">
                        <label asp-for="User.PostalCode" class="control-label"></label>
                        <input asp-for="User.PostalCode" class="form-control" />
                        <span asp-validation-for="User.PostalCode" class="text-danger"></span>
                    </div>
                </div>
            }

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.Email" class="control-label"></label>
                    <input asp-for="User.Email" class="form-control" />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.PhoneNumber" class="control-label"></label>
                    <input asp-for="User.PhoneNumber" class="form-control" />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.SystemId" class="control-label"></label>
                    <select asp-for="User.SystemId" asp-items="Model.SystemList" class="form-control"></select>
                    <span asp-validation-for="User.SystemId" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.BranchId" class="control-label"></label>
                    <select asp-for="User.BranchId" asp-items="Model.BranchList" class="form-control"></select>
                    <span asp-validation-for="User.BranchId" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <label asp-for="User.ProgramId" class="control-label"></label>
                    <select asp-for="User.ProgramId" asp-items="Model.ProgramList" class="form-control"></select>
                    <span asp-validation-for="User.ProgramId" class="text-danger"></span>
                </div>
            </div>

            <div id="ageField" class="row row-spacing @(Model.ShowAge ? "": "hide")">
                <div class="col-xs-12">
                    <label asp-for="User.Age" class="control-label"></label>
                    <input asp-for="User.Age" class="form-control" type="text" />
                    <span id="ageMessage" asp-validation-for="User.Age" class="text-danger"></span>
                </div>
            </div>

            <div id="schoolFields" class="@(Model.ShowSchool ? "": "hide")">
                @if (!Model.User.EnteredSchoolId.HasValue)
                {
                    <div class="row">
                        <div id="schoolDistrictGroup" class="col-xs-12 @(Model.NewEnteredSchool ? "" : "col-sm-6" ) row-spacing">
                            <label class="control-label">School District</label>
                            <select asp-for="SchoolDistrictId" asp-items="Model.SchoolDistrictList" class="form-control">
                                <option></option>
                            </select>
                            <span asp-validation-for="SchoolDistrictId" class="text-danger"></span>
                        </div>

                        <div id="schoolTypeGroup" class="col-xs-12 col-sm-6 row-spacing @(Model.NewEnteredSchool ? "hide" : "" )">
                            <label class="control-label">School Type</label>
                            <select asp-for="SchoolTypeId" asp-items="Model.SchoolTypeList" class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div id="schoolGroup" class="row row-spacing @(Model.NewEnteredSchool ? "hide" : "" )">
                        <div class="col-xs-12">
                            <label asp-for="User.SchoolId" class="control-label"></label>
                            @if (!Model.HasSchoolId)
                            {
                                <label style="font-size: 12px;">
                                    <a id="schoolNotListed" style="text-decoration:none;cursor:pointer">My school isn't listed</a>
                                </label>
                            }
                            <select asp-for="User.SchoolId" asp-items="Model.SchoolList" class="form-control">
                                <option></option>
                            </select>
                            <span asp-validation-for="User.SchoolId" class="text-danger"></span>
                        </div>
                    </div>
                }
                @if (!Model.HasSchoolId)
                {
                    <div id="enteredSchoolGroup" class="row row-spacing @(Model.NewEnteredSchool || Model.User.EnteredSchoolId.HasValue ? "" : "hide" )">
                        <div class="col-xs-12">
                            <label asp-for="User.EnteredSchoolName" class="control-label"></label>
                            @if (!Model.User.EnteredSchoolId.HasValue)
                            {
                                <label style="font-size: 12px;">
                                    <a id="viewSchoolList" style="text-decoration:none;cursor:pointer">View school list</a>
                                </label>
                                <input asp-for="User.EnteredSchoolName" class="form-control" />
                            }
                            else
                            {
                                <input asp-for="User.EnteredSchoolName" class="form-control" readonly />
                            }
                            <span asp-validation-for="User.EnteredSchoolName" class="text-danger"></span>
                        </div>
                    </div>
                }
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.User.VendorCode))
            {
                <div class="row row spacing">
                    <div class="col-xs-12">
                        <table style="font-size: 16px;">
                            <tr>
                                <td>Free Book Code: <strong>@Model.User.VendorCode</strong></td>
                            </tr>
                            @if (!string.IsNullOrWhiteSpace(Model.User.VendorCodeMessage))
                            {
                                <tr>
                                    <td>@Model.User.VendorCodeMessage</td>
                                </tr>
                            }
                        </table>

                    </div>
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to Participants</a>
        @if (Model.CanEditDetails)
        {
            <input asp-for="CanEditDetails" type="hidden" />
            <input asp-for="Username" type="hidden" />
            <input asp-for="User.Id" type="hidden" />
            <input asp-for="User.AvatarId" type="hidden" />
            <input asp-for="User.CardNumber" type="hidden" />
            <input asp-for="User.HouseholdHeadUserId" type="hidden" />
            <input asp-for="User.IsAchiever" type="hidden" />
            <input asp-for="User.IsDeleted" type="hidden" />
            <input asp-for="User.IsLockedOut" type="hidden" />
            <input asp-for="User.LastAccess" type="hidden" />
            <input asp-for="User.PointsEarned" type="hidden" />
            <input asp-for="User.AchievedAt" type="hidden" />

            <button type="submit" asp-action="Detail" id="Submit" name="Submit" value="Submit" class="btn btn-primary btn-spinner">
                <span class="buttonText">Save Changes</span>
                <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
            </button>
        }
    </div>
</form>

@section scripts {
    <script>
        @if (!Model.CanEditDetails)
        {
        <text>
        $("input").prop('readonly', true);
        $("select").prop('disabled', true);
        </text>
        }

        var programs = JSON.parse('@Html.Raw(Model.ProgramJson)');
        var selectedProgram = $.grep(programs, function(obj) {
            return obj.Id == $("#User_ProgramId").val();
        })[0];

        $("#User_SystemId").on("change", function() {
            var systemId = $(this).val();
            var branchList = $("#User_BranchId");
            var branchId = branchList.val();
            var url = "@Url.Action("GetBranches", "Lookup", new { Area = string.Empty })";

            $.getJSON(url, { systemId: systemId, branchId: branchId }, function(response) {
                branchList.empty();
                if (response.length > 1)
                {
                    branchList.append(new Option("", "-1"));
                }
                $.each(response, function(index, item) {
                    branchList.append(new Option(item.text, item.value, item.selected, item.selected))
                });
            });
        });

        $("#User_ProgramId").on("change", function() {
            var programId = $(this).val();
            selectedProgram = $.grep(programs, function(obj) {
                return obj.Id == programId;
            })[0];
            if (selectedProgram != null)
            {
                if (selectedProgram.AskAge)
                {
                    $("#ageField").removeClass("hide");
                    validateAge();
                }
                else
                {
                    $("#ageField").addClass("hide");
                }

                if (selectedProgram.AskSchool)
                {
                    $("#schoolFields").removeClass("hide");
                }
                else
                {
                    $("#schoolFields").addClass("hide");
                }
            }
        });

        $("#User_Age").on("change", function() {
            validateAge();
        });

        function validateAge() {
            var age = $("#User_Age").val();
            var message = $("#ageMessage");
            if (age != "" && ((age > selectedProgram.AgeMaximum && selectedProgram.AgeMaximum != null)
                || (age < selectedProgram.AgeMinimum && selectedProgram.AgeMinimum != null)))
            {
                var program = $.grep(programs, function(obj) {
                    return ((obj.AgeMaximum >= age || obj.AgeMaximum == null)
                            && (obj.AgeMinimum <= age || obj.AgeMinimum == null));
                })[0];
                if (program != null)
                {
                    message.removeClass('field-validation-valid field-validation-error text-danger');
                    message.addClass('text-primary');
                    $("#User_Age").removeClass("input-validation-error")
                    message.text("The program " + program.Name + " may be better suited for your age.")
                }
            }
            else
            {
                message.text("");
            }
        }

        $("#SchoolDistrictId").on("change", function() {
            var districtId = $(this).val();
            var typeList = $("#SchoolTypeId");
            var typeId = typeList.val();
            var getTypesUrl = "@Url.Action("GetSchoolTypes", "Lookup", new { Area = string.Empty })";

            if (districtId > 0)
            {
                $.getJSON(getTypesUrl, { districtId: districtId, typeId: typeId }, function(response) {
                    typeList.empty();
                    if (response.length > 1)
                    {
                        typeList.append(new Option("", ""));
                    }
                    $.each(response, function(index, item) {
                        typeList.append(new Option(item.text, item.value, item.selected, item.selected))
                    });
                    UpdateSchoolList(districtId, typeList.val());
                });
            }
            else
            {
                typeList.empty();
                typeList.append(new Option("", ""));
                UpdateSchoolList(districtId, typeList.val());
            }
        });

        $("#SchoolTypeId").on("change", function() {
            var typeId = $(this).val();
            var districtId = $("#SchoolDistrictId").val();
            UpdateSchoolList(districtId, typeId);
        });

        $("#schoolNotListed").on("click", function() {
            $("#schoolDistrictGroup").removeClass("col-sm-6");
            $("#schoolTypeGroup").addClass("hide");
            $("#schoolGroup").addClass("hide");
            $("#enteredSchoolGroup").removeClass("hide");
            $("#NewEnteredSchool").val("true");
        });

        $("#viewSchoolList").on("click", function() {
            $("#schoolDistrictGroup").addClass("col-sm-6");
            $("#schoolTypeGroup").removeClass("hide");
            $("#schoolGroup").removeClass("hide");
            $("#enteredSchoolGroup").addClass("hide");
            $("#NewEnteredSchool").val("false");
        });

        function UpdateSchoolList(districtId, typeId) {
            var schoolList = $("#User_SchoolId");
            if (districtId > 0)
            {
                var schoolId = schoolList.val();
                var getSchoolsUrl = "@Url.Action("GetSchools", "Lookup", new { Area = string.Empty })";

                $.getJSON(getSchoolsUrl, { districtId: districtId, typeId: typeId, schoolId: schoolId }, function(response) {
                    schoolList.empty();
                    schoolList.append(new Option("", ""));
                    $.each(response, function(index, item) {
                        schoolList.append(new Option(item.text, item.value, item.selected, item.selected))
                    });
                });
            }
            else
            {
                schoolList.empty();
                schoolList.append(new Option("", ""));
            }
        }
        @if (Model.CanEditUsername) {
        <text>
        $("#User_Username").on("blur", function () {
            $(this).val($(this).val().trim());
            var username = $(this).val();
            if (username != "" && !$(this).hasClass("input-validation-error")) {
                if (username != "@Html.Raw(Model.Username)") {
                    var usernameCheckUrl = "@Url.Action("UsernameInUse", "Lookup", new { Area = string.Empty })";
                    var icon = $("#Username-Icon");
                    icon.removeClass("hide fa-times fa-check");
                    icon.addClass("fa-spinner fa-spin");
                    $.post(usernameCheckUrl, { username: username }, function (response) {
                        if (response) {
                            $("#User_Username").removeClass("valid");
                            $("#User_Username").addClass("input-validation-error");
                            $("#Username-Validation").removeClass("field-validation-valid");
                            $("#Username-Validation").addClass("field-validation-error");
                            $("#Username-Validation").text("Someone has already chosen that username.");
                            icon.removeClass("fa-spinner fa-spin");
                            icon.addClass("fa-times");
                        }
                        else {
                            $("#Username-Validation").removeClass("field-validation-valid");
                            $("#Username-Validation").text("The chosen username is available.");
                            icon.removeClass("fa-spinner fa-spin");
                            icon.addClass("fa-check");
                        }
                    });
                }
                else {
                    $("#Username-Icon").removeClass("hide fa-times").addClass("fa-check");
                    $("#Username-Validation").removeClass("field-validation-valid");
                    $("#Username-Validation").text("No change to username.");

                }
            }
        });

        $("#User_Username").on("keypress", function () {
            $("#Username-Icon").addClass("hide");
        });
        </text>
        }
    </script>
}