@model GRA.Controllers.ViewModel.MissionControl.Participants.ParticipantsDetailViewModel
@using GRA
@using GRA.Domain.Model

<div class="fs-5 mt-2 mb-3">
    Created By:
    @if (Model.User.CreatedBy == 0)
    {
        @:self-registered
    }
    else if (Model.CanViewParticipants)
    {
        <a aria-label="@Model.CreatedByName (Opens new window)"
           asp-action="@nameof(ParticipantsController.Detail)"
           asp-controller="@ParticipantsController.Name"
           asp-route-id="@Model.User.CreatedBy"
           target="_blank">@Model.CreatedByName</a>
    }
    else
    {
        @Model.CreatedByName
    }
    on @Model.User.CreatedAt
    @if (Model.User.IsMcRegistered)
    {
        @:via Mission Control
    }
</div>

@await Html.PartialAsync("_ParticipantPartial")

<form asp-controller="Participants" method="post" role="form">
    <input asp-for="Id" type="hidden" />
    <input asp-for="HouseholdCount" type="hidden" />
    <input asp-for="PrizeCount" type="hidden" />
    <input asp-for="RoleCount" type="hidden" />
    <input asp-for="HasAccount" type="hidden" />
    <input asp-for="User.IsHomeschooled" type="hidden" />
    <input asp-for="User.SchoolNotListed" type="hidden" />
    <input asp-for="User.VendorCode" type="hidden" />
    <input asp-for="User.VendorCodeMessage" type="hidden" />

    <div class="row">
        <div class="col-12">
            @if (Model.CanEditUsername)
            {
                <input asp-for="CanEditUsername" type="hidden" />
                <div class="row mb-3">
                    <div class="col-12">
                        <label asp-for="User.Username" class="col-form-label"></label>
                        <span id="Username-Icon" class="fa colored-icon d-none"></span>
                        <input asp-for="User.Username" class="form-control" />
                        <span id="Username-Validation" asp-validation-for="User.Username" class="text-success"></span>
                    </div>
                </div>
            }

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="User.FirstName" class="col-form-label"></label>
                    <input asp-for="User.FirstName" class="form-control" />
                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="User.LastName" class="col-form-label"></label>
                    <input asp-for="User.LastName" class="form-control" />
                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                </div>
            </div>

            @if (Model.RequirePostalCode)
            {
                <div class="row mb-3">
                    <div class="col-12">
                        <label asp-for="User.PostalCode" class="col-form-label"></label>
                        <input asp-for="User.PostalCode" class="form-control" />
                        <span asp-validation-for="User.PostalCode" class="text-danger"></span>
                    </div>
                </div>
            }

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="User.Email" class="col-form-label"></label>
                    <input asp-for="User.Email" class="form-control" />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="User.PhoneNumber" class="col-form-label"></label>
                    <input asp-for="User.PhoneNumber" class="form-control" />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="User.SystemId" class="col-form-label"></label>
                    <select asp-for="User.SystemId" asp-items="Model.SystemList" class="form-select"></select>
                    <span asp-validation-for="User.SystemId" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="User.BranchId" class="col-form-label"></label>
                    <select asp-for="User.BranchId" asp-items="Model.BranchList" class="form-select"></select>
                    <span asp-validation-for="User.BranchId" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="User.ProgramId" class="col-form-label"></label>
                    <select asp-for="User.ProgramId" asp-items="Model.ProgramList" class="form-select"></select>
                    <span asp-validation-for="User.ProgramId" class="text-danger"></span>
                </div>
            </div>

            <div id="ageField" class="row mb-3 @(Model.ShowAge ? "": "d-none")">
                <div class="col-12">
                    <label asp-for="User.Age" class="col-form-label"></label>
                    <input asp-for="User.Age" class="form-control" type="text" />
                    <span id="ageMessage" asp-validation-for="User.Age" class="text-danger"></span>
                </div>
            </div>

            <div id="schoolFields" class="@(Model.ShowSchool ? "": "d-none")">
                @if (Model.CanEditDetails)
                {
                    @await Html.PartialAsync("_SchoolSelectionPartial", Model)
                }
                else if (Model.ShowSchool)
                {
                    <label class="col-form-label">School</label>
                    @if (Model.User.IsHomeschooled)
                    {
                        <input class="form-control" type="text" value="Homeschooled" />
                    }
                    else if (Model.User.SchoolNotListed)
                    {
                        <input class="form-control" type="text" value="School not listed" />
                    }
                    else
                    {
                        <input class="form-control" type="text" value="@Model.School.Name" />
                    }
                }
            </div>

            @if (Model.AskEmailSubscription == true)
            {
                <div class="row mb-3">
                    <div class="col-12">
                        <label asp-for="User.IsEmailSubscribed" class="col-form-label">@Model.AskEmailSubscriptionText</label>
                        <select asp-for="User.IsEmailSubscribed" class="form-select">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                        <span asp-validation-for="User.IsEmailSubscribed" class="text-danger"></span>
                    </div>
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(Model.TranslationDescriptionPastTense))
            {
                <div class="row mb-3">
                    <div class="col-12">
                        <label asp-for="User.DailyPersonalGoal" class="col-form-label"></label>
                        <div>
                            I will @Model.TranslationDescriptionPastTense
                            <input asp-for="User.DailyPersonalGoal" class="form-control" style="display:inline-block; width:75px;" />
                            @Model.ActivityDescriptionPlural a day
                        </div>
                        <span asp-validation-for="User.DailyPersonalGoal" class="text-danger"></span>
                    </div>
                </div>
            }

			@if (Model.AskPersonalPointGoal)
			{
				<div class="row mb-3">
					<div class="col-12">
						<label asp-for="User.PersonalPointGoal" class="col-form-label"></label>
						<span class="fas fa-info-circle"
							  data-bs-toggle="tooltip"
							  title="@String.Format(GRA.Annotations.Interface.PersonalPointGoalDescription, Model.MinimumPersonalPointGoal)"></span>
						<div>
							@GRA.Annotations.Interface.PersonalPointGoalLabel
							<input asp-for="User.PersonalPointGoal"
								   max="@Model.MaximumPersonalPointGoal"
								   min="@Model.MinimumPersonalPointGoal"
								   class="form-control"
								   style="display:inline-block; width:100px;" />
						</div>
						<span asp-validation-for="User.PersonalPointGoal" class="text-danger"></span>
					</div>
				</div>
			}

            @if (Model.IsVendorCodeDisplayed)
            {
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="alert alert-info">
                            <strong>Free Book Code:</strong>
                            @if (Model.User.NeedsToAnswerVendorCodeQuestion)
                            {
                                <button class="btn btn-info btn-spinner"
                                        style="margin-left: 2rem;"
                                        asp-action="RedeemCode"
                                        asp-is-disabled="@(!Model.CanEditDetails)"
                                        button-spinner>
                                    <span class="buttonText">Redeem code</span>
                                </button>
                                @if (Model.User.CanDonateVendorCode)
                                {
                                    @:or
                                    <button class="btn btn-outline-success btn-spinner"
                                            asp-action="DonateCode"
                                            asp-is-disabled="@(!Model.CanEditDetails)"
                                            button-spinner>
                                        <span class="buttonText">Donate book</span>
                                    </button>
                                }
                                @if (Model.User.CanEmailAwardVendorCode)
                                {
                                    @:or
                                    <button id="emailAwardButton"
                                            class="btn btn-warning"
                                            asp-is-disabled="@(!Model.CanEditDetails)">
                                        <span class="buttonText">Email e-audiobook</span>
                                    </button>
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.User.VendorCodeUrl))
                                {
                                    <strong>
                                        <a href="@Model.User.VendorCodeUrl"
                                           target="_blank">@Model.User.VendorCode</a>
                                    </strong>
                                }
                                else
                                {
                                    if (!string.IsNullOrEmpty(Model.User.VendorCode))
                                    {
                                        <strong>@Model.User.VendorCode</strong>
                                    }
                                    else
                                    {
                                        if (Model.User.Donated == true)
                                        {
                                            <em>donated</em>
                                        }
                                        else
                                        {
                                            <strong>n/a</strong>
                                        }
                                    }
                                }
                                if (Model.User.Donated == true
                                && User.HasClaim(ClaimType.Permission,
                                Permission.UnDonateVendorCode.ToString()))
                                {
                                    if (Model.User.IsDonationLocked)
                                    {
                                        <button class="btn btn-secondary disabled"
                                                style="margin-left: 2rem;"
                                                asp-is-disabled="true">
                                            <span class="buttonText">Donated through vendor</span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-info btn-spinner"
                                                style="margin-left: 2rem;"
                                                asp-action="@nameof(ParticipantsController.UndonateCode)"
                                                asp-is-disabled="@(!Model.CanEditDetails)"
                                                button-spinner>
                                            <span class="buttonText">Un-donate</span>
                                        </button>
                                    }
                                }
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.User.VendorCodeMessage))
                            {
                                @:/
                                @Html.Raw(Model.User.VendorCodeMessage)
                            }
                            @if (Model.User.VendorIsDamaged || Model.User.VendorIsMissing)
                            {
                                @if (Model.User.VendorIsDamaged)
                                {
                                    @:/ Item is damaged
                                }
                                @if (Model.User.VendorIsMissing)
                                {
                                    @:/ Item is missing
                                }
                                @:<button class="btn btn-sm btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#missingDamaged">Update status</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="mb-3 d-flex d-print-none justify-content-end">
        <a asp-action="Index" class="btn btn-outline-secondary mt-2 me-2">Return to Participants</a>
        @if (Model.CanEditDetails)
        {
            <input asp-for="Action" value="@nameof(ParticipantsController.Detail)" type="hidden" />
            <input asp-for="CanEditDetails" type="hidden" />
            <input asp-for="Username" type="hidden" />
            <input asp-for="User.Id" type="hidden" />
            <input asp-for="User.CardNumber" type="hidden" />
            <input asp-for="User.HouseholdHeadUserId" type="hidden" />
            <input asp-for="User.IsDeleted" type="hidden" />
            <input asp-for="User.IsLockedOut" type="hidden" />
            <input asp-for="User.LastAccess" type="hidden" />
            <input asp-for="User.PointsEarned" type="hidden" />
            <input asp-for="User.AchievedAt" type="hidden" />
            <button type="submit"
                    asp-action="Detail"
                    id="Submit"
                    name="Submit"
                    value="Submit"
                    class="btn btn-outline-primary mt-2"
                    button-spinner>
                <span class="buttonText">Save Changes</span>
            </button>
        }
    </div>
</form>

@if (Model.User.VendorIsDamaged || Model.User.VendorIsMissing)
{
    <div class="modal fade" tabindex="-1" role="dialog" id="missingDamaged">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title">Update Free Book Code status</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Book code <strong>@Model.User.VendorCode</strong> associated with this participant is marked:
                        @(Model.User.VendorIsDamaged ? "damaged" : null)
                        @(Model.User.VendorIsDamaged && Model.User.VendorIsMissing ? " & " : null)
                        @(Model.User.VendorIsMissing ? "missing" : null)
                    </p>
                    Change that status by clicking below which will email the participant that their item is ready.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <form asp-action="@nameof(ParticipantsController.MarkVendorItemAsReceived)"
                          style="display: inline;">
                        <input type="hidden" name="id" value="@Model.User.Id">
                        <input type="hidden" name="vendorCode" value="@Model.User.VendorCode">
                        <button class="btn btn-warning">Not damaged or missing</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- /.modal -->
}

@if (Model.CanEditDetails && Model.User.NeedsToAnswerVendorCodeQuestion && Model.User.CanEmailAwardVendorCode)
{
    <div class="row">
        <div class="modal fade"
             id="emailAwardModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="emailAwardLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form asp-action="@nameof(ParticipantsController.EmailAward)"
                          method="post"
                          role="form"
                          style="display:inline">
                        <input asp-for="EmailAwardModel.UserId"
                               value="@Model.User.Id"
                               type="hidden" />
                        <input asp-for="EmailAwardModel.Action"
                               value="@nameof(ParticipantsController.Detail)"
                               type="hidden" />
                        <div class="modal-body">
                            <p>@Html.Raw(Model.User.EmailAwardInstructions)</p>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <label asp-for="EmailAwardModel.Email"
                                           class="col-form-label"></label>
                                    <input asp-for="EmailAwardModel.Email"
                                           class="form-control"
                                           value="@Model.User.Email" />
                                    <span asp-validation-for="EmailAwardModel.Email"
                                          class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal"
                                    style="margin-right: 1em;">
                                @GRA.Annotations.Interface.Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-outline-warning btn-spinner float-end"
                                    aria-label="Confirm"
                                    button-spinner>
                                @GRA.Annotations.Interface.Confirm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    @if (!Model.CanEditDetails)
    {
        <script>
            $("input").prop('readonly', true);
            $("select").prop('disabled', true);
        </script>
    }
    <script>
        var programs = JSON.parse('@Html.Raw(Model.ProgramJson)');
        var selectedProgram = $.grep(programs, function (obj) {
            return obj.Id == $("#User_ProgramId").val();
        })[0];

        $("#User_SystemId").on("change", function () {
            let systemId = $(this).val();
            let branchList = $("#User_BranchId");
            let branchId = branchList.val();
            let url = "@Url.Action("GetBranches", "Lookup", new { Area = string.Empty })";

            $.getJSON(url, { systemId: systemId, branchId: branchId }, function (response) {
                branchList.empty();
                if (response.length > 1) {
                    branchList.append(new Option("", "-1"));
                }
                $.each(response, function (index, item) {
                    branchList.append(new Option(item.text, item.value, item.selected, item.selected))
                });
            });
        });

        $("#User_ProgramId").on("change", function () {
            let programId = $(this).val();
            selectedProgram = $.grep(programs, function (obj) {
                return obj.Id == programId;
            })[0];
            if (selectedProgram != null) {
                if (selectedProgram.AskAge) {
                    $("#ageField").removeClass("d-none");
                    validateAge();
                }
                else {
                    $("#ageField").addClass("d-none");
                }

                if (selectedProgram.AskSchool) {
                    $("#schoolFields").removeClass("d-none");
                }
                else {
                    $("#schoolFields").addClass("d-none");
                }
            }
        });

        $("#User_Age").on("change", function () {
            validateAge();
        });

        function validateAge() {
            let age = $("#User_Age").val();
            let message = $("#ageMessage");
            if (age != "" && ((age > selectedProgram.AgeMaximum && selectedProgram.AgeMaximum != null)
                || (age < selectedProgram.AgeMinimum && selectedProgram.AgeMinimum != null))) {
                let program = $.grep(programs, function (obj) {
                    return ((obj.AgeMaximum >= age || obj.AgeMaximum == null)
                        && (obj.AgeMinimum <= age || obj.AgeMinimum == null));
                })[0];
                if (program != null) {
                    message.removeClass('field-validation-valid field-validation-error text-danger');
                    message.addClass('text-primary');
                    $("#User_Age").removeClass("input-validation-error")
                    message.text("The program " + program.Name + " may be better suited for your age.")
                }
            }
            else {
                message.text("");
            }
        }
    </script>

    @if (Model.CanEditUsername)
    {
        <script>
            const usernameCheckUrl = "@Url.Action(nameof(GRA.Controllers.LookupController.UsernameInUse), LookupController.Name, new { Area = string.Empty })";
            const usernameIcon = $("#Username-Icon");
            const usernameField = $("#User_Username");
            const usernameValidation = $("#Username-Validation");

            usernameField.on("blur", function () {
                if ($(this).val().trim() != "" && !$(this).hasClass("input-validation-error")) {
                    $(this).val($(this).val().trim());
                    usernameIcon.addClass("fa-spinner fa-spin")
                        .removeClass("d-none fa-times-circle fa-check-circle text-success text-danger");
                    $.post(usernameCheckUrl, { username: $(this).val() }, function (response) {
                        if (response) {
                            $(this).removeClass("valid");
                            $(this).addClass("input-validation-error");
                            usernameValidation.removeClass("field-validation-valid text-success")
                                .addClass("field-validation-error")
                                .text("Someone has already chosen that username.");
                            usernameIcon.removeClass("fa-spinner fa-spin")
                                .addClass("fa-times-circle text-danger");
                        }
                        else {
                            usernameValidation.removeClass("field-validation-valid")
                                .addClass("text-success")
                                .text("The chosen username is available.");
                            usernameIcon.removeClass("fa-spinner fa-spin")
                                .addClass("fa-check-circle text-success");
                        }
                    });
                }
            });

            usernameField.on("keypress", function () {
                usernameIcon.addClass("d-none");
            });
        </script>
    }

    @if (Model.User.NeedsToAnswerVendorCodeQuestion && Model.User.CanEmailAwardVendorCode && Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.EditParticipants.ToString()))
    {
        <script>
            $("#emailAwardButton").on("click", function (event) {
                event.preventDefault();
                $("#emailAwardModal").modal("show");
            });
        </script>
    }
    @if (Model.CanEditDetails)
    {
        @await Html.PartialAsync("_SchoolSelectionScripts", Model)
    }
}