@model GRA.Controllers.ViewModel.MissionControl.Participants.EmailSubscriptionLogViewModel

@await Html.PartialAsync("_ParticipantPartial")

<p class="d-print-none">History of this user's subscribe/unsubscribe actions.</p>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.SubscritionAuditLogs.Count() == 0)
        {
            <div class="alert alert-warning">No Log entries</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Action</th>
                            <th>By</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var auditLog in Model.SubscritionAuditLogs)
                        {
                            <tr>
                                <td>@auditLog.CreatedAt</td>
                                <td>@(auditLog.Subscribed ? "Subscribed" : "Unsubscribed")</td>
                                <td>
                                    @if (auditLog.TokenUsed)
                                    {
                                        @if (auditLog.CreatedBy != auditLog.UserId)
                                        {
                                            <a asp-action="Detail" asp-route-id="@auditLog.CreatedBy" target="_blank">Token with same email</a>
                                        }
                                        else
                                        {
                                            @:Token
                                        }
                                    }
                                    else
                                    {
                                        <a asp-action="Detail" asp-route-id="@auditLog.CreatedBy" target="_blank">@auditLog.CreatedByName</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-secondary">Return to Participants</a>
</div>