@model GRA.Controllers.ViewModel.MissionControl.Participants.GroupListViewModel

<div class="row my-3">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li>
                <a asp-action="@nameof(ParticipantsController.Index)"
                   class="nav-link">Participants</a>
            </li>
            <li>
                <a asp-action="@nameof(ParticipantsController.Groups)"
                   class="nav-link active">Groups</a>
            </li>
        </ul>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item"><a class="nav-link disabled">Group type:</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown"
                   href="#"
                   role="button"
                   aria-haspopup="true"
                   expanded="false">
                    @(Model.GroupType?.Name ?? "Show All") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-route-Search="@Model.Search"
                           class="dropdown-item">Show All</a>
                    </li>
                    @foreach (var groupType in Model.GroupTypeList)
                    {
                        <li>
                            <a asp-route-Search="@Model.Search"
                               asp-route-Type="@groupType.Id"
                               class="dropdown-item">@groupType.Name</a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>

<form asp-controller="Participants"
      asp-action="@nameof(ParticipantsController.Groups)"
      method="get"
      role="form">
    @if (Model.Type.HasValue)
    {
        <input asp-for="Type" type="hidden" />
    }
    <div class="row my-3">
        <div class="col-12 input-group">
            <input asp-for="Search"
                   class="form-control"
                   placeholder="Search by group name" />
            <a asp-action="@nameof(ParticipantsController.Groups)"
               asp-route-Type="@Model.Type"
               class="btn btn-outline-secondary">Clear</a>
            <input type="submit" value="Search" class="btn btn-outline-primary" />
        </div>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.Search))
{
    <div class="row">
        <div class="col-12">
            <p class="alert-sm alert-info">Searching for '<strong>@Model.Search</strong>'...</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        @if (!Model.Groups.Any())
        {
            <div class="alert alert-warning">No Groups found.</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Group Leader</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.Groups)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="@nameof(ParticipantsController.Household)" asp-route-id="@group.UserId" class="rowlink">
                                        @group.Name
                                    </a>
                                </td>
                                <td>@group.User.FullName</td>
                                <td>@group.GroupTypeName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
    </script>
}
