@model GRA.Controllers.ViewModel.MissionControl.Participants.HistoryListViewModel

@Html.Partial("_ParticipantPartial")

<div class="row">
    <div class="modal fade" id="bundleModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editModalLabel">Bundle Items</h4>
                </div>
                <div id="bundleModalBody" class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.CanRemoveHistory)
{
    <div class="row">
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteModalLabel">Delete item</h4>
                    </div>
                    <div class="modal-body">
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                        <form asp-controller="Participants" asp-action="DeleteHistory" method="post" role="form" style="display:inline">
                            <input id="Id" name="Id" type="hidden" />
                            <input id="userId" name="userId" value="@Model.Id" type="hidden" />
                            <button type="submit" class="btn btn-danger pull-right" aria-label="Confirm">
                                <span class="fa fa-remove" aria-hidden="true"></span>
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Historys.Count() == 0)
        {
            <div class="alert alert-warning">No History</div>
        }
        else
        {
            <div>
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Activity</th>
                            <th>Badge</th>
                            <th>Points</th>
                            @if (Model.CanRemoveHistory)
                            {
                                <th width="44">&nbsp;</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var history in Model.Historys)
                        {
                            <tr>
                                <td>@history.CreatedAt</td>
                                <td>@Html.Raw(history.Description)</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(history.BadgeFilename))
                                    {
                                        <div style="text-align:center;">
                                            <img class="img-thumbnail badge-sm" src="~/@history.BadgeFilename" asp-append-version="true" />
                                        </div>
                                    }
                                    else
                                    {
                                        @: &nbsp;
                                    }
                                </td>
                                <td>@history.PointsEarned</td>
                                @if (Model.CanRemoveHistory)
                                {
                                    <td class="gra-mc-icon">
                                        @if (history.IsDeletable)
                                        {
                                            <button type="button"
                                                    class="btn btn-danger btn-xs"
                                                    data-toggle="modal"
                                                    data-target="#deleteModal"
                                                    data-id="@history.Id"
                                                    data-name="@history.ItemName">
                                                <span class="fa fa-remove" aria-hidden="true"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            @:&nbsp;
                                        }
                                    </td>
                                }
                            </tr>
                        }
                        <tr class="total-row">
                            <td colspan="3" style="text-align:right">Total Points:</td>
                            <td colspan="2">@Model.TotalPoints</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="form-group">
    <a asp-action="Index" class="btn btn-default">Return to Participants</a>
</div>

@section scripts
{
    <script>
        $(".bundle-link").on("click", function () {
            var id = $(this).data("id");
            var url = "@Url.Action("GetItemsInBundleAsync", "Lookup", new { Area = string.Empty })";

            $.getJSON(url, { id: id }, function(response) {
                $("#bundleModalBody").html("");
                $("#bundleModal").modal("show");
                $.each(response, function (index, item) {
                    $("#bundleModalBody").html($("#bundleModalBody").html() + "<img class='img-thumbnail badge-sm bundle-image' src='/" + item + "' asp-append-version='true' />");
                });
            });

        })

        @if (Model.CanRemoveHistory) {
        <text>
        $('#deleteModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#modal-text').text('Are you sure you wish to Delete the item "' + name + '" ?');
            modal.find('#Id').val(id);
        })
        </text>
        }
    </script>
}