@model GRA.Controllers.ViewModel.MissionControl.Participants.HouseholdListViewModel

@section styles {
    <style>
        .system-selector {
            cursor: pointer;
        }

        .branch-selector {
            cursor: pointer;
        }
    </style>
}

@Html.Partial("_ParticipantPartial")

<div class="modal fade pendingModal" tabindex="-1" role="dialog" aria-labelledby="pendingModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br />
                Activity cannot be logged for this participant until they log in and answer a questionnaire.
            </div>
        </div>
    </div>
</div>

@if (Model.CanEditDetails)
{
    <div class="row">
        <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="lead">Add existing participant</span>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul class="nav nav-pills" style="padding: 10px 0;">
                                            <li id="All" class="active participantScope"><a style="cursor:pointer">All</a></li>
                                            <li id="System" class="participantScope">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <span id="systemText">System</span> <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var system in Model.SystemList)
                                                    {
                                                        <li><a class="system-selector" data-id="@system.Id">@system.Name</a></li>
                                                    }
                                                </ul>
                                            </li>
                                            <li id="Branch" class="participantScope">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <span id="branchText">Branch</span> <span class="caret"></span>
                                                </a>
                                                <ul id="branchDropdown" class="dropdown-menu">
                                                    @foreach (var branch in Model.BranchList)
                                                    {
                                                        <li><a class="branch-selector" data-id="@branch.Id">@branch.Name</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row row-spacing">
                                    <div class="col-xs-8">
                                        <input id="searchText" class="form-control"
                                               placeholder="Enter text to search for a participant here" />
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="col-xs-6">
                                            <button type="button" id="searchButton" class="btn btn-default btn-block" style="margin-right: 8px;">Search</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button type="button" id="clearButton" class="btn btn-default btn-block">Clear</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="searchMessage" class="row hide">
                                    <div class="col-xs-12">
                                        <p class="alert-sm alert-info">Searching for '<strong id="searchTerm"></strong>'</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <form asp-action="AddExisitingParticipant" method="post" role="form">
                                        <input name="Id" value="@Model.Id" type="hidden" />
                                        <div id="modalParticipantsList" class="col-xs-12">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="modal fade" id="promoteModal" tabindex="-1" role="dialog" aria-labelledby="promoteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="promoteModalLabel">Promote to Head of Household</h4>
                    </div>
                    <div class="modal-body">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                        <form asp-controller="Participants" asp-action="HouseholdPromote" method="post" role="form" style="display:inline">
                            <input asp-for="Id" type="hidden" />
                            <input id="PromoteId" name="PromoteId" type="hidden" />
                            <button type="submit" class="btn btn-primary pull-right" aria-label="Confirm">
                                <span class="fa fa-level-up" aria-hidden="true"></span>
                                Promote
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteModalLabel">Remove from household</h4>
                    </div>
                    <div class="modal-body">
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                        <form asp-controller="Participants" asp-action="HouseholdRemove" method="post" role="form" style="display:inline">
                            <input asp-for="Id" type="hidden" />
                            <input id="RemoveId" name="RemoveId" type="hidden" />
                            <button type="submit" class="btn btn-danger pull-right" aria-label="Confirm">
                                <span class="fa fa-minus" aria-hidden="true"></span>
                                Remove
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Users.Count() == 0)
        {
            <div class="alert alert-warning">Participant is not a member of a household</div>
        }
        else
        {
            <form id="form" asp-controller="Participants" method="post" role="form">
                <input asp-for="Id" type="hidden" />
                @if (Model.CanLogActivity)
                {
                    <input asp-for="UserSelection" type="hidden" />
                    <input asp-for="MinutesRead" type="hidden" />
                    <input asp-for="SecretCode" type="hidden" />

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 row-spacing">
                            <table>
                                <tr>
                                    <td style="padding-right:6px;">Apply</td>
                                    <td width="80px">
                                        <input data-action="@Url.Action("HouseholdApplyMinutesRead")" value="" class="form-control minutesInput" />
                                    </td>
                                    <td style="padding-left:6px;">
                                        <button type="submit" class="btn btn-primary btn-spinner minutesButton" data-action="@Url.Action("HouseholdApplyMinutesRead")">
                                            <span class="buttonText">Minutes Read</span>
                                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                                        </button>
                                    </td>
                                </tr>
                                @if (!string.IsNullOrWhiteSpace(Model.MinutesReadMessage))
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2">@Model.MinutesReadMessage</td>
                                    </tr>
                                }
                            </table>

                        </div>
                        <div class="col-xs-12 col-sm-6 row-spacing">
                            <table>
                                <tr>
                                    <td style="padding-right:6px;">Apply</td>
                                    <td width="200px">
                                        <input data-action="@Url.Action("HouseholdApplySecretCode")" class="form-control codeInput" />
                                    </td>
                                    <td style="padding-left:6px;">
                                        <button type="submit" class="btn btn-primary btn-spinner codeButton" data-action="@Url.Action("HouseholdApplySecretCode")">
                                            <span class="buttonText">Secret Code</span>
                                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                                        </button>
                                    </td>
                                </tr>
                                @if (!string.IsNullOrWhiteSpace(Model.SecretCodeMessage))
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2">@Html.Raw(Model.SecretCodeMessage)</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                }
                <div>
                    <table class="table table-condensed table-bordered link-table">
                        <thead>
                            <tr>
                                @if (Model.CanLogActivity)
                                {
                                    <th style="vertical-align:middle;" width="24px;"><input id="checkAll" type="checkbox" data-id="@Model.Head.Id" /></th>
                                }
                                @if (Model.CanReadMail)
                                {
                                    <th width="36px"><span class="fa fa-envelope fa-lg"></span></th>
                                }
                                @if (Model.CanViewPrizes)
                                {
                                    <th width="36px"><span class="fa fa-gift fa-lg"></span></th>
                                }
                                <th>User</th>
                                <th>Points Earned</th>
                                <th>Book Code</th>
                                <th>Branch</th>
                                <th>Program</th>
                                @if (Model.CanEditDetails)
                                {
                                    <th width="80px">&nbsp;</th>
                                }
                            </tr>
                            <tr class="warning @(Model.Id == Model.Head.Id ? "text-strong" : null)">
                                @if (Model.CanLogActivity)
                                {
                                    <td class="on-top" style="vertical-align:middle;">
                                        @if (!Model.Head.HasPendingQuestionnaire)
                                        {
                                            <input class="userSelection" type="checkbox" data-id="@Model.Head.Id" />
                                        }
                                        else
                                        {
                                            <span class="pendingQuestionnaire fa fa-exclamation-circle text-warning" style="cursor:pointer" data-toggle="modal" data-target=".pendingModal"></span>
                                        }
                                    </td>
                                }
                                @if (Model.CanReadMail)
                                {
                                    <td class="on-top" style="vertical-align:middle;">
                                        <a class="plain-link" asp-action="Mail" asp-route-id="@Model.Head.Id">
                                            @if (Model.Head.HasNewMail)
                                            {
                                                <span class="fa fa-envelope fa-lg"></span>
                                                <span class="fa fa-exclamation fa-2x exclamation-alert"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-envelope fa-lg" style="color:grey;"></span>
                                            }
                                        </a>
                                    </td>

                                }
                                @if (Model.CanViewPrizes)
                                {
                                    <td class="on-top" style="vertical-align:middle;">
                                        <a class="plain-link" asp-action="Prizes" asp-route-id="@Model.Head.Id">
                                            @if (Model.Head.HasUnclaimedPrize)
                                            {
                                                <span class="fa fa-gift fa-lg"></span>
                                                <span class="fa fa-exclamation fa-2x exclamation-alert"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-gift fa-lg" style="color:grey;"></span>
                                            }
                                        </a>
                                    </td>
                                }
                                <td class="td-class">
                                    <a asp-action="Detail" asp-route-id="@Model.Head.Id" class="rowlink">
                                        <div>
                                            @if (Model.Head.Id == Model.Id)
                                            {
                                                <span class="fa fa-user"></span>
                                            }
                                            @Model.Head.FullName
                                        </div>
                                        <div>@Model.Head.Username</div>
                                    </a>
                                </td>
                                <td>@Model.Head.PointsEarned</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                @Model.Head.VendorCode
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Model.Head.VendorCodeMessage
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>@Model.Head.BranchName</td>
                                <td>@Model.Head.ProgramName</td>
                                @if (Model.CanEditDetails)
                                {
                                    <td class="on-top">&nbsp;</td>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr class="@(Model.Id == user.Id ? "info text-strong" : null)">
                                    @if (Model.CanLogActivity)
                                    {
                                        <td class="on-top" style="vertical-align:middle;">
                                            @if (!user.HasPendingQuestionnaire)
                                            {
                                                <input class="userSelection" type="checkbox" data-id="@user.Id" />
                                            }
                                            else
                                            {
                                                <span class="pendingQuestionnaire fa fa-exclamation-circle text-warning" style="cursor:pointer" data-toggle="modal" data-target=".pendingModal"></span>
                                            }
                                        </td>
                                    }
                                    @if (Model.CanReadMail)
                                    {
                                        <td class="on-top" style="vertical-align:middle;">
                                            <a class="plain-link" asp-action="Mail" asp-route-id="@user.Id">
                                                @if (user.HasNewMail)
                                                {
                                                    <span class="fa fa-envelope fa-lg"></span>
                                                    <span class="fa fa-exclamation fa-2x exclamation-alert"></span>
                                                }
                                                else
                                                {
                                                    <span class="fa fa-envelope fa-lg" style="color:grey;"></span>
                                                }
                                            </a>
                                        </td>
                                    }
                                    @if (Model.CanViewPrizes)
                                    {
                                        <td class="on-top" style="vertical-align:middle;">
                                            <a class="plain-link" asp-action="Prizes" asp-route-id="@user.Id">
                                                @if (user.HasUnclaimedPrize)
                                                {
                                                    <span class="fa fa-gift fa-lg"></span>
                                                    <span class="fa fa-exclamation fa-2x exclamation-alert"></span>
                                                }
                                                else
                                                {
                                                    <span class="fa fa-gift fa-lg" style="color:grey;"></span>
                                                }
                                            </a>
                                        </td>
                                    }
                                    <td class="td-class">
                                        <a asp-action="Detail" asp-route-id="@user.Id" class="rowlink">
                                            <div>
                                                @if (user.Id == Model.Id)
                                                {
                                                    <span class="fa fa-user"></span>
                                                }
                                                @user.FullName
                                            </div>
                                        </a>
                                        <div>
                                            @if (Model.CanEditDetails && string.IsNullOrWhiteSpace(user.Username))
                                            {
                                                <a class="btn btn-default btn-xs on-top"
                                                   asp-action="RegisterHouseholdMember"
                                                   asp-route-id="@user.Id">
                                                    <span class="fa fa-user-plus"></span>
                                                    Add Username
                                                </a>
                                            }
                                            else
                                            {
                                                @user.Username
                                            }
                                        </div>
                                    </td>
                                    <td>@user.PointsEarned</td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    @user.VendorCode
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @user.VendorCodeMessage
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>@user.BranchName</td>
                                    <td>@user.ProgramName</td>
                                    @if (Model.CanEditDetails)
                                    {

                                        <td class="on-top">
                                            @if (!string.IsNullOrWhiteSpace(user.Username))
                                            {
                                                <button type="button"
                                                        class="btn btn-primary btn-xs"
                                                        style="width:22px;"
                                                        data-toggle="modal"
                                                        data-target="#promoteModal"
                                                        data-id="@user.Id"
                                                        data-name="@user.FullName">
                                                    <span class="fa fa-level-up" aria-hidden="true"></span>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-danger btn-xs"
                                                        style="margin-left:16px;width:22px;"
                                                        data-toggle="modal"
                                                        data-target="#removeModal"
                                                        data-id="@user.Id"
                                                        data-name="@user.FullName">
                                                    <span class="fa fa-minus" aria-hidden="true"></span>
                                                </button>
                                            }
                                            else
                                            {
                                                @:&nbsp;
                                            }
                                        </td>

                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model.CanLogActivity)
                {
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 row-spacing">
                            <table>
                                <tr>
                                    <td style="padding-right:6px;">Apply</td>
                                    <td width="80px">
                                        <input data-action="@Url.Action("HouseholdApplyMinutesRead")" value="" class="form-control minutesInput" />
                                    </td>
                                    <td style="padding-left:6px;">
                                        <button type="submit" class="btn btn-primary btn-spinner minutesButton" data-action="@Url.Action("HouseholdApplyMinutesRead")">
                                            <span class="buttonText">Minutes Read</span>
                                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                                        </button>
                                    </td>
                                </tr>
                                @if (!string.IsNullOrWhiteSpace(Model.MinutesReadMessage))
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2">@Model.MinutesReadMessage</td>
                                    </tr>
                                }
                            </table>

                        </div>
                        <div class="col-xs-12 col-sm-6 row-spacing">
                            <table>
                                <tr>
                                    <td style="padding-right:6px;">Apply</td>
                                    <td width="200px">
                                        <input data-action="@Url.Action("HouseholdApplySecretCode")" class="form-control codeInput" />
                                    </td>
                                    <td style="padding-left:6px;">
                                        <button type="submit" class="btn btn-primary btn-spinner codeButton" data-action="@Url.Action("HouseholdApplySecretCode")">
                                            <span class="buttonText">Secret Code</span>
                                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                                        </button>
                                    </td>
                                </tr>
                                @if (!string.IsNullOrWhiteSpace(Model.SecretCodeMessage))
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2">@Html.Raw(Model.SecretCodeMessage)</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                }
            </form>
        }
    </div>
</div>

<div class="form-group">
    <a asp-action="Index" class="btn btn-default">Return to Participants</a>
    @if (Model.CanEditDetails)
    {
        <a asp-action="AddHouseholdMember" asp-route-id="@Model.Id" class="btn btn-default">Add Household Member</a>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#listModal">Add Existing Participant</button>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });

        @if (Model.CanLogActivity) {
        <text>
        var submitting = false;

        $("#checkAll").on("change", function(e) {
            if (e.originalEvent)
            {
                $(".userSelection").prop("checked", $(this).prop("checked"));
            }
        });

        $(".userSelection").on("change", function(e) {
            if (e.originalEvent)
            {
                if ($(".userSelection:not(:checked)").length)
                {
                    $("#checkAll").prop("checked", false);
                }
                else
                {
                    $("#checkAll").prop("checked", true);
                }
            }
        });

        $(".minutesInput").on("keypress", function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13)
            {
                e.preventDefault();
                if (submitting != true) {
                    submitting = true;
                    $("#MinutesRead").val($(this).val());
                    SetUserSelection();
                    $("#form").attr("action", $(this).data("action")).submit();
                }
            }
        });

        $(".codeInput").on("keypress", function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13)
            {
                e.preventDefault();
                if (submitting != true) {
                    submitting = true;
                    $("#SecretCode").val($(this).val());
                    SetUserSelection();
                    $("#form").attr("action", $(this).data("action")).submit();
                }
            }
        });

        $(".minutesButton").on("click", function(e) {
            e.preventDefault();
            if (submitting != true) {
                submitting = true;
                $("#MinutesRead").val($(this).parent().parent().find(".minutesInput").val());
                SetUserSelection();
                $("#form").attr("action", $(this).data("action")).submit();
            }
        });

        $(".codeButton").on("click", function(e) {
            e.preventDefault();
            if (submitting != true) {
                submitting = true;
                $("#SecretCode").val($(this).parent().parent().find(".codeInput").val());
                SetUserSelection();
                $("#form").attr("action", $(this).data("action")).submit();
            }
        });

        function SetUserSelection() {
            var selectionArray = [];
            $(".userSelection:checked").each(function() {
                selectionArray.push($(this).data("id"));
            });
            $("#UserSelection").val(selectionArray);
        };
        </text>
        }

        @if (Model.CanEditDetails)
        {
        <text>
        var userId = @Model.Id
        var defaultSystemId = @Model.SystemId;
        var participantsUrl = "@Url.Action("HouseholdGetParticipantsList")";
        var branchUrl = "@Url.Action("GetBranches", "Lookup", new { Area = string.Empty })";
        var systemId = null;
        var branchId = null;
        var search = "";
        var page = 1;

        function UpdateParticipantsList() {
            $.get(participantsUrl,
                {
                    userId: userId,
                    systemId: systemId,
                    branchId: branchId,
                    search: search,
                    page: page
                }, function(response) {
                    $("#modalParticipantsList").html(response);
                });
        }

        function UpdateBranchList(system) {
            $.get(branchUrl,
                {
                    systemId: system,
                    branchId: null,
                    prioritize: true
                }, function(response) {
                    $("#branchDropdown").empty();
                    $.each(response, function(index, item) {
                        $("#branchDropdown").append('<li><a class="branch-selector" data-id="' + item.value + '">' + item.text+ '</a></li>');
                    });
                });
        }

        $('#listModal').on('show.bs.modal', function() {
            UpdateParticipantsList();
        })

        $("#All").on("click", function() {
            if (systemId != null) {
                $(this).siblings().removeClass("active");
                $(this).addClass().addClass("active");
                $("#systemText").text("System");
                $("#branchText").text("Branch");
                if (systemId != defaultSystemId) {
                    UpdateBranchList(defaultSystemId);
                }
                systemId = null;
                branchId = null;
                page = 1;
                UpdateParticipantsList();
            }
        });

        $(".system-selector").on("click", function(e) {
            var thisId = $(this).data("id");
            if (systemId != thisId || branchId != null) {
                if (systemId == null || branchId != null) {
                    var navPill = $(this).parent().parent().parent();
                    navPill.siblings().removeClass("active");
                    navPill.addClass().addClass("active");
                    if (branchId != null) {
                        $("#branchText").text("Branch");
                    }
                }
                $("#systemText").text($(this).text());
                if (systemId != thisId && (systemId != null || thisId != defaultSystemId)) {
                    UpdateBranchList(thisId);
                }
                systemId = thisId;
                branchId = null;
                page = 1;
                UpdateParticipantsList();
            }
        });

        $(document).on("click", ".branch-selector", function(e) {
            var thisId = $(this).data("id");
            if (branchId != thisId) {
                if (branchId == null) {
                    var navPill = $(this).parent().parent().parent();
                    navPill.siblings().removeClass("active");
                    navPill.addClass().addClass("active");
                    if (systemId == null) {
                        systemId = defaultSystemId;
                        $("#systemText").text($(".system-selector").first().text());
                    }
                }
                $("#branchText").text($(this).text());
                branchId = thisId;
                page = 1;
                UpdateParticipantsList();
            }
        });

        $("#searchButton").on("click", function () {
            search = $("#searchText").val();
            if (search != "") {
                $("#searchMessage").removeClass("hide");
                $("#searchTerm").html(search);
            }
            else {
                $("#searchMessage").addClass("hide");
            }
            page = 1;
            UpdateParticipantsList();
        })

        $("#clearButton").on("click", function () {
            $("#searchText").val("");
            if (search != "") {
                search = "";
                $("#searchMessage").addClass("hide");
                page = 1;
                UpdateParticipantsList();
            }
        })

        $(document).on("click", ".page-button", function () {
            if (!$(this).hasClass("disabled")) {
                page = $(this).data("page");
                UpdateParticipantsList();
            }
        });

        $('#promoteModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#modal-text').text('Are you sure you wish to promote "' + name + '" to head of the household?');
            modal.find('#PromoteId').val(id);
        })

        $('#removeModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#modal-text').text('Are you sure you wish to remove "' + name + '" from the household?');
            modal.find('#RemoveId').val(id);
        })
        </text>
        }
    </script>
}