@model GRA.Controllers.ViewModel.MissionControl.Participants.HouseholdImportViewModel

<form asp-controller="Participants" asp-action="@nameof(ParticipantsController.HouseholdImport)" method="post" role="form" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />

    <div class="row" style="padding:10px 0">
        <div class="col-xs-12">
            <div class="row row-spacing">
                <div class="col-xs-12">
                    <badge asp-for="SystemId" class="col-form-label"></badge>
                    <select asp-for="SystemId" asp-items="Model.SystemList" class="form-control"></select>
                    <span asp-validation-for="SystemId" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <badge asp-for="BranchId" class="col-form-label"></badge>
                    <select asp-for="BranchId" asp-items="Model.BranchList" class="form-control"></select>
                    <span asp-validation-for="BranchId" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <badge asp-for="ProgramId" class="col-form-label"></badge>
                    <select asp-for="ProgramId" asp-items="Model.ProgramList" class="form-control">
                        <option></option>
                    </select>
                    <span asp-validation-for="ProgramId" class="text-danger"></span>
                </div>
            </div>

            <div id="schoolFields" class="@(Model.ShowSchool ? "": "hide")">
                @await Html.PartialAsync("_SchoolSelectionPartial", Model)
            </div>

            @if (Model?.AskFirstTime?.Count() > 1)
            {
                <div class="row row-spacing">
                    <div class="col-xs-12">
                        <badge asp-for="IsFirstTime" class="col-form-label"></badge>
                        <select asp-for="IsFirstTime"
                                asp-items="Model.AskFirstTime"
                                class="form-control"></select>
                        <span asp-validation-for="IsFirstTime" class="text-danger"></span>
                    </div>
                </div>
            }

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <badge for="selectedFile">Select Excel file:</badge>
                    <div class="input-group">
                        <badge class="input-group-append">
                            <span class="btn btn-secondary btn-file">
                                <span class="far fa-file-image"></span>
                                Select an Excel file<input type="file" asp-for="UserExcelFile" accept=".xls,.xlsx" />
                            </span>
                        </badge>
                        <input type="text" class="form-control" readonly id="selectedFile">
                    </div>
                    <div>
                        <span asp-validation-for="UserExcelFile" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-xs-12">
                    <a asp-action="Household" asp-route-id="@Model.Id" class="btn btn-secondary">Return to Household</a>
                    <button type="submit"
                            id="Submit"
                            name="Submit"
                            value="Submit"
                            class="btn btn-primary btn-spinner"
                            button-spinner>
                        <span class="buttonText">Import Members</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
        var programs = JSON.parse('@Html.Raw(Model.ProgramJson)');
        var selectedProgram = $.grep(programs, function(obj) {
            return obj.Id == $("#ProgramId").val();
        })[0];

        $("#SystemId").on("change", function() {
            var systemId = $(this).val();
            var branchList = $("#BranchId");
            var branchId = branchList.val();
            var url = "@Url.Action("GetBranches", "Lookup", new { Area = string.Empty })";

            $.getJSON(url, { systemId: systemId, branchId: branchId }, function(response) {
                branchList.empty();
                if (response.length > 1)
                {
                    branchList.append(new Option("", "-1"));
                }
                $.each(response, function(index, item) {
                    branchList.append(new Option(item.text, item.value, item.selected, item.selected))
                });
            });
        });

        $("#ProgramId").on("change", function() {
            var programId = $(this).val();
            selectedProgram = $.grep(programs, function(obj) {
                return obj.Id == programId;
            })[0];
            if (selectedProgram != null)
            {
                if (selectedProgram.AskSchool)
                {
                    $("#schoolFields").removeClass("hide");
                }
                else
                {
                    $("#schoolFields").addClass("hide");
                }
            }
        });

        $(':file').on('fileselect', function (event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles = ' files selected' : label;

            if (input.length) {
                input.val(log);
                $('.btn-file').removeClass('btn-secondary');
                $('.btn-file').addClass('btn-success');
                $("#badgeImage").removeAttr("src");
                $("#badgeImage").height(200);
                $("#BadgeMakerImage").val("");
            }
            else {
                input.val('');
                $('.btn-file').addClass('btn-secondary');
                $('.btn-file').removeClass('btn-success');
            }
        });

        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });
    </script>

    @await Html.PartialAsync("_SchoolSelectionScripts", Model)
}