@model GRA.Controllers.ViewModel.MissionControl.Participants.HouseholdPrizeViewModel

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <h4>Select @(string.IsNullOrEmpty(Model.GroupName) ? "household" : "group") members to reedem the <strong>@Model.PrizeName</strong> prize</h4>
        <form id="form" asp-action="@nameof(ParticipantsController.HouseholdPrize)" method="post" role="form">
            <input asp-for="Id" type="hidden" />
            <input asp-for="DrawingId" type="hidden" />
            <input asp-for="TriggerId" type="hidden" />
            <input asp-for="PrizeName" type="hidden" />
            <input asp-for="UserSelection" type="hidden" />

            <button type="submit"
                    class="btn btn-outline-primary btn-spinner"
                    style="margin-bottom: 0.33rem;"
                    button-spinner>
                Redeem
            </button>
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="vertical-align:middle;" width="36px;" class="text-center"><input id="checkAll" type="checkbox" /></th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Branch</th>
                            <th>Program</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td class="on-top text-center" style="vertical-align:middle;">
                                    <input class="userSelection" type="checkbox" data-id="@user.Id" />
                                </td>
                                <td>@user.FullName</td>
                                <td>@user.Username</td>
                                <td>@user.BranchName</td>
                                <td>@user.ProgramName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

<div class="mb-3">
    <a asp-action="@nameof(ParticipantsController.Household)" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Return to @(string.IsNullOrEmpty(Model.GroupName) ? "Household" : "Group")</a>
    <a href="#" class="btn btn-outline-secondary float-end">Return to Top</a>
</div>

@section scripts {
    <script>
        $("#checkAll").on("change", function (e) {
            if (e.originalEvent) {
                $(".userSelection").prop("checked", $(this).prop("checked"));
            }
        });

        $(".userSelection").on("change", function (e) {
            if (e.originalEvent) {
                if ($(".userSelection:not(:checked)").length) {
                    $("#checkAll").prop("checked", false);
                }
                else {
                    $("#checkAll").prop("checked", true);
                }
            }
        });

        $("form").on("submit", function (e) {
            var selectionArray = [];
            $(".userSelection:checked").each(function () {
                selectionArray.push($(this).data("id"));
            });
            if (selectionArray.length > 0) {
                $("#UserSelection").val(selectionArray);
            }
            else {
                e.preventDefault();
                alert("No users selected.");
                $(".btn-spinner").removeClass("disabled");
                $(".btn-spinner").children(".fa-spinner").addClass("hidden");
            }
        });
    </script>
}