@model GRA.Controllers.ViewModel.MissionControl.Participants.ParticipantsListViewModel

@if (Model.ShowGroupsButton)
{
    <div class="row row-spacing">
        <div class="col-12">
            <ul class="nav nav-pills" style="padding: 10px 0;">
                <li class="active px-5"><a asp-action="@nameof(ParticipantsController.Index)">Participants</a></li>
                <li><a asp-action="@nameof(ParticipantsController.Groups)">Groups</a></li>
            </ul>
        </div>
    </div>
}

@if (Model.CanSignUpParticipants)
{
    <div class="row row-spacing">
        <div class="col-12">
            <a asp-action="Add" class="btn btn-secondary">Add Participant</a>
        </div>
    </div>
}

<div class="row row-spacing">
    <div class="col-12 col-sm-6">
        <span class="dropdown-label">Location:</span>
        <ul class="nav" style="display: inline-table;">
            <li class="@(Model.ActiveNav == "All" ? "active" : "")"><a asp-route-Search="@Model.Search" asp-route-ProgramId="@Model.ProgramId">All</a></li>
            <li class="@(Model.ActiveNav == "System" ? "active" : "")">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @(Model.SystemName ?? "System") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var system in Model.SystemList)
                    {
                        <li><a asp-route-Search="@Model.Search" asp-route-SystemId="@system.Id" asp-route-ProgramId="@Model.ProgramId">@system.Name</a></li>
                    }
                </ul>
            </li>
            <li class="@(Model.ActiveNav == "Branch" ? "active" : "")">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @(Model.BranchName ?? "Branch") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var branch in Model.BranchList)
                    {
                        <li><a asp-route-Search="@Model.Search" asp-route-BranchId="@branch.Id" asp-route-ProgramId="@Model.ProgramId">@branch.Name</a></li>
                    }
                </ul>
            </li>
        </ul>
        <span class="dropdown-label">Program:</span>
        <ul class="nav" style="display: inline-table;">
            <li>
                <a class="btn btn-secondary dropdown-toggle"
                   data-bs-toggle="dropdown" 
                    href="#" 
                    role="button" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    @(Model.ProgramName ?? "Show All") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-route-Search="@Model.Search" 
                        asp-route-SystemId="@Model.SystemId" 
                        asp-route-BranchId="@Model.BranchId">Show All</a></li>
                    @foreach (var program in Model.ProgramList)
                    {
                        <li><a asp-route-Search="@Model.Search" 
                            asp-route-ProgramId="@program.Id" 
                            asp-route-SystemId="@Model.SystemId" 
                            asp-route-BranchId="@Model.BranchId">@program.Name</a></li>
                    }
                </ul>
            </li>
        </ul>
        @if (Model.HasVendorCodeManagement)
        {
            <div class="checkbox" style="display: inline-table;">
                <label>
                <input type="checkbox" 
                    id="multiplePrimaryVendorCodesIndicator"
                    checked="@Model.HasMultiplePrimaryVendorCodes"> Multiple primary vendor codes
            </label>
        </div>
        }
    </div>
</div>

<form asp-controller="Participants" asp-action="Index" method="get" role="form">
    <input type="hidden" 
        asp-for="HasMultiplePrimaryVendorCodes" 
        value="@Model.HasMultiplePrimaryVendorCodes" />
    @if (Model.SystemId.HasValue)
    {
        <input asp-for="SystemId" type="hidden" />
    }
    @if (Model.BranchId.HasValue)
    {
        <input asp-for="BranchId" type="hidden" />
    }
    @if (Model.ProgramId.HasValue)
    {
        <input asp-for="ProgramId" type="hidden" />
    }
    <div class="row row-spacing">
        <div class="col-8">
            <input asp-for="Search"
                   class="form-control"
                   placeholder="Search by username, first or last name, full name, free book code" />
        </div>
        <div class="col-4">
            <input type="submit"
                   value="Search"
                   class="btn btn-secondary"
                   style="margin-right: 8px;" />
            <a asp-action="Index"
               asp-route-SystemId="@Model.SystemId"
               asp-route-BranchId="@Model.BranchId"
               asp-route-ProgramId="@Model.ProgramId" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.Search))
{
    <div class="row">
        <div class="col-12">
            <p class="alert-sm alert-info">Searching for '<strong>@Model.Search</strong>'</p>
        </div>
    </div>
}

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.Users.Count() == 0)
        {
            <div class="alert alert-warning">No Participants found.</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered @(Model.CanViewDetails ? "link-table" : "table-striped")">
                    <thead>
                        <tr>
                            <th><a sort asp-route-Search="@Model.Search" 
                                asp-route-SystemId="@Model.SystemId" 
                                asp-route-BranchId="@Model.BranchId" 
                                asp-route-ProgramId="@Model.ProgramId" 
                                asp-route-Sort="@Model.SortUsers.GetValue(3)" 
                                asp-route-Order="@(Model.Sort == Model.SortUsers.GetValue(3).ToString() && !Model.IsDescending ? "Descending" : "Ascending")">Registered</a></th>
                            <th><a sort asp-route-Search="@Model.Search" 
                                asp-route-SystemId="@Model.SystemId" 
                                asp-route-BranchId="@Model.BranchId" 
                                asp-route-ProgramId="@Model.ProgramId" 
                                asp-route-Sort="@Model.SortUsers.GetValue(0)" 
                                asp-route-Order="@(Model.Sort == Model.SortUsers.GetValue(0).ToString() && !Model.IsDescending ? "Descending" : "Ascending")">First Name</a></th>
                            <th><a sort asp-route-Search="@Model.Search" 
                                asp-route-SystemId="@Model.SystemId" 
                                asp-route-BranchId="@Model.BranchId" 
                                asp-route-ProgramId="@Model.ProgramId" 
                                asp-route-Sort="@Model.SortUsers.GetValue(1)" 
                                asp-route-Order="@(Model.Sort == Model.SortUsers.GetValue(1).ToString() && !Model.IsDescending ? "Descending" : "Ascending")">Last Name</a></th>
                            <th><a sort asp-route-Search="@Model.Search" 
                                asp-route-SystemId="@Model.SystemId" 
                                asp-route-BranchId="@Model.BranchId" 
                                asp-route-ProgramId="@Model.ProgramId" 
                                asp-route-Sort="@Model.SortUsers.GetValue(2)" 
                                asp-route-Order="@(Model.Sort == Model.SortUsers.GetValue(2).ToString() && !Model.IsDescending ? "Descending" : "Ascending")">Username</a></th>
                            <th>Email Address</th>
                            <th>Branch</th>
                            <th hidden>Program</th>
                            <th>Points</th>
                            @if (Model.CanRemoveParticipant)
                            {
                                <th>&nbsp;</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td class="td-class">
                                    @if (Model.CanViewDetails)
                                    {
                                        <a asp-action="Detail" asp-route-id="@user.Id" class="rowlink">
                                            @user.CreatedAt.ToString("d")
                                        </a>
                                    }
                                    else
                                    {
                                        @user.CreatedAt.ToString("d")
                                    }
                                </td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Username</td>
                                <td>@user.Email</td>
                                <td>@user.BranchName</td>
                                <td hidden>@user.ProgramName</td>
                                <td>@user.PointsEarned</td>
                                @if (Model.CanRemoveParticipant)
                                {
                                    <td class="on-top gra-mc-icon">
                                        <button type="button"
                                                class="btn btn-danger btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteModal"
                                                data-id="@user.Id"
                                                data-name="@(user.Username ?? user.FullName)"
                                                data-iselevated="@user.IsAdmin">
                                            <span class="fas fa-times" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@if (Model.CanRemoveParticipant)
{
    <div class="row">
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="deleteModalLabel">Delete participant</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (Model.CanRemoveParticipant)
                        {
                            <div class="row" id="elevatedWarning">
                                <div class="col-12">
                                    <div class="alert alert-warning">
                                        <strong>
                                            <span class="fas fa-exclamation-triangle"></span>
                                            This user has an administrative role in this software.
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        }
                        <strong id="modal-text"></strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <form asp-controller="Participants"
                              asp-action="Delete"
                              method="post"
                              role="form"
                              style="display:inline">
                            <input id="Id" name="Id" type="hidden" />
                            <button type="submit"
                                    class="btn btn-danger pull-right"
                                    aria-label="Confirm">
                                <span class="fas fa-times" aria-hidden="true"></span>
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
    {
    <script>
        @if (Model.HasVendorCodeManagement) {
            <text>
            const multiplePrimaryVendorCodesIndicator = document
                .getElementById("multiplePrimaryVendorCodesIndicator");
            const multiplePrimaryVendorCodes = document
                .getElementById("HasMultiplePrimaryVendorCodes");

            multiplePrimaryVendorCodesIndicator.addEventListener("change", (e) => {
                multiplePrimaryVendorCodes.value = e.target.checked;
            });
            </text>
        }
        @if (Model.CanViewDetails)
        {
            <text>
                $(document).ready(function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        </text>
        }

        @if (Model.CanRemoveParticipant) {
        <text>
        $('#deleteModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var isElevated = button.data("iselevated");
            if (isElevated == "True") {
                $("#elevatedWarning").removeClass("d-none");
            }
            else {
                $("#elevatedWarning").addClass("d-none");
            }
            var modal = $(this);
            modal.find('#modal-text').text('Are you sure you wish to delete the participant "' + name + '"?');
            modal.find('#Id').val(id);
        })
        </text>
        }
    </script>
}
