@model GRA.Controllers.ViewModel.MissionControl.Participants.MailDetailViewModel

<div class="row row-spacing">
    <div class="col-12">
        <label class="col-form-label">Sent At</label>
        <input value="@Model.Mail.CreatedAt.ToString()" class="form-control" readonly />
    </div>
</div>

<div class="row row-spacing">
    <div class="col-12">
        <label asp-for="Mail.Subject" class="col-form-label"></label>
        <input asp-for="Mail.Subject" class="form-control" readonly />
    </div>
</div>

<div class="row row-spacing">
    <div class="col-12">
        <label asp-for="Mail.Body" class="col-form-label"></label>
        @if (Model.Mail.ToUserId.HasValue)
        {
            <div class="form-control" style="min-height:71px;" readonly>
                @Html.Raw(Model.Mail.Body)
            </div>
        }
        else
        {
            <textarea asp-for="Mail.Body" class="form-control" readonly></textarea>
        }
    </div>
</div>

<div class="row row-spacing">
    <div class="col-12">
        <label class="col-form-label">Unread</label>
        <input value="@(Model.Mail.IsNew ? "Yes" : "No")" class="form-control" readonly />
    </div>
</div>


<div class="mb-3">
    <a asp-action="Index" class="btn btn-secondary">Return to Participants</a>
    <a asp-action="Mail" asp-route-id="@Model.Id" class="btn btn-secondary">Return to Mail List</a>
    @if (Model.CanRemoveMail)
    {
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete Mail
        </button>
    }
</div>

@if (Model.CanRemoveMail)
{
    <div class="row">
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="deleteModalLabel">Delete mail</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" aria-hidden="true"></span>
                        <span id="modal-text">
                            Are you sure you wish to delete the mail "@Model.Mail.Subject" ?
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <form asp-controller="Participants"
                              asp-action="DeleteMail"
                              method="post"
                              role="form"
                              style="display:inline">
                            <input id="Id" name="Id" value="@Model.Mail.Id" type="hidden" />
                            <input id="userId" name="userId" value="@Model.Id" type="hidden" />
                            <button type="submit"
                                    class="btn btn-outline-danger float-end"
                                    aria-label="Confirm">
                                <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
