@model GRA.Controllers.ViewModel.MissionControl.Participants.PrizeListViewModel

@Html.Partial("_ParticipantPartial")

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.PrizeWinners.Count() == 0)
        {
            <div class="alert alert-warning">No Prizes</div>
        }
        else
        {
            <div>
                <table class="table table-condensed table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Redeemed?</th>
                            <th>Prize</th>
                            <th>Redemption Instructions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prizeWinner in Model.PrizeWinners)
                        {
                            <tr>
                                <td>
                                    @if (prizeWinner.RedeemedAt.HasValue)
                                    {
                                        <form asp-controller="Participants" asp-action="UndoRedemption" method="post" role="form">
                                            <strong>Reedemed</strong> at @prizeWinner.RedeemedAt.Value.ToString()

                                            <input id="prizeWinnerId" name="prizeWinnerId" value="@prizeWinner.Id" type="hidden" />
                                            <input id="userId" name="userId" value="@prizeWinner.UserId" type="hidden" />
                                            <input id="page" name="page" value="@Model.PaginateModel.CurrentPage" type="hidden" />
                                            <button type="submit" style="margin-left:5px;" class="btn btn-default btn-xs btn-spinner">
                                                Undo
                                                <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-controller="Participants" asp-action="RedeemWinner" method="post" role="form">
                                            <input id="prizeWinnerId" name="prizeWinnerId" value="@prizeWinner.Id" type="hidden" />
                                            <input id="userId" name="userId" value="@prizeWinner.UserId" type="hidden" />
                                            <input id="page" name="page" value="@Model.PaginateModel.CurrentPage" type="hidden" />
                                            <button type="submit" class="btn btn-success btn-xs btn-spinner">
                                                <span class="fa fa-gift"></span>
                                                Available, click to redeem!
                                                <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
                                            </button>
                                        </form>
                                    }
                                </td>
                                <td>@prizeWinner.PrizeName</td>
                                <td>@prizeWinner.PrizeRedemptionInstructions</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="form-group">
    <a asp-action="Index" class="btn btn-default">Return to Participants</a>
</div>