@model GRA.Controllers.ViewModel.MissionControl.Participants.PrizeListViewModel
@using GRA
@using GRA.Domain.Model

@await Html.PartialAsync("_ParticipantPartial")

@if (!string.IsNullOrWhiteSpace(Model.User.VendorCode)
|| Model.User.NeedsToAnswerVendorCodeQuestion)
{
    <form asp-controller="Participants" method="post" role="form">
        <input asp-for="Action" value="@nameof(ParticipantsController.Prizes)" type="hidden" />
        <input asp-for="User.Id" type="hidden" />
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info">
                    Free Book Code:
                    @if (Model.User.NeedsToAnswerVendorCodeQuestion)
                    {
                        <button class="btn btn-info btn-spinner"
                                asp-action="RedeemCode"
                                asp-is-disabled="@(!Model.CanEditDetails)"
                                button-spinner>
                            <span class="buttonText">Redeem code</span>
                        </button>
                        @if (Model.User.CanDonateVendorCode)
                        {
                            @:or
                            <button class="btn btn-outline-success btn-spinner"
                                    asp-action="DonateCode"
                                    asp-is-disabled="@(!Model.CanEditDetails)"
                                    button-spinner>
                                <span class="buttonText">Donate book</span>
                            </button>
                        }
                        @if (Model.User.CanEmailAwardVendorCode)
                        {
                            @:or
                            <button id="emailAwardButton"
                                    class="btn btn-warning"
                                    asp-is-disabled="@(!Model.CanEditDetails)">
                                <span class="buttonText">Email e-audiobook</span>
                            </button>
                        }
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(Model.User.VendorCodeUrl))
                        {
                            <strong>
                                <a href="@Model.User.VendorCodeUrl"
                                   class="alert-link"
                                   target="_blank">@Model.User.VendorCode</a>
                            </strong>
                        }
                        else
                        {
                            <strong>@Model.User.VendorCode</strong>
                        }
                        if (Model.User.Donated == true
                        && User.HasClaim(ClaimType.Permission,
                        Permission.UnDonateVendorCode.ToString()))
                        {
                            if (Model.User.IsDonationLocked)
                            {
                                <button class="btn btn-secondary disabled"
                                        asp-is-disabled="true">
                                    <span class="buttonText">Donated through vendor</span>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-info btn-spinner"
                                        asp-action="@nameof(ParticipantsController.UndonateCode)"
                                        asp-is-disabled="@(!Model.CanEditDetails)"
                                        button-spinner>
                                    <span class="buttonText">Un-donate</span>
                                </button>
                            }
                        }
                    }
                    @if (Model.User.VendorCodePackingSlip != default)
                    {
                        @:/ Packing Slip:
                        <a asp-action="@nameof(VendorCodesController.ViewPackingSlip)"
                           asp-controller="@VendorCodesController.Name"
                           asp-route-id="@Model.User.VendorCodePackingSlip"
                           class="alert-link">@Model.User.VendorCodePackingSlip</a>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.User.VendorCodeMessage))
                    {
                        @:/
                        @Html.Raw(Model.User.VendorCodeMessage)
                    }
                </div>
            </div>
        </div>
    </form>
}
<div class="row">
    <div class="col-12">
        @if (Model.PrizeWinners.Count() == 0)
        {
            <div class="alert alert-warning">No Prizes</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Redeemed?</th>
                            <th>Prize</th>
                            <th>Redemption Instructions for Staff</th>
                            <th>Available at</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prizeWinner in Model.PrizeWinners)
                        {
                            <tr>
                                <td>
                                    @if (prizeWinner.RedeemedAt.HasValue)
                                    {
                                        <span id="staffNotes"
                                              name="staffNotes">@prizeWinner.StaffNotes</span>
                                        <form asp-controller="Participants"
                                              asp-action="UndoRedemption"
                                              method="post"
                                              role="form">
                                            <strong>Reedemed</strong> at
                                            @prizeWinner.RedeemedAt.Value.ToString()
                                            <input id="prizeWinnerId"
                                                   name="prizeWinnerId"
                                                   value="@prizeWinner.Id"
                                                   type="hidden" />
                                            <input id="userId"
                                                   name="userId"
                                                   value="@prizeWinner.UserId"
                                                   type="hidden" />
                                            <input id="page"
                                                   name="page"
                                                   value="@Model.PaginateModel.CurrentPage"
                                                   type="hidden" />
                                            <button type="submit"
                                                    class="btn btn-outline-secondary btn-sm mx-auto d-block mb-2"
                                                    button-spinner>
                                                Undo redemption
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-controller="Participants"
                                              asp-action="RedeemWinner"
                                              method="post"
                                              role="form">
                                            <input id="prizeWinnerId"
                                                   name="prizeWinnerId"
                                                   value="@prizeWinner.Id" type="hidden" />
                                            <input id="userId"
                                                   name="userId"
                                                   value="@prizeWinner.UserId"
                                                   type="hidden" />
                                            <input id="page"
                                                   name="page"
                                                   value="@Model.PaginateModel.CurrentPage"
                                                   type="hidden" />
                                            <input id="staffNotes"
                                                   name="staffNotes"
                                                   value="@prizeWinner.StaffNotes"
                                                   class="form-control mb-3"
                                                   placeholder="Add notes (optional)"
                                                   maxlength="255" />
                                            <button type="submit"
                                                    class="btn btn-outline-success btn-sm mx-auto d-block mb-2"
                                                    button-spinner>
                                                <span class="fas fa-gift fa-fw"></span>
                                                Available, click to redeem!
                                            </button>
                                        </form>
                                    }
                                </td>
                                <td>@prizeWinner.PrizeName</td>
                                <td>@prizeWinner.PrizeRedemptionInstructions</td>
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(prizeWinner.AvailableAtSystem))
                                    {
                                        @prizeWinner.AvailableAtSystem
                                        @if (!string.IsNullOrWhiteSpace(prizeWinner.AvailableAtBranch))
                                        {
                                            @:- @prizeWinner.AvailableAtBranch
                                        }
                                    }
                                    else
                                    {
                                        @: All Libraries
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-12 d-flex">
        @if (Model.User.HouseholdHeadUserId.HasValue || Model.HouseholdCount > 0)
        {
            <a asp-action="Household"
               asp-route-id="@(Model.User.HouseholdHeadUserId.HasValue ? Model.User.HouseholdHeadUserId.Value : Model.User.Id)"
               class="btn btn-outline-secondary">Return to Family</a>
        }
        <a asp-action="Index" class="btn btn-outline-secondary ms-auto">Return to All Participants</a>
    </div>
</div>

@if (Model.CanEditDetails && Model.User.NeedsToAnswerVendorCodeQuestion && Model.User.CanEmailAwardVendorCode)
{
    <div class="row">
        <div class="modal fade"
             id="emailAwardModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="emailAwardLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form asp-action="@nameof(ParticipantsController.EmailAward)"
                          method="post"
                          role="form"
                          style="display:inline">
                        <input asp-for="EmailAwardModel.UserId"
                               value="@Model.User.Id"
                               type="hidden" />
                        <input asp-for="EmailAwardModel.Action"
                               value="@nameof(ParticipantsController.Prizes)"
                               type="hidden" />
                        <div class="modal-body">
                            <p>@Html.Raw(Model.User.EmailAwardInstructions)</p>
                            <div class="row row-spacing">
                                <div class="col-12">
                                    <label asp-for="EmailAwardModel.Email"
                                           class="col-form-label"></label>
                                    <input asp-for="EmailAwardModel.Email"
                                           class="form-control"
                                           value="@Model.User.Email" />
                                    <span asp-validation-for="EmailAwardModel.Email"
                                          class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                    style="margin-right: 1em;">
                                @GRA.Annotations.Interface.Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-warning btn-spinner float-end"
                                    aria-label="Confirm"
                                    button-spinner>
                                @GRA.Annotations.Interface.Confirm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.User.NeedsToAnswerVendorCodeQuestion && Model.User.CanEmailAwardVendorCode
&& Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.EditParticipants.ToString()))
{
    @section scripts {
    <script>
        $("#emailAwardButton").on("click", function (event) {
            event.preventDefault();
            $("#emailAwardModal").modal("show");
        });
    </script>
    }
}