@model GRA.Controllers.ViewModel.MissionControl.Participants.PrizeListViewModel
@using GRA
@using GRA.Domain.Model

@await Html.PartialAsync("_ParticipantPartial")

@if (!string.IsNullOrWhiteSpace(Model.User.VendorCode)
   || Model.User.NeedsToAnswerDonationQuestion)
{
    <div class="row" style="padding: 1rem 0; margin-top: 1rem; margin-bottom: 1rem; font-size: 1.5rem; border: 1px solid grey;">
        <div class="col-xs-12">
            <strong>Free Book Code:</strong>
            @if (Model.User.NeedsToAnswerDonationQuestion)
            {
                <button class="btn btn-info btn-spinner"
                        asp-action="RedeemCode"
                        asp-is-disabled="@(!Model.CanEditDetails)">
                    <span class="buttonText">Redeem code</span>
                    <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                </button>
                @:or
                <button class="btn btn-success btn-spinner"
                        asp-action="DonateCode"
                        asp-is-disabled="@(!Model.CanEditDetails)">
                    <span class="buttonText">Donate book</span>
                    <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                </button>
            }
            else
            {
                if (!string.IsNullOrEmpty(Model.User.VendorCodeUrl))
                {
                    <strong>
                        <a href="@Model.User.VendorCodeUrl"
                           target="_blank">@Model.User.VendorCode</a>
                    </strong>
                }
                else
                {
                    <strong>@Model.User.VendorCode</strong>
                }
                if (Model.User.Donated == true
                    && User.HasClaim(ClaimType.Permission,
                        Permission.UnDonateVendorCode.ToString()))
                {
                    <button class="btn btn-info btn-spinner"
                            asp-action="UndonateCode"
                            asp-is-disabled="@(!Model.CanEditDetails)">
                        <span class="buttonText">Un-donate</span>
                        <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                    </button>
                }
            }
            @if (!string.IsNullOrWhiteSpace(Model.User.VendorCodeMessage))
            {
                @:/
                @Html.Raw(Model.User.VendorCodeMessage)
            }
        </div>
    </div>
}
<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.PrizeWinners.Count() == 0)
        {
            <div class="alert alert-warning">No Prizes</div>
        }
        else
        {
            <div>
                <table class="table table-condensed table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Redeemed?</th>
                            <th>Prize</th>
                            <th>Redemption Instructions</th>
                            <th>Available at</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prizeWinner in Model.PrizeWinners)
                        {
                            <tr>
                                <td>
                                    @if (prizeWinner.RedeemedAt.HasValue)
                                    {
                                        <form asp-controller="Participants" asp-action="UndoRedemption" method="post" role="form">
                                            <strong>Reedemed</strong> at @prizeWinner.RedeemedAt.Value.ToString()

                                            <input id="prizeWinnerId" name="prizeWinnerId" value="@prizeWinner.Id" type="hidden" />
                                            <input id="userId" name="userId" value="@prizeWinner.UserId" type="hidden" />
                                            <input id="page" name="page" value="@Model.PaginateModel.CurrentPage" type="hidden" />
                                            <button type="submit" style="margin-left:5px;" class="btn btn-default btn-xs btn-spinner">
                                                Undo
                                                <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-controller="Participants" asp-action="RedeemWinner" method="post" role="form">
                                            <input id="prizeWinnerId" name="prizeWinnerId" value="@prizeWinner.Id" type="hidden" />
                                            <input id="userId" name="userId" value="@prizeWinner.UserId" type="hidden" />
                                            <input id="page" name="page" value="@Model.PaginateModel.CurrentPage" type="hidden" />
                                            <button type="submit" class="btn btn-success btn-xs btn-spinner">
                                                <span class="fa fa-gift"></span>
                                                Available, click to redeem!
                                                <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
                                            </button>
                                        </form>
                                    }
                                </td>
                                <td>@prizeWinner.PrizeName</td>
                                <td>@prizeWinner.PrizeRedemptionInstructions</td>
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(prizeWinner.AvailableAtSystem))
                                    {
                                        @prizeWinner.AvailableAtSystem
                                        @if (!string.IsNullOrWhiteSpace(prizeWinner.AvailableAtBranch))
                                        {
                                            @:- @prizeWinner.AvailableAtBranch
                                        }
                                    }
                                    else
                                    {
                                        @: All Libraries
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="form-group">
    <a asp-action="Index" class="btn btn-default">Return to Participants</a>
</div>
