@model GRA.Controllers.ViewModel.MissionControl.Participants.RolesViewModel

@await Html.PartialAsync("_ParticipantPartial")

<form asp-action="Roles" method="post" role="form" style="padding-top:10px;">
    <input asp-for="Id" type="hidden" />

    <div class="row">
        <div class="col-6">
            <h3>Available Roles</h3>
            <ul id="unselectedRoles" class="list-group">
                @foreach (var role in Model.UnselectedRoles)
                {
                    <li class="list-group-item" data-id="@role.Id" data-name="@role.Name">
                        @role.Name
<<<<<<< HEAD
                        <button type="button" class="btn btn-outline-secondary btn-sm move-right"><span class="fas fa-angle-double-right"></span></button>
=======
                        <button type="button" class="btn btn-outline-secondary btn-sm move-right">
                            <span class="fas fa-angle-double-right"></span>
                        </button>
>>>>>>> a8987a795f5bfbe988fafeb6fb0e6dfb67776978
                    </li>
                }
            </ul>
        </div>

        <div class="col-6">
            <h3>Has Roles</h3>
            <ul id="selectedRoles" class="list-group">
                @foreach (var role in Model.SelectedRoles)
                {
                    <li class="list-group-item" data-id="@role.Id" data-name="@role.Name">
                        @role.Name
<<<<<<< HEAD
                        <button type="button" class="btn btn-outline-secondary btn-sm move-left"><span class="fas fa-angle-double-left"></span></button>
=======
                        <button type="button" class="btn btn-outline-secondary btn-sm move-left">
                            <span class="fas fa-angle-double-left"></span>
                        </button>
>>>>>>> a8987a795f5bfbe988fafeb6fb0e6dfb67776978
                    </li>
                }
            </ul>
        </div>
    </div>

    <hr />

<<<<<<< HEAD
    <div class="mb-3">
        <a asp-action="Index" class="btn btn-outline-secondary">Return to Participants</a>
=======
    <div class="mb-3 d-flex d-print-none justify-content-end">
        <a asp-action="Index" class="btn btn-outline-secondary me-2">Return to Participants</a>
>>>>>>> a8987a795f5bfbe988fafeb6fb0e6dfb67776978
        <button type="submit"
                id="Submit"
                name="Submit"
                value="Submit"
<<<<<<< HEAD
                class="btn btn-outline-primary btn-spinner"
=======
                class="btn btn-outline-primary"
>>>>>>> a8987a795f5bfbe988fafeb6fb0e6dfb67776978
                button-spinner>
            <span class="buttonText">Save Roles</span>
        </button>
    </div>
</form>

@section scripts {
    <script>
        $("form").on("submit", function () {
            var roles = $("#selectedRoles")
                .children()
                .map(function (a, item) { return $(item).data("id"); })
                .get();

            if (roles.length > 0) {
                $("<input />")
                    .attr("type", "hidden")
                    .attr("name", "Roles")
                    .attr("value", roles.join(","))
                    .appendTo($(this));
            }
        });

        $(document).on("click", ".move-right", function () {
            $(this).removeClass("move-right").addClass("move-left");
            $(this).children().removeClass("fa-angle-double-right").addClass("fa-angle-double-left");
            var item = $(this).parent();
            var selectedList = $("#selectedRoles");
            if (item.hasClass("list-group-item-danger")) {
                item.removeClass("list-group-item-danger");
                var added = false;
                var name = item.data("name");
                $(".list-group-item", selectedList).each(function () {
                    if ($(this).hasClass("list-group-item-success") == false && $(this).data("name") > name) {
                        item.insertBefore($(this));
                        added = true;
                        return false;
                    }
                });
                if (added == false) {
                    selectedList.append(item);
                }
            }
            else {
                item.addClass("list-group-item-success");
                var added = false;
                var name = item.data("name");
                $(".list-group-item", selectedList).each(function () {
                    if ($(this).hasClass("list-group-item-success") == false || $(this).data("name") > name) {
                        item.insertBefore($(this));
                        added = true;
                        return false;
                    }
                });
                if (added == false) {
                    selectedList.append(item);
                }
            }
        });

        $(document).on("click", ".move-left", function () {
            $(this).removeClass("move-left").addClass("move-right");
            $(this).children().removeClass("fa-angle-double-left").addClass("fa-angle-double-right");
            var item = $(this).parent();
            var unselectedList = $("#unselectedRoles");
            if (item.hasClass("list-group-item-success")) {
                item.removeClass("list-group-item-success");
                var added = false;
                var name = item.data("name");
                $(".list-group-item", unselectedList).each(function () {
                    if ($(this).hasClass("list-group-item-danger") == false && $(this).data("name") > name) {
                        item.insertBefore($(this));
                        added = true;
                        return false;
                    }
                });
                if (added == false) {
                    unselectedList.append(item);
                }
            }
            else {
                item.addClass("list-group-item-danger");
                var added = false;
                var name = item.data("name");
                $(".list-group-item", unselectedList).each(function () {
                    if ($(this).hasClass("list-group-item-danger") == false || $(this).data("name") > name) {
                        item.insertBefore($(this));
                        added = true;
                        return false;
                    }
                });
                if (added == false) {
                    unselectedList.append(item);
                }
            }
        });
    </script>
}