@using GRA.Controllers.ViewModel.MissionControl.Participants
@model VendorCodeViewModel

@await Html.PartialAsync("_ParticipantPartial")

<div class="row hidden-print" style="margin-bottom: 2rem;">
    <div class="col-xs-12">
        @if (Model.CurrentCodes?.Count() > 0)
        {
            <button type="button"
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#areYouSureModal">
                Assign new code
            </button>
        }
        @if (Model.CurrentUser)
        {
            <button type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#spareCodeModal">
                Assign spare code
            </button>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-sm table-bordered table-striped">
            <tr>
                <th>Code</th>
                <th>Item</th>
                <th>Status</th>
                <th>Dates</th>
                <th>Notes</th>
                @if (Model?.CurrentCodes?.Count() > 1)
                {
                    <th>Actions</th>
                }
            </tr>
            @if (Model?.CurrentCodes?.Count() > 0)
            {
                @foreach (var currentCode in Model?.CurrentCodes)
                {
                    @if (currentCode?.VendorCode != null)
                    {
                        <tr class="@VendorCodeViewModel.CurrentCodeClass(Model?.CurrentCodes?.Count())">
                            <td>@currentCode.VendorCode.Code</td>
                            <td>@currentCode.VendorCode.Details</td>
                            <td>@(currentCode.IsDonated == true ? "Donated" : currentCode.OrderStatus)</td>
                            <td>@Html.Raw(VendorCodeViewModel.GetFormattedDates(currentCode))</td>
                            <td>@Html.Raw(VendorCodeViewModel.GetFormattedNotes(currentCode))</td>
                            @if (Model?.CurrentCodes?.Count() > 1)
                            {
                                <td>
                                    <button type="button"
                                            class="btn btn-warning btn-sm"
                                            data-toggle="modal"
                                            data-target="#demoteCodeModal"
                                            data-demotecodeid="@currentCode.VendorCode.Id">
                                        Demote code
                                    </button>
                                </td>
                            }
                        </tr>
                    }
                }
            }
            @if (Model?.AssociatedCodes?.Count() > 0)
            {
                <tr>
                    <td colspan="5" class="text-center"><strong>Codes below have been replaced/assigned administratively.</strong></td>
                </tr>
                @foreach (var vendorInfo in Model?.AssociatedCodes)
                {
                    <tr>
                        <td>@vendorInfo.VendorCode.Code</td>
                        <td>@vendorInfo.VendorCode.Details</td>
                        <td>@(vendorInfo.IsDonated == true ? "Donated" : vendorInfo.OrderStatus)</td>
                        <td>@Html.Raw(VendorCodeViewModel.GetFormattedDates(vendorInfo))</td>
                        <td>@Html.Raw(VendorCodeViewModel.GetFormattedNotes(vendorInfo))</td>
                    </tr>
                }
            }
            @if ((Model?.CurrentCodes == null || Model?.CurrentCodes?.Count() == 0) && Model?.AssociatedCodes?.Any() != true)
            {
                <tr class="warning">
                    <td colspan="5">No earned or assigned codes.</td>
                </tr>
            }
        </table>
    </div>
</div>

<form method="post" asp-action="@nameof(ParticipantsController.AssignNewCode)">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="modal" id="areYouSureModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Assign new code</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to generate a new code?</p>
                    <ul>
                        <li>
                            This participant will have their old Prize removed, and a new Prize
                            created (if possible, we do not remove redeemed prizes).
                        </li>
                        <li>
                            This participant will receive a new Mail with their code. They will
                            still have an old Mail with their old code in it.
                        </li>
                        <li>
                            The primary view for this participant will be of the new code - that's
                            what they will see in their profile and on the Dashboard.
                        </li>
                        <li>
                            You should probably be in contact with the participant before taking
                            this action so they are not confused.
                        </li>
                    </ul>
                    <div class="mb-3">
                        <label for="reason">Please give a brief (255 or fewer characters) reason:</label>
                        <input type="text"
                               class="form-control"
                               id="reason"
                               name="reason"
                               placeholder="Reason for generating a new code">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-danger">Assign new code</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-action="@nameof(ParticipantsController.DemoteCode)">
    <input type="hidden" name="userId" value="@Model.Id" />
    <input type="hidden" name="demoteCodeId" id="demoteCodeId" />
    <div class="modal" id="demoteCodeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Demote code</h4>
                </div>
                <div class="modal-body">
                    <p>You are demoting a code for a user who has multiple primary codes.</p>
                    <ul>
                        <li>
                            This code will still exist in the system.
                        </li>
                        <li>
                            The participant may have seen this code already and placed a second
                            vendor order with it.
                        </li>
                        <li>
                            The vendor will still believe this code to be active unless you notify
                            them that it is no longer valid.
                        </li>
                        <li>
                            The participant will not see the demoted code in their profile or on
                            their Dashboard.
                        </li>
                        <li>
                            The primary view for this participant will be of the top non-demoted
                            code - that's what they will see in their profile and on the Dashboard.
                        </li>
                        <li>
                            The demoted code will remain visible on this page and associated with
                            this user.
                        </li>
                        <li>
                            You should probably be in contact with the participant before taking
                            this action so they are not confused.
                        </li>
                    </ul>
                    <div class="mb-3">
                        <label for="reason">Please give a brief (255 or fewer characters) reason:</label>
                        <input type="text"
                               class="form-control"
                               id="reason"
                               name="reason"
                               placeholder="Reason for demoting this code">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-danger">Demote code</button>
                </div>
            </div>
        </div>
    </div>
</form>



@if (Model.CurrentUser)
{
    <form method="post" asp-action="@nameof(ParticipantsController.AssignSpareCode)">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="modal" id="spareCodeModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Assign spare code</h4>
                    </div>
                    <div class="modal-body">
                        <p>This will generate a new code associated to your user.</p>
                        <ul>
                            <li>This code will <em>not</em> be your primary code.</li>
                            <li>You will not receive a prize or mail about this code.</li>
                            <li>
                                You will only be able to see status associated with this code in\
                                this Vendor Code area of Mission Control.
                            </li>
                        </ul>
                        <div class="mb-3">
                            <label for="reason">Please give a brief (255 or fewer characters) explanation:</label>
                            <input type="text"
                                   class="form-control"
                                   id="reason"
                                   name="reason"
                                   placeholder="Reason for assigning a spare code">
                        </div>
                        <div class="mb-3">
                            <label for="vendorCodeTypeId">Select type of code to assign</label>
                            <select name="vendorCodeTypeId"
                                    id="vendorCodeTypeId"
                                    asp-items="Model.VendorCodeTypeList"
                                    class="form-control"></select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">Assign spare code</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}

@section scripts {
    <script>
        $('#demoteCodeModal').on('show.bs.modal', function (e) {
            $("#demoteCodeId").val(e.relatedTarget.dataset.demotecodeid);
        })
    </script>
}