@model GRA.Controllers.ViewModel.MissionControl.Participants.VendorCodeViewModel

@using GRA.Controllers.ViewModel.MissionControl.Participants

@await Html.PartialAsync("_ParticipantPartial")

<div class="row" style="margin-bottom: 2rem;">
    <div class="col-xs-12">
        @if (Model.CurrentCode != null)
        {
            <button type="button"
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#areYouSureModal">
                Assign new code
            </button>
        }
        @if (Model.CurrentUser)
        {
            <button type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#spareCodeModal">
                Assign spare code
            </button>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-condensed table-bordered table-striped">
            <tr>
                <th>Code</th>
                <th>Item</th>
                <th>Status</th>
                <th>Dates</th>
                <th>Notes</th>
            </tr>
            @if (Model?.CurrentCode?.VendorCode != null)
            {
                <tr class="success">
                    <td>@Model.CurrentCode.VendorCode.Code</td>
                    <td>@Model.CurrentCode.VendorCode.Details</td>
                    <td>@(Model.CurrentCode.IsDonated == true ? "Donated" : Model.CurrentCode.OrderStatus)</td>
                    <td>@Html.Raw(VendorCodeViewModel.GetFormattedDates(Model.CurrentCode))</td>
                    <td>@Html.Raw(VendorCodeViewModel.GetFormattedNotes(Model.CurrentCode))</td>
                </tr>
            }
            @if (Model?.AssociatedCodes?.Count() > 0)
            {
                <tr>
                    <td colspan="5" class="text-center"><strong>Codes below have been replaced/assigned administratively.</strong></td>
                </tr>
                @foreach (var vendorInfo in Model?.AssociatedCodes)
                {
                    <tr>
                        <td>@vendorInfo.VendorCode.Code</td>
                        <td>@vendorInfo.VendorCode.Details</td>
                        <td>@(vendorInfo.IsDonated == true ? "Donated" : vendorInfo.OrderStatus)</td>
                        <td>@Html.Raw(VendorCodeViewModel.GetFormattedDates(vendorInfo))</td>
                        <td>@Html.Raw(VendorCodeViewModel.GetFormattedNotes(vendorInfo))</td>
                    </tr>
                }
            }
            @if (Model?.CurrentCode?.VendorCode == null && Model?.AssociatedCodes?.Any() != true)
            {
                <tr class="warning">
                    <td colspan="5">No earned or assigned codes.</td>
                </tr>
            }
        </table>
    </div>
</div>

<form method="post" asp-action="@nameof(ParticipantsController.AssignNewCode)">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="modal" id="areYouSureModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Assign new code</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to generate a new code?</p>
                    <ul>
                        <li>
                            This participant will have their old Prize removed, and a new Prize
                            created.
                        </li>
                        <li>
                            This participant will receive a new Mail with their code. They will
                            still have an old Mail with their old code in it.
                        </li>
                        <li>
                            The primary view for this participant will be of the new code - that's
                            what they will see in their profile and on the Dashboard.
                        </li>
                        <li>
                            You should probably be in contact with the participant before taking
                            this action so they are not confused.
                        </li>
                    </ul>
                    <div class="form-group">
                        <label for="reason">Please give a brief (255 or fewer characters) reason:</label>
                        <input type="text"
                               class="form-control"
                               id="reason"
                               name="reason"
                               placeholder="Reason for generating a new code">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-danger">Assign new code</button>
                </div>
            </div>
        </div>
    </div>
</form>

@if (Model.CurrentUser)
{
    <form method="post" asp-action="@nameof(ParticipantsController.AssignSpareCode)">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="modal" id="spareCodeModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Assign spare code</h4>
                    </div>
                    <div class="modal-body">
                        <p>This will generate a new code associated to your user.</p>
                        <ul>
                            <li>This code will <em>not</em> be your primary code.</li>
                            <li>You will not receive a prize or mail about this code.</li>
                            <li>
                                You will only be able to see status associated with this code in\
                                this Vendor Code area of Mission Control.
                            </li>
                        </ul>
                        <div class="form-group">
                            <label for="reason">Please give a brief (255 or fewer characters) explanation:</label>
                            <input type="text"
                               class="form-control"
                               id="reason"
                               name="reason"
                               placeholder="Reason for assigning a spare code">
                        </div>
                        <div class="form-group">
                            <label for="vendorCodeTypeId">Select type of code to assign</label>
                            <select name="vendorCodeTypeId"
                                id="vendorCodeTypeId"
                                asp-items="Model.VendorCodeTypeList"
                                class="form-control"></select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">Assign spare code</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}