@model GRA.Controllers.ViewModel.MissionControl.Reporting.ReportResultsViewModel
@if (Model.ReportSet?.Reports?.Count > 0)
{
    @section inHeading {
        <a asp-action="@nameof(ReportingController.Download)"
           asp-route-id="@Model.ReportResultId"
           class="btn btn-outline-primary ms-auto d-print-none">
            <span class="far fa-file-excel"></span>
            Download Excel spreadsheet
        </a>
    }

    <div class="row mt-2">
        <div class="col-12 mb-0">
            <table class="table table-bordered" style="width: auto;">
                @if (Model.StartDate.HasValue)
                {
                    <tr>
                        <th>Start Date:</th>
                        <td>@Model.StartDate</td>
                    </tr>
                }
                @if (Model.EndDate.HasValue)
                {
                    <tr>
                        <th>End Date:</th>
                        <td>@Model.EndDate</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.SystemName))
                {
                    <tr>
                        <th>System:</th>
                        <td>@Model.SystemName</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.BranchName))
                {
                    <tr>
                        <th>Branch:</th>
                        <td>@Model.BranchName</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.ProgramName))
                {
                    <tr>
                        <th>Program:</th>
                        <td>@Model.ProgramName</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.GroupName))
                {
                    <tr>
                        <th>Group:</th>
                        <td>@Model.GroupName</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.SchoolDistrictName))
                {
                    <tr>
                        <th>School District:</th>
                        <td>@Model.SchoolDistrictName</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.SchoolName))
                {
                    <tr>
                        <th>School:</th>
                        <td>@Model.SchoolName</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.VendorCodeName))
                {
                    <tr>
                        <th>Vendor Code:</th>
                        <td>@Model.VendorCodeName</td>
                    </tr>
                }
                <tr>
                    <th>Generated at:</th>
                    <td>
                        @Model.Request.CreatedAt.ToString("g")
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @foreach (var report in Model.ReportSet.Reports)
    {
        <div class="row">
            @if (report.Title != Model.Title)
            {
                <div class="col-12">
                    <h3>@report.Title</h3>
                </div>
            }
            <div class="col-12">
                <table class="table table-sm table-bordered table-striped">
                    @if (report.HeaderRow != null)
                    {
                        <thead>
                            <tr>
                                @foreach (var data in report.HeaderRow)
                                {
                                    <th>@data</th>
                                }
                            </tr>
                        </thead>
                    }
                    @foreach (var row in report.Data)
                    {
                        <tr>
                            @foreach (string data in row)
                            {
                                <td>
                                    @if (!string.IsNullOrEmpty(Model.CurrentRecordLink(report)))
                                    {
                                        <a href="@Model.CurrentRecordLink(report)"
                                           target="_blank">@Html.Raw(data)</a>
                                    }
                                    else
                                    {
                                        @Html.Raw(data)
                                    }
                                </td>
                                Model.Column++;
                            }
                        </tr>
                        Model.Row++;
                        Model.Column = 0;
                    }
                    @if (report.FooterRow != null)
                    {
                        <tfoot>
                            <tr>
                                @foreach (var data in report.FooterRow)
                                {
                                    <th>@data</th>
                                }
                            </tr>
                        </tfoot>
                    }
                </table>

                @if (report.FooterText != null)
                {
                    <div class="mb-3">
                        @foreach (var data in report.FooterText)
                        {
                            <p>@data</p>
                        }
                    </div>
                }
                else
                {
                    <div>This report was run on @report.AsOf.ToString("g").</div>
                }
            </div>
        </div>
    }
}
else
{
    <div class="row mt-3">
        <div class="col-12 col-lg-6 offset-lg-3">
            <div class="alert alert-warning">
                @Html.Raw(Model.Message)
            </div>
        </div>
    </div>
}