@model GRA.Controllers.ViewModel.Home.DashboardViewModel

@if (!string.IsNullOrWhiteSpace(Model.DailyImageMessage))
{
    <div class="row">
        <div class="modal fade" id="dailyImageModal" style="text-align:center;" tabindex="-1" role="dialog" aria-labelledby="dailyImageModalLabel">
            <div class="modal-dialog" style="display: inline-block;" role="document">
                <div class="modal-content">
                    <span class="frame-close fa fa-stack fa-lg" style="position:absolute;" data-dismiss="modal">
                        <span class="fa fa-circle fa-stack-2x fa-inverse"></span>
                        <span class="fa fa-times-circle fa-stack-1x fa-lg" style="text-shadow:none;"></span>
                    </span>
                    <div style="padding: 25px;">
                        <img class="img img-responsive daily-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row" style="font-size: larger;">
    <div class="col-sm-3 text-center">
        <div class="panel panel-default">
            <p>
                @if (Model.DynamicAvatarElements?.Count > 0)
            {
                    <a asp-controller="Avatar" asp-action="Index">
                        <div class="dynamic-avatar-container-dashboard">
                            @foreach (var layer in Model.DynamicAvatarElements)
                            {
                                <img src="~/@layer.Filename"
                                     style="z-index: @(layer.DynamicAvatarItem.DynamicAvatarLayerPosition + 1)"
                                     class="dynamic-avatar-layer-dashboard" />
                            }
                        </div>
                    </a>
                }
                else if (!string.IsNullOrEmpty(Model.AvatarPath))
                {
                    <a asp-controller="Avatar" asp-action="Index">
                        <img src="~/@Model.AvatarPath"
                             asp-append-version="true"
                             width="200" />
                    </a>
                }
                else
                {
                    <a asp-controller="Avatar" asp-action="Index">
                        <img src="~/images/no_avatar.png"
                             class="img img-responsive center-block"
                             style="width:200px;"
                             asp-append-version="true" />
                    </a>
                }
            </p>
            <div class="dashboard-activity">
                <p style="font-size: x-large;">You have <strong>@Model.CurrentPointTotal points</strong>.</p>
                <p>See your <a asp-controller="Profile" asp-action="History">activity history</a>.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <span class="lead">Welcome <strong>@Model.FirstName!</strong></span>
                @if ((GRA.Domain.Model.SiteStage)Context.Items[GRA.Controllers.ItemKey.SiteStage] == GRA.Domain.Model.SiteStage.RegistrationOpen)
                {
                    <p class="lead" style="padding-top: 2rem;">Once the program starts, you will enter your activity right here!</p>
                }
                else if ((GRA.Domain.Model.SiteStage)Context.Items[GRA.Controllers.ItemKey.SiteStage] == GRA.Domain.Model.SiteStage.ProgramEnded)
                {
                    <p class="lead" style="padding-top: 2rem;">This years summer reading program has ended, please join us again next year!</p>
                }
            </div>
        </div>

        @if ((GRA.Domain.Model.SiteStage)Context.Items[GRA.Controllers.ItemKey.SiteStage] == GRA.Domain.Model.SiteStage.ProgramOpen)
        {
            @if (Model.SingleEvent)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form asp-controller="Home" asp-action="LogActivity" method="post" role="form">
                            <input asp-for="SingleEvent" type="hidden" />
                            <div class="row row-spacing">
                                <label asp-for="Title" class="control-label col-sm-3 col-md-2"></label>
                                <div class="col-sm-9 col-md-10">
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row row-spacing">
                                <label asp-for="Author" class="control-label col-sm-3 col-md-2"></label>
                                <div class="col-sm-9 col-md-10">
                                    <input asp-for="Author" class="form-control" />
                                    <span asp-validation-for="Author" class="text-danger"></span>
                                </div>
                            </div>

                            <button type="submit" class="btn center-block btn-success btn-lg btn-spinner">
                                <span class="buttonText">I read a book!</span>
                                <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                            </button>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form asp-controller="Home" asp-action="LogActivity" method="post" role="form" class="form-horizontal">
                            <div class="row row-spacing">
                                <label class="control-label col-sm-7 col-md-5 col-lg-4">Enter @Model.ActivityDescriptionPlural read</label>
                                <div class="col-sm-5 col-md-7 col-lg-8">
                                    <input asp-for="ActivityAmount" type="text" value="@Model.ActivityAmount" class="form-control" />
                                    <span asp-validation-for="ActivityAmount" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row row-spacing">
                                <label asp-for="Title" class="control-label col-sm-3 col-md-2"></label>
                                <div class="col-sm-9 col-md-10">
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row row-spacing">
                                <label asp-for="Author" class="control-label col-sm-3 col-md-2"></label>
                                <div class="col-sm-9 col-md-10">
                                    <input asp-for="Author" class="form-control" />
                                    <span asp-validation-for="Author" class="text-danger"></span>
                                </div>
                            </div>

                            <button type="submit" class="btn center-block btn-success btn-lg btn-spinner">
                                <span class="buttonText">Log Minutes</span>
                                <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                            </button>
                        </form>
                    </div>
                </div>
            }
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-controller="Home" asp-action="LogSecretCode" method="post" role="form" class="form-horizontal">
                        <div class="row row-spacing" style="text-align:center;">
                            <div class="col-xs-12 ">
                                <small>Secret codes can be found by attending library events and on promotional materials. If you find one, enter it below!</small>
                            </div>
                        </div>

                        <div class="row row-spacing">
                            <label asp-for="SecretCode" class="control-label col-sm-5 col-md-4 col-lg-3"></label>
                            <div class="col-sm-7 col-md-8 col-lg-9">
                                <input asp-for="SecretCode" class="form-control" />

                            </div>
                            @if (!string.IsNullOrWhiteSpace(Model.SecretCodeMessage))
                            {
                                <div class="text-center">
                                    <span class="text-danger">@Html.Raw(Model.SecretCodeMessage)</span>
                                </div>
                            }
                        </div>

                        <button type="submit" class="btn center-block btn-success btn-lg btn-spinner">
                            <span class="buttonText">Submit Code</span>
                            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
                        </button>
                    </form>
                </div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.DashboardPageContent))
        {
            <div class="panel panel-default visible-sm visible-md visible-lg">
                <div class="dashboard-page-container">
                    @Html.Raw(Model.DashboardPageContent)
                </div>
            </div>
        }
    </div>
    <div class="col-sm-3 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a asp-controller="Profile" asp-action="History" class="lead">Your badges</a>
            </div>
            <div class="panel-body">
                <div class="row">
                    @if (Model.Badges.Count() > 0)
                    {
                        int display = 0;
                        foreach (var badge in Model.Badges)
                        {
                            if (display < 3)
                            {
                                <div class="col-md-6 col-sm-12 col-xs-4 dashboard-badge">
                                    <img class="img-thumbnail badge-sm" src="~/@badge.Filename" asp-append-version="true" />
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6 col-sm-12 col-xs-4 visible-lg visible-md visible-xs dashboard-badge">
                                    <img class="img-thumbnail badge-sm" src="~/@badge.Filename" asp-append-version="true" />
                                </div>
                            }
                            display++;

                            if (display >= 6)
                            {
                                <div class="col-xs-12 visible-lg visible-md visible-xs">
                                    See more of your badges in your <a asp-controller="Profile" asp-action="History" class="lead">history</a>!
                                </div>
                                break;
                            }
                        }
                        if (display >= 3)
                        {
                            <div class="col-xs-12 visible-sm">
                                See more of your badges in your <a asp-controller="Profile" asp-action="History" class="lead">history</a>!
                            </div>
                        }
                    }
                    else
                    {
                        <p>Participate in program activities to earn badges!</p>
                    }
                </div>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.DailyImageMessage))
            {
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div class="row">
                        <button type="button"
                                id="viewDailyImage"
                                class="btn btn-primary"
                                style="margin:0 8px; white-space: normal; font-size: large;"
                                data-src="@Url.Content($"~/{Model.DailyImagePath}")">
                            @Model.DailyImageMessage
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@if (!string.IsNullOrWhiteSpace(Model.DashboardPageContent))
{
    <div class="row visible-xs">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="dashboard-page-container">
                    @Html.Raw(Model.DashboardPageContent)
                </div>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.DailyImageMessage))
{
    @section scripts {
        <script>
            $("#viewDailyImage").on("click", function () {
                var src = $(this).data("src");
                $(".daily-image").attr("src", src);
                $("#dailyImageModal").modal().show();
            });
        </script>
    }
}
