@model GRA.Controllers.ViewModel.Home.ExitPageViewModel
@section metadata {
    <social data="Model.Social"></social>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <img alt="@Model.BannerAltText"
                 class="card-img-top"
                 src="@Model.BannerImagePath" />
            <div class="card-body">
                <div class="row">
                    <div class="@(string.IsNullOrEmpty(Model?.Branch?.Name) ? "col-md-12" : "col-md-7") mb-2">
                        @Html.Raw(Model.LeftMessage)
                        <div class="d-flex justify-content-center mt-2">
                            <a asp-controller="@SignInController.Name"
                               asp-action="@nameof(SignInController.Index)"
                               class="btn btn-outline-success btn-lg">
                                <span class="fa fa-sign-in fa-fw"></span>
                                @SharedLocalizer[GRA.Annotations.Home.SignInAgain]
                            </a>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model?.Branch?.Name))
                    {
                        <div class="col-md-5 pt-2 mb-2">
                            <div class="h5 mb-0">
                                @if (!string.IsNullOrEmpty(Model?.Branch?.Url))
                                {
                                    <a href="@Model.Branch.Url">@Model.Branch.Name</a>
                                }
                                else
                                {
                                    @Model.Branch.Name
                                }
                            </div>
                            @if (!string.IsNullOrEmpty(Model?.Branch?.Telephone))
                            {
                                <div>
                                    <a href="tel:@Model.Branch.Telephone">@Model.Branch.Telephone</a>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(Model?.Branch?.Address))
                            {
                                <div>
                                    @Model.Branch.Address
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
