@model GRA.Controllers.ViewModel.Home.LandingPageViewModel
@section metadata {
    <social data="Model.Social"></social>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <img alt="@Model.BannerAltText"
                 class="card-img-top"
                 src="@Model.BannerImagePath" />
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        @Html.Raw(Model?.LeftMessage)
                    </div>
                    <div class="col-md-6">
                        @Html.Raw(Model?.CenterMessage)
                        @if (Model?.CollectEmail == true)
                        {
                            <p>@SharedLocalizer[GRA.Annotations.Home.SubmitEmailBelow]</p>
                            <div class="my-4">
                                <form asp-controller="@HomeController.Name"
                                      asp-action="@nameof(HomeController.AddReminder)"
                                      method="post"
                                      role="form"
                                      class="form-horizontal">
                                    <div class="mb-3">
                                        <label asp-for="Email" class="col-form-label sr-only">
                                            @SharedLocalizer[GRA.Domain.Model.DisplayNames.EmailAddress]
                                        </label>
                                        <div class="input-group">
                                            <input asp-for="Email"
                                                   class="form-control"
                                                   type="email"
                                                   autofocus />
                                            <button type="submit"
                                                    class="btn btn-outline-primary">
                                                <span class="far fa-envelope fa-fw"></span>
                                                @SharedLocalizer[GRA.Annotations.Home.RemindMe]
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                        <div class="d-flex justify-content-center my-4">
                            <form asp-controller="@HomeController.Name"
                                  asp-action="@nameof(HomeController.GetIcs)"
                                  method="post"
                                  role="form">
                                <button type="submit" class="btn btn-outline-primary mx-auto">
                                    <span class="fas fa-fw fa-calendar-alt"></span>
                                    @SharedLocalizer[GRA.Annotations.Home.CalendarReminder]
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.Raw(Model?.RightMessage)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
