@model GRA.Controllers.ViewModel.Home.AccessClosedViewModel
@section metadata {
    <grasite property="metadescription"></grasite>
    <grasite property="dcmetadata"></grasite>
    <grasite property="twittermetadata"></grasite>
    <grasite property="facebookmetadata"></grasite>
}
<div class="row" style="margin-bottom: 1em;">
    <div class="col-xs-12">
        <img src="~/images/meadow.jpg"
             alt="Illustration of a meadow."
             class="img-responsive img-rounded"
             style="width: 100%;"
             srcset="@Url.Content("~/images/meadow.jpg") 1x, @Url.Content("~/images/meadow@2x.jpg") 2x"
             asp-append-version="true" />
    </div>
</div>
<div class="row" style="margin-top: 2em; font-size: larger;">
    <div class="col-sm-3">
        <p>@SharedLocalizer[GRA.Annotations.Home.ForMoreInformation]</p>
        <p>@SharedLocalizer[GRA.Annotations.Home.GoOnAJourney]</p>
    </div>
    <div class="col-sm-6">
        @SharedLocalizer[GRA.Annotations.Home.Thanks, Model.SiteName]
        @if (Model?.CollectEmail == true)
        {
            <p>@SharedLocalizer[GRA.Annotations.Home.WantAReminder]</p>
            <form asp-controller="Home"
                  asp-action="AddReminder"
                  method="post"
                  role="form"
                  class="form-horizontal">
                <input asp-for="SignUpSource" type="hidden" />
                <div class="form-group" style="padding: 0.5em 1em;">
                    <label asp-for="Email" class="control-label sr-only">@SharedLocalizer[GRA.DisplayNames.EmailAddress]</label>
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" type="email" autofocus />
                        <span class="input-group-btn">
                            <button type="submit"
                                    class="btn btn-info">
                                <span class="far fa-envelope"></span> @SharedLocalizer[GRA.Annotations.Home.RemindMe]
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        }
    </div>
    <div class="col-sm-3">
        <p>@SharedLocalizer[GRA.Annotations.Home.Read20]</p>
        <p>@SharedLocalizer[GRA.Annotations.Home.ReadingIsFundamental]</p>
    </div>
</div>
