@model GRA.Controllers.ViewModel.Home.BeforeRegistrationViewModel
@section metadata {
    <grasite property="metadescription"></grasite>
    <grasite property="dcmetadata"></grasite>
    <grasite property="twittermetadata"></grasite>
    <grasite property="facebookmetadata"></grasite>
}
<div class="row gra-landing-banner">
    <div class="col-xs-12">
        <img src="~/images/forest.jpg"
             alt="@SharedLocalizer[GRA.Annotations.Home.BannerAltTag]"
             class="img-responsive img-rounded"
             srcset="@Url.Content("~/images/forest.jpg") 1x, @Url.Content("~/images/forest@2x.jpg") 2x" />
    </div>
</div>
<div class="row gra-landing-content">
    <div class="col-sm-3">
        <p>@SharedLocalizer[GRA.Annotations.Home.ForMoreInformation]</p>
        <p>@SharedLocalizer[GRA.Annotations.Home.GoOnAJourney]</p>
    </div>
    <div class="col-sm-6">
        @SharedLocalizer[GRA.Annotations.Home.WelcomeTo, Model.SiteName]
        @if (Model == null || string.IsNullOrEmpty(Model.RegistrationOpens))
        {
            <p>@SharedLocalizer[GRA.Annotations.Home.WhenProgramStarts]</p>
        }
        else if (Model.CollectEmail == true)
        {
            <p>@SharedLocalizer[GRA.Annotations.Home.ProgramStartsOn, Model.RegistrationOpens]</p>

            <p>@SharedLocalizer[GRA.Annotations.Home.SubmitEmailBelow]</p>
            <form asp-controller="Home"
                  asp-action="AddReminder"
                  method="post"
                  role="form"
                  class="form-horizontal">
                <input asp-for="SignUpSource" type="hidden" />
                <div class="form-group" style="padding: 0.5em 1em;">
                    <label asp-for="Email" class="control-label sr-only">@SharedLocalizer[GRA.Domain.Model.DisplayNames.EmailAddress]</label>
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" type="email" autofocus />
                        <span class="input-group-btn">
                            <button type="submit"
                                    class="btn btn-info">
                                <span class="far fa-envelope"></span>
                                @SharedLocalizer[GRA.Annotations.Home.RemindMe]
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        }
        else
        {
            <p>@SharedLocalizer[GRA.Annotations.Home.ProgramStartsOn, Model.RegistrationOpens]</p>
        }
        <form asp-controller="Home"
              asp-action="GetIcs"
              method="post"
              role="form">
            <button type="submit" class="btn btn-primary center-block">
                <span class="fa fa-calendar"></span>
                @SharedLocalizer[GRA.Annotations.Home.CalendarReminder]
            </button>
        </form>
    </div>
    <div class="col-sm-3">
        <p>@SharedLocalizer[GRA.Annotations.Home.Read20]</p>
        <p>@SharedLocalizer[GRA.Annotations.Home.ReadingIsFundamental]</p>
    </div>
</div>
