@model GRA.Controllers.ViewModel.Home.LandingPageViewModel
@section metadata {
<social data="Model.Social"></social>
}
<div class="row gra-landing-banner">
    <div class="col-xs-12">
        <img src="~/images/forest.jpg"
             alt="@SharedLocalizer[GRA.Annotations.Home.BannerAltTag]"
             class="img-fluid rounded"
             srcset="@Url.Content("~/images/forest.jpg") 1x, @Url.Content("~/images/forest@2x.jpg") 2x" />
    </div>
</div>
<div class="row gra-landing-content">
    <div class="col-sm-3">
        <p>@SharedLocalizer[GRA.Annotations.Home.ForMoreInformation]</p>
        <p>@SharedLocalizer[GRA.Annotations.Home.GoOnAJourney]</p>
    </div>
    <div class="col-sm-6">
        @SharedLocalizer[GRA.Annotations.Home.Thanks, Model.SiteName]
        @if (Model?.CollectEmail == true)
        {
            <p>@SharedLocalizer[GRA.Annotations.Home.WantAReminder]</p>
            <form asp-controller="Home"
              asp-action="AddReminder"
              method="post"
              role="form"
              class="form-horizontal">
                <input asp-for="SignUpSource" type="hidden" />
                <div class="form-group" style="padding: 0.5em 1em;">
                    <badge asp-for="Email" class="col-form-label sr-only">@SharedLocalizer[GRA.Domain.Model.DisplayNames.EmailAddress]</badge>
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" type="email" autofocus />
                        <span class="input-group-append">
                            <button type="submit"
                                class="btn btn-info">
                                <span class="far fa-envelope"></span> @SharedLocalizer[GRA.Annotations.Home.RemindMe]
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        }
    </div>
    <div class="col-sm-3">
        <p>@SharedLocalizer[GRA.Annotations.Home.Read20]</p>
        <p>@SharedLocalizer[GRA.Annotations.Home.ReadingIsFundamental]</p>
    </div>
</div>
