@model GRA.Controllers.ViewModel.Home.LandingPageViewModel
@section metadata {
    <social data="Model.Social"></social>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <img alt="@Model.BannerAltText"
                 class="card-img-top"
                 src="@Model.BannerImagePath" />
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Raw(Model?.LeftMessage)
                    </div>
                    <div class="col-lg-6">
                        @Html.Raw(Model?.CenterMessage)
                        <div class="row my-4">
                            <div class="col-lg-6 d-grid">
                                <a asp-action="@nameof(JoinController.Index)"
                                   asp-controller="@JoinController.Name"
                                   class="btn btn-outline-primary btn-lg mb-4">
                                    <span class="fas fa-book fa-fw"></span>
                                    @SharedLocalizer[GRA.Domain.Model.DisplayNames.JoinNow]
                                </a>
                            </div>
                            <div class="col-lg-6 d-grid">
                                <a asp-action="@nameof(SignInController.Index)"
                                   asp-controller="@SignInController.Name"
                                   class="btn btn-outline-success btn-lg mb-4">
                                    <span class="fas fa-sign-in-alt fa-fw"></span>
                                    @SharedLocalizer[GRA.Domain.Model.DisplayNames.SignIn]
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        @Html.Raw(Model?.RightMessage)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
