@model string
@section metadata {
    <grasite property="metadescription"></grasite>
    <grasite property="dcmetadata"></grasite>
    <grasite property="twittermetadata"></grasite>
    <grasite property="facebookmetadata"></grasite>
}
<div class="row gra-landing-banner">
    <div class="col-xs-12">
        <img src="~/images/forest.jpg"
             alt="@SharedLocalizer[GRA.Annotations.Home.BannerAltTag]"
             class="img-responsive img-rounded"
             srcset="@Url.Content("~/images/forest.jpg") 1x, @Url.Content("~/images/forest@2x.jpg") 2x" />
    </div>
</div>
<div class="row gra-landing-content">
    <div class="col-sm-3">
        <p>@SharedLocalizer[GRA.Annotations.Home.ForMoreInformation]</p>
        <p>@SharedLocalizer[GRA.Annotations.Home.GoOnAJourney]</p>
    </div>
    <div class="col-sm-6">
        <p>
            @SharedLocalizer[GRA.Annotations.Home.WelcomeTo, Model]
            @SharedLocalizer[GRA.Annotations.Home.StartsSoon]
            <div class="row" style="margin-top: 2em;">
                <div class="col-sm-6" style="margin-top: 0.5em;">
                    <a asp-controller="Join"
                       asp-action="Index"
                       class="btn btn-primary btn-block btn-lg">
                        <span class="fa fa-book"></span>
                        @SharedLocalizer[GRA.Domain.Model.DisplayNames.JoinNow]
                    </a>
                </div>
                <div class="col-sm-6" style="margin-top: 0.5em;">
                    <a asp-controller="SignIn"
                       asp-action="Index"
                       class="btn btn-success btn-block btn-lg">
                        <span class="fa fa-sign-in"></span>
                        @SharedLocalizer[GRA.Domain.Model.DisplayNames.SignIn]
                    </a>
                </div>
            </div>
        </p>
    </div>
    <div class="col-sm-3">
        <p>@SharedLocalizer[GRA.Annotations.Home.Read20]</p>
        <p>@SharedLocalizer[GRA.Annotations.Home.ReadingIsFundamental]</p>
    </div>
</div>
