<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>@ViewData[GRA.Controllers.ViewDataKey.Title]</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/main.min.css" />
    <link rel="stylesheet" href="/css/missioncontrol.min.css" />
    @RenderSection("styles", required: false)
    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.SiteCss))
    {
        <link href="@Url.Content(Context.Items[GRA.Controllers.ItemKey.SiteCss].ToString())"
              rel="stylesheet" />
    }
    <style>
        div.tooltip-inner {
            width: 10rem;
        }
    </style>
</head>
<body id="mission-control-body">
    <nav class="navbar navbar-expand-md d-print-none navbar-dark bg-dark">
        <div class="container-fluid">
            <a asp-controller="Home"
               asp-action="Index"
               class="navbar-brand mc-navbar-brand">
                <span class="fas fa-rocket"></span>
                Mission Control
            </a>
            <button type="button"
                    class="navbar-toggler btn-sm"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent"
                    aria-controls="navbarContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
            </button>
            <div class="collapse navbar-collapse ms-auto" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a asp-area=""
                           asp-controller="Home"
                           asp-action="Index"
                           class="nav-link"
                           title="Back to the site"
                           data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           class="gra-homelink">
                            <span class="fas fa-sitemap fa-fw"></span>
                            <span class="d-md-none"> Back to the site</span>
                        </a>
                    </li>
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, nameof(GRA.Domain.Model.Permission.ReadAllMail)))
                    {
                        var newMail = (int)Context.Items[GRA.Controllers.ItemKey.UnreadCount] > 0;
                        var newMailClass = newMail ? "text-danger" : "";
                        var newMailDisplay = newMail ? "inline" : "none";
                        <li class="nav-item" ActiveBy routeKey="Controller" value="Mail">
                            <a asp-controller="Mail" asp-action="Index" class="nav-link" title="Mail">
                                <span class="fas fa-envelope fa-fw mc-mail-icon @newMailClass"></span>
                                <span class="d-md-none"> Mail</span>
                                <span class="badge text-bg-danger rounded-pill"
                                      style="display: @newMailDisplay">
                                    @Context.Items[GRA.Controllers.ItemKey.UnreadCount]
                                </span>
                            </a>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ViewParticipantList.ToString()))
                    {
                        <li class="nav-item"
                            ActiveBy
                            routeKey="Controller"
                            value="Participants">
                            <a asp-controller="Participants"
                               asp-action="Index"
                               title="Participants"
                               class="nav-link">
                                <span class="fas fa-users fa-fw"></span>
                                <span class="d-md-none"> Participants</span>
                            </a>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ViewAllChallenges.ToString()))
                    {
                        <li class="nav-item dropdown"
                            ActiveBy
                            routeKey="Controller"
                            value="Challenges">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"
                               title="Challenges">
                                <span class="fas fa-trophy fa-fw"></span>
                                <span class="d-md-none"> Challenges</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a asp-action="Index"
                                       asp-controller="Challenges"
                                       class="dropdown-item">All Challenges</a>
                                </li>
                                @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ActivateAllChallenges.ToString()) || Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ActivateSystemChallenges.ToString()))
                                {
                                    <li>
                                        <a asp-controller="Challenges"
                                           asp-action="Pending"
                                           class="dropdown-item">Pending Challenges</a>
                                    </li>
                                }
                                <li>
                                    <a asp-controller="Challenges"
                                       asp-action="Groups"
                                       class="dropdown-item">Challenge Groups</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageTriggers.ToString()))
                    {
                        <li class="nav-item"
                            ActiveBy
                            routeKey="Controller"
                            value="Triggers">
                            <a asp-controller="Triggers"
                               asp-action="Index"
                               class="nav-link"
                               title="Triggers">
                                <span class="fas fa-cogs fa-fw"></span>
                                <span class="d-md-none"> Triggers</span>
                            </a>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageEvents.ToString()) && Context.Items.ContainsKey(GRA.Controllers.ItemKey.ExternalEventListUrl) == false)
                    {
                        <li class="nav-item dropdown" ActiveBy routeKey="Controller" value="Events">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"
                               title="Events">
                                <span class="fas fa-calendar-alt fa-fw"></span>
                                <span class="d-md-none"> Events</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a asp-action="Index"
                                       asp-controller="Events"
                                       class="dropdown-item">Events</a>
                                </li>
                                <li>
                                    <a asp-action="CommunityExperiences"
                                       asp-controller="Events"
                                       class="dropdown-item">Community Experiences</a>
                                </li>
                                @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageLocations.ToString()))
                                {
                                    <li>
                                        <a asp-action="Locations"
                                           asp-controller="Events"
                                           class="dropdown-item">Locations</a>
                                    </li>
                                }
                                <li>
                                    <a asp-action="StreamingEvents"
                                       asp-controller="Events"
                                       class="dropdown-item">Streaming Events</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageAvatars.ToString()))
                    {
                        <li class="nav-item dropdown"
                            ActiveBy
                            routeKey="Controller"
                            value="Avatars">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"
                               title="Avatars">
                                <span class="far fa-image fa-fw"></span>
                                <span class="d-md-none"> Avatars</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a asp-action="Index"
                                       asp-controller="Avatars"
                                       class="dropdown-item">Avatars</a>
                                </li>
                                <li>
                                    <a asp-action="Bundles"
                                       asp-controller="Avatars"
                                       class="dropdown-item">Avatar Bundles</a>
                                </li>
                                <li>
                                    <a asp-action="ItemTexts"
                                       asp-controller="Avatars"
                                       class="dropdown-item">Avatar Alt Texts</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.PerformDrawing.ToString()))
                    {
                        <li class="nav-item dropdown"
                            ActiveBy
                            routeKey="Controller"
                            value="Drawing">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"
                               title="Drawings">
                                <span class="fas fa-ticket-alt fa-fw"></span>
                                <span class="d-md-none"> Drawings</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a asp-action="Criteria"
                                       asp-controller="Drawing"
                                       class="dropdown-item">Drawing Criteria</a>
                                </li>
                                <li>
                                    <a asp-action="Index"
                                       asp-controller="Drawing"
                                       class="dropdown-item">Drawings</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.ShowPerformerScheduling))
                    {
                        <li class="nav-item dropdown"
                            ActiveBy
                            routeKey="Controller"
                            value="PerformerScheduling">
                            <a asp-action="Index"
                               asp-controller="PerformerScheduling"
                               class="nav-link"
                               title="Performer Scheduling">
                                <span class="fas fa-theater-masks fa-fw"></span>
                                <span class="d-md-none"> Performer Scheduling</span>
                            </a>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ViewAllReporting.ToString()))
                    {
                        <li class="nav-item dropdown" ActiveBy routeKey="Controller" value="Reporting">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"
                               title="Reporting">
                                <span class="far fa-file fa-fw"></span>
                                <span class="d-md-none"> Reporting</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a asp-action="Index"
                                       asp-controller="Reporting"
                                       class="dropdown-item">Run a report</a>
                                </li>
                                <li>
                                    <a asp-action="History"
                                       asp-controller="Reporting"
                                       class="dropdown-item">View report history</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, nameof(GRA.Domain.Model.Permission.ReceivePackingSlips)) && Context.Items.ContainsKey(GRA.Controllers.ItemKey.ShowPackingSlips) && Context.Items[GRA.Controllers.ItemKey.ShowPackingSlips] as bool? == true)
                    {
                        <li class="nav-item dropdown"
                            ActiveBy
                            routeKey="Controller"
                            value="VendorCodes">
                            <a asp-controller="VendorCodes"
                               asp-action="ViewPackingSlip"
                               asp-route-id=""
                               class="nav-link"
                               title="Packing Slips">
                                <span class="fas fa-file-invoice fa-fw"></span>
                                <span class="d-md-none"> Packing Slips</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item dropdown"
                        ActiveBy
                        routeKey="Controller"
                        value="Pages, Schools">
                        <a href="#"
                           class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           title="Setup"><span class="fas fa-wrench fa-fw"></span><span class="d-md-none"> Setup</span> <span class="caret"></span></a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a asp-action="AuthorizationCode"
                                   asp-controller="Home"
                                   class="dropdown-item">
                                    Authorization code
                                </a>
                            </li>
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, nameof(GRA.Domain.Model.Permission.ManageCarousels)))
                            {
                                <li>
                                    <a asp-controller="Carousels"
                                       asp-action="Index"
                                       class="dropdown-item">Carousel management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageCategories.ToString()))
                            {
                                <li>
                                    <a asp-controller="Categories"
                                       asp-action="Index"
                                       class="dropdown-item">Category management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageDailyLiteracyTips.ToString()))
                            {
                                <li>
                                    <a asp-controller="DailyTips"
                                       asp-action="Index"
                                       class="dropdown-item">Daily tip management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageDashboardContent.ToString()))
                            {
                                <li>
                                    <a asp-controller="Dashboard"
                                       asp-action="Index"
                                       class="dropdown-item">Dashboard Content management</a>
                                </li>
                            }
                            <li>
                                <a asp-action="@nameof(DownloadsController.Index)"
                                   asp-controller="@DownloadsController.Name"
                                   class="dropdown-item">Downloads</a>
                            </li>
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageBulkEmails.ToString()))
                            {
                                <li>
                                    <a asp-controller="EmailManagement"
                                       asp-action="Index"
                                       class="dropdown-item">Email management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageGroupTypes.ToString()))
                            {
                                <li>
                                    <a asp-controller="GroupTypes"
                                       asp-action="Index"
                                       class="dropdown-item">Group Type management</a>
                                </li>
                            }
							@if (Context.User.HasClaim(GRA.ClaimType.Permission, nameof(GRA.Domain.Model.Permission.ViewJoinCodes)))
							{
								<li>
									<a asp-controller="@JoinCodesController.Name"
									   asp-action="@nameof(JoinCodesController.Index)"
									   class="dropdown-item">Join codes</a>
								</li>
							}
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, nameof(GRA.Domain.Model.Permission.ManageNews)))
                            {
                                <li>
                                    <a asp-controller="News"
                                       asp-action="Index"
                                       class="dropdown-item">News management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ViewUnpublishedPages.ToString()))
                            {
                                <li>
                                    <a asp-controller="Pages"
                                       asp-action="Index"
                                       class="dropdown-item">Page management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManagePerformers.ToString()))
                            {
                                <li>
                                    <a asp-controller="PerformerManagement"
                                       asp-action="Index"
                                       class="dropdown-item">Performer management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManagePrograms.ToString()))
                            {
                                <li>
                                    <a asp-controller="Programs"
                                       asp-action="Index"
                                       class="dropdown-item">Program management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageQuestionnaires.ToString()))
                            {
                                <li>
                                    <a asp-controller="Questionnaires"
                                       asp-action="Index"
                                       class="dropdown-item">Questionnaire management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageRoles.ToString()))
                            {
                                <li>
                                    <a asp-controller="Roles"
                                       asp-action="Index"
                                       class="dropdown-item">Role management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageSchools.ToString()))
                            {
                                <li>
                                    <a asp-controller="Schools"
                                       asp-action="Index"
                                       class="dropdown-item">School management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageSites.ToString()))
                            {
                                <li>
                                    <a asp-controller="Sites"
                                       asp-action="Index"
                                       class="dropdown-item">Site management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageSocial.ToString()))
                            {
                                <li>
                                    <a asp-controller="Social"
                                       asp-action="Index"
                                       class="dropdown-item">Social management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageSystems.ToString()))
                            {
                                <li>
                                    <a asp-controller="Systems"
                                       asp-action="Index"
                                       class="dropdown-item">System &amp; branch management</a>
                                </li>
                            }
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageVendorCodes.ToString()))
                            {
                                <li>
                                    <a asp-controller="VendorCodes"
                                       asp-action="Index"
                                       class="dropdown-item">Vendor code management</a>
                                </li>
                            }
                            <li>
                                <a asp-action="Index"
                                   asp-controller="SystemInformation"
                                   class="dropdown-item">
                                    <span class="fas fa-info-circle fa-fw"></span>
                                    System information
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Home"
                           asp-action="Signout"
                           asp-area="" class="nav-link">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <noscript>
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-warning">
                        <span class="fas fa-lg fa-exclamation-triangle text-primary"></span>
                        This website relies on JavaScript. Please enable JavaScript in your browser
                        to get the best experience.
                    </div>
                </div>
            </div>
        </noscript>

        @if (ViewData.ContainsKey(GRA.Controllers.ViewDataKey.TitleHtml)
                && ViewData[GRA.Controllers.ViewDataKey.TitleHtml] != null)
        {
            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <span class="h2">
                        @Html.Raw(ViewData[GRA.Controllers.ViewDataKey.TitleHtml])
                    </span>
                    @RenderSection("inHeading", required: false)
                </div>
            </div>
        }
        else if (ViewData.ContainsKey(GRA.Controllers.ViewDataKey.Title))
        {
            <div class="row mc-page-title">
                <div class="col-12 d-flex align-items-center">
                    <span class="h2">@ViewData[GRA.Controllers.ViewDataKey.Title]</span>
                    @RenderSection("inHeading", required: false)
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertDanger] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-12 col-sm-6 offset-sm-3">
                    <div class="alert alert-danger">
                        @Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertDanger])
                    </div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertWarning] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-12 col-sm-6 offset-sm-3">
                    <div class="alert alert-warning">
                        @Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertWarning])
                    </div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertSuccess] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-12 col-sm-6 offset-sm-3">
                    <div class="alert alert-success">
                        @Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertSuccess])
                    </div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertInfo] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-12 col-sm-6 offset-sm-3">
                    <div class="alert alert-info">
                        @Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertInfo])
                    </div>
                </div>
            </div>
        }
        @RenderBody()
        <footer style="clear: both;" class="mt-4">
            <grasite property="footer"></grasite>
        </footer>
    </div>
    <script src="/js/main.min.js"></script>
    <script src="/js/tempus-dominus.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $("[data-bs-toggle=\"tooltip\"]").tooltip()
        })
    </script>
    @if (Context.User.HasClaim(GRA.ClaimType.Permission, nameof(GRA.Domain.Model.Permission.ReadAllMail)))
    {
        <script>
            const mcMailUpdateEvery = 300 * 1000;
            const mcMailUrl = "@Url.Action(nameof(GRA.Controllers.MissionControl.HomeController.GetUnreadMailCount), GRA.Controllers.MissionControl.HomeController.Name, new { area = GRA.Controllers.MissionControl.HomeController.Area })";
            function updateUnreadMailCount(updateInterval) {
                let mcMailInterval = setInterval(function () {
                    $.ajax(mcMailUrl)
                        .done(function (data, _, __) {
                            if (data === 0) {
                                $(".mc-mail-icon").removeClass("text-danger");
                                $(".mc-mail-incoming-count").hide();
                                $(".mc-mail-incoming-count").text("0");
                            } else {
                                $(".mc-mail-icon").addClass("text-danger");
                                $(".mc-mail-incoming-count").text(data);
                                $(".mc-mail-incoming-count").show();
                            }
                        })
                        .fail(function (_, textStatus, errorThrown) {
                            console.error("Failure %o on MC mail count: %o", textStatus, errorThrown);
                            clearInterval(mcMailInterval);
                        });
                }, updateInterval);
            }
            $().ready(function () {
                updateUnreadMailCount(mcMailUpdateEvery);
            });
        </script>
    }

    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.SiteJs))
    {
        <script src="@Url.Content(Context.Items[GRA.Controllers.ItemKey.SiteJs].ToString())"></script>
    }
</body>
</html>
