<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[GRA.Controllers.ViewDataKey.Title]</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5e3ab6">
    <meta name="theme-color" content="#ffffff">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/missioncontrol.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet"
              href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/missioncontrol.min.css" asp-append-version="true" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("styles", required: false)
    <style>
        div.tooltip-inner {
            width: 10rem;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle mc-menu-button btn-sm"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
                <a asp-controller="Home"
                   asp-action="Index"
                   class="navbar-brand mc-navbar-brand">
                    <span class="fa fa-rocket"></span>
                    Mission Control
                </a>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" title="Back to the site" data-toggle="tooltip" data-placement="bottom" class="gra-homelink"><span class="fa fa-sitemap"></span></a></li>
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ReadAllMail.ToString()))
                    {
                        <li ActiveBy routeKey="Controller" value="Mail">
                            <a asp-controller="Mail" asp-action="Index" title="Mail">
                                <span class="fa fa-envelope-o"></span><span class="visible-xs-inline"> Mail</span>
                                @if ((int)Context.Items[GRA.Controllers.ItemKey.UnreadCount] > 0)
                                {
                                    <span class="label label-default label-as-badge">
                                        @Context.Items[GRA.Controllers.ItemKey.UnreadCount]
                                    </span>
                                }
                            </a>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ViewParticipantList.ToString()))
                    {
                        <li ActiveBy routeKey="Controller" value="Participants"><a asp-controller="Participants" asp-action="Index"><span class="fa fa-users"></span><span class="visible-xs-inline"> Participats</span></a></li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ViewAllChallenges.ToString()))
                    {
                        <li ActiveBy routeKey="Controller" value="Challenges">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Challenges"><span class="fa fa-trophy"></span><span class="visible-xs-inline"> Challenges</span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Challenges" asp-action="Index">All Challenges</a></li>
                                @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ActivateAllChallenges.ToString()) || Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ActivateSystemChallenges.ToString()))
                                {
                                    <li><a asp-controller="Challenges" asp-action="Pending">Pending Challenges</a></li>
                                }
                            </ul>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageEvents.ToString()))
                    {
                        <li ActiveBy routeKey="Controller" value="Events"><a asp-controller="Events" asp-action="Index"><span class="fa fa-calendar"></span><span class="visible-xs-inline"> Events</span></a></li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.PerformDrawing.ToString()))
                    {
                        <li ActiveBy routeKey="Controller" value="Drawing">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Drawings"><span class="fa fa-ticket"></span><span class="visible-xs-inline"> Drawings</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Drawing" asp-action="Criteria">Drawing Criteria</a></li>
                                <li><a asp-controller="Drawing" asp-action="Index">Drawings</a></li>
                            </ul>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ViewAllReporting.ToString()))
                    {
                        <li ActiveBy routeKey="Controller" value="Reporting">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Reporting"><span class="fa fa-file-text-o"></span><span class="visible-xs-inline"> Reporting</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Reporting" asp-action="Index">Branch Report</a></li>
                            </ul>
                        </li>
                    }
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ViewUnpublishedPages.ToString()) || Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageSchools.ToString()))
                    {
                        <li ActiveBy routeKey="Controller" value="Pages, Schools">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Reporting"><span class="fa fa-gear"></span><span class="visible-xs-inline"> Setup</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ViewUnpublishedPages.ToString()))
                                {
                                    <li><a asp-controller="Pages" asp-action="Index">Pages</a></li>
                                }
                                @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.ManageSchools.ToString()))
                                {
                                    <li><a asp-controller="Schools" asp-action="Index">Schools</a></li>
                                }
                            </ul>
                        </li>
                    }
                    <li><a asp-controller="Home" asp-action="Signout">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <noscript>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning"><span class="fa fa-lg fa-warning text-primary"></span> This website relies on JavaScript. Please enable JavaScript in your browser to get the best experience.</div>
                </div>
            </div>
        </noscript>

        <div class="row">
            <div class="col-xs-12">
                <span class="h2">@ViewData[GRA.Controllers.ViewDataKey.Title]</span>
            </div>
        </div>

        @if (TempData[GRA.Controllers.TempDataKey.AlertDanger] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-danger">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertDanger])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertWarning] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-warning">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertWarning])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertSuccess] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-success">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertSuccess])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertInfo] != null)
        {
            <div class="row mc-alertrow">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-info">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertInfo])</div>
                </div>
            </div>
        }
        @RenderBody()
        <hr class="footer">
        <footer>
            <grasite property="footer"></grasite>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
        <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                asp-append-version="true">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery"
                asp-append-version="true">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery"
                asp-append-version="true">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                asp-append-version="true">
        </script>
        <script src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
        <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
