@model GRA.Controllers.ViewModel.Challenges.ChallengesListViewModel

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead">Challenges</span>
            </div>
            <div class="panel-body">
                <form asp-controller="Challenges" asp-action="Index" method="get" role="form">
                    <div class="row row-spacing">
                        <div class="col-sm-8 gra-search-container">
                            <input asp-for="Search"
                                   class="form-control"
                                   placeholder="Enter text to search for a challenge here" />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <a asp-action="Index" class="btn btn-default btn-block"><span class="hidden-sm fa fa-minus-circle"></span> Clear</a>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <button type="submit" class="btn btn-primary btn-block"><span class="hidden-sm fa fa-search"></span> Search</button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-xs-12">
                        @if (Model.Challenges.Count() == 0)
                        {
                            <div class="alert alert-warning">No Challenges</div>
                        }
                        else
                        {
                            <div>
                                <table class="table table-condensed table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            @if (Model.IsActive)
                                            {
                                                <th>Progress</th>
                                            }
                                            <th>Points you'll earn</th>
                                            <th>Badge</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var challenge in Model.Challenges)
                                        {
                                            <tr>
                                                <td style="vertical-align:middle;"><a asp-action="Detail" asp-route-id="@challenge.Id">@challenge.Name</a></td>
                                                @if (Model.IsActive)
                                                {
                                                    <td style="text-align:center; vertical-align:middle;">
                                                        @challenge.Status
                                                        <div class="progress" style="margin:0px;">
                                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="@challenge.PercentComplete" aria-valuemin="0" aria-valuemax="100" style="width: @challenge.PercentComplete%;">
                                                            </div>
                                                        </div>
                                                    </td>
                                                }
                                                <td style="font-size:large; text-align:center; vertical-align:middle;">@challenge.PointsAwarded</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(challenge.BadgeFilename))
                                                    {
                                                        <div style="text-align:center;">
                                                            <img class="img-thumbnail badge-sm" src="~/@challenge.BadgeFilename" asp-append-version="true" />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @: &nbsp;
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (Model.PaginateModel.MaxPage > 1)
                            {
                                <paginate paginateModel="@Model.PaginateModel"></paginate>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>