@inject Microsoft.Extensions.Localization.IStringLocalizer<GRA.Resources.Shared> SharedLocalizer

<!DOCTYPE html>
<html lang="@Context.Items[GRA.Controllers.ItemKey.ISOLanguageName]">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@SharedLocalizer[ViewData[GRA.Controllers.ViewDataKey.Title]?.ToString()]</title>
    @if (Context.Items[GRA.Controllers.ItemKey.HrefLang] != null)
    {
        @foreach (var item in ((IDictionary<string, string>)Context.Items[GRA.Controllers.ItemKey.HrefLang]))
        {
            <link rel="alternate" hreflang="@item.Key" href="@Url.RouteUrl(null, new { culture = item.Value }, Context.Items[GRA.Controllers.ItemKey.WebScheme].ToString())" />
        }
    }
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    @RenderSection("metadata", required: false)
    <link rel="stylesheet" href="/css/main.min.css" />
    @RenderSection("styles", required: false)
    <style>
        div.tooltip-inner {
            width: 11rem;
        }
    </style>
    <noscript>
        <style>
            .gra-js-required {
                display: none;
            }
        </style>
    </noscript>
    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.BackgroundColor))
    {
        <style>
            body {
                background-color: @Context.Items[GRA.Controllers.ItemKey.BackgroundColor]
            }
        </style>
    }
    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.SiteCss))
    {
        <link rel="stylesheet" href="@Url.Content(Context.Items[GRA.Controllers.ItemKey.SiteCss].ToString())" />
    }
    @if (Context.Items[GRA.Controllers.ItemKey.GoogleAnalytics] != null)
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=@Context.Items[GRA.Controllers.ItemKey.GoogleAnalytics].ToString()"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', '@Context.Items[GRA.Controllers.ItemKey.GoogleAnalytics].ToString()', {
                'custom_map': {
                    'dimension1': 'First_Time_Participant',
                    'dimension2': 'Program_Name'
                }
            });

            @if (Context.Items[GRA.Controllers.ItemKey.SignedIn] != null)
            {
                <text>
                        if (typeof gtag !== 'undefined')
                        {
                            gtag('event', 'login');
                                                                        }
                </text>
            }
        </script>
    }
</head>
<body>
    @{
        SiteStage siteStage = (SiteStage)(Context.Items[GRA.Controllers.ItemKey.SiteStage] ?? SiteStage.ProgramOpen);
    }
    <nav class="navbar navbar-expand-md d-print-none bg-light">
        <div class="container-fluid">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand flex-grow-1">
                <div class="hidden-xs navbar-left gra-navbar-brand-logo"></div>
                <grasite property="pageTitle"></grasite>
            </a>
            <button type="button"
                    class="navbar-toggler btn-sm"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent"
                    aria-controls="navbarContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">@SharedLocalizer[GRA.Domain.Model.DisplayNames.ToggleNavigation]</span>
                @SharedLocalizer[GRA.Domain.Model.DisplayNames.Menu]
            </button>
            <div class="collapse navbar-collapse ms-auto" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    @if (Context.Items[GRA.Controllers.ItemKey.L10n] != null)
                    {
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" title="Languages">
                                <span class="fas fa-globe-americas fa-fw"></span><span class="d-md-none"> @SharedLocalizer[GRA.Domain.Model.DisplayNames.Language]</span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var item in ((IEnumerable<SelectListItem>)Context.Items[GRA.Controllers.ItemKey.L10n]))
                                {
                                    <li><a class="dropdown-item" href="@Url.RouteUrl(new { culture = item.Value, id = Context.Items[ItemKey.RouteId]})">@item.Text</a></li>
                                }
                            </ul>
                        </li>
                    }
                    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.ShowMissionControl))
                    {
                        <li class="nav-item"><a asp-area="MissionControl" asp-controller="Home" asp-action="Index" title="Mission Control" data-bs-toggle="tooltip" data-bs-placement="bottom" class="nav-link gra-mclink"><span class="fas fa-rocket fa-fw"></span><span class="d-md-none"> @SharedLocalizer[GRA.Domain.Model.DisplayNames.MissionControl]</span></a></li>
                    }
                    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.ShowPerformerRegistration) && !Context.Items.ContainsKey(GRA.Controllers.ItemKey.ShowMissionControl))
                    {
                        <li class="nav-item"><a asp-area="PerformerRegistration" asp-controller="Home" asp-action="Index" title="Performer Registration" data-bs-toggle="tooltip" data-bs-placement="bottom" class="nav-link"><span class="fas fa-theater-masks fa-fw"></span><span class="d-md-none"> @SharedLocalizer[GRA.Domain.Model.DisplayNames.MissionControl]</span></a></li>
                    }
                    @if (!String.Equals(this.ViewContext.RouteData.Values["controller"].ToString(), "Questionnaire", StringComparison.OrdinalIgnoreCase))
                    {
                        <li ActiveBy class="nav-item" routeKey="Controller" value="Home"><a add-active asp-controller="Home" asp-action="Index" title="Home" class="nav-link"><span class="fas fa-home fa-fw"></span><span class="d-md-none"> @SharedLocalizer[GRA.Domain.Model.DisplayNames.Home]</span></a></li>
                        @if (User.Identity.IsAuthenticated && Context.Items.ContainsKey(ItemKey.ShowMail) && Context.Items[ItemKey.ShowMail] as bool? == true)
                        {
                            <li ActiveBy class="nav-item" routeKey="Controller" value="Mail" title="Mail">
                                <a add-active asp-controller="Mail" asp-action="Index" class="nav-link">
                                    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.UnreadCount) && (int)Context.Items[GRA.Controllers.ItemKey.UnreadCount] > 0)
                                    {
                                        <span class="fas fa-envelope fa-fw text-danger" title="@SharedLocalizer[GRA.Annotations.Interface.NewMail]"></span>
                                        <span class="d-md-none"> @SharedLocalizer[GRA.Domain.Model.DisplayNames.Mail]</span>
                                        <span class="badge bg-danger rounded-pill">@Context.Items[GRA.Controllers.ItemKey.UnreadCount]</span>
                                    }
                                    else
                                    {
                                        <span class="far fa-envelope fa-fw"></span>
                                        <span class="d-md-none"> @SharedLocalizer[GRA.Domain.Model.DisplayNames.Mail]</span>
                                    }
                                </a>
                            </li>
                        }
                        @if (siteStage != SiteStage.ProgramEnded && siteStage != SiteStage.AccessClosed)
                        {
                            @if (Context.Items[GRA.Controllers.ItemKey.ShowChallenges] as bool? != false)
                            {
                                <li ActiveBy class="nav-item" routeKey="Controller" value="Challenges"><a add-active asp-controller="Challenges" asp-action="Index" class="nav-link">@SharedLocalizer[GRA.Domain.Model.DisplayNames.Challenges]</a></li>
                            }
                            @if (Context.Items[GRA.Controllers.ItemKey.ShowEvents] as bool? != false)
                            {
                                @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.ExternalEventListUrl))
                                {
                                    <li ActiveBy class="nav-item" routeKey="Controller" value="Events"><a add-active href="@Context.Items[GRA.Controllers.ItemKey.ExternalEventListUrl]" class="nav-link">@SharedLocalizer[GRA.Domain.Model.DisplayNames.Events]</a></li>
                                }
                                else
                                {
                                    <li ActiveBy class="nav-item" routeKey="Controller" value="Events"><a add-active asp-controller="Events" asp-action="Index" class="nav-link">@SharedLocalizer[GRA.Domain.Model.DisplayNames.Events]</a></li>
                                }
                            }
                        }
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (!String.Equals(this.ViewContext.RouteData.Values["controller"].ToString(), "Questionnaire", StringComparison.OrdinalIgnoreCase))
                        {
                            @if (Context.Session.Keys.Contains(GRA.Controllers.SessionKey.HeadOfHousehold))
                            {
                                <li class="nav-item" add-active asp-controller="Profile" asp-action="Household">
                                    <a add-active asp-controller="Profile" asp-action="Household" class="nav-link"><span class="fas fa-users fa-fw"></span></a>
                                </li>
                                <li class="nav-item" add-active asp-controller="Profile" asp-action="Index">
                                    <a add-active asp-controller="Profile" asp-action="Index" class="nav-link">@SharedLocalizer[GRA.Domain.Model.DisplayNames.MyProfile]</a>
                                </li>
                            }
                            else
                            {
                                <li ActiveBy class="nav-item" routeKey="Controller" value="Profile">
                                    <a add-active asp-controller="Profile" asp-action="Index" class="nav-link">@SharedLocalizer[GRA.Domain.Model.DisplayNames.MyProfile]</a>
                                </li>
                            }
                        }
                        <infolinks navPages="true"></infolinks>
                        <li class="nav-item"><a add-active asp-controller="Home" asp-action="Signout" class="nav-link">@SharedLocalizer[GRA.Domain.Model.DisplayNames.SignOut]</a></li>
                    }
                    else
                    {
                        <infolinks navPages="true"></infolinks>
                        @if (siteStage == SiteStage.RegistrationOpen || siteStage == SiteStage.ProgramOpen)
                        {
                            <li ActiveBy class="nav-item" routeKey="Controller" value="Join"><a add-active asp-controller="Join" asp-action="Index" class="nav-link">@SharedLocalizer[GRA.Domain.Model.DisplayNames.Join]</a></li>
                        }
                        @if (siteStage != GRA.Domain.Model.SiteStage.BeforeRegistration && siteStage != SiteStage.AccessClosed)
                        {
                            <li ActiveBy class="nav-item" routeKey="Controller" value="SignIn"><a add-active asp-controller="Signin" asp-action="Index" class="nav-link">@SharedLocalizer[GRA.Domain.Model.DisplayNames.SignIn]</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <noscript>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning"><span class="fas fa-lg fa-exclamation-triangle text-primary"></span> @SharedLocalizer[GRA.Annotations.Required.JavaScriptWarning]</div>
                </div>
            </div>
        </noscript>
        @if (Context.Items[GRA.Controllers.ItemKey.NotificationsList] != null)
        {
            @await Component.InvokeAsync("DisplayNotifications")
        }

        @if (TempData[GRA.Controllers.TempDataKey.AlertDanger] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-danger">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertDanger])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertWarning] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-warning">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertWarning])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertSuccess] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-success">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertSuccess])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertInfo] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-info">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertInfo])</div>
                </div>
            </div>
        }
        @RenderBody()
        <infolinks navPages="false"></infolinks>
        <hr class="footer">
        <footer>
            <grasite property="footer"></grasite>
        </footer>
    </div>
    <script src="/js/main.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        @if (Context.Items[GRA.Controllers.ItemKey.NotificationsModal] != null)
        {
            @:$('#notificationsModal').modal('show');
        }
    </script>
    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.SiteJs))
    {
        <script src="@Url.Content(Context.Items[GRA.Controllers.ItemKey.SiteJs].ToString())"></script>
    }
</body>
</html>
