@using GRA.Domain.Model
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[GRA.Controllers.ViewDataKey.Title]</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5e3ab6">
    <meta name="theme-color" content="#ffffff">
    @RenderSection("metadata", required: false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <environment names="Development">
        <link rel="stylesheet" href="~/css/gra.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/gra.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
    <style>
        div.tooltip-inner {
            width: 11rem;
        }
    </style>
</head>
<body>
    @{SiteStage siteStage = (SiteStage)(Context.Items[GRA.Controllers.ItemKey.SiteStage] ?? SiteStage.ProgramOpen); }
    <div class="navbar gra-navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle gra-menu-button btn-sm"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand gra-navbar-brand">
                    <grasite property="pageTitle"></grasite>
                </a>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.ShowMissionControl))
                    {
                        <li><a asp-area="MissionControl" asp-controller="Home" asp-action="Index" title="Mission Control" data-toggle="tooltip" data-placement="bottom" class="gra-mclink"><span class="fa fa-rocket"></span><span class="visible-xs-inline"> Mission Control</span></a></li>
                    }
                    @if (!String.Equals(this.ViewContext.RouteData.Values["controller"].ToString(), "Questionnaire", StringComparison.OrdinalIgnoreCase))
                    {
                        <li ActiveBy routeKey="Controller" value="Home"><a asp-controller="Home" asp-action="Index" title="Home"><span class="fa fa-home"></span><span class="visible-xs-inline"> Home</span></a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li ActiveBy routeKey="Controller" value="Mail" title="Mail">
                                <a asp-controller="Mail" asp-action="Index">
                                    <span class="fa fa-envelope"></span><span class="visible-xs-inline"> Mail</span>
                                    @if ((int)Context.Items[GRA.Controllers.ItemKey.UnreadCount] > 0)
                                    {
                                        <span class="label label-default label-as-badge">
                                            @Context.Items[GRA.Controllers.ItemKey.UnreadCount]
                                        </span>
                                    }
                                </a>
                            </li>
                        }
                        @if (siteStage != SiteStage.ProgramEnded && siteStage != SiteStage.AccessClosed)
                        {
                            <li ActiveBy routeKey="Controller" value="Challenges"><a asp-controller="Challenges" asp-action="Index">Challenges</a></li>
                            @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.ExternalEventListUrl))
                            {
                                <li ActiveBy routeKey="Controller" value="Events"><a href="@Context.Items[GRA.Controllers.ItemKey.ExternalEventListUrl]">Events</a></li>

                            }
                            else
                            {
                                <li ActiveBy routeKey="Controller" value="Events"><a asp-controller="Events" asp-action="Index">Events</a></li>
                            }
                        }
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (!String.Equals(this.ViewContext.RouteData.Values["controller"].ToString(), "Questionnaire", StringComparison.OrdinalIgnoreCase))
                        {
                            <li ActiveBy routeKey="Controller" value="Profile">
                                @if (Context.Session.Keys.Contains(GRA.Controllers.SessionKey.HeadOfHousehold))
                                {
                                    <a asp-controller="Profile" asp-action="Household" style="display:inline-block;padding-left:8px;padding-right:8px;"><span class="fa fa-users"></span></a><a asp-controller="Profile" asp-action="Index" style="display:inline-block;padding-left:8px;">My Profile</a>
                                }
                                else
                                {
                                    <a asp-controller="Profile" asp-action="Index">My Profile</a>
                                }
                            </li>
                        }
                        <infolinks navPages="true"></infolinks>
                        <li><a asp-controller="Home" asp-action="Signout">Sign out</a></li>
                    }
                    else
                    {
                        <infolinks navPages="true"></infolinks>
                        @if (siteStage == SiteStage.RegistrationOpen || siteStage == SiteStage.ProgramOpen)
                        {
                            <li ActiveBy routeKey="Controller" value="Join"><a asp-controller="Join" asp-action="Index">Join</a></li>
                        }
                        @if (siteStage != GRA.Domain.Model.SiteStage.BeforeRegistration && siteStage != SiteStage.AccessClosed)
                        {
                            <li ActiveBy routeKey="Controller" value="SignIn"><a asp-controller="Signin" asp-action="Index">Sign in</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <noscript>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning"><span class="fa fa-lg fa-warning text-primary"></span> This website relies on JavaScript. Please enable JavaScript in your browser to get the best experience.</div>
                </div>
            </div>
        </noscript>
        @if (Context.Items[GRA.Controllers.ItemKey.NotificationsList] != null)
        {
            @await Component.InvokeAsync("DisplayNotifications")
        }

        @if (TempData[GRA.Controllers.TempDataKey.AlertDanger] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-danger">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertDanger])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertWarning] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-warning">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertWarning])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertSuccess] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-success">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertSuccess])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertInfo] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-info">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertInfo])</div>
                </div>
            </div>
        }
        @RenderBody()
        <infolinks navPages="false"></infolinks>
        <hr class="footer">
        <footer>
            <grasite property="footer"></grasite>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js" asp-append-version="true"></script>
    <environment names="Development">
        <script src="~/js/gra.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/gra.min.js" asp-append-version="true"></script>
    </environment>
    @if (Context.Items[GRA.Controllers.ItemKey.GoogleAnalytics] != null)
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', '@Context.Items[GRA.Controllers.ItemKey.GoogleAnalytics].ToString()', 'auto');
            ga('send', 'pageview');
        </script>
    }
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        @if (Context.Items[GRA.Controllers.ItemKey.NotificationsModal] != null)
        {
            @: $('#notificationsModal').modal('show');
                                        }
    </script>
</body>
</html>
