<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[GRA.Controllers.ViewDataKey.Title]</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/ErrorStyles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet"
              href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-append-version="true" />
        <link rel="stylesheet"
              href="~/css/site.min.css"
              asp-append-version="true" />
        <link rel="stylesheet"
              href="~/css/ErrorStyles.min.css"
              asp-append-version="true" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-append-version="true" />
    </environment>
    @RenderSection("styles", required: false)
    <style>
        div.tooltip-inner {
            width: 11rem;
        }
    </style>
</head>
<body>
    <div class="navbar gra-navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle gra-menu-button btn-sm"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand gra-navbar-brand">
                    <grasite property="pageTitle"></grasite>
                </a>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.AccessMissionControl.ToString()))
                    {
                        <li><a asp-area="MissionControl" asp-controller="Home" asp-action="Index" title="Mission Control" data-toggle="tooltip" data-placement="bottom" class="gra-mclink"><span class="fa fa-rocket"></span></a></li>
                    }
                    <li ActiveBy routeKey="Controller" value="Home"><a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span></a></li>
                    <li ActiveBy routeKey="Controller" value="Challenges"><a asp-controller="Challenges" asp-action="Index">Challenges</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li ActiveBy routeKey="Controller" value="Profile"><a asp-controller="Profile" asp-action="Index">My Profile</a></li>
                        <li><a asp-controller="Home" asp-action="Signout">Sign out</a></li>
                    }
                    else
                    {
                        <li ActiveBy routeKey="Controller" value="Join"><a asp-controller="Join" asp-action="Index">Join</a></li>
                        <li ActiveBy routeKey="Controller" value="SignIn"><a asp-controller="Signin" asp-action="Index">Sign in</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (Context.Items[GRA.Controllers.ItemKey.NotificicationsList] != null)
        {
            @await Component.InvokeAsync("DisplayNotifications")
        }

        @if (TempData[GRA.Controllers.TempDataKey.AlertDanger] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-danger">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertDanger])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertWarning] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-warning">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertWarning])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertSuccess] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-success">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertSuccess])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertInfo] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-info">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertInfo])</div>
                </div>
            </div>
        }
        @RenderBody()
        <hr class="footer">
        <footer>
            <grasite property="footer"></grasite>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                asp-append-version="true">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                asp-append-version="true">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @if (Context.Items["GoogleAnalyticsTrackingId"] != null)
    {
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', '@Context.Items["GoogleAnalyticsTrackingId"].ToString()', 'auto');
          ga('send', 'pageview');
        </script>
    }
    @RenderSection("scripts", required: false)
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
