@using System.Globalization
@using GRA.Domain.Model
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<GRA.Controllers.Resources.Shared> SharedLocalizer
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[GRA.Controllers.ViewDataKey.Title]</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/content/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/content/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/content/favicon-16x16.png">
    <link rel="manifest" href="/content/site.webmanifest">
    <link rel="mask-icon" href="/content/safari-pinned-tab.svg" color="#603cba">
    <link rel="shortcut icon" href="/content/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/content/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    @RenderSection("metadata", required: false)
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
    <style>
        div.tooltip-inner {
            width: 11rem;
        }
    </style>
    <noscript>
        <style>
            .gra-js-required {
                display: none;
            }
        </style>
    </noscript>
    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.SiteCss))
    {
        <link rel="stylesheet" href="@Url.Content(Context.Items[GRA.Controllers.ItemKey.SiteCss].ToString())" />
    }
</head>
<body>
    @{SiteStage siteStage = (SiteStage)(Context.Items[GRA.Controllers.ItemKey.SiteStage] ?? SiteStage.ProgramOpen); }
    <div class="navbar gra-navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle gra-menu-button btn-sm"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand gra-navbar-brand">
                    <div class="hidden-xs navbar-left gra-navbar-brand-logo"></div>
                    <grasite property="pageTitle"></grasite>
                </a>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    @if (Context.Items[GRA.Controllers.ItemKey.L10n] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Languages"><span class="fas fa-globe-americas"></span><span class="visible-xs-inline"> @SharedLocalizer["Language"]</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (var item in ((IEnumerable<SelectListItem>)Context.Items[GRA.Controllers.ItemKey.L10n]))
                                {
                                    <li><a href="@item.Value">@item.Text</a></li>
                                }
                            </ul>
                        </li>
                    }
                    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.ShowMissionControl))
                    {
                        <li><a asp-area="MissionControl" asp-controller="Home" asp-action="Index" title="Mission Control" data-toggle="tooltip" data-placement="bottom" class="gra-mclink"><span class="fa fa-rocket"></span><span class="visible-xs-inline"> @SharedLocalizer["Mission Control"]</span></a></li>
                    }
                    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.ShowPerformerRegistration) && !Context.Items.ContainsKey(GRA.Controllers.ItemKey.ShowMissionControl))
                    {
                        <li><a asp-area="PerformerRegistration" asp-controller="Home" asp-action="Index" title="Performer Registration" data-toggle="tooltip" data-placement="bottom"><span class="fa fa-theater-masks"></span><span class="visible-xs-inline"> @SharedLocalizer["Mission Control"]</span></a></li>
                    }
                    @if (!String.Equals(this.ViewContext.RouteData.Values["controller"].ToString(), "Questionnaire", StringComparison.OrdinalIgnoreCase))
                    {
                        <li ActiveBy routeKey="Controller" value="Home"><a asp-controller="Home" asp-action="Index" title="Home"><span class="fa fa-home"></span><span class="visible-xs-inline"> @SharedLocalizer["Home"]</span></a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li ActiveBy routeKey="Controller" value="Mail" title="Mail">
                                <a asp-controller="Mail" asp-action="Index">
                                    @if ((int)Context.Items[GRA.Controllers.ItemKey.UnreadCount] > 0)
                                    {
                                        <span class="fas fa-envelope text-danger" title="New message(s)!"></span><span class="visible-xs-inline"> @SharedLocalizer["Mail"]</span>
                                        <span class="label label-default label-as-badge" style="background-color: #a94442;">
                                            @Context.Items[GRA.Controllers.ItemKey.UnreadCount]
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="far fa-envelope"></span><span class="visible-xs-inline"> @SharedLocalizer["Mail"]</span>
                                    }
                                </a>
                            </li>
                        }
                        @if (siteStage != SiteStage.ProgramEnded && siteStage != SiteStage.AccessClosed)
                        {
                            @if (Context.Items[GRA.Controllers.ItemKey.ShowChallenges] as bool? != false)
                            {
                                <li ActiveBy routeKey="Controller" value="Challenges"><a asp-controller="Challenges" asp-action="Index">@SharedLocalizer["Challenges"]</a></li>
                            }
                            @if (Context.Items[GRA.Controllers.ItemKey.ShowEvents] as bool? != false)
                            {
                                @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.ExternalEventListUrl))
                                {
                                    <li ActiveBy routeKey="Controller" value="Events"><a href="@Context.Items[GRA.Controllers.ItemKey.ExternalEventListUrl]">@SharedLocalizer["Events"]</a></li>
                                }
                                else
                                {
                                    <li ActiveBy routeKey="Controller" value="Events"><a asp-controller="Events" asp-action="Index">@SharedLocalizer["Events"]</a></li>
                                }
                            }
                        }
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (!String.Equals(this.ViewContext.RouteData.Values["controller"].ToString(), "Questionnaire", StringComparison.OrdinalIgnoreCase))
                        {
                            <li ActiveBy routeKey="Controller" value="Profile">
                                @if (Context.Session.Keys.Contains(GRA.Controllers.SessionKey.HeadOfHousehold))
                                {
                                    <a asp-controller="Profile" asp-action="Household" style="display:inline-block;padding-left:8px;padding-right:8px;"><span class="fa fa-users"></span></a><a asp-controller="Profile" asp-action="Index" style="display:inline-block;padding-left:8px;">@SharedLocalizer["My Profile"]</a>
                                }
                                else
                                {
                                    <a asp-controller="Profile" asp-action="Index">@SharedLocalizer["My Profile"]</a>
                                }
                            </li>
                        }
                        <infolinks navPages="true"></infolinks>
                        <li><a asp-controller="Home" asp-action="Signout">@SharedLocalizer["Sign out"]</a></li>
                    }
                    else
                    {
                        <infolinks navPages="true"></infolinks>
                        @if (siteStage == SiteStage.RegistrationOpen || siteStage == SiteStage.ProgramOpen)
                        {
                            <li ActiveBy routeKey="Controller" value="Join"><a asp-controller="Join" asp-action="Index">@SharedLocalizer["Join"]</a></li>
                        }
                        @if (siteStage != GRA.Domain.Model.SiteStage.BeforeRegistration && siteStage != SiteStage.AccessClosed)
                        {
                            <li ActiveBy routeKey="Controller" value="SignIn"><a asp-controller="Signin" asp-action="Index">@SharedLocalizer["Sign in"]</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <noscript>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning"><span class="fa fa-lg fa-warning text-primary"></span> This website relies on JavaScript. Please enable JavaScript in your browser to get the best experience.</div>
                </div>
            </div>
        </noscript>
        @if (Context.Items[GRA.Controllers.ItemKey.NotificationsList] != null)
        {
            @await Component.InvokeAsync("DisplayNotifications")
        }

        @if (TempData[GRA.Controllers.TempDataKey.AlertDanger] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-danger">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertDanger])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertWarning] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-warning">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertWarning])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertSuccess] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-success">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertSuccess])</div>
                </div>
            </div>
        }
        @if (TempData[GRA.Controllers.TempDataKey.AlertInfo] != null)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="alert alert-info">@Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertInfo])</div>
                </div>
            </div>
        }
        @RenderBody()
        <infolinks navPages="false"></infolinks>
        <hr class="footer">
        <footer>
            <grasite property="footer"></grasite>
        </footer>
    </div>
    <script src="~/js/main.min.js" asp-append-version="true"></script>
    @if (Context.Items[GRA.Controllers.ItemKey.GoogleAnalytics] != null)
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=@Context.Items[GRA.Controllers.ItemKey.GoogleAnalytics].ToString()"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '@Context.Items[GRA.Controllers.ItemKey.GoogleAnalytics].ToString()', {
                'custom_map': {
                    'dimension1': 'Program Name',
                    'dimension2': 'First Time Participant'
                }
            });

            @if(Context.Items[GRA.Controllers.ItemKey.SignedIn] != null) {
                @:gtag('event', 'login');
            }
        </script>
    }
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        @if (Context.Items[GRA.Controllers.ItemKey.NotificationsModal] != null)
        {
            @: $('#notificationsModal').modal('show');
                                        }
    </script>
    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.SiteJs))
    {
        <script src="@Url.Content(Context.Items[GRA.Controllers.ItemKey.SiteJs].ToString())"></script>
    }
</body>
</html>
