@model GRA.Controllers.ViewModel.Mail.MailListViewModel

@section Styles {
    <style>
        .nojs-show {
            display: none;
        }
    </style>
    <noscript>
        <style>
            .nojs-hide {
                display: none;
            }

            .nojs-show {
                display: table-cell;
            }
        </style>
    </noscript>
}

<div class="row">
    <div class="col col-md-10 offset-md-1">
        <div class="card">
            <div class="card-header">
                <span class="lead">@SharedLocalizer[GRA.Domain.Model.DisplayNames.Mail]</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        @if (Model.Mail.Count() == 0)
                        {
                            <div class="alert alert-warning">
                                @SharedLocalizer[GRA.Annotations.Interface.NoMail]
                            </div>
                        }
                        else
                        {
                            <div>
                                <table class="table table-sm table-bordered link-table">
                                    <thead>
                                        <tr>
                                            <th>@SharedLocalizer[GRA.Annotations.Title.Date]</th>
                                            <th>@SharedLocalizer[GRA.Annotations.Title.Subject]</th>
                                            <th class="nojs-show">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var mail in Model.Mail)
                                        {
                                            <tr class="@(mail.IsNew ? "unread-mail" : "read-mail")">
                                                <td class="td-class">
                                                    <noscript>
                                                        @mail.CreatedAt.ToString("d")
                                                    </noscript>
                                                    <a asp-action="Read"
                                                       asp-route-id="@mail.Id"
                                                       class="rowlink nojs-d-none">
                                                        @mail.CreatedAt.ToString("d")
                                                    </a>
                                                </td>
                                                <td>@mail.Subject</td>
                                                <td class="nojs-show">
                                                    <a asp-action="Read"
                                                       asp-route-id="@mail.Id"
                                                       class="btn btn-secondary btn-sm">
                                                        @SharedLocalizer[GRA.Annotations.Interface.Read]
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (Model.PaginateModel.MaxPage > 1)
                            {
                                <paginate paginateModel="@Model.PaginateModel"></paginate>
                            }
                        }
                        <a asp-action="Send" class="btn btn-primary">@SharedLocalizer[GRA.Annotations.Interface.SendMail]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
    </script>
}
