@model GRA.Controllers.ViewModel.Mail.MailListViewModel

@section Styles {
    <style>
        .nojs-show {
            display: none;
        }
    </style>
    <noscript>
        <style>
            .nojs-hide {
                display: none;
            }
            .nojs-show {
                display: table-cell;
            }
        </style>
    </noscript>
}

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead">Mail</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        @if (Model.Mail.Count() == 0)
                        {
                            <div class="alert alert-warning">No Mail</div>
                        }
                        else
                        {
                            <div>
                                <table class="table table-condensed table-bordered link-table">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Subject</th>
                                            <th class="nojs-show">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var mail in Model.Mail)
                                        {
                                            <tr class="@(mail.IsNew ? "unread-mail" : "read-mail")">
                                                <td class="td-class">
                                                    <noscript>
                                                        @mail.CreatedAt.ToString("d")
                                                    </noscript>
                                                    <a asp-action="Read" asp-route-id="@mail.Id" class="rowlink nojs-hide">
                                                        @mail.CreatedAt.ToString("d")
                                                    </a>
                                                </td>
                                                <td>@mail.Subject</td>
                                                <td class="nojs-show">
                                                    <a asp-action="Read" asp-route-id="@mail.Id" class="btn btn-default btn-xs">
                                                        Read
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (Model.PaginateModel.MaxPage > 1)
                            {
                                <paginate paginateModel="@Model.PaginateModel"></paginate>
                            }
                        }
                        <a asp-action="Send" class="btn btn-primary">Send Mail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
    </script>
}