@model GRA.Domain.Model.Mail

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="card">
            <div class="card-header">
                <span class="lead">
                    @SharedLocalizer[GRA.Annotations.Interface.SentOn,
                        Model.CreatedAt.ToString("d")]
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p style="font-size:large">
                            <strong>
                                @SharedLocalizer[GRA.Annotations.Interface.Subject, Model.Subject]
                            </strong>
                        </p>
                        @Html.Raw(Model.Body)
                    </div>
                </div>
            </div>
            <div class="card-footer clearfix hidden-print">
                <a asp-action="Index" class="btn btn-secondary">
                    @SharedLocalizer[GRA.Annotations.Interface.BackToMailbox]
                </a>
                <div class="pull-right">
                    @if (Model.CanParticipantDelete)
                    {
                        <div style="display: inline-block">
                            <form asp-controller="Mail" method="post" role="form">
                                <input asp-for="Id" type="hidden" />
                                <button type="submit"
                                        id="Delete"
                                        asp-action="Delete"
                                        class="btn btn-danger"
                                        style="margin-right: 12px;">
                                    @SharedLocalizer[GRA.Annotations.Title.DeleteMail]
                                </button>
                            </form>
                        </div>
                    }
                    <a asp-action="Reply" asp-route-id="@Model.Id" class="btn btn-primary">
                        @SharedLocalizer[GRA.Annotations.Interface.Reply]
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.CanParticipantDelete)
{
    <div class="row">
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            
                        </button>
                        <h1 class="modal-title h4" id="deleteModalLabel">
                            @SharedLocalizer[GRA.Annotations.Title.DeleteMail]
                        </h1>
                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text">
                            @SharedLocalizer[GRA.Annotations.Interface.DeleteMail, Model.Subject]
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            @SharedLocalizer[GRA.Annotations.Interface.Cancel]
                        </button>
                        <form asp-controller="Mail"
                              asp-action="Delete"
                              method="post"
                              role="form"
                              style="display:inline">
                            <input asp-for="Id" type="hidden" />
                            <button type="submit"
                                    class="btn btn-danger pull-right"
                                    aria-label="Confirm">
                                <span class="fas fa-times" aria-hidden="true"></span>
                                @SharedLocalizer[GRA.Annotations.Interface.Delete]
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
    {
    <script>
        @if (Model.CanParticipantDelete) {
        <text>
        $("#Delete").on("click", function(e) {
            e.preventDefault();
            $("#deleteModal").modal("show");
        })
        </text>
        }
    </script>
}
