@model GRA.Domain.Model.Mail

@if (Model.CanParticipantDelete)
{
    <div class="row">
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteModalLabel">Delete Mail</h4>
                    </div>
                    <div class="modal-body">
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text">Are you sure you wish to delete the mail "@Model.Subject" ?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                        <form asp-controller="Mail" asp-action="Delete" method="post" role="form" style="display:inline">
                            <input asp-for="Id" type="hidden" />
                            <button type="submit" class="btn btn-danger pull-right" aria-label="Confirm">
                                <span class="fa fa-remove" aria-hidden="true"></span>
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead">
                    Sent to you on @Model.CreatedAt.ToString("d")
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p style="font-size:large"><strong>Subject: @Model.Subject</strong></p>
                        <p>@Model.Body</p>
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix hidden-print">
                <a asp-action="Index" class="btn btn-default">Return to Mail List</a>
                <div class="pull-right">
                    @if (Model.CanParticipantDelete)
                    {
                        <div style="display: inline-block">
                            <form asp-controller="Mail" method="post" role="form">
                                <input asp-for="Id" type="hidden" />
                                <button type="submit" id="Delete" asp-action="Delete" class="btn btn-danger" style="margin-right: 12px;">
                                    Delete Mail
                                </button>
                            </form>
                        </div>
                    }
                    <a asp-action="Reply" asp-route-id="@Model.Id" class="btn btn-primary">
                        Reply
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        @if (Model.CanParticipantDelete) {
        <text>
        $("#Delete").on("click", function(e) {
            e.preventDefault();
            $("#deleteModal").modal("show");
        })
        </text>
        }
    </script>
}