@model GRA.Controllers.ViewModel.MissionControl.Questionnaires.QuestionnairesListViewModel

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <a asp-action="Create" class="btn btn-outline-primary">Create a new questionnaire</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.Questionnaires.Count() == 0)
        {
            <div class="alert alert-warning">No Questionnaires found.</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th># of Questions</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var questionnaire in Model.Questionnaires)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="Edit" asp-route-id="@questionnaire.Id" class="rowlink">
                                        @questionnaire.Name
                                    </a>
                                </td>
                                <td>@questionnaire.Questions.Count</td>
                                <td class="gra-mc-icon">
                                    @if (questionnaire.IsLocked)
                                    {
                                        <span class="fas fa-lg fa-lock"></span>
                                    }
                                    else
                                    {
                                        <span class="fas fa-lg fa-unlock-alt"></span>
                                    }
                                </td>
                                <td class="on-top gra-mc-icon">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@questionnaire.Id"
                                            data-name="@questionnaire.Name">
                                        <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete Questionnaire</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                        
                    </button>
                </div>
                <div class="modal-body">
                    <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal"
                            style="margin-right: 1em;">
                        Cancel
                    </button>
                    <form asp-controller="Questionnaires"
                          asp-action="Delete"
                          method="post"
                          role="form"
                          style="display:inline">
                        <input id="Id" name="Id" type="hidden" />
                        <button id="modal-deleteButton"
                                type="submit"
                                class="btn btn-outline-danger float-end"
                                aria-label="Confirm">
                            <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(window).on("load", function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });

        $('#deleteModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#Id').val(id);
            modal.find('#modal-text').text('Are you sure you wish to delete the questionnaire "' + name + '" ?');
        })
    </script>
}