@model GRA.Controllers.ViewModel.MissionControl.Mail.BroadcastDetailViewModel

<form asp-controller="@MailController.Name"
      asp-action="@($"Broadcast{Model.Action}")"
      method="post"
      role="form">
    <input asp-for="Action" type="hidden" />
    <input asp-for="Sent" type="hidden" />
    @if (Model.Action == "Edit")
    {
        <input asp-for="Broadcast.Id" type="hidden" />
    }
    <div class="row my-4">
        <div class="col-12">
            <label asp-for="Broadcast.Subject" class="col-form-label"></label>
            <input asp-for="Broadcast.Subject"
                   class="form-control"
                   disabled="@(Model.Sent == true ? "disabled" : null)" />
            <span asp-validation-for="Broadcast.Subject" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label asp-for="Broadcast.Body" class="col-form-label"></label>
            <textarea asp-for="Broadcast.Body"
                      class="form-control"
                      rows="5"
                      disabled="@(Model.Sent == true ? "disabled" : null)"></textarea>
            <span asp-validation-for="Broadcast.Body" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            @if (Model.Sent)
            {
                <label asp-for="Broadcast.SendAt" class="col-form-label">Sent at</label>
                <input asp-for="Broadcast.SendAt"
                       class="form-control"
                       disabled
                       type="datetime-local" />
                <span asp-validation-for="Broadcast.SendAt" class="text-danger"></span>
            }
            else
            {
                <label class="col-form-label">Send at</label>
                <div class="mb-3 d-flex align-items-center">
                    <input asp-for="SendNow" class="form-check-input" type="radio" value="false" />
                    <div class="gra-picker-datetime form-check-label ms-3"
                         current-value="@Model.Broadcast?.SendAt"
                         datetimepicker-container
                         id="startDatePicker">
                        <input asp-for="Broadcast.SendAt" datetimepicker-input type="text" />
                    </div>
                </div>
                <div class="mb-2 d-flex align-items-center">
                    <input asp-for="SendNow"
                           id="SendNowNow"
                           class="form-check-input"
                           type="radio"
                           value="true" />
                    <label class="form-check-label ms-3" for="SendNowNow">Now</label>
                </div>
            }
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <input asp-for="Broadcast.SendToNewUsers"
                   class="form-check-input"
                   disabled="@(Model.Sent == true ? "disabled" : null)" />
            <label asp-for="Broadcast.SendToNewUsers" class="form-check-label ms-2"></label>
            <span asp-validation-for="Broadcast.SendToNewUsers" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="@nameof(MailController.Broadcasts)"
               asp-route-Upcoming="@(Model.Sent ? "False" : null)"
               class="btn btn-outline-secondary">Return to List</a>
            @if (Model.Sent != true)
            {
                <button type="submit" class="btn btn-outline-primary" button-spinner>
                    <span class="buttonText">
                        @(Model.Action == "Edit" ? "Save" : Model.Action)
                        Broadcast
                    </span>
                </button>
            }
        </div>
    </div>
</form>
