@model GRA.Controllers.ViewModel.MissionControl.Mail.BroadcastDetailViewModel

<form asp-controller="Mail" asp-action="@($"Broadcast{Model.Action}")" method="post" role="form">
    <input asp-for="Action" type="hidden" />
    <input asp-for="Sent" type="hidden" />
    @if (Model.Action == "Edit")
    {
    <input asp-for="Broadcast.Id" type="hidden" />
    }

    <div class="row" style="padding: 10px 0;">
        <div class="col-xs-12">
            <label asp-for="Broadcast.Subject" class="col-form-label"></label>
            <input asp-for="Broadcast.Subject" class="form-control" disabled="@(Model.Sent == true ? "disabled" : null)" />
            <span asp-validation-for="Broadcast.Subject" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Broadcast.Body" class="col-form-label"></label>
            <textarea asp-for="Broadcast.Body" class="form-control" rows="5" disabled="@(Model.Sent == true ? "disabled" : null)"></textarea>
            <span asp-validation-for="Broadcast.Body" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            @if (Model.Sent)
            {
            <label asp-for="Broadcast.SendAt " class="col-form-label">Sent at</label>
            <div class="form-group date" id="pickerSend">
                <input asp-for="Broadcast.SendAt" type="datetime-local" class="form-control" name="date" />
            </div>
            <span asp-validation-for="Broadcast.SendAt" class="text-danger"></span>

            }
            else
            {
            <label class="col-form-label">Send at</label>
            <table>
                <tr>
                    <td style="padding:8px 8px 10px 0;" valign="top">
                        <input asp-for="SendNow" type="radio" value="false" />
                    </td>
                    <td style="padding-bottom:10px;width:300px;">
                        <div class="form-group date" id="pickerSend">
                                <input asp-for="Broadcast.SendAt" type="datetime-local" class="form-control" name="date" />
                        </div>
                        <span asp-validation-for="Broadcast.SendAt" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="SendNow" type="radio" value="true" />
                    </td>
                    <td>
                        Now
                    </td>
                </tr>
            </table>
            }
        </div>
    </div>

    <div class="row" style="padding-bottom:20px;">
        <div class="col-xs-12">
            <label asp-for="Broadcast.SendToNewUsers" class="col-form-label"></label>
            <input asp-for="Broadcast.SendToNewUsers" style="display:block;" disabled="@(Model.Sent == true ? "disabled" : null)" />
            <span asp-validation-for="Broadcast.SendToNewUsers" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <a asp-action="Broadcasts" asp-route-Upcoming="@(Model.Sent ? "False" : null)" class="btn btn-secondary">Return to List</a>
        @if (Model.Sent != true)
        {
        <button type="submit" class="btn btn-primary" button-spinner>
            <span class="buttonText">@(Model.Action == "Edit" ? "Save" : Model.Action) Broadcast</span>
        </button>
        }
    </div>
</form>
