@model GRA.Controllers.ViewModel.MissionControl.Mail.BroadcastListViewModel

@Html.Partial("_MailPartial")

@if (Model.Upcoming)
{
    <div class="row">
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteModalLabel">Delete Broadcast</h4>
                    </div>
                    <div class="modal-body">
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                        <form asp-controller="Mail" asp-action="BroadcastDelete" method="post" role="form" style="display:inline">
                            <input id="Id" name="Id" type="hidden" />
                            <button type="submit" class="btn btn-danger pull-right" aria-label="Confirm">
                                <span class="fa fa-remove" aria-hidden="true"></span>
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Upcoming" value=",True"><a asp-action="Broadcasts">Upcoming</a></li>
            <li ActiveBy routeKey="Upcoming" value="False"><a asp-action="Broadcasts" asp-route-Upcoming="False">Sent</a></li>
        </ul>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        <a asp-action="BroadcastCreate" class="btn btn-default">Schedule a new Broadcast</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Broadcasts.Count() == 0)
        {
            <div class="alert alert-warning">No Broadcasts</div>
        }
        else
        {
            <div>
                <table class="table table-condensed table-bordered link-table">
                    <thead>
                        <tr>
                            <th>@(Model.Upcoming ? "Send" : "Sent") at</th>
                            <th>Subject</th>
                            <th width="200px">Send to New Participants</th>
                            @if (Model.Upcoming)
                            {
                                <th>&nbsp;</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var broadcast in Model.Broadcasts)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="BroadcastEdit" asp-route-id="@broadcast.Id" class="rowlink">
                                        @broadcast.SendAt
                                    </a>
                                </td>
                                <td>@broadcast.Subject</td>
                                <td class="gra-mc-icon">
                                    @if (broadcast.SendToNewUsers)
                                    {
                                        <span class="fa fa-lg fa-check text-success"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-lg fa-ban text-danger"></span>
                                    }
                                </td>
                                @if (Model.Upcoming)
                                {
                                    <td class="on-top gra-mc-icon">
                                        <button type="button"
                                                class="btn btn-danger btn-xs"
                                                data-toggle="modal"
                                                data-target="#deleteModal"
                                                data-id="@broadcast.Id"
                                                data-subject="@broadcast.Subject">
                                            <span class="fa fa-remove" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var subject = button.data('subject');
            var modal = $(this);
            modal.find('#modal-text').text('Are you sure you wish to delete the Broadcast "' + subject + '" ?');
            modal.find('#Id').val(id);
        })
    </script>
}