@model GRA.Controllers.ViewModel.MissionControl.Mail.MailDetailViewModel

@if (Model.MailThread.Count > 0)
{
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-md-8 col-md-offset-2">
            @foreach (var mail in Model.MailThread)
            {
                if (mail.Id == Model.Mail.Id)
                {
                    <div class="mail-thread-container">
                        <div class="mail-thread-header alert-info" role="tab" id="heading@(mail.Id)">
                            <span class="fas @(mail.ToUserId.HasValue ? "fa-reply" : "fa-share")"></span> <strong>This message</strong>
                        </div>
                    </div>
                }
                else
                {
                    <div class="mail-thread-container">
                        <a role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapse@(mail.Id)" aria-expanded="true" aria-controls="collapse@(mail.Id)">
                            <div class="mail-thread-header" role="tab" id="heading@(mail.Id)">
                                <span class="fas @(mail.ToUserId.HasValue ? "fa-reply" : "fa-share")"></span> @(mail.ToUserId.HasValue ? "To" : "From") @Model.User.FirstName: <strong>@(mail.Subject.Count() > 40 ? $"{mail.Subject.Substring(0, 40)}..." : mail.Subject)</strong>
                                <span class="pull-right">@mail.CreatedAt</span>
                            </div>
                        </a>
                        <div id="collapse@(mail.Id)" class="collapse" role="tabpanel" aria-labelledby="heading@(mail.Id)">
                            <div class="mail-thread-body">
                                <div style="margin-bottom: 0.5rem;">
                                    <strong style="padding-bottom:15px;">@mail.Subject</strong>
                                </div>

                                @if (mail.ToUserId.HasValue)
                                {
                                    @: @Html.Raw(mail.Body)
                                }
                                else
                                {
                                    @mail.Body
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <p style="font-size:large" class="col-md-7">
                Sent @Model.SentMessage
                <a aria-label="@Model.User.FirstName@(!string.IsNullOrWhiteSpace(Model.User.Username) ? $" ({Model.User.Username})" : "")
                   (Opens new window)"
                   target="_blank"
                   asp-controller="Participants"
                   asp-action="Detail"
                   asp-route-id="@Model.User.Id">
                    @Model.User.FirstName@(!string.IsNullOrWhiteSpace(Model.User.Username) ? $" ({Model.User.Username})" : "")
                </a>at @Model.Mail.CreatedAt
            </p>
            <div class="col-md-5">
                <p>
                    <strong>System: </strong>@Model.User.SystemName
                    <br />
                    <strong>Branch: </strong>@Model.User.BranchName
                </p>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <span class="lead">
                    Subject: @Model.Mail.Subject
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-8 col-sm-9">
                        @if (Model.Mail.ToUserId.HasValue)
                        {
                            @: @Html.Raw(Model.Mail.Body)
                        }
                        else
                        {
                            <p>@Model.Mail.Body</p>
                        }
                    </div>
                </div>
            </div>
            <div class="card-footer clearfix hidden-print">
                <a asp-action="Index" class="btn btn-secondary">Return to Mail List</a>
                <div class="pull-right">
                    @if (Model.CanDelete)
                    {
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" style="margin-right: 12px;">
                            Delete Mail
                        </button>
                    }
                    @if (Model.Mail.ToUserId == null && Model.CanMail)
                    {
                        @if (Model.Mail.IsRepliedTo == false)
                        {
                            <div style="display:inline-block">
                                <form asp-controller="Mail" asp-action="MarkHandled" method="post" role="form">
                                    <input asp-for="Mail.Id" name="Id" type="hidden" />
                                    <button type="submit" class="btn btn-success" style="margin-right: 12px;">
                                        Mark Handled
                                    </button>
                                </form>
                            </div>
                        }
                        <a asp-action="Reply" asp-route-id="@Model.Mail.Id" class="btn btn-primary">
                            Reply
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.CanDelete)
{
    <div class="row">
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                        <h1 class="modal-title h4" id="deleteModalLabel">Delete Mail</h1>
                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text">
                            Are you sure you wish to delete the mail "@Model.Mail.Subject" ?
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <form asp-controller="Mail"
                              asp-action="Delete"
                              method="post"
                              role="form"
                              style="display:inline">
                            <input asp-for="Mail.Id" name="Id" type="hidden" />
                            <button type="submit"
                                    class="btn btn-danger pull-right"
                                    aria-label="Confirm">
                                <span class="fas fa-times" aria-hidden="true"></span>
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}