@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.PerformerManagementPartialViewModel

@if (Model.PerformerSchedulingEnabled)
{
    <div class="row my-4">
        <div class="col-12 mb-2">
            <ul class="nav nav-pills flex-column flex-sm-row">
                <li class="nav-item">
                    <a ActiveBy routeKey="Action"
                       value="@nameof(PerformerManagementController.Index)"
                       asp-action="@nameof(PerformerManagementController.Index)"
                       class="nav-link">
                       Status</a>
                </li>
                <li class="nav-item">
                    <a ActiveBy routeKey="Action"
                    value="@nameof(PerformerManagementController.Performers)"
                    asp-action="@nameof(PerformerManagementController.Performers)"
                    class="nav-link">
                    Performers</a>
                </li>
                <li class="nav-item">
                    <a ActiveBy routeKey="Action"
                    value="@nameof(PerformerManagementController.Kits)"
                    asp-action="@nameof(PerformerManagementController.Kits)"
                    class="nav-link">
                    Kits</a>
                </li>
                <li class="nav-item">
                    <a ActiveBy routeKey="Action"
                    value="@nameof(PerformerManagementController.AgeGroups)"
                    asp-action="@nameof(PerformerManagementController.AgeGroups)"
                    class="nav-link">
                    Age Groups</a>
                </li>
                <li class="nav-item">
                    <a ActiveBy routeKey="Action"
                       value="@nameof(PerformerManagementController.BlackoutDates)"
                       asp-action="@nameof(PerformerManagementController.BlackoutDates)"
                       class="nav-link">
                       Blackout Dates
                    </a>
                </li>
                <li class="nav-item">
                    <a ActiveBy routeKey="Action"
                    value="@nameof(PerformerManagementController.ExcludedBranches)"
                    asp-action="@nameof(PerformerManagementController.ExcludedBranches)"
                    class="nav-link">
                    Excluded Branches</a>
                </li>
                <li class="nav-item">
                    <a ActiveBy routeKey="Action"
                    value="@nameof(PerformerManagementController.Settings)"
                    asp-action="@nameof(PerformerManagementController.Settings)"
                    class="nav-link">
                    Settings</a>
                </li>
                <li>
                    <a asp-action="@nameof(PerformerManagementController.ScheduleExport)"
                    asp-controller="@PerformerManagementController.Name"
                    class="nav-link">
                    Export .xlsx</a>
                </li>
            </ul>
        </div>
    </div>
}
