@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.BlackoutDatesListViewModel

@await Html.PartialAsync("_PerformerManagementPartial")

<div class="row my-4">
    <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
        <a class="btn btn-outline-primary"
           data-bs-toggle="modal"
           data-bs-target="#addModal">Add a Blackout Date</a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
        @if (Model.BlackoutDates.Count == 0)
        {
            <div class="alert alert-warning">No Blackout Dates</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Reason</th>
                            <th style="width: 75px;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blackoutDate in Model.BlackoutDates)
                        {
                            <tr>
                                <td>
                                    @blackoutDate.Date.ToString("d")
                                </td>
                                <td>
                                    @blackoutDate.Reason
                                </td>
                                <td class="text-center">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@blackoutDate.Id"
                                            data-name="@blackoutDate.Reason">
                                        <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="addModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="PerformerManagement"
                  asp-action="AddBlackoutDate"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="addModalLabel">Add Blackout Date</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <label asp-for="BlackoutDate.Date" class="col-form-label"></label>
                                <input asp-for="BlackoutDate.Date"
                                       type="date"
                                       class="form-control" />
                                <span asp-validation-for="BlackoutDate.Date"
                                      class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label asp-for="BlackoutDate.Reason" class="col-form-label"></label>
                                <input asp-for="BlackoutDate.Reason" class="form-control" />
                                <span asp-validation-for="BlackoutDate.Reason"
                                      class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-outline-primary"
                                aria-label="Confirm"
                                button-spinner>
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="PerformerManagement"
                  asp-action="DeleteBlackoutDate"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <input asp-for="BlackoutDate.Id" type="hidden" />
                <input asp-for="BlackoutDate.Reason" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4"
                            id="deleteModalLabel">
                            Delete Blackout Date
                        </h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="modal-body d-flex align-items-stretch">
                            <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                                  aria-hidden="true"></span>
                            <span id="modal-text"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-outline-danger"
                                aria-label="Confirm"
                                button-spinner>
                            <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#deleteModal").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let id = button.data("id");
            let reason = button.data("name");
            let modal = $(this);
            modal.find("#modal-text").html("Are you sure you wish to delete the Blackout Date: <strong>" + reason + "</strong>?");
            modal.find("#BlackoutDate_Id").val(id);
            modal.find("#BlackoutDate_Reason").val(reason);
        });
    </script>
}