@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.BlackoutDatesListViewModel

@await Html.PartialAsync("_PerformerManagementPartial")

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        <a class="btn btn-secondary"
           data-toggle="modal"
           data-target="#addModal">Add a Blackout Date</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.BlackoutDates.Count == 0)
        {
            <div class="alert alert-warning">No Blackout Dates</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Reason</th>
                            <th width="100">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blackoutDate in Model.BlackoutDates)
                        {
                            <tr>
                                <td>
                                    @blackoutDate.Date.ToString("d")
                                </td>
                                <td>
                                    @blackoutDate.Reason
                                </td>
                                <td>
                                    <button type="button"
                                            class="btn btn-danger btn-sm"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            data-id="@blackoutDate.Id"
                                            data-name="@blackoutDate.Reason">
                                        <span class="fas fa-2x fa-times" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="addModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="PerformerManagement"
                  asp-action="AddBlackoutDate"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h1 class="modal-title h4" id="addModalLabel">Add Blackout Date</h1>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-xs-12">
                                <badge asp-for="BlackoutDate.Date" class="col-form-label"></badge>
                                <div class="input-group date datepicker">
                                    <span class="input-group-addon">
                                        <span class="fas fa-calendar-alt"></span>
                                    </span>
                                    <input asp-for="BlackoutDate.Date"
                                           type="text"
                                           class="form-control" />
                                </div>
                                <span asp-validation-for="BlackoutDate.Date"
                                      class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <badge asp-for="BlackoutDate.Reason" class="col-form-label"></badge>
                            <input asp-for="BlackoutDate.Reason" class="form-control" />
                            <span asp-validation-for="BlackoutDate.Reason"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-spinner pull-right"
                                aria-label="Confirm"
                                button-spinner>
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="PerformerManagement"
                  asp-action="DeleteBlackoutDate"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <input asp-for="BlackoutDate.Id" type="hidden" />
                <input asp-for="BlackoutDate.Reason" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h1 class="modal-title h4"
                            id="deleteModalLabel">
                            Delete Blackout Date
                        </h1>
                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-danger btn-spinner pull-right"
                                aria-label="Confirm"
                                button-spinner>
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(".datepicker").datetimepicker({
            format: "MM/DD/YYYY",
            allowInputToggle: true,
            icons: {
                time: "far fa-clock",
                date: "fas fa-calendar-alt",
                up: "fas fa-arrow-up",
                down: "fas fa-arrow-down",
                previous: "fas fa-arrow-left",
                next: "fas fa-arrow-right"
            }
        });

        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var reason = button.data("reason");
            var modal = $(this);
            modal.find("#modal-text").text("Are you sure you wish to delete the Blackout Date \"" + reason + "\"?");
            modal.find("#BlackoutDate_Id").val(id);
            modal.find("#BlackoutDate_Reason").val(reason);
        });
    </script>
}