@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.PerformerListViewModel

@await Html.PartialAsync("_PerformerManagementPartial")

@if (Model.SchedulingStage < GRA.Domain.Model.PsSchedulingStage.SchedulingOpen)
{
    <div class="row">
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteModalLabel">Delete performer</h4>
                    </div>
                    <div class="modal-body">
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                        <form asp-action="PerformerDelete" method="post" role="form" style="display:inline">
                            <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                            <input asp-for="PerformerToDelete.Id" type="hidden" />
                            <input asp-for="PerformerToDelete.Name" type="hidden" />
                            <button type="submit" class="btn btn-danger btn-spinner pull-right" aria-label="Confirm">
                                <span class="fa fa-remove" aria-hidden="true"></span>
                                Delete
                                <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12">
        @if (Model.Performers.Count == 0)
        {
            <div class="alert alert-warning">No performers found.</div>
        }
        else
        {
            <table class="table table-condensed table-bordered link-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email <span class="fa fa-question-circle-o" title="Preferred method of contact is italicized." data-toggle="tooltip" data-placement="top"></span></th>
                        <th>Phone <span class="fa fa-question-circle-o" title="Preferred method of contact is italicized." data-toggle="tooltip" data-placement="top"></span></th>
                        <th>Vendor ID</th>
                        <th>Programs</th>
                        @if (Model.RegistrationClosed)
                        {
                            <th>Approved?</th>
                        }
                        @if (Model.SchedulingStage >= GRA.Domain.Model.PsSchedulingStage.SchedulingOpen)
                        {
                            <th>Selections</th>
                        }
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var performer in Model.Performers)
                    {
                        <tr>
                            <td class="td-class">
                                <a asp-action="Performer" asp-route-id="@performer.Id" class="rowlink">
                                    @performer.Name
                                </a>
                            </td>
                            <td style="@(performer.PhonePreferred ? "" : "font-style:italic")">@performer.Email</td>
                            <td style="@(performer.PhonePreferred ? "font-style:italic" : "")">@performer.Phone</td>
                            <td>@performer.VendorId</td>
                            <td>@performer.ProgramCount</td>
                            @if (Model.RegistrationClosed)
                            {
                                <td>
                                    <span class="colored-icon fa @(performer.IsApproved ? "fa-check" : "fa-times")"></span>
                                </td>
                            }
                            @if (Model.SchedulingStage < GRA.Domain.Model.PsSchedulingStage.SchedulingOpen)
                            {
                                <td class="on-top">
                                    <button type="button"
                                            class="btn btn-danger btn-xs"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            data-id="@performer.Id"
                                            data-name="@performer.Name">
                                        <span class="fa fa-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td>@performer.SelectionsCount</td>
                                <td class="on-top">
                                    @if (performer.IsApproved)
                                    {
                                        <a asp-action="PerformerSelections" asp-route-id="@performer.Id" class="btn btn-xs btn-default">View Selections</a>
                                    }
                                </td>
                            }
                        </tr>

                    }
                </tbody>
            </table>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@section scripts {
    <script>
        $(window).on("load", function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).height() + 11);
            });
        });
        @if (Model.SchedulingStage < GRA.Domain.Model.PsSchedulingStage.SchedulingOpen)
        {
            <text>
            $("#deleteModal").on("show.bs.modal", function(event) {
                var button = $(event.relatedTarget);
                var id = button.data("id");
                var name = button.data("name");
                $(this).find("#modal-text").text('Are you sure you want to delete the performer "' + name + '" and all information associated with them?');
                $(this).find("#PerformerToDelete_Id").val(id);
                $(this).find("#PerformerToDelete_Name").val(name);
            });
            </text>
        }
    </script>
}
