@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.KitViewModel

<div class="row">
    <div class="col-xs-12">
        <table style="margin:0 auto;">
            <tr>
                @if (Model.PrevKit.HasValue)
                {
                    <td style="position:absolute;">
                        <h1>
                            <a asp-action="Kit" asp-route-id="@Model.PrevKit" style="margin-left:-125px;"><span class="fa fa-chevron-left"></span></a>
                        </h1>
                    </td>
                }
                <td><h1>Kit</h1></td>
                @if (Model.NextKit.HasValue)
                {
                    <td style="position:absolute;">
                        <h1>
                            <a asp-action="Kit" asp-route-id="@Model.NextKit" style="margin-left:50px;"><span class="fa fa-chevron-right"></span></a>
                        </h1>
                    </td>
                }
            </tr>
        </table>
        <hr />
    </div>

    <div class="col-xs-12">
        <a asp-action="KitDetails" asp-route-id="@Model.Kit.Id" class="btn btn-default">Edit Kit</a>
        @if (Model.SchedulingStage >= GRA.Domain.Model.PsSchedulingStage.SchedulingOpen)
        {
            <a asp-action="KitSelections" asp-route-id="@Model.Kit.Id" class="btn btn-lg btn-default pull-right">View Selections</a>
        }
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4">
        @if (!string.IsNullOrWhiteSpace(Model.ImagePath))
        {
            <div class="row" style="padding-bottom:15px;">
                <div class="col-xs-12">
                    <img src="~/@Model.ImagePath" class="img-responsive" margin="0 auto" />
                </div>
            </div>
        }
        <div class="row" style="padding-bottom:15px;">
            <div class="col-xs-12" style="text-align:center;">
                <a asp-action="KitImages" asp-route-id="@Model.Kit.Id" class="btn btn-primary">View/Manage Images</a>
            </div>
        </div>
        <div class="row" style="padding-bottom:15px;">
            <div class="col-xs-12" style="text-align:center;">
                <a asp-action="Kits" asp-route-page="@Model.ReturnPage" class="btn btn-default">Return to List</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8">
        <div class="form-group">
            <label>Name</label>
            <div>@Model.Kit.Name</div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <div>@Model.Kit.Description</div>
        </div>
        <div class="form-group">
            <label>Website</label>
            @if (string.IsNullOrWhiteSpace(Model.Kit.Website))
            {
                <div>n/a</div>
            }
            else
            {
                <div>
                    @if (Model.Uri != null)
                    {
                        <a href="@Model.Uri" target="_blank">@Model.Kit.Website</a>
                    }
                    else
                    {
                        <div>@Model.Kit.Website</div>
                    }
                </div>
            }
        </div>
        <div class="form-group">
            <label>Ages</label>
            <div>
                <ul>
                    @foreach (var ageGroup in Model.Kit.AgeGroups)
                    {
                        <li>@ageGroup.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
