@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.KitViewModel

@section styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
}

@section inHeading {
    <a asp-action="Kits"
       asp-route-page="@Model.ReturnPage"
       class="btn btn-outline-secondary ms-auto d-print-none">Return to List</a>
}

<div class="row mt-3">
    <div class="col-12 border-bottom border-top py-2 mb-3">
        <div class="d-flex justify-content-between">
            <div class="h2 d-print-none" style="width: 2rem;">
                @if (Model.PrevKit.HasValue)
                {
                    <a asp-action="@nameof(PerformerManagementController.Kit)"
                       asp-route-id="@Model.PrevKit">
                        <span class="fas fa-chevron-left"></span>
                    </a>
                }
            </div>
            <div class="flex-grow-1 text-center h2">
                Kit
            </div>
            <div class="h2 d-print-none text-end" style="width: 2rem;">
                @if (Model.NextKit.HasValue)
                {
                    <a asp-action="@nameof(PerformerManagementController.Kit)"
                       asp-route-id="@Model.NextKit">
                        <span class="fas fa-chevron-right"></span>
                    </a>
                }
            </div>
        </div>
    </div>

    <div class="col-12 mb-3">
        <a asp-action="KitDetails" asp-route-id="@Model.Kit.Id" class="btn btn-lg btn-outline-primary">Edit Kit</a>
        @if (Model.SchedulingStage >= GRA.Domain.Model.PsSchedulingStage.SchedulingOpen)
        {
            <a asp-action="KitSelections" asp-route-id="@Model.Kit.Id" class="btn btn-lg btn-outline-primary float-end">View Selections</a>
        }
    </div>
    <div class="col-12 col-sm-5 col-md-4">
        @if (!string.IsNullOrWhiteSpace(Model.ImagePath))
        {
            <div class="row mb-3 text-center">
                <div class="col-12">
                    <img src="~/@Model.ImagePath" class="img-fluid" style="margin: 0 auto;" />
                </div>
            </div>
        }
        <div class="row mb-3">
            <div class="col-12 text-center">
                <a asp-action="KitImages" asp-route-id="@Model.Kit.Id" class="btn btn-outline-primary">View/Manage Images</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-7 col-md-8">
        <div class="mb-3">
            <label>Name</label>
            <div>@Model.Kit.Name</div>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <div>@Model.Kit.Description</div>
        </div>
        <div class="mb-3">
            <label>Website</label>
            @if (string.IsNullOrWhiteSpace(Model.Kit.Website))
            {
                <div>n/a</div>
            }
            else
            {
                <div>
                    @if (Model.Uri != null)
                    {
                        <a href="@Model.Uri" target="_blank">@Model.Kit.Website</a>
                    }
                    else
                    {
                        <div>@Model.Kit.Website</div>
                    }
                </div>
            }
        </div>
        <div class="mb-3">
            <label>Ages</label>
            <div>
                <ul>
                    @foreach (var ageGroup in Model.Kit.AgeGroups)
                    {
                        <li>@ageGroup.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="/js/performerregistration.min.js"></script>
}