@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.KitDetailsViewModel

@section inHeading {
    @if (Model.NewKit == false)
    {
        <a asp-action="@nameof(PerformerManagementController.Kit)"
           asp-route-id="@Model.Kit.Id"
           class="btn btn-outline-secondary ms-auto d-print-none">Return to Kit</a>
    }
    else
    {
        <a asp-action="@nameof(PerformerManagementController.Kits)"
           class="btn btn-outline-secondary ms-auto d-print-none">Return to List</a>

    }
}

@section styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
}

<div class="row">
    <div class="col-12">
        <h1>@(Model.NewKit ? "Add Kit" : $"Edit Kit: {Model.Kit.Name}")</h1>
    </div>
</div>

<div class="mb-3">
    <strong class="text-danger">
        Fields marked with an asterisk (*) are required.
    </strong>
</div>

<form asp-action="KitDetails"
      class="form-horizontal col-12"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <input asp-for="NewKit" type="hidden" />
    @if (Model.NewKit == false)
    {
        <input asp-for="Kit.Id" type="hidden" />
    }

    <div class="mb-3">
        <label asp-for="Kit.Name" class="form-label required-field"></label>
        <input asp-for="Kit.Name" class="form-control" placeholder="" />
        <span asp-validation-for="Kit.Name" class="text-danger"></span>
    </div>

    @if (Model.NewKit)
    {
        <div class="mb-3">
            For best results please use images that are at least 1,000px by 1,000px,
            uploads are limited to @(Model.MaxUploadMB)MB total.
            Multiple images can be selected by holding the CTRL key.
        </div>

        <div class="mb-3">
            <div class="input-group mb-3">
                <input accept=".png,.jpg,.jpeg"
                       asp-for="Images"
                       class="form-control"
                       multiple="multiple"
                       type="file" />
                <button class="btn btn-outline-secondary"
                        id="imagesClearButton"
                        type="button">
                    Clear selection
                </button>
            </div>
            <span asp-validation-for="Images" class="text-danger mb-3"></span>
        </div>
    }

    <div class="mb-3">
        <label asp-for="Kit.Website" class="form-label"></label>
        <input asp-for="Kit.Website" class="form-control" placeholder="" />
        <span asp-validation-for="Kit.Website" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Kit.Description"
               class="form-label required-field"></label>
        <textarea asp-for="Kit.Description" class="form-control" rows="6"></textarea>
        <span asp-validation-for="Kit.Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <p>
            Please select which age groups the kit is suited for.
        </p>
        <label class="form-label required-field">Age(s)</label>
        <select asp-for="AgeSelection"
                asp-items="Model.AgeList"
                size="@Model.AgeList.Count()"
                class="form-select"
                type="text"
                multiple="multiple"></select>
        <span asp-validation-for="AgeSelection" class="text-danger"></span>
    </div>

    <div class="text-center">
        <button type="submit"
                class="btn btn-lg btn-outline-success btn-spinner my-4"
                button-spinner>
            Save Kit
        </button>
    </div>
</form>

@section scripts {
    <script src="/js/performerregistration.min.js"></script>

    <script>
        $("#agePlaceholder").remove();
    </script>
}
