@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.KitImagesViewModel

@section inHeading {
    <a asp-action="@nameof(PerformerManagementController.Kit)"
       asp-route-id="@Model.KitId"
       class="btn btn-outline-secondary ms-auto d-print-none">Return to Kit</a>
}

@section styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
}

<div class="row mb-3">
    <div class="col-12">
        <h1>
            Images for Kit: @Model.KitName
        </h1>
    </div>
</div>

<form asp-action="@nameof(PerformerManagementController.KitImages)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <input asp-for="KitId" type="hidden" />
    <div class="row mb-3">
        <div class="col-12 col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header">Add image(s)</div>
                <div class="card-body">
                    <p>
                        Additional images can be added here. For best results please use images
                        that are at least 1,000px by 1,000px, uploads are limited to
                        @(Model.MaxUploadMB) MB total. Multiple images can be selected by holding
                        the CTRL key.
                    </p>
                    <div class="input-group mb-3">
                        <input accept=".png,.jpg,.jpeg"
                               asp-for="Images"
                               class="form-control"
                               multiple="multiple"
                               type="file" />
                        <button class="btn btn-outline-secondary"
                                id="imagesClearButton"
                                type="button">
                            Clear selection
                        </button>
                    </div>
                    <span asp-validation-for="Images" class="text-danger mb-3"></span>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button button-spinner
                            class="btn btn-outline-success"
                            disabled
                            id="imagesUploadButton"
                            type="submit">
                        Upload Image(s)
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="row mb-3">
    @if (Model.KitImages.Count == 0)
    {
        <div class="col-12 col-md-6 offset-md-3">
            <div class="alert alert-warning">No images.</div>
        </div>

    }
    else
    {
        foreach (var image in Model.KitImages)
        {
            <div class="col-12 col-md-4">
                <div class="img-thumbnail text-center">
                    <img class="img-fluid imageSelection" src="~/@image.Filename" />
                    <input class="form-check-input deleteSelection"
                           data-id="@image.Id"
                           id="check-@image.Id"
                           type="checkbox" />
                    <label class="form-check-label"
                           for="check-@image.Id">
                        Select Image
                    </label>
                </div>
            </div>
        }
    }
</div>

<div class="row">
    <div class="col-12">
        <button id="deleteButton"
                type="button"
                class="btn btn-outline-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                disabled>
            Delete Selected Image(s)
        </button>
    </div>
</div>

<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4" id="deleteModalLabel">Delete images</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close dialog">
                </button>
            </div>
            <div class="modal-body">
                <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                      aria-hidden="true"></span>
                <span id="modal-text">
                    Are you sure you want to delete the selected image(s)?
                </span>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">
                    Cancel
                </button>
                <form asp-action="KitImagesDelete"
                      method="post"
                      role="form">
                    <input asp-for="KitId" type="hidden" />
                    <input asp-for="ImagesToDelete" type="hidden" />
                    <button type="submit"
                            class="btn btn-outline-danger"
                            aria-label="Confirm"
                            button-spinner>
                        <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="/js/performerregistration.min.js"></script>

    <script>
        $("#imagesClearButton").on("click", function (e) {
            $('#Images').val('');
            imagesSelectionChanged(e.currentTarget.previousElementSibling);
        });

        $("#Images").on("change", function (e) {
            imagesSelectionChanged(e.currentTarget);
        })

        $(".imageSelection").on("click", function (e) {
            let element = e.currentTarget.nextElementSibling;
            element.checked = !element.checked;
            checkStatusChanged(element);
        });

        $(".deleteSelection").on("change", function (e) {
            checkStatusChanged(e.currentTarget);
        });

        $('#deleteModal').on('show.bs.modal', function () {
            let imageSelection = JSON.stringify($(".deleteSelection:checked")
                .map(function () { return $(this).data("id") }).get());
            $(this).find('#ImagesToDelete').val(imageSelection);
        });

        function checkStatusChanged(element) {
            if (element.checked) {
                element.parentElement.classList.add("border-primary");
            }
            else {
                element.parentElement.classList.remove("border-primary");
            }
            $("#deleteButton").prop("disabled", $(".deleteSelection:checked").length === 0);
        }

        function imagesSelectionChanged(element) {
            $("#imagesUploadButton").prop("disabled", element.files.length === 0);
        }
    </script>
}