@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.KitListViewModel

@section styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
}

@await Html.PartialAsync("_PerformerManagementPartial")

<div class="row my-4">
    <div class="col-12 col-md-8 offset-md-2">
        <a asp-action="KitAdd" class="btn btn-outline-primary">Add Kit</a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        @if (Model.Kits.Count == 0)
        {
            <div class="alert alert-warning">No kits found.</div>
        }
        else
        {
            <table class="table table-sm table-bordered link-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        @if (Model.SchedulingStage <= GRA.Domain.Model.PsSchedulingStage.SchedulingPreview)
                        {
                            <th width="75px;">&nbsp;</th>
                        }
                        else
                        {
                            <th width="75px;">Selections</th>
                            <th width="75px;">&nbsp;</th>

                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kit in Model.Kits)
                    {
                        <tr>
                            <td class="td-class">
                                <a asp-action="Kit" asp-route-id="@kit.Id" class="rowlink">
                                    @kit.Name
                                </a>
                            </td>
                            @if (Model.SchedulingStage <= GRA.Domain.Model.PsSchedulingStage.SchedulingPreview)
                            {
                                <td class="on-top text-center">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@kit.Id"
                                            data-name="@kit.Name">
                                        <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td>@kit.SelectionsCount</td>
                                <td class="on-top text-center">
                                    <a asp-action="KitSelections"
                                       asp-route-id="@kit.Id"
                                       class="btn btn-sm btn-outline-primary">Selections</a>
                                </td>
                            }
                        </tr>

                    }
                </tbody>
            </table>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@if (Model.SchedulingStage < GRA.Domain.Model.PsSchedulingStage.SchedulingOpen)
{
    <div class="row">
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="deleteModalLabel">Delete kit</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <form asp-action="KitDelete"
                              method="post"
                              role="form"
                              style="display:inline">
                            <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                            <input asp-for="KitToDelete.Id" type="hidden" />
                            <input asp-for="KitToDelete.Name" type="hidden" />
                            <button type="submit"
                                    class="btn btn-outline-danger btn-spinner float-end"
                                    aria-label="Confirm"
                                    button-spinner>
                                <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="/js/performerregistration.min.js"></script>

    <script>
        $(window).on("load", function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });
        $(window).resize(function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });

        @if (Model.SchedulingStage < GRA.Domain.Model.PsSchedulingStage.SchedulingOpen)
        {
            <text>
                    $("#deleteModal").on("show.bs.modal", function(event) {
                            var button = $(event.relatedTarget);
                    var id = button.data("id");
                    var name = button.data("name");
                    $(this).find("#modal-text").text('Are you sure you want to delete the kit "' + name + '"?');
                    $(this).find("#KitToDelete_Id").val(id);
                    $(this).find("#KitToDelete_Name").val(name);
                        });
            </text>
        }
    </script>
}
