@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.KitListViewModel

@if (Model.SchedulingStage < GRA.Domain.Model.PsSchedulingStage.SchedulingOpen)
{
    <div class="row">
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteModalLabel">Delete kit</h4>
                    </div>
                    <div class="modal-body">
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                        <form asp-action="KitDelete" method="post" role="form" style="display:inline">
                            <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                            <input asp-for="KitToDelete.Id" type="hidden" />
                            <input asp-for="KitToDelete.Name" type="hidden" />
                            <button type="submit" class="btn btn-danger btn-spinner pull-right" aria-label="Confirm">
                                <span class="fa fa-remove" aria-hidden="true"></span>
                                Delete
                                <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12">
        <h1>Kits</h1>
    </div>

    <div class="col-xs-12" style="padding-bottom: 10px;">
        <a asp-action="KitAdd" class="btn btn-default">Add Kit</a>
    </div>

    <div class="col-xs-12">
        @if (Model.Kits.Count == 0)
        {
            <div class="alert alert-warning">No kits found.</div>
        }
        else
        {
            <table class="table table-condensed table-bordered link-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        @if (Model.SchedulingStage <= GRA.Domain.Model.PsSchedulingStage.SchedulingPreview)
                        {
                            <th width="44px;">&nbsp;</th>
                        }
                        else
                        {
                            <th width="85px;">Selections</th>
                            <th width="110px;">&nbsp;</th>

                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kit in Model.Kits)
                    {
                        <tr>
                            <td class="td-class">
                                <a asp-action="Kit" asp-route-id="@kit.Id" class="rowlink">
                                    @kit.Name
                                </a>
                            </td>
                            @if (Model.SchedulingStage <= GRA.Domain.Model.PsSchedulingStage.SchedulingPreview)
                            {
                                <td class="on-top" style="text-align:center;">
                                    <button type="button"
                                            class="btn btn-danger btn-xs"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            data-id="@kit.Id"
                                            data-name="@kit.Name">
                                        <span class="fa fa-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td>@kit.SelectionsCount</td>
                                <td class="on-top">
                                    <a asp-action="KitSelections" asp-route-id="@kit.Id" class="btn btn-xs btn-default">View Selections</a>
                                </td>
                            }
                        </tr>

                    }
                </tbody>
            </table>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@section scripts
    {
    <script>
        @if (Model.SchedulingStage < GRA.Domain.Model.PsSchedulingStage.SchedulingOpen)
        {
            <text>
            $("#deleteModal").on("show.bs.modal", function(event) {
                var button = $(event.relatedTarget);
                var id = button.data("id");
                var name = button.data("name");
                $(this).find("#modal-text").text('Are you sure you want to delete the kit "' + name + '"?');
                $(this).find("#KitToDelete_Id").val(id);
                $(this).find("#KitToDelete_Name").val(name);
            });
            </text>
        }
    </script>
}
