@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.PerformerDetailsViewModel

@{
    var invalid = Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;
}

@section styles {
    <link rel="stylesheet" href="~/css/performerregistration.min.css" asp-append-version="true" />
}

<div class="row">
    <div class="modal fade" id="branchModal" tabindex="-1" role="dialog" aria-labelledby="branchModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="branchModalLabel">Branch Selection</h4>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y:auto;">
                    <button id="selectAllButton" class="btn btn-primary" style="margin-bottom:10px;">Select All @Model.BranchCount Libraries</button>
                    @foreach (var system in Model.Systems)
                    {
                        <div style="font-size:x-large;margin-bottom:10px;">
                            <strong>@system.Name</strong>
                        </div>
                        @foreach (var branch in system.Branches)
                        {
                            <div>
                                <input id="@($"branch{branch.Id}")" class="branchSelector" data-id="@branch.Id" type="checkbox" asp-checked="@(Model.BranchAvailability?.Contains(branch.Id) == true)" />
                                <label for="@($"branch{branch.Id}")" data-toggle="tooltip" data-placement="top" title="@branch.Address">@branch.Name</label>
                                <a href="https://www.google.com/maps/search/@branch.Address" target="_blank"><span class="fa fa-map-o"></span></a>
                            </div>
                        }
                        <br />
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>
            Performer Information
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-9 col-sm-offset-3">
        <p>
            <span class="text-danger small" style="font-weight: bold;">
                Fields marked with an asterisk (*) are required.
            </span>
        </p>
    </div>
</div>

<form asp-action="PerformerDetails" class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
    <input asp-for="Performer.Id" type="hidden" />
    <input asp-for="BranchAvailabilityString" type="hidden" />

    <div class="form-group">
        <label asp-for="Performer.Name" class="col-sm-3 control-label required-field"></label>
        <div class="col-sm-9">
            <input asp-for="Performer.Name" class="form-control" placeholder="" />
            <span asp-validation-for="Performer.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
            <p>
                A new PDF document can be uploaded to replace the current list of references.
                Include name, email address, and/or telephone number for each reference.
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label @(Model.Performer?.RegistrationCompleted != true ? "required-field": "")">Upload PDF</label>
        <div class="col-sm-9">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-default btn-file" style="width:132px;text-align:left;">
                        <span class="fa fa-file-image-o"></span> Select file...
                        <input type="file"
                               asp-for="References"
                               accept=".pdf"
                               style="display: none;" />
                    </span>
                </label>
                <input type="text" class="form-control @(ViewData.ModelState.GetValidationState("References") == invalid ? "input-validation-error" : "")" readonly />
            </div>
            <span asp-validation-for="References" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Performer.BillingAddress" class="col-sm-3 control-label required-field"></label>
        <div class="col-sm-9">
            <textarea asp-for="Performer.BillingAddress" class="form-control"></textarea>
            <span asp-validation-for="Performer.BillingAddress" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Performer.Website" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <input asp-for="Performer.Website" class="form-control" placeholder="" />
            <span asp-validation-for="Performer.Website" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Performer.PhonePreferred" class="col-sm-3 control-label required-field"></label>
        <div class="col-sm-9">
            <select asp-for="Performer.PhonePreferred" class="form-control">
                <option value="false">Email</option>
                <option value="true">Phone</option>
            </select>
            <span asp-validation-for="Performer.PhonePreferred" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Performer.Email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
            <input asp-for="Performer.Email" class="form-control" readonly />
            <span asp-validation-for="Performer.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Performer.Phone" class="col-sm-3 control-label required-field"></label>
        <div class="col-sm-9">
            <input asp-for="Performer.Phone" class="form-control" placeholder="" />
            <span asp-validation-for="Performer.Phone" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Performer.VendorId" class="col-sm-3 control-label required-field">Vender ID number<span class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Example number: VC1234567891"></span></label>
        <div class="col-sm-9">
            <input asp-for="Performer.VendorId" class="form-control" placeholder="" />
            <span asp-validation-for="Performer.VendorId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Performer.HasFingerprintCard" class="col-sm-3 control-label required-field"></label>
        <div class="col-sm-9">
            <select asp-for="Performer.HasFingerprintCard" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="Performer.HasFingerprintCard" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <p>
                Which locations are they willing to perform at:
                <strong><span id="branchCount">@(Model.BranchAvailability?.Count ?? 0)</span> of @Model.BranchCount Selected</strong>
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#branchModal">Select Libraries</button>
            <span id="branchValidator" asp-validation-for="BranchAvailability" class="field-validation-error text-danger">Please select the libraries where they are willing to perform.</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-sm-offset-3">
            <button id="submitButton" type="submit" class="btn btn-lg btn-success" style="margin-bottom: 10px;">
                Save Information
                <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
            </button>
            <a asp-action="Performer" asp-route-id="@Model.Performer.Id" class="btn btn-lg btn-default pull-left" style="margin-right: 10px;">Return to Performer</a>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/js/performerregistration.min.js" asp-append-version="true"></script>

    <script>
        $("#selectAllButton").on("click", function () {
            $(".branchSelector").prop("checked", true);
        });

        $("#branchModal").on("hide.bs.modal", function () {
            var selectedCount = $(".branchSelector:checked").length;
            $("#branchCount").text(selectedCount);
            if (selectedCount == 0) {
                $("#branchValidator").show();
            }
            else {
                $("#branchValidator").hide();
            }
        });

        $("form").on("submit", function (e) {
            var BranchAvailability = $(".branchSelector:checked").map(function () { return $(this).data("id"); }).get();
            if (BranchAvailability.length == 0) {
                $("#branchValidator").show();
                e.preventDefault();
            }
            else {
                $("#BranchAvailabilityString").val(JSON.stringify(BranchAvailability));

                if ($("#submitButton").parents("form:first").valid()) {
                    if ($("#submitButton").hasClass("disabled")) {
                        e.preventDefault();
                    }
                    else {
                        $("#submitButton").addClass("disabled");
                        $("#submitButton").siblings(".btn-spinner").addClass("disabled");
                        $("#submitButton").children(".fa-spinner").removeClass("hidden");
                    }
                }
            }
        });
    </script>
}