@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.PerformerCoversheetViewModel

@section styles {
    <link rel="stylesheet" href="/css/performercoversheet.min.css" />
}

<div class="performer-coversheet-container">
    <div class="row">
        <div class="col-xs-12 text-center text-muted">
            <h2>Services Team Program Cover Sheet</h2>
            <div>Include an invoice if requesting funds</div>
            <div class="row-spacing"><strong>@(DateTime.Now.ToLongDateString())</strong></div>
        </div>
    </div>
    <div class="row">
        <table class="col-xs-12">
            <tr>
                <th class="col-xs-3 text-right">
                    Library Branch:
                </th>
                <td class="col-xs-9">
                    @Model.LibraryBranch
                </td>
            </tr>
            <tr>
                <th class="col-xs-3 text-right">
                    Staff Contact:
                </th>
                <td class="col-xs-9">
                    @Model.StaffContact
                </td>
            </tr>
        </table>
    </div>

    <div class="row coversheet-row-spacing">
        <div class="col-xs-3 text-right">
            <strong>Funding Source:</strong>
        </div>
        <div class="col-xs-9">
            <input type="checkbox" checked /> Summer Reading Program Budget
        </div>
    </div>

    <div class="row">
        <table class="col-xs-12">
            <tr>
                <th class="col-xs-3 text-right"></th>
                <td class="col-xs-9 coversheet-table-subheading" colspan="3">
                    Program Info
                </td>
            </tr>
            <tr>
                <th class="col-xs-3 text-right">
                    Description:
                </th>
                <td class="col-xs-9 pre-wrap" colspan="3">@Model.Description</td>
            </tr>
            <tr>
                <th class="col-xs-3 text-right">
                    Cost:
                </th>
                <td class="col-xs-4">
                    @Model.Cost
                </td>
                <td class="col-xs-2 text-right">
                    <strong>Date:</strong>
                </td>
                <td class="col-xs-3">
                    @Model.ProgramDate.ToShortDateString();
                </td>
            </tr>
            <tr>
                <th class="col-xs-3 text-right">
                    Vendor #:
                </th>
                <td class="col-xs-4">
                    @Model.VendorId
                </td>
                <td class="col-xs-2 text-right">
                    <strong>Invoice #:</strong>
                </td>
                <td class="col-xs-3">
                    @Model.InvoiceNumber
                </td>
            </tr>
            <tr>
                <th class="col-xs-3 text-right">
                    Payable To:
                </th>
                @* Don't reformat this line, set to white-space:pre-wrap *@
                <td class="col-xs-9 pre-wrap" colspan="3">@Model.PayToName<br />@Model.PayToAddress</td>
            </tr>
        </table>
    </div>

    <div class="row coversheet-row-spacing">
        <div class="col-xs-3 text-right">
            <strong>Payment Method:</strong>
        </div>
        <div class="col-xs-2">
            <input type="radio" name="payMethod" /> <label>Mail Check</label>
        </div>
        <div class="col-xs-2">
            <input type="radio" name="payMethod" /> <label>eCheck</label>
        </div>
    </div>

    <div class="row">
        <table class="col-xs-12">
            <tr>
                <th class="col-xs-3 text-right"></th>
                <td class="col-xs-9 coversheet-table-subheading" colspan="3">
                    Signatures of Approval
                </td>
            </tr>
            <tr>
                <th class="col-xs-3 text-right">
                    Services Team
                </th>
                <td class="col-xs-9" colspan="3">
                    &nbsp;
                </td>
            </tr>
        </table>
    </div>

    <button id="print-button" class="btn btn-primary center-block hidden-print coversheet-print-button">Print</button>

    <div class="visible-print coversheet-footer">
        <strong>Questions?</strong> Contact the Services Team (<strong>ServicesTeam@mcldaz.org</strong>)
    </div>
</div>

<script type="text/javascript">
    function hideHeaderFooter() {
        document.querySelector(".mc-page-title").classList.add("hidden-print");
        document.querySelector("footer").classList.add("hidden-print");
        document.querySelector("#print-button").addEventListener("click", handlePrint);
    }

    function handlePrint() {
        hideHeaderFooter();
        window.print();
    };

    window.onload = hideHeaderFooter;
</script>