@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.PerformerSelectionsViewModel

@section Styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
    <style>
        @@media print {
            a[href]:after {
                content: none !important;
            }

            div.p-border-top {
                border-top: 2px solid black !important;
            }

            div.p-border-bottom {
                border-bottom: 1px solid #ccc !important;
            }
        }
    </style>
}

@section inHeading {
    <a asp-action="Performer"
       asp-route-id="@Model.Performer.Id"
       class="btn btn-outline-secondary ms-auto d-print-none">Return to Performer</a>
}

<div class="row mt-3 d-print-none">
    <div class="col-12 border-bottom border-top py-2 mb-3">
        <div class="d-flex justify-content-between">
            <div class="h2 d-print-none" style="width: 2rem;">
                <a asp-action="PerformerSelections"
                   asp-route-id="@Model.PrevPerformer">
                    <span class="fas fa-chevron-left"></span>
                </a>
            </div>
            <div class="flex-grow-1 text-center h2">
                Performer Selections
            </div>
            <div class="h2 d-print-none text-end" style="width: 2rem;">
                <a asp-action="PerformerSelections"
                   asp-route-id="@Model.NextPerformer">
                    <span class="fas fa-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        @if (Model.BranchSelectionDates.SelectMany(_ => _).Count() == 0)
        {
            <div class="alert alert-warning">No selections.</div>
        }
        else
        {
            @foreach (var branchSelectionDate in Model.BranchSelectionDates)
            {
                var date = branchSelectionDate.First().RequestedStartTime.Date;
                var performerSchedule = Model.Performer.Schedule.Where(_ => _.Date.Date == date).FirstOrDefault();
                var backToBack = branchSelectionDate.Any(_ => _.BackToBackProgram);
                <div class="row p-border-top">
                    <div class="col-12">
                        <h4>
                            <strong>@date.ToLongDateString()</strong>
                            <em class="d-print-none d-inline-block ms-2 fs-5">
                                @if (performerSchedule == null)
                                {
                                    <span class="text-success">
                                        Available:
                                        @Model.DefaultPerformerScheduleStartTime.ToShortTimeString()
                                        &ndash;
                                        @Model.DefaultPerformerScheduleEndTime.ToShortTimeString()
                                    </span>
                                }
                                else if (performerSchedule.StartTime.HasValue)
                                {
                                    <span style="color:#DFAA15;">
                                        Available:
                                        @performerSchedule.StartTime.Value.ToShortTimeString()
                                        &ndash;
                                        @performerSchedule.EndTime.Value.ToShortTimeString()
                                    </span>
                                }
                                else
                                {
                                    <span class="text-danger">Unavailable</span>
                                }
                            </em>
                        </h4>
                    </div>
                </div>
                @foreach (var branchSelection in branchSelectionDate)
                {
                    <div class="row border-bottom p-border-bottom bg-light mb-4">
                        @if (branchSelection.BackToBackProgram)
                        {
                            <div class="col-1 p-0 bg-primary bg-gradient text-light d-flex">
                                <div class="d-inline-block text-nowrap fw-bold mx-auto py-1 text-center"
                                     style="transform: rotate(180deg); writing-mode: vertical-lr;">
                                    BACK-TO-BACK
                                </div>
                            </div>
                        }
                        <div class="@(branchSelection.BackToBackProgram ? "col-5" : "col-6") mb-2">
                            <h5 class="fw-bold mb-0">
                                @branchSelection.ScheduleStartTime.ToShortTimeString()
                                &ndash;
                                @branchSelection.ScheduleStartTime.AddMinutes(branchSelection.ScheduleDuration).ToShortTimeString()
                            </h5>
                            <div>
                                (@branchSelection.RequestedStartTime.ToShortTimeString()@(branchSelection.BackToBackProgram ? $", {branchSelection.RequestedStartTime.AddMinutes(branchSelection.Program.ProgramLengthMinutes + branchSelection.Program.BackToBackMinutes).ToShortTimeString()} program start times" : " program start time"))
                            </div>
                            <div>
                                <strong>Program:</strong>
                                <a asp-action="Program"
                                   asp-route-id="@branchSelection.ProgramId"
                                   target="_blank">@branchSelection.Program.Title</a>
                            </div>
                            <div>
                                <strong>Age group:</strong> @branchSelection.AgeGroup.Name
                            </div>
                            <div class="d-flex">
                                <strong>Code: </strong>
                                <input class="secretCode form-control"
                                       style="width: 15rem; font-size: 0.8rem; font-family: monospace"
                                       data-id="@branchSelection.Id"
                                       value="@branchSelection.SecretCode"
                                       autocomplete="off" />
                                <div class="mt-1 ms-1 d-print-none">
                                    <span class="icon fa-fw fa-lg @(!string.IsNullOrWhiteSpace(branchSelection.SecretCode) ? "far fa-check-circle text-success" : "d-none")"></span>
                                </div>
                            </div>
                            <div class="errorMessage text-danger d-print-none"></div>
                        </div>
                        <div class="col-6">
                            <strong>Location:</strong>
                            @branchSelection.Branch.SystemName,
                            @branchSelection.Branch.Name
                            <a aria-label="Map (Opens new window)"
                               href="https://www.google.com/maps/search/@branchSelection.Branch.Address"
                               target="_blank"
                               class="d-print-none">
                                <span class="far fa-map"></span>
                            </a>
                            <span class="d-none d-print-block">
                                @branchSelection.Branch.Address
                            </span>
                            <div style="margin-top:0.5rem">
                                <strong>Contact:</strong> @branchSelection.OnSiteContactName
                                <div>
                                    @branchSelection.OnSiteContactEmail
                                </div>
                                <div>
                                    @branchSelection.OnSiteContactPhone
                                </div>
                            </div>
                            <div class="d-print-none">
                                <button type="button"
                                        class="btn btn-sm btn-outline-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editModal"
                                        data-selectionid="@branchSelection.Id">
                                    <span class="fas fa-edit fa-fw"></span>
                                </button>
                                <button type="button"
                                        class="btn btn-sm btn-outline-danger delete-selection"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteModal"
                                        data-selectionid="@branchSelection.Id"
                                        data-branchname="@branchSelection.Branch.Name"
                                        data-programtitle="@branchSelection.Program.Title">
                                    <span class="fas fa-minus-circle fa-fw"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete branch selection</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="modal-body d-flex align-items-stretch">
                        <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" 
                        aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <form asp-controller="@PerformerManagementController.Name"
                          asp-action="@nameof(PerformerManagementController.PerformerSelectionDelete)"
                          method="post"
                          role="form"
                          id="deletePerformerForm">
                        <input type="hidden" asp-for="Performer.Id" aria-hidden="true" />
                        <input type="hidden" asp-for="BranchSelectionId" aria-hidden="true" />
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit"
                                id="buttonDelete"
                                class="btn btn-outline-danger"
                                aria-label="Confirm">
                            <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Edit Date/Time</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div id="calendarContainer" class="modal-body">
                </div>
                <div class="modal-footer">
                    <form>
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="/js/performerregistration.min.js"></script>
    <script>
        var performerCalendarUrl = "@Url.Action(nameof(PerformerManagementController.GetPerformerCalendar))";
        var secretCodeUrl = "@Url.Action(nameof(PerformerManagementController.SetSecretCode))";

        $("#editModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var selectionId = button.data("selectionid");
            $.get(performerCalendarUrl, { performerId: "@Model.Performer.Id", branchSelectionId: selectionId }, function (response) {
                $("#calendarContainer").html(response);
            });
        });

        $("#deleteModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var branchName = button.data("branchname");
            var programName = button.data("programtitle");
            $("#deleteModal").find("#modal-text").html("Are you sure you want to delete <strong>" +
                branchName + "'s </strong> selection of <strong>" + programName + "</strong>?");
        });

        $(".delete-selection").on("click", function () {
            var selectionId = $(this);
            var perfId = $("#deletePerformerForm").find("#Performer_Id");
            var branchSelection = $("#deletePerformerForm").find("#BranchSelectionId");
            perfId.val("@Model.Performer.Id");
            branchSelection.val(selectionId.data("selectionid"));
        });

        $(".secretCode").on("blur", function () {
            var input = $(this);
            if (input.attr("readonly") != "readonly") {
                var icon = input.closest("tr").find(".icon");
                var errorMessage = input.closest("table").find(".errorMessage");
                input.attr("readonly", "readonly");
                icon.removeClass("d-none far fa-check-circle text-success text-danger fa-times").addClass("fas fa-spinner fa-pulse fa-fw");
                errorMessage.text("");
                $.post(secretCodeUrl, { id: input.data("id"), secretCode: input.val() }, function (response) {
                    setTimeout(function () {
                        input.val(response.secretCode).removeAttr("readonly");
                        if (response.success) {
                            icon.removeClass("fas fa-spinner fa-pulse fa-fw").addClass("far fa-check-circle text-success");
                        }
                        else {
                            icon.removeClass("fas fa-spinner fa-pulse fa-fw").addClass("far fa-check-circle text-danger");
                            errorMessage.text(response.message);
                        }
                    }, 500);
                });
            }
        });
    </script>
}
