@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.PerformerSelectionsViewModel

@section Styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
    <style>
        @@media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style>
}

<div class="row d-print-none">
    <div class="col-xs-12">
        <table style="margin:0 auto;">
            <tr>
                @if (Model.PrevPerformer.HasValue)
                {
                    <td style="position:absolute;">
                        <h1>
                            <a asp-action="PerformerSelections" asp-route-id="@Model.PrevPerformer" style="margin-left:-125px;"><span class="fas fa-chevron-left"></span></a>
                        </h1>
                    </td>
                }
                <td><h1>Performer Selections</h1></td>
                @if (Model.NextPerformer.HasValue)
                {
                    <td style="position:absolute;">
                        <h1>
                            <a asp-action="PerformerSelections" asp-route-id="@Model.NextPerformer" style="margin-left:50px;"><span class="fas fa-chevron-right"></span></a>
                        </h1>
                    </td>
                }
            </tr>
        </table>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-8 offset-sm-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-xs-6">
                                <label>Performer</label>
                                <div>@Model.Performer.Name</div>
                            </div>
                            <div class="col-xs-6">
                                <label>Program Selections</label>
                                <div>@Model.BranchSelectionDates.SelectMany(_ => _).Count()</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-xs-12">
                                <a asp-action="Performer" asp-route-id="@Model.Performer.Id" class="btn btn-lg btn-secondary">View Performer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="visible-print">@Model.Performer.Name</h1>
        @if (Model.BranchSelectionDates.SelectMany(_ => _).Count() == 0)
        {
            <div class="alert alert-warning">No selections.</div>
        }
        else
        {
            @foreach (var branchSelectionDate in Model.BranchSelectionDates)
            {
                var date = branchSelectionDate.First().RequestedStartTime.Date;
                var performerSchedule = Model.Performer.Schedule.Where(_ => _.Date.Date == date).FirstOrDefault();
                var backToBack = branchSelectionDate.Any(_ => _.BackToBackProgram);
                <strong style="font-size:large">@date.ToLongDateString()</strong>
                <div class="d-print-none">
                    @if (performerSchedule == null)
                    {
                        <div class="text-success" style="font-size:large">Available: @Model.DefaultPerformerScheduleStartTime.ToShortTimeString() &ndash; @Model.DefaultPerformerScheduleEndTime.ToShortTimeString()</div>
                    }
                    else if (performerSchedule.StartTime.HasValue)
                    {
                        <div style="color:#DFAA15; font-size:large">Available: @performerSchedule.StartTime.Value.ToShortTimeString() &ndash; @performerSchedule.EndTime.Value.ToShortTimeString()</div>
                    }
                    else
                    {
                        <div class="text-danger" style="font-size:x-large">Unavailable</div>
                    }
                </div>

                <table class="table table-bordered table-sm table-striped">
                    <thead>
                        <tr>
                            <th width="170px">Total Performer Time</th>
                            <th>
                                Program/
                                <br />
                                Ages
                            </th>
                            <th>Location</th>
                            <th width="400px">Secret Code</th>
                            <th class="d-print-none" width="36px">&nbsp;</th>
                            <th class="d-print-none" width="36px">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var branchSelection in branchSelectionDate)
                        {
                            <tr>
                                <td style="white-space:nowrap">
                                    @branchSelection.ScheduleStartTime.ToShortTimeString() &ndash; @branchSelection.ScheduleStartTime.AddMinutes(branchSelection.ScheduleDuration).ToShortTimeString()
                                    <div>
                                        (@branchSelection.RequestedStartTime.ToShortTimeString()@(branchSelection.BackToBackProgram ? $", {branchSelection.RequestedStartTime.AddMinutes(branchSelection.Program.ProgramLengthMinutes + branchSelection.Program.BackToBackMinutes).ToShortTimeString()}" : "") start time)
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a asp-action="Program"
                                           asp-route-id="@branchSelection.ProgramId"
                                           target="_blank">@branchSelection.Program.Title</a>
                                    </div>
                                    <div>
                                        @branchSelection.AgeGroup.Name
                                    </div> 
                                </td>
                                <td>
                                    @branchSelection.Branch.SystemName:
                                    <span style="white-space:nowrap">
                                        @branchSelection.Branch.Name
                                        <a aria-label="Map (Opens new window)"
                                           href="https://www.google.com/maps/search/@branchSelection.Branch.Address"
                                           target="_blank"
                                           class="d-print-none">
                                            <span class="far fa-map"></span>
                                        </a>
                                        <span class="visible-print">
                                            (@branchSelection.Branch.Address)
                                        </span>
                                    </span>
                                    <div style="margin-top:0.5rem">
                                        <strong>Contact:</strong> @branchSelection.OnSiteContactName
                                        <div>
                                            @branchSelection.OnSiteContactEmail
                                        </div>
                                        <div>
                                            @branchSelection.OnSiteContactPhone
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <table style="width:100%;">
                                        <tr>
                                            <td>
                                                <input class="secretCode form-control"
                                                       data-id="@branchSelection.Id"
                                                       value="@branchSelection.SecretCode"
                                                       autocomplete="off" />
                                            </td>
                                            <td class="d-print-none" style="padding-left:3px; text-align:center; width:30px;">
                                                <span class="icon fas fa-lg colored-icon @(!string.IsNullOrWhiteSpace(branchSelection.SecretCode) ? "fa-check" : "hidden")"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="errorMessage text-danger d-print-none"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="d-print-none" style="text-align:center;">
                                    <button type="button"
                                            class="btn btn-sm btn-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal"
                                            data-selectionid="@branchSelection.Id">
                                        <span class="fas fa-edit"></span>
                                    </button>
                                </td>
                                <td class="d-print-none" style="text-align:center;">
                                    <button type="button"
                                            class="btn btn-sm btn-danger delete-selection"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-selectionid="@branchSelection.Id"
                                            data-branchname="@branchSelection.Branch.Name"
                                            data-programtitle="@branchSelection.Program.Title">
                                        <span class="fas fa-minus-circle"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr />
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        
                    </button>
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete branch selection</h1>
                </div>
                <div class="modal-body">
                    <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer">
                    <form asp-controller="@PerformerManagementController.Name"
                          asp-action="@nameof(PerformerManagementController.PerformerSelectionDelete)"
                          method="post"
                          role="form"
                          id="deletePerformerForm">
                        <input class="hidden" asp-for="Performer.Id" aria-hidden="true" />
                        <input class="hidden" asp-for="BranchSelectionId" aria-hidden="true" />
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                id="buttonDelete"
                                class="btn btn-danger pull-right"
                                aria-label="Confirm">
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                        
                    </button>
                    <h1 class="modal-title h4" id="deleteModalLabel">Edit Date/Time</h1>
                </div>
                <div id="calendarContainer" class="modal-body">

                </div>
                <div class="modal-footer">
                    <form>
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="/js/performerregistration.min.js"></script>

    <script>
        var performerCalendarUrl = "@Url.Action(nameof(PerformerManagementController.GetPerformerCalendar))";
        var secretCodeUrl = "@Url.Action(nameof(PerformerManagementController.SetSecretCode))";

        $("#editModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var selectionId = button.data("selectionid");
            $.get(performerCalendarUrl, { performerId: "@Model.Performer.Id", branchSelectionId: selectionId }, function (response) {
                $("#calendarContainer").html(response);
            });
        });

        $("#deleteModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var branchName = button.data("branchname");
            var programName = button.data("programtitle");
            $("#deleteModal").find("#modal-text").html("Are you sure you want to delete <strong>" +
                branchName + "'s </strong> selection of <strong>" + programName + "</strong>?");
        });

        $(".delete-selection").on("click", function () {
            var selectionId = $(this);
            var perfId = $("#deletePerformerForm").find("#Performer_Id");
            var branchSelection = $("#deletePerformerForm").find("#BranchSelectionId");
            perfId.val("@Model.Performer.Id");
            branchSelection.val(selectionId.data("selectionid"));
        });

        $(".secretCode").on("blur", function () {
            var input = $(this);
            if (input.attr("readonly") != "readonly") {
                var icon = input.closest("tr").find(".icon");
                var errorMessage = input.closest("table").find(".errorMessage");
                input.attr("readonly", "readonly");
                icon.removeClass("hidden fa-check fa-times").addClass("fa-spinner fa-pulse fa-fw");
                errorMessage.text("");
                $.post(secretCodeUrl,{ id: input.data("id"), secretCode: input.val() }, function (response) {
                    setTimeout(function () {
                        input.val(response.secretCode).removeAttr("readonly");
                        if (response.success) {

                            icon.removeClass("fa-spinner fa-pulse fa-fw").addClass("fa-check");
                        }
                        else {
                            icon.removeClass("fa-spinner fa-pulse fa-fw").addClass("fa-times");
                            errorMessage.text(response.message);
                        }
                    }, 500);
                });
            }
        });
    </script>
}
