@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.PerformerCoversheetViewModel

@section styles {
    <link rel="stylesheet" href="/css/performercoversheet.min.css" />
}

<div class="performer-coversheet-container">
    <div class="row">
        <div class="col-12 text-center text-muted">
            <div class="text-danger d-print-none">
                <h4>
                    Please make sure to turn off printing web page header and footer in the print
                    settings before outputting to PDF
                </h4>
            </div>
            <h2>Services Team Program Cover Sheet</h2>
            <div>Include an invoice if requesting funds</div>
            <div class="row-spacing"><strong>@(DateTime.Today.ToLongDateString())</strong></div>
        </div>
    </div>
    <div class="row">
        <table class="col-12">
            <tr>
                <th class="col-3 pe-2 text-end align-middle">
                    Library Branch:
                </th>
                <td class="col-9 ps-2 align-middle">
                    @Model.LibraryBranch
                </td>
            </tr>
            <tr>
                <th class="col-3 pe-2 text-end align-middle">
                    Staff Contact:
                </th>
                <td class="col-9 ps-2 align-middle">
                    @Model.StaffContact
                </td>
            </tr>
        </table>
    </div>

    <div class="row py-2">
        <div class="col-3 pe-2 text-end align-middle">
            <strong>Funding Source:</strong>
        </div>
        <div class="col-9 ps-2 align-middle">
            <input type="checkbox" checked /> Summer Reading Program Budget
        </div>
    </div>

    <div class="row">
        <table class="col-12">
            <tr>
                <th class="col-3 pe-2 text-end"></th>
                <td class="col-9 ps-2 coversheet-table-subheading" colspan="3">
                    Program Info
                </td>
            </tr>
            <tr>
                <th class="col-3 pe-2 text-end">
                    Description:
                </th>
                <td class="col-9 ps-2 pre-wrap" colspan="3">@Model.Description</td>
            </tr>
            <tr>
                <th class="col-3 pe-2 text-end align-middle">
                    Cost:
                </th>
                <td class="col-4 ps-2" colspan="3">
                    @Model.Cost.ToString("C")
                </td>
            </tr>
            <tr>
                <th class="col-3 pe-2 text-end align-middle">
                    Vendor #:
                </th>
                <td class="col-4 ps-2">
                    @Model.VendorId
                </td>
                <td class="col-2 pe-2 text-end align-middle">
                    <strong>Invoice #:</strong>
                </td>
                <td class="col-3 ps-2">
                    @Model.InvoiceNumber
                </td>
            </tr>
            <tr>
                <th class="col-3 pe-2 text-end">
                    Payable To:
                </th>
                @* Don't reformat this line, set to white-space:pre-wrap *@
                <td class="col-9 ps-2 pre-wrap" colspan="3">@Model.PayToName<br />@Model.PayToAddress</td>
            </tr>
        </table>
    </div>

    <div class="row py-3">
        <div class="col-3 pe-2 text-end align-middle">
            <strong>Payment Method:</strong>
        </div>
        <div class="col-9 ps-2">
            <input type="radio" name="payMethod" />&nbsp;<label>Mail Check</label>
            <span class="ps-4">
                <input type="radio" name="payMethod" />&nbsp;<label>eCheck</label>
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <table class="col-12">
            <tr>
                <th class="col-3 pe-2 text-end"></th>
                <td class="col-9 ps-2 coversheet-table-subheading" colspan="3">
                    Signatures of Approval
                </td>
            </tr>
            <tr>
                <th class="col-3 pe-2 text-end align-middle">
                    Services Team
                </th>
                <td class="col-9 ps-2 coversheet-signature" colspan="3">
                    @Model.StaffContact
                </td>
            </tr>
        </table>
    </div>

    <div class="row d-print-none py-2">
        <div class="text-center py-2">
            <a class="link-unstyled" asp-controller="PerformerManagement" asp-action="Performers">
                <button class="btn btn-outline-secondary">Back to Performers</button>
            </a>
            <button id="print-button" class="btn btn-outline-primary coversheet-print-button">
                Print
            </button>
        </div>
    </div>

    <div class="visible-print coversheet-footer">
        <strong>Questions?</strong> Contact the Services Team
        (<strong>ServicesTeam@mcldaz.org</strong>)
    </div>
</div>

<script type="text/javascript">
    function hideHeaderFooter() {
        document.querySelector(".mc-page-title").classList.add("d-print-none");
        document.querySelector("footer").classList.add("d-print-none");
        document.querySelector("#print-button").addEventListener("click", handlePrint);
    }

    function handlePrint() {
        hideHeaderFooter();
        window.print();
    };

    window.onload = hideHeaderFooter;
</script>