@model GRA.Controllers.ViewModel.MissionControl.PerformerManagement.ProgramViewModel

@section styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
}

<div class="row">
    <div class="col-xs-12">
        <h1>
            Program
            <a asp-action="ProgramDetails" asp-route-id="@Model.Program.Id" class="btn btn-secondary" style="display:inline-block">Edit Program</a>
        </h1>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-4">
        @if (!string.IsNullOrWhiteSpace(Model.Image))
        {
            <div class="row" style="padding-bottom:15px;">
                <div class="col-xs-12">
                    <img src="~/@Model.Image" class="img-fluid" style="margin: 0 auto;" />
                </div>
            </div>
        }
        <div class="row" style="padding-bottom:15px;">
            <div class="col-xs-12" style="text-align:center;">
                <a asp-action="ProgramImages" asp-route-id="@Model.Program.Id" class="btn btn-primary">View/Manage Images</a>
            </div>
        </div>
        <div class="row" style="padding-bottom:15px;">
            <div class="col-xs-12" style="text-align:center;">
                <a asp-action="Performer" asp-route-id="@Model.Program.PerformerId" class="btn btn-secondary">Return to Performer</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8">
        <div class="mb-3">
            <badge>Name</badge>
            <div>@Model.Program.Title</div>
        </div>
        <div class="mb-3">
            <badge>Description</badge>
            <div>@Model.Program.Description</div>
        </div>
        <div class="mb-3">
            <badge>Capacity</badge>
            <div>@Model.Program.MinimumCapacity &ndash; @Model.Program.MaximumCapacity</div>
        </div>
        <div class="mb-3">
            <badge>Ages</badge>
            <div>
                <ul>
                    @foreach (var age in Model.Program.AgeGroups)
                    {
                        <li>@age.Name</li>
                    }
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xs-6">
                <badge>Program Length</badge>
                <div>@Model.Program.ProgramLengthMinutes minutes</div>
            </div>
            <div class="col-xs-6">
                <badge>Set-up Time</badge>
                <div>@Model.Program.SetupTimeMinutes minutes</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xs-6">
                <badge>Breakdown Time</badge>
                <div>@Model.Program.BreakdownTimeMinutes minutes</div>
            </div>
            <div class="col-xs-6">
                <badge>Time Between Back-to-Back Programs</badge>
                <div>@Model.Program.BackToBackMinutes minutes</div>
            </div>
        </div>
        <div class="mb-3">
            <badge>Inclusive Cost</badge>
            <div>$@Model.Program.Cost</div>
        </div>
        <div class="mb-3">
            <badge>Library Set-up</badge>
            <div>@Model.Program.Setup</div>
        </div>
        @if (Model.EnablePerformerLivestreamQuestions)
        {
            <div class="mb-3">
                <badge>Willing to allow the library to livestream the program online?</badge>
                <div>@(Model.Program.AllowStreaming ? "Yes" : "No")</div>
            </div>
            <div class="mb-3">
                <badge>Willing to allow the library to save and share the archive of event, if livestreamed or recorded?</badge>
                <div>@(Model.Program.AllowArchiving ? "Yes" : "No")</div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="/js/performerregistration.min.js"></script>
}