@model GRA.Controllers.ViewModel.SignIn.SignInViewModel

<form asp-controller="SignIn" asp-action="Index" method="post" role="form" novalidate>
    <input asp-for="ReturnUrl" type="hidden" />
    <div class="row">
        <div class="mx-auto">
            <div class="card">
                <div class="card-heading">
                    <span class="lead">@ViewData[ViewDataKey.Title]</span>
                </div>
                <div class="card-body">
                    @if (string.IsNullOrWhiteSpace(Model?.ErrorMessage) != true)
                    {
                        <div class="row row-spacing">
                            <div class="col-xs-12">
                                <p class="text-danger">@Model.ErrorMessage</p>
                            </div>
                        </div>
                    }

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <badge asp-for="Username" class="col-form-label"></badge>
                            <input asp-for="Username" class="form-control form-control-lg" autofocus />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-spacing">
                        <div class="col-xs-12">
                            <badge asp-for="Password" class="col-form-label"></badge>
                            <input asp-for="Password" type="password" class="form-control form-control-lg" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer clearfix">
                    <div class="pull-left">
                        <table>
                            <tr><td><a asp-action="ForgotPassword">@SharedLocalizer[GRA.Domain.Model.DisplayNames.ForgotPassword]</a></td></tr>
                            <tr><td><a asp-action="ForgotUsername">@SharedLocalizer[GRA.Domain.Model.DisplayNames.ForgotUsername]</a></td></tr>
                        </table>
                    </div>
                    <div class="pull-right" style="margin-top: 10px;">
                        <button class="btn btn-success btn-lg btn-spinner" button-spinner>
                            <span class="fas fa-sign-in-alt"></span> 
                            @SharedLocalizer[GRA.Domain.Model.DisplayNames.SignIn]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>