@model GRA.Controllers.ViewModel.SignIn.SignInViewModel

<form asp-controller="SignIn" asp-action="Index" method="post" role="form" novalidate>
    <input asp-for="ReturnUrl" type="hidden" />
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h1 class="h4">@ViewData[ViewDataKey.Title]</h1>
                </div>
                <div class="card-body">
                    @if (string.IsNullOrWhiteSpace(Model?.ErrorMessage) != true)
                    {
                        <div>
                            <p class="text-danger">@Model.ErrorMessage</p>
                        </div>
                    }
                    <div class="mb-2">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control form-control-lg" autofocus />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control form-control-lg" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-7 py-1">
                            <a asp-action="ForgotPassword">@SharedLocalizer[GRA.Domain.Model.DisplayNames.ForgotPassword]</a><br />
                            <a asp-action="ForgotUsername">@SharedLocalizer[GRA.Domain.Model.DisplayNames.ForgotUsername]</a>
                        </div>
                        <div class="col-sm-5 py-1 d-grid">
                            <button class="btn btn-outline-success btn-lg btn-spinner text-nowrap" button-spinner>
                                <span class="fas fa-sign-in-alt fa-fw"></span>
                                @SharedLocalizer[GRA.Domain.Model.DisplayNames.SignIn]
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>