@model GRA.Controllers.ViewModel.Share.ShareAvatarViewModel

@section metadata {
    <social data="Model.Social"
            description="A customized avatar for {sitename}, join to create your own!"></social>
}

<div class="row">
    <div class="col-12 col-xxl-10 offset-xxl-1">
        <div class="card">
            <div class="card-header h4">
                <grasite property="pageTitle"></grasite>
            </div>
            <div class="card-img-top">
                <img class="img-fluid"
                     src="@Model.ImageUrl" />
            </div>
            <div class="card-footer d-md-flex justify-content-around align-items-baseline">
                <div class="h5 text-center my-2">
                    @SharedLocalizer[GRA.Annotations.Info.JoinNowAvatar]
                </div>
                <div class="text-center my-2">
                    <a asp-action="@nameof(JoinController.Index)"
                       asp-controller="@JoinController.Name"
                       class="btn btn-outline-primary">
                        <span class="fas fa-book fa-fw"></span>
                        @SharedLocalizer[GRA.Domain.Model.DisplayNames.JoinNow]
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
