@model GRA.Controllers.ViewModel.MissionControl.EmailManagement.EmailAddressesViewModel

@{
    var invalid = Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;
}

<div class="row" style="margin: 1rem 0;">
    <a asp-action="Index" class="btn btn-default">
        <span class="fas fa-envelope-open-text"></span>
        Back to Email Management
    </a>
</div>

<h3>Export</h3>
<form asp-action="@nameof(EmailManagementController.ExportAddresses)" method="get">
    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="SignUpSource" class="control-label">Mailing list</label>
            <select asp-for="SignUpSource"
                    asp-items="@Model.SignUpSources"
                    class="form-control">
                @if (!@Model.HasSources)
                {
                    <option>No lists available</option>
                }
            </select>
            <span asp-validation-for="SignUpSource" class="text-danger"></span>
        </div>
    </div>
    <button class="btn btn-primary"
            disabled="@(!Model.HasSources ? "disabled" : null )"
            type="submit">
        <span class="fas fa-file-download"></span>
        Download
    </button>
</form>

<h3>Import</h3>
<form asp-action="@nameof(EmailManagementController.ImportAddresses)"
      method="post"
      enctype="multipart/form-data">
    <div class="row row-spacing">
        <div class="col-xs-12">
            <label for="selectedFile">Select a .json file:</label>
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        <span class="far fa-file-image"></span>
                        Select a .json file
                        <input type="file"
                               asp-for="UploadedFile"
                               class="form-control"
                               accept=".json"
                               style="display: none;" />
                    </span>
                </label>
                <input type="text"
                       class="form-control"
                       readonly
                       id="selectedFile"
                       @(ViewData.ModelState.GetValidationState("UploadedFile") == invalid ? "input-validation-error" : "")>
            </div>
            <span asp-validation-for="UploadedFile" class="text-danger"></span>
        </div>
    </div>
    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="SignUpSource" class="control-label">Mailing list</label>
            <select asp-for="SignUpSource"
                    asp-items="@GRA.Controllers.ViewModel.MissionControl.EmailManagement.EmailAddressesViewModel.AllSources"
                    class="form-control">
            </select>
            <span asp-validation-for="SignUpSource" class="text-danger"></span>
        </div>
    </div>
    <div class="row-spacing">
        <button class="btn btn-primary btn-spinner" type="submit" button-spinner>
            <span class="fas fa-file-upload"></span>
            Upload
        </button>
    </div>
</form>

@section scripts {
<script>
    $(':file').on('fileselect', function (event, numFiles, label) {
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles = ' files selected' : label;

        if (input.length) {
            input.val(log);
            $('.btn-file').removeClass('btn-default');
            $('.btn-file').addClass('btn-success');
            $("#badgeImage").removeAttr("src");
            $("#badgeImage").height(200);
            $("#BadgeMakerImage").val("");
        }
        else {
            input.val('');
            $('.btn-file').addClass('btn-default');
            $('.btn-file').removeClass('btn-success');
        }
    });

    $(document).on('change', ':file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });
</script>
}