@model GRA.Controllers.ViewModel.MissionControl.EmailManagement.BaseDetailsViewModel

@section inHeading {
    <div class="ms-auto">
        <a asp-action="@nameof(EmailManagementController.BaseIndex)"
           class="btn btn-outline-secondary">Return to Base Templates</a>
    </div>
}

<form asp-action="@Model.Action"
      id="updateBaseTemplate"
      method="post"
      role="form"
      enctype="multipart/form-data"
      class="my-2">
    <input asp-for="Action" type="hidden" />
    <input asp-for="LanguageId" type="hidden" />
    @if (Model.Action == nameof(EmailManagementController.EditBaseTemplate))
    {
        <input asp-for="EmailBaseId" type="hidden" />
    }

    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            @if (Model.Languages?.Count() > 1)
            {
                <div class="mb-3">
                    <label asp-for="LanguageId" class="col-form-label"></label><br>
                    <description gra-description-for="LanguageId"></description><br>
                    @foreach (var item in Model.Languages)
                    {
                        @if (item.Disabled)
                        {
                            <button disabled
                                    title="You must first create the template in the default language"
                                    class="btn btn-sm btn-outline-secondary mt-1">
                                @item.Text
                            </button>
                        }
                        else
                        {
                            if (Model.Action == nameof(EmailManagementController.EditBaseTemplate))
                            {
                                <a href="@Url.Action(Model.Action, new { emailBaseId = Model.EmailBaseId, languageId = item.Value })"
                                   class="btn btn-sm btn-outline-primary mt-1 @(item.Selected ? "active" : null)">@item.Text</a>
                            }
                            else
                            {
                                <button disabled
                                        title="You must first create the template in the default language"
                                        class="btn btn-sm btn-outline-primary mt-1 @(item.Selected ? "active" : null)">
                                    @item.Text
                                </button>
                            }
                        }
                    }
                </div>
                <div class="row d-none gra-save-warning">
                    <div class="offset-md-3 col-md-9">
                        <div class="alert alert-warning">
                            <span class="fas fa-arrow-circle-up"></span>
                            Unsaved changes will be lost if you change languages.
                        </div>
                    </div>
                </div>
            }

            <hr />

            <div class="mb-3">
                <label asp-for="TemplateMjml" class="col-form-label"></label>
                <description gra-description-for="TemplateMjml"></description>
                <textarea asp-for="TemplateMjml" class="form-control" rows="8"></textarea>
                <span asp-validation-for="TemplateMjml" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TemplateHtml" class="col-form-label"></label>
                <textarea asp-for="TemplateHtml" class="form-control" rows="8"></textarea>
                <span asp-validation-for="TemplateHtml" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TemplateText" class="col-form-label"></label>
                <textarea asp-for="TemplateText" class="form-control" rows="8"></textarea>
                <span asp-validation-for="TemplateText" class="text-danger"></span>
            </div>

            @if (Model.Action == nameof(EmailManagementController.EditBaseTemplate))
            {
                <div class="mb-3">
                    <button type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#importModal"
                            class="btn btn-outline-secondary">
                        <span class="fas fa-file-upload"></span>
                        Import
                    </button>
                    <a asp-action="@nameof(EmailManagementController.ExportBaseText)"
                       class="btn btn-outline-secondary"
                       asp-route-emailBaseId="@Model.EmailBaseId"
                       asp-route-languageId="@Model.LanguageId">
                        <span class="fas fa-file-download"></span>
                        Export
                    </a>
                </div>
            }

            <div class="mb-3">
                <button type="submit"
                        id="Submit"
                        name="Submit"
                        value="Submit"
                        class="btn btn-outline-primary btn-spinner gra-save-button"
                        button-spinner>
                    <span class="buttonText">Save Base Template</span>
                </button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade"
     id="importModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="importModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="@nameof(EmailManagementController.ImportBaseText)"
                  method="post"
                  role="form"
                  enctype="multipart/form-data">
                <input asp-for="LanguageId" type="hidden" />
                <input asp-for="EmailBaseId" type="hidden" />
                <div class="modal-header">
                    <h1 class="modal-title h4" id="sendTestModalHeader">Import Base Template</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Upload a .json file to replace the content of the selected template and
                        language.
                    </p>
                    <div class="input-group mb-3">
                        <input accept=".json"
                               asp-for="UploadedFile"
                               class="form-control"
                               multiple="multiple"
                               type="file" />
                        <button class="btn btn-outline-secondary"
                                onclick="$('#UploadedFile').val('')"
                                type="button">
                            Clear selection
                        </button>
                    </div>
                    <span asp-validation-for="UploadedFile" class="text-danger mb-3"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-outline-primary"
                            aria-label="Confirm"
                            button-spinner>
                        Upload and replace
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function showSaveWarning() {
            if ($('.gra-save-warning')) {
                $('.gra-save-warning').removeClass('d-none');
            }
            if ($('.gra-save-button')) {
                $('.gra-save-button')
                    .removeClass('btn-outline-primary')
                    .addClass('btn-outline-success');
            }
        }

        $('input.form-control').keydown(showSaveWarning);
        $('textarea.form-control').keydown(showSaveWarning);
    </script>
}
