@using GRA.Controllers.ViewModel.MissionControl.EmailManagement
@model EmailIndexViewModel

<div class="row my-4">
    <div class="col-12">
        <a class="btn btn-outline-success"
           asp-action="@nameof(EmailManagementController.CreateTemplate)">
            <span class="fas fa-plus-circle fa-fw"></span>
            Create Template
        </a>
        <a class="btn btn-outline-success"
           asp-action="@nameof(EmailManagementController.ImportTemplate)">
            <span class="fas fa-plus-circle fa-fw"></span>
            Import Template
        </a>
        <a asp-action="@nameof(EmailManagementController.Addresses)"
           class="btn btn-outline-secondary">
            <span class="fas fa-list-alt"></span>
            Manage Lists
        </a>
        <a class="btn btn-outline-secondary"
           asp-action="@nameof(EmailManagementController.BaseIndex)">
            Base Templates
        </a>
        @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.SendBulkEmails.ToString()))
        {
            <a class="btn btn-outline-secondary"
               asp-action="@nameof(EmailManagementController.SetSpecialEmails)">
                Set Special Emails
            </a>
        }
    </div>
</div>

<div class="row my-4">
    <div class="col-12">
        @if (Model.EmailTemplates.Count() == 0)
        {
            <div class="alert alert-warning">No Emails.</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Emails Sent/Pending</th>
                            <th>Editable</th>
                            <th>System email</th>
                            <th>Edit</th>
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.SendBulkEmails.ToString()))
                            {
                                <th>Send</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var template in Model.EmailTemplates)
                        {
                            <tr>
                                <td class="align-middle">
                                    @template.Description
                                    @if (template.Id == Model.WelcomeEmailTemplateId)
                                    {
                                        <span class="badge text-bg-primary">Welcome Email</span>
                                    }
                                </td>
                                <td class="align-middle">
                                    @template.EmailsSent
                                    @if (template.Id == Model.WelcomeEmailTemplateId)
                                    {
                                        @:/
                                        @Model.WelcomeEmailsTotal
                                    }
                                </td>
                                <td class="align-middle">
                                    @if (template.IsSystem || !template.IsBulkSent)
                                    {
                                        @:Yes
                                    }
                                    else
                                    {
                                        <span class="text-danger"
                                              title="Emails have already been sent.">No</span>
                                    }
                                </td>
                                <td class="align-middle">
                                    @(template.IsSystem ? "Yes" : "No")
                                </td>
                                <td>
                                    @foreach (var language in template.LanguageIds)
                                    {
                                        <a asp-action="@nameof(EmailManagementController.EditTemplate)"
                                           asp-route-templateId="@template.Id"
                                           asp-route-languageId="@language"
                                           class="btn btn-outline-primary btn-sm my-1">@Model.LanguageNames[language]</a>
                                    }
                                </td>
                                @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.SendBulkEmails.ToString()))
                                {
                                    <td class="text-center">
                                        @if (!template.IsSystem && Model.IsAnyoneSubscribed)
                                        {
                                            <a class="btn btn-sm btn-outline-primary sendEmail my-1"
                                               asp-action="@nameof(EmailManagementController.Send)"
                                               asp-route-templateId="@template.Id">
                                                Send
                                            </a>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model"></paginate>
        }
    </div>
</div>
