@model GRA.Controllers.ViewModel.MissionControl.EmailManagement.EmailIndexViewModel

@section Styles {
<style>
    .gra-button-buffer {
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
    }
</style>
}

<div class="row" style="margin: 1rem 0;">
    <div class="col-xs-12">
        <a class="btn btn-success"
           asp-action="@nameof(EmailManagementController.CreateTemplate)">
            <span class="fas fa-plus-circle"></span>
            Create Template
        </a>
        <a asp-action="@nameof(EmailManagementController.Addresses)"
           class="btn btn-default">
            <span class="fas fa-list-alt"></span>
            Manage Lists
        </a>
        <a class="btn btn-info"
           style="margin-left: 1rem;"
           asp-action="@nameof(EmailManagementController.BaseIndex)">
            Base Templates
        </a>
    </div>
</div>

<div class="row" style="margin: 1rem 0;">
    <div class="col-xs-12">
        @if (Model.EmailTemplates.Count() == 0)
        {
            <div class="alert alert-warning">No Emails.</div>
        }
        else
        {
            <div>
                <table class="table table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Emails Sent</th>
                            <th>Editable</th>
                            <th>System email</th>
                            <th>Edit</th>
                            @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.SendBulkEmails.ToString()))
                            {
                                <th>Send</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var template in Model.EmailTemplates)
                        {
                            <tr>
                                <td style="vertical-align: middle;">
                                    @template.Description
                                </td>
                                <td style="vertical-align: middle;">
                                    @template.EmailsSent
                                </td>
                                <td style="vertical-align: middle;">
                                    @if (template.IsSystem || !template.IsBulkSent)
                                    {
                                        @:Yes
                                    }
                                    else
                                    {
                                        <span class="text-danger" title="Emails have already been sent.">No</span>
                                    }
                                </td>
                                <td style="vertical-align: middle;">
                                    @(template.IsSystem ? "Yes" : "No")
                                </td>
                                <td class="text-right">
                                    @foreach (var language in template.LanguageIds)
                                    {
                                        <a asp-action="@nameof(EmailManagementController.EditTemplate)"
                               asp-route-templateId="@template.Id"
                               asp-route-languageId="@language"
                               class="btn btn-file btn-default btn-sm gra-button-buffer">@Model.LanguageNames[language]</a>
                                    }
                                </td>
                                @if (Context.User.HasClaim(GRA.ClaimType.Permission, GRA.Domain.Model.Permission.SendBulkEmails.ToString()))
                                {
                                    <td class="text-right">
                                        @if (!template.IsSystem && Model.IsAnyoneSubscribed)
                                        {
                                            <a class="btn btn-sm btn-warning sendEmail gra-button-buffer"
                               asp-action="@nameof(EmailManagementController.Send)"
                               asp-route-templateId="@template.Id">
                                                Send Email
                                            </a>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.MaxPage > 1)
            {
                <paginate paginateModel="@Model"></paginate>
            }
        }
    </div>
</div>
