@model GRA.Controllers.ViewModel.MissionControl.EmailManagement.EmailIndexViewModel

@section inHeading {
    <div class="ms-auto">
        @if (Model.WelcomeEmailTemplateId > 0)
        {
            <form asp-action="@nameof(EmailManagementController.UnsetWelcomeEmail)"
                  method="post"
                  class="d-inline-block">
                <button class="btn btn-warning">Unset Welcome Email</button>
            </form>
        }

        <a asp-action="@nameof(EmailManagementController.Index)"
           class="btn btn-outline-secondary">Return to List</a>
    </div>
}

<div class="row my-2">
    <div class="col-12">
        @if (Model.EmailTemplates.Count() == 0)
        {
            <div class="alert alert-warning">No Emails.</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var template in Model.EmailTemplates)
                        {
                            <tr>
                                <td class="align-middle">
                                    @template.Description
                                    @if (template.Id == Model.WelcomeEmailTemplateId)
                                    {
                                        <span class="badge text-bg-primary">Welcome Email</span>
                                    }
                                </td>
                                <td class="align-middle">
                                    @if (template.Id != Model.WelcomeEmailTemplateId)
                                    {
                                        <form asp-action="@nameof(EmailManagementController.SetWelcomeEmail)"
                                              method="post">
                                            <input type="hidden" name="id" value="@template.Id" />
                                            <button class="btn btn-outline-primary">
                                                Set as Welcome Email
                                            </button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model"></paginate>
        }
    </div>
</div>
