@model GRA.Controllers.ViewModel.Events.EventsDetailViewModel

<div class="modal-header">
    <h1 class="modal-title h4" id="detailModalLabel">@Model.Event.Name</h1>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="@SharedLocalizer[GRA.Annotations.Interface.CloseDialog]">
    </button>
</div>
<div class="modal-body">
    <div class="mb-2">
        @if (Model.Event.IsStreaming)
        {
            <string>@SharedLocalizer[GRA.Annotations.Interface.StreamStarts]:&nbsp;</string>
        }
        else
        {
            <string>@SharedLocalizer[GRA.Annotations.Interface.When]:&nbsp;</string>
        }
        @if (Model.Event.AllDay)
        {
            @:@Model.Event.StartDate.ToString("d")
            @(Model.Event.EndDate.HasValue ? "– " + Model.Event.EndDate.Value.ToString("d") : "")
        }
        else
        {
            @SharedLocalizer[GRA.Annotations.Interface.DateAtTime, Model.Event.StartDate.ToString("d"), Model.Event.StartDate.ToString("t")]
        }
    </div>

    <div class="mb-2">@Model.Event.Description</div>

    @if (!string.IsNullOrWhiteSpace(Model.Event.ExternalLink))
    {
        <div class="mb-2">
			<strong>@SharedLocalizer[GRA.Annotations.Interface.MoreInformation]:</strong>
            <a target="_blank" href="@Model.Event.ExternalLink">@Model.Event.Name</a>
            <a target="_blank" href="@Model.Event.ExternalLink">
                <span class="fas fa-external-link-alt fa-fw"></span>
            </a>
        </div>
    }

    <div class="mb-2">
        <table>
            <tr>
                <td>
                    <strong>
                        @(@Model.Event.IsStreaming
                            ? @SharedLocalizer[GRA.Annotations.Interface.Stream]
                            : @SharedLocalizer[GRA.Annotations.Interface.Where]):&nbsp;
                    </strong>
                </td>
                <td>
                    @if (Model.Event.IsStreaming)
                    {
                        @if (Model.Event.StartDate <= DateTime.Now
                       && Model.Event.StreamingAccessEnds >= DateTime.Now)
                        {
                            if (Model.IsAuthenticated)
                            {
                                <a class="btn btn-outline-success"
                                   href="@Url.Action(nameof(EventsController.Stream),
                                        new { id = Model.Event.Id })">
                                    <span class="far fa-play-circle fa-fw"></span>
                                    @SharedLocalizer[GRA.Annotations.Interface.StreamNow]
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-outline-primary"
                                   href="@Url.Action(nameof(EventsController.Stream),
                                        new { id = Model.Event.Id })">
                                    <span class="fas fa-sign-in-alt fa-fw"></span>
                                    @SharedLocalizer[GRA.Annotations.Interface.SignInToStream]
                                </a>

                            }
                        }
                        else
                        {
                            <button disabled class="btn btn-outline-secondary">
                                <span class="far fa-stop-circle fa-fw"></span>
                                @(@Model.Event.StartDate >= DateTime.Now
                                    ? SharedLocalizer[GRA.Annotations.Interface.NotStreamingYet]
                                    : SharedLocalizer[GRA.Annotations.Interface.ProgramIsOver])
                            </button>
                        }

                    }
                    else
                    {
                        @if (string.IsNullOrWhiteSpace(Model.Event.EventLocationLink))
                        {
                            @Model.Event.EventLocationName
                        }
                        else
                        {
                            <a target="_blank" href="@Model.Event.EventLocationLink">
                                @Model.Event.EventLocationName
                            </a>
                        }
                    }
                </td>
            </tr>
            @if (!string.IsNullOrWhiteSpace(Model.Event.EventLocationAddress))
            {
                <tr>
                    <td>&nbsp;</td>
                    <td>@Model.Event.EventLocationAddress</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Event.EventLocationTelephone))
            {
                <tr>
                    <td>&nbsp;</td>
                    <td>@Model.Event.EventLocationTelephone</td>
                </tr>
            }
        </table>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.ProgramString))
    {
        <div class="mb-2">@Model.ProgramString</div>
    }
    @if (Model.Event.Challenge != null)
    {

        <div>
            <strong>@SharedLocalizer[GRA.Annotations.Interface.RelatedChallenge]:&nbsp;</strong>
            <a asp-controller="Challenges"
               asp-action="Detail"
               asp-route-id="@Model.Event.Challenge.Id"
               target="_blank">@Model.Event.Challenge.Name</a>
        </div>
    }
    else if (Model.Event.ChallengeGroup != null)
    {
        <div>
            <strong>@SharedLocalizer[GRA.Annotations.Interface.RelatedChallenges]:&nbsp;</strong>
            <a asp-controller="Challenges"
               asp-action="List"
               asp-route-id="@Model.Event.ChallengeGroup.Stub"
               target="_blank">@Model.Event.ChallengeGroup.Name</a>
        </div>

    }
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal">
        @SharedLocalizer[GRA.Annotations.Interface.BackToEventsCommunityExperiences]
    </button>
</div>
