@model GRA.Controllers.ViewModel.Events.EventsDetailViewModel

@inject Microsoft.Extensions.Localization.IStringLocalizer<GRA.Resources.Shared> SharedLocalizer

@section metadata {
    <meta name="description" content="@Model.Event.Description" />
    <link rel="canonical" href="@Url.Action("Detail", "Events", new { id = Model.Event.Id })" />
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead">
                    @Model.Event.Name
                </span>
            </div>
            <div class="panel-body">
                <div class="row-spacing" style="font-size:medium;">
                    @if (Model.Event.IsStreaming)
                    {
                        <string>@SharedLocalizer[GRA.Annotations.Interface.StreamStarts]:&nbsp;</string>
                    }
                    else
                    {
                        <string>@SharedLocalizer[GRA.Annotations.Interface.When]:&nbsp;</string>
                    }
                    @if (Model.Event.AllDay)
                    {
                        @:@Model.Event.StartDate.ToString("d") @(Model.Event.EndDate.HasValue ? "– " + Model.Event.EndDate.Value.ToString("d") : "")
                    }
                    else
                    {
                        @SharedLocalizer[GRA.Annotations.Interface.DateAtTime, Model.Event.StartDate.ToString("d"), Model.Event.StartDate.ToString("t")]
                    }
                </div>

                <div class="row-spacing">@Model.Event.Description</div>

                @if (!string.IsNullOrWhiteSpace(Model.Event.ExternalLink))
                {
                    <div class="row-spacing" style="font-size:medium;"><strong>@SharedLocalizer[GRA.Annotations.Interface.MoreInformation]: </strong>
                        <a aria-label="@Model.Event.Name @SharedLocalizer[GRA.Annotations.Info.OpensNewWindow]"
                           target="_blank"
                           href="@Model.Event.ExternalLink">
                            @Model.Event.Name
                        </a>
                        <a aria-label="@Model.Event.Name @SharedLocalizer[GRA.Annotations.Info.OpensNewWindow]"
                           target="_blank"
                           href="@Model.Event.ExternalLink">
                            <span class="fa fa-external-link"></span>
                        </a>
                    </div>
                }
                <div class="row-spacing" style="font-size:medium;">
                    <table>
                        <tr>
                            <td>
                                <strong>
                                    @(@Model.Event.IsStreaming
                                        ? @SharedLocalizer[GRA.Annotations.Interface.Stream]
                                        : @SharedLocalizer[GRA.Annotations.Interface.Where]):&nbsp;
                                </strong>
                            </td>
                            <td>
                                @if (Model.Event.IsStreaming)
                                {
                                    @if (Model.Event.StartDate <= DateTime.Now
                                       && Model.Event.StreamingAccessEnds >= DateTime.Now)
                                    {
                                        <a class="btn btn-success"
                                           href="@Url.Action(nameof(EventsController.Stream),
                                                new { eventId = Model.Event.Id })">
                                            <span class="fa fa-play-circle-o"></span>
                                            @SharedLocalizer[GRA.Annotations.Interface.StreamNow]
                                        </a>
                                    }
                                    else
                                    {
                                        <button disabled class="btn btn-secondary">
                                            <span class="fa fa-stop-circle-o"></span>
                                            @(@Model.Event.StartDate <= DateTime.Now
                                                ? SharedLocalizer[GRA.Annotations.Interface.NotStreamingYet]
                                                : SharedLocalizer[GRA.Annotations.Interface.ProgramIsOver])
                                        </button>
                                    }

                                }
                                else
                                {
                                    @if (string.IsNullOrWhiteSpace(Model.Event.EventLocationLink))
                                    {
                                        @Model.Event.EventLocationName
                                    }
                                    else
                                    {
                                        <a aria-label="@Model.Event.EventLocationName @SharedLocalizer[GRA.Annotations.Info.OpensNewWindow]"
                                           target="_blank"
                                           href="@Model.Event.EventLocationLink">@Model.Event.EventLocationName</a>
                                    }
                                }
                            </td>
                        </tr>
                        @if (!string.IsNullOrWhiteSpace(Model.Event.EventLocationAddress))
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td>@Model.Event.EventLocationAddress</td>
                            </tr>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Event.EventLocationTelephone))
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td>@Model.Event.EventLocationTelephone</td>
                            </tr>
                        }
                    </table>
                </div>

                @if (!string.IsNullOrWhiteSpace(Model.ProgramString))
                {
                    <div class="row-spacing" style="font-size:medium;">@Model.ProgramString</div>
                }
                @if (Model.Event.Challenge != null)
                {

                    <div class="row-space" style="font-size:medium">
                        <strong>@SharedLocalizer[GRA.Annotations.Interface.RelatedChallenge]:&nbsp;</strong>
                        <a aria-label="@Model.Event.Challenge.Name @SharedLocalizer[GRA.Annotations.Info.OpensNewWindow]"
                           asp-controller="Challenges"
                           asp-action="Detail"
                           asp-route-id="@Model.Event.Challenge.Id"
                           target="_blank">@Model.Event.Challenge.Name</a>
                    </div>
                }
                else if (Model.Event.ChallengeGroup != null)
                {
                    <div class="row-space" style="font-size:medium">
                        <strong>@SharedLocalizer[GRA.Annotations.Interface.RelatedChallenges]:&nbsp;</strong>
                        <a aria-label="@Model.Event.ChallengeGroup.Name @SharedLocalizer[GRA.Annotations.Info.OpensNewWindow]"
                           asp-controller="Challenges"
                           asp-action="List"
                           asp-route-id="@Model.Event.ChallengeGroup.Stub"
                           target="_blank">@Model.Event.ChallengeGroup.Name</a>
                    </div>

                }
            </div>
            <div class="panel-footer clearfix hidden-print">
                <div class="pull-left">
                    <return asp-action="Index" class="btn btn-default btn-lg">@SharedLocalizer[GRA.Annotations.Interface.BackToEventsCommunityExperiences]</return>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.ShowStructuredData)
{
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Event",
        "name": "@Model.Event.Name",
        @if (!string.IsNullOrEmpty(Model.Event.EventLocationTelephone))
        {
            @:"description": "@Model.Event.Description",
        }
        "startDate": "@Model.EventStart",
        @if (!string.IsNullOrEmpty(Model.EventEnd))
        {
            @:"endDate": "@Model.EventEnd",
        }
        "offers": {
        "@@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "LimitedAvailability",
        "validFrom": "@Model.EventStart",
        "url": "@Url.Action("Detail", "Events", new { id = Model.Event.Id })"
        },
        "location": {
        "@@type": "Place",
        "address": "@Model.Event.EventLocationAddress",
        @if (!string.IsNullOrEmpty(Model.Event.EventLocationTelephone))
        {

            @:"telephone": "@Model.Event.EventLocationTelephone",
        }
        @if (!string.IsNullOrEmpty(Model.Event.EventLocationLink))
        {
            @:"url": "@Model.Event.EventLocationLink",
        }
        "name": "@Model.Event.EventLocationName"
        }
        }
        }
    </script>
}
