@model GRA.Controllers.ViewModel.MissionControl.Events.EventsDetailViewModel

@section styles {
    <style>
        .tab-pane {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-radius: 0px 0px 5px 5px;
            padding: 10px;
        }

        .nav-tabs {
            margin-bottom: 0;
        }
    </style>
}

@if (Model.CanRelateChallenge)
{
    <div class="row">
        <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="lead"><span class="relatedText">@(Model.Event?.Challenge != null || Model.Event?.ChallengeGroup != null ? "Change" : "Add")</span> challenge/group</span>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active" )>
                                        <a id="challengeTab" href="#challenge" aria-controls="challenge" role="tab" data-toggle="tab">Challenge</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a id="groupTab" href="#group" aria-controls="group" role="tab" data-toggle="tab">Challenge Group</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="challenge">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <ul class="nav nav-pills" style="padding: 10px 0;">
                                                    <li id="All" class="active challengeScope">
                                                        <a>All</a>
                                                    </li>
                                                    <li id="System" class="challengeScope">
                                                        <a>My System</a>
                                                    </li>
                                                    <li id="Branch" class="challengeScope">
                                                        <a>My Branch</a>
                                                    </li>
                                                    <li id="Mine" class="challengeScope">
                                                        <a>Mine</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="row row-spacing">
                                            <div class="col-xs-8">
                                                <input id="challengeSearchText" class="form-control"
                                                       placeholder="Enter text to search for an challenge here" />
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="col-xs-6">
                                                    <button type="button" id="challengeSearchButton" class="btn btn-default btn-block" style="margin-right: 8px;">Search</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button type="button" id="challengeClearButton" class="btn btn-default btn-block">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="challengeSearchMessage" class="row hide">
                                            <div class="col-xs-12">
                                                <p class="alert-sm alert-info">Searching for '<strong id="challengeSearchTerm"></strong>'</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="modalChallengeList" class="col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="group">
                                        <div class="row row-spacing" style="padding-top: 10px;">
                                            <div class="col-xs-8">
                                                <input id="groupSearchText" class="form-control"
                                                       placeholder="Enter text to search for an challenge group here" />
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="col-xs-6">
                                                    <button type="button" id="groupSearchButton" class="btn btn-default btn-block" style="margin-right: 8px;">Search</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button type="button" id="groupClearButton" class="btn btn-default btn-block">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="groupSearchMessage" class="row hide">
                                            <div class="col-xs-12">
                                                <p class="alert-sm alert-info">Searching for '<strong id="groupSearchTerm"></strong>'</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="modalGroupList" class="col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.CanAddSecretCode)
{
    <div class="row">
        <div class="modal fade frame-modal" id="badgeModal" tabindex="-1" role="dialog" aria-labelledby="badgeModalLabel">
            <span class="frame-close fa fa-stack fa-lg" data-dismiss="modal">
                <span class="fa fa-circle fa-stack-2x fa-inverse"></span>
                <span class="fa fa-times-circle fa-stack-1x fa-lg" style="text-shadow:none;"></span>
            </span>
            <div class="frame-container">
                <iframe id="badgeMaker" class="badge-maker"></iframe>
            </div>
        </div>
    </div>
}

@if (Model.CanManageLocations)
{
    <div class="row">
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
            <div class="modal-dialog" role="document">
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="addModalLabel">Add location</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label asp-for="Location.Name" class="control-label"></label>
                                <input asp-for="Location.Name" class="form-control" />
                                <span asp-validation-for="Location.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Location.Address" class="control-label"></label>
                                <input asp-for="Location.Address" class="form-control" />
                                <span asp-validation-for="Location.Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Location.Url" class="control-label"></label>
                                <input asp-for="Location.Url" class="form-control" />
                                <span asp-validation-for="Location.Url" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Location.Telephone" class="control-label"></label>
                                <input asp-for="Location.Telephone" class="form-control" />
                                <span asp-validation-for="Location.Telephone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                            <button id="addLocation" type="button" class="btn btn-primary pull-right" aria-label="Confirm">
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<form asp-controller="Events" asp-action="Create" method="post" role="form" enctype="multipart/form-data">
    <input asp-for="UseLocation" type="hidden" />
    <input asp-for="Event.ParentEventId" type="hidden" />

    <div class="row" style="padding: 10px 0;">
        <div class="col-xs-12">
            <label asp-for="Event.Name" class="control-label"></label>
            <input asp-for="Event.Name" class="form-control" />
            <span asp-validation-for="Event.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Event.IsCommunityExperience" class="control-label"></label>
            <select asp-for="Event.IsCommunityExperience" class="form-control">
                <option value="false">Event</option>
                @if (Model.NewCommunityExperience)
                {
                    <option value="true" selected>Community Experience</option>
                }
                else
                {
                    <option value="true">Community Experience</option>
                }
            </select>
            <span asp-validation-for="Event.IsCommunityExperience" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-10 ">
            <div class="row">
                <div class="col-xs-12 col-sm-6 row-spacing">
                    <label asp-for="Event.StartDate" class="control-label"></label>
                    <div class="input-group date" id="pickerStart">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                        <input asp-for="Event.StartDate" type="text" class="form-control" />
                    </div>
                    <span asp-validation-for="Event.StartDate" class="text-danger"></span>
                </div>
                <div class="col-xs-12 col-sm-6 row-spacing">
                    <label asp-for="Event.EndDate" class="control-label"></label>
                    <div class="input-group date" id="pickerEnd">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                        <input asp-for="Event.EndDate" type="text" class="form-control" />
                    </div>
                    <span asp-validation-for="Event.EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 row-spacing">
            <label asp-for="Event.AllDay" class="control-label center-label" style="text-align:center;"></label>
            <input asp-for="Event.AllDay" class="form-control form-checkbox" />
            <span asp-validation-for="Event.AllDay" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Event.Description" class="control-label"></label>
            <textarea asp-for="Event.Description" class="form-control" rows="5"> </textarea>
            <span asp-validation-for="Event.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Event.ExternalLink" class="control-label"></label>
            <input asp-for="Event.ExternalLink" class="form-control" />
            <span asp-validation-for="Event.ExternalLink" class="text-danger"></span>
        </div>
    </div>

    <div id="branchGroup" class="@(Model.UseLocation ? "hide" : "" )">
        <div class="row row-spacing">
            <div class="col-xs-12">
                <label asp-for="SystemId" class="control-label"></label>
                <select asp-for="SystemId" asp-items="Model.SystemList" class="form-control"></select>
                <span asp-validation-for="SystemId" class="text-danger"></span>
            </div>
        </div>

        <div class="row row-spacing">
            <div class="col-xs-12">
                <label asp-for="Event.AtBranchId" class="control-label"></label>
                <label style="font-size: 12px;">
                    <a id="viewLocationList" style="text-decoration:none;cursor:pointer">View Location list</a>
                </label>
                <select asp-for="Event.AtBranchId" asp-items="Model.BranchList" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="Event.AtBranchId" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div id="locationGroup" class="row row-spacing @(Model.UseLocation ? "" : "hide" )">
        <div class="col-xs-12">
            <label asp-for="Event.AtLocationId" class="control-label"></label>
            <a id="viewBranchList" style="text-decoration:none;cursor:pointer">View Location list</a>
            <div style="display:flex">
                <select asp-for="Event.AtLocationId" asp-items="Model.LocationList" class="form-control">
                    <option></option>
                </select>
                @if (Model.CanManageLocations)
                {
                    <button type="button" class="btn btn-primary btn-xs" style="margin-left:8px;"
                            data-toggle="modal" data-target="#addModal">
                        <span class="fa fa-2x fa-plus"></span>
                    </button>
                }
            </div>
            <span asp-validation-for="Event.AtLocationId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Event.ProgramId" class="control-label"></label>
            <select asp-for="Event.ProgramId" asp-items="Model.ProgramList" class="form-control">
                <option value="">All Programs</option>
            </select>
            <span asp-validation-for="Event.ProgramId" class="text-danger"></span>
        </div>
    </div>

    @if (Model.CanRelateChallenge)
    {
        <input asp-for="CanRelateChallenge" type="hidden" />
        <input asp-for="Event.ChallengeId" type="hidden" />
        <input asp-for="Event.ChallengeGroupId" type="hidden" />
        <div class="row row-spacing">
            <div class="col-xs-12">
                <label class="control-label">Related Challenge/Group</label>
                <table id="challengeTable" class="table table-condensed table-bordered table-striped hide">
                    <thead>
                        <tr>
                            <th>Challenge Name</th>
                            <th>Badge</th>
                            <th width="44px">Active</th>
                            <th width="44px">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="challengeList"></tbody>
                </table>
                <table id="groupTable" class="table table-condensed table-bordered table-striped hide">
                    <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Description</th>
                            <th>Link</th>
                            <th width="44px">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="groupList"></tbody>
                </table>
                <div id="noRelated" class="alert alert-warning" style="margin-bottom: 10px;">No related challenges or challenge groups.</div>
                <button type="button" id="addButton" class="btn btn-default" style="display: block"><span class="relatedText">@(Model.Event?.Challenge != null || Model.Event?.ChallengeGroup != null ? "Change" : "Add")</span> Related Challenge</button>
            </div>
        </div>
    }
    @if (Model.CanAddSecretCode)
    {
        <input asp-for="CanAddSecretCode" type="hidden" />
        <input asp-for="IncludeSecretCode" type="hidden" />
        <input asp-for="UseBadgeMaker" type="hidden" />
        <input asp-for="BadgeMakerUrl" type="hidden" />
        <input asp-for="BadgeMakerImage" type="hidden" />

        <div class="panel-group" id="accordionSecretCode" role="tablist" aria-multiselectable="true">
            <div class="panel @(Model.RequireSecretCode ? "panel-warning" : "panel-info")">
                <div class="panel-heading" role="tab" id="headingSecretCode">
                    <h4 class="panel-title">
                        @if (Model.RequireSecretCode)
                        {
                            <text>Add a Secret Code with this Event</text>
                        }
                        else
                        {
                            <a role="button" data-toggle="collapse" data-parent="#accordionSecretCode" href="#collapseSecretCode" aria-expanded="true" aria-controls="collapseSecretCode">
                                <span id="secretCodeIcon" class="fa fa-lg @(Model.IncludeSecretCode ? "fa-caret-down" : "fa-caret-right")"></span>
                            </a>
                        }
                    </h4>
                </div>
                <div id="collapseSecretCode" class="panel-collapse collapse @(Model.IncludeSecretCode ? "in" : "")" role="tabpanel" aria-labelledby="headingSecretCode">
                    <div class="panel-body">
                        <div class="row row-spacing">
                            <div class="col-xs-12">
                                <label asp-for="SecretCode" class="control-label"></label>
                                <span id="SecretCode-Icon" class="fa colored-icon hide"></span>
                                <input asp-for="SecretCode" class="form-control secretCodeField @(Model.IncludeSecretCode ? "" : "ignore")" />
                                <span id="SecretCode-Validation" asp-validation-for="SecretCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row row-spacing">
                            <div class="col-xs-12">
                                <label asp-for="AwardMessage" class="control-label"></label>
                                <textarea asp-for="AwardMessage" class="form-control secretCodeField @(Model.IncludeSecretCode ? "" : "ignore")"></textarea>
                                <span asp-validation-for="AwardMessage" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row row-spacing">
                            <div class="col-xs-12">
                                <label asp-for="AwardPoints" class="control-label"></label>
                                <input asp-for="AwardPoints" min="0" class="form-control secretCodeField @(Model.IncludeSecretCode ? "" : "ignore")" />
                                <span asp-validation-for="AwardPoints" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row row-spacing">
                            <div class="col-xs-12">
                                <label class="control-label">Award Badge</label>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-3">
                                <img id="badgeImage" class="img-thumbnail badge-lg" src="@Model.BadgeMakerImage" style="height:210px;" />
                                <span asp-validation-for="BadgeMakerImage" class="text-danger" style="display:block;"></span>
                            </div>

                            <div class="col-xs-12 col-sm-8 col-md-9">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class=@(Model.UseBadgeMaker ? "active" : "")>
                                        <a id="badgeTab" href="#badge" aria-controls="badge" role="tab" data-toggle="tab">Badge Maker</a>
                                    </li>
                                    <li role="presentation" class=@(Model.UseBadgeMaker ? "" : "active")>
                                        <a id="uploadTab" href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload an Image</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane @(Model.UseBadgeMaker ? "active" : "")" id="badge">
                                        <button id="openMaker" type="button" class="btn btn-default">
                                            <span class="fa fa-certificate"></span> Create a Badge
                                        </button>
                                    </div>
                                    <div role="tabpanel" class="tab-pane @(Model.UseBadgeMaker ? "" : "active")" id="upload">
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    <span class="fa fa-file-image-o"></span> Select an image<input type="file" asp-for="BadgeUploadImage" accept=".png,.jpg,.jpeg" style="display: none;" />
                                                </span>
                                            </label>
                                            <input type="text" class="form-control" readonly id="selectedFile">
                                        </div>
                                        <div>
                                            <span asp-validation-for="BadgeUploadImage" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to List</a>
        <button type="submit" class="btn btn-primary">
            <span class="buttonText">Create Event</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>

@section scripts {
    <script>
        $("#pickerStart").datetimepicker({
            @if (Model.Event?.AllDay == true)
            {
                <text>format: "MM/DD/YYYY",</text>
            }
            allowInputToggle: true,
            sideBySide: true,
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-arrow-left",
                next: "fa fa-arrow-right"
            }
        });

        $("#pickerEnd").datetimepicker({
            format: "@(Model.Event?.AllDay == true ? "MM/DD/YYYY" : "hh:mm A")",
            allowInputToggle: true,
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-arrow-left",
                next: "fa fa-arrow-right"
            }
        });

        $("#Event_AllDay").on("change", function() {
            if ($("#Event_AllDay").is(":checked"))
            {
                $("#pickerStart").data("DateTimePicker").format("MM/DD/YYYY");
                $("#pickerEnd").data("DateTimePicker").format("MM/DD/YYYY");
            }
            else
            {
                $("#pickerStart").data("DateTimePicker").format("MM/DD/YYYY hh:mm A");
                $("#pickerEnd").data("DateTimePicker").format("hh:mm A");
            }
        });

        $("#viewLocationList").on("click", function() {
            $("#branchGroup").addClass("hide");
            $("#locationGroup").removeClass("hide");
            $("#UseLocation").val("true");
        });

        $("#viewBranchList").on("click", function() {
            $("#locationGroup").addClass("hide");
            $("#branchGroup").removeClass("hide");
            $("#UseLocation").val("false");
        });

        $("#SystemId").on("change", function() {
            var systemId = $(this).val();
            var branchList = $("#Event_AtBranchId");
            var branchId = branchList.val();
            var url = "@Url.Action("GetBranches", "Lookup", new { Area = string.Empty })";

            $.getJSON(url, { systemId: systemId, branchId: branchId, listAll: "false", prioritize: "true" }, function(response) {
                branchList.empty();
                branchList.append(new Option("", ""));
                $.each(response, function(index, item) {
                    branchList.append(new Option(item.text, item.value, item.selected, item.selected))
                });
            });
        });

        @if (Model.CanManageLocations)
        {
            <text>
            $(document).on("click", "#addLocation", function() {

                var name = $("#Location_Name");
                if (name.valid())
                {
                    var address = $("#Location_Address");
                    var url = $("#Location_Url");
                    var telephone = $("#Location_Telephone");
                    var jsonUrl = "@Url.Action("AddLocationReturnList", "Events")";
                    var locationList = $("#Event_AtLocationId");
                    $.getJSON(jsonUrl, { name: name.val(), address: address.val(), url: url.val(), telephone: telephone.val() }, function(response) {
                        if (response.success == true) {
                            locationList.empty();
                            locationList.append(new Option("", ""));
                            $.each(response.data, function (index, item) {
                                locationList.append(new Option(item.text, item.value, item.selected, item.selected))
                            });
                            $("#addModal").modal("hide");
                            name.val("");
                            address.val("");
                            url.val("");
                            telephone.val("");
                        }
                        else {
                            alert(response.message)
                        }
                    });
                }
            });
            </text>
        }

        @if (Model.CanAddSecretCode)
        {
        <text>
            $.validator.setDefaults({
                ignore: ".ignore"
            });

            $("#collapseSecretCode").on("show.bs.collapse", function() {
                $("#IncludeSecretCode").val("true");
                $("#secretCodeIcon").removeClass("fa-caret-right").addClass("fa-caret-down");
                $(".secretCodeField").removeClass("ignore");
            });

            $("#collapseSecretCode").on("hide.bs.collapse", function() {
                $("#IncludeSecretCode").val("false");
                $("#secretCodeIcon").removeClass("fa-caret-down").addClass("fa-caret-right");
                $(".secretCodeField").addClass("ignore");
            });

            $(':file').on('fileselect', function(event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles = ' files selected' : label;

                if (input.length)
                {
                    input.val(log);
                    $('.btn-file').removeClass('btn-default');
                    $('.btn-file').addClass('btn-success');
                    $("#badgeImage").removeAttr("src");
                    $("#badgeImage").height(200);
                    $("#BadgeMakerImage").val("");
                }
                else
                {
                    input.val('');
                    $('.btn-file').addClass('btn-default');
                    $('.btn-file').removeClass('btn-success');
                }
            });

            $(document).on('change', ':file', function() {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            $("#badgeTab").on('show.bs.tab', function() {
                $("#UseBadgeMaker").val("true");
            });

            $("#uploadTab").on('show.bs.tab', function() {
                $("#UseBadgeMaker").val("false");
            });

            $("#openMaker").on("click", function() {
                $("#badgeMaker").attr("src", "@Html.Raw(@Model.BadgeMakerUrl)");
                $("#badgeModal").modal("show");
            });

            $(window).on("message", function(e) {
                $("#badgeModal").modal("hide");
                var data = e.originalEvent.data;
                $("#badgeImage").attr("src", data);
                $("#badgeImage").height(200);
                $("#BadgeMakerImage").val(data);
                $('#BadgeUploadImage').val('');
                $('.btn-file').addClass('btn-default');
                $('.btn-file').removeClass('btn-success');
                $('#selectedFile').val('');
            });

            $("#SecretCode").on("blur", function () {
                if ($(this).val() != "" && !$(this).hasClass("input-validation-error")) {
                    var codeCheckUrl = "@Url.Action("SecretCodeInUse", "Lookup")";
                    var icon = $("#SecretCode-Icon");
                    icon.removeClass("hide fa-times fa-check");
                    icon.addClass("fa-spinner fa-spin");
                    $.post(codeCheckUrl, { secretCode: $(this).val() }, function (response) {
                        if (response) {
                            $("#SecretCode").removeClass("valid");
                            $("#SecretCode").addClass("input-validation-error");
                            $("#SecretCode-Validation").removeClass("field-validation-valid");
                            $("#SecretCode-Validation").addClass("field-validation-error");
                            $("#SecretCode-Validation").text("That secret code is already in use.");
                            icon.removeClass("fa-spinner fa-spin");
                            icon.addClass("fa-times");
                        }
                        else {
                            $("#SecretCode-Validation").removeClass("field-validation-valid");
                            $("#SecretCode-Validation").text("That secret code is available.");
                            icon.removeClass("fa-spinner fa-spin");
                            icon.addClass("fa-check");
                        }
                    });
                }
            });

            $("#SecretCode").on("keypress", function () {
                $("#SecretCode-Icon").addClass("hide");
            });
        </text>
        }

        @if (Model.CanRelateChallenge)
        {
            <text>
            var challengesUrl = "@Url.Action("GetChallengeList", "Lookup")";
            var groupsUrl = "@Url.Action("GetChallengeGroupList", "Lookup")";
            var challengePage = 1;
            var challengeScope = "All";
            var challengeSearch = "";
            var groupPage = 1;
            var groupSearch = "";
            var challengesLoaded = false;
            var groupsLoaded = false;

            function UpdateChallengeList() {
                $.get(challengesUrl,
                    {
                        challengeIds: $("#Event_ChallengeId").val(),
                        scope: challengeScope,
                        search: challengeSearch,
                        showActive: true,
                        page: challengePage
                    }, function(response) {
                        $("#modalChallengeList").html(response);
                    });
            }
            function UpdateGroupList() {
                $.get(groupsUrl,
                    {
                        challengeGroupIds: $("#Event_ChallengeGroupId").val(),
                        search: groupSearch,
                        showActive: true,
                        page: groupPage
                    }, function (response) {
                        $("#modalGroupList").html(response);
                    });
            }

            $("#challengeTab").on("show.bs.tab", function () {
                if (challengesLoaded == false) {
                    UpdateChallengeList();
                    challengesLoaded = true;
                }
            });

            $("#groupTab").on("show.bs.tab", function () {
                if (groupsLoaded == false) {
                    UpdateGroupList();
                    groupsLoaded = true;
                }
            });

            $("#addButton").on('click', function(e) {
                $("#listModal").modal("show");
                if ($("#challenge").hasClass("active")) {
                    if (challengesLoaded == false) {
                        UpdateChallengeList();
                        challengesLoaded = true;
                    }
                }
                else {
                    if (groupsLoaded == false) {
                        UpdateGroupList();
                        groupsLoaded = true;
                    }
                }
            });

            $(document).on("click", ".addChallengeButton, .addGroupButton", function () {
                if (!$(this).hasClass("disabled")) {
                    var row = $(this).parent().parent().clone();
                    var addedItem = row.find(".addChallengeButton, .addGroupButton");
                    addedItem.removeClass("addChallengeButton addGroupButton")
                    addedItem.children().removeClass("fa-plus-circle text-primary");
                    addedItem.children().addClass("fa-minus-circle text-danger");
                    addedItem.addClass("removeRelatedButton");

                    $("#noRelated").addClass("hide");

                    if ($(this).hasClass("addChallengeButton")) {
                        $("#Event_ChallengeId").val($(this).data("id"))
                        $("#Event_ChallengeGroupId").val("")
                        $("#challengeTable").removeClass("hide");
                        $("#groupTable").addClass("hide");
                        $("#challengeList").html(row);
                        $("#groupList").html("");
                    }
                    else {
                        $("#Event_ChallengeId").val("")
                        $("#Event_ChallengeGroupId").val($(this).data("id"))
                        $("#challengeTable").addClass("hide");
                        $("#groupTable").removeClass("hide");
                        $("#challengeList").html("");
                        $("#groupList").html(row);
                    }

                    $("#listModal").modal("hide");
                    $(".relatedText").text("Change");
                    challengesLoaded = false;
                    groupsLoaded = false;

                    setTimeout(function () { $(this).parent().parent().remove() }, 500);

                }
            });

            $(document).on("click", ".removeRelatedButton", function () {
                $("#Event_ChallengeId,#Event_ChallengeGroupId").val("");
                $(this).parent().parent().remove();
                $("#challengeTable, #groupTable").addClass("hide");
                $("#noRelated").removeClass("hide");
                $(".relatedText").text("Add");
                challengesLoaded = false;
                groupsLoaded = false;
            });

            $(".challengeScope").on("click", function(e) {
                e.preventDefault();
                $(this).siblings().removeClass("active");
                $(this).addClass().addClass("active");
                scope = $(this).attr("id");
                page = 1;
                UpdateChallengeList();
            });

            $("#challengeSearchButton").on("click", function () {
                challengeSearch = $("#challengeSearchText").val();
                if (challengeSearch != "")
                {
                    $("#challengeSearchMessage").removeClass("hide");
                    $("#challengeSearchTerm").html(challengeSearch);
                }
                else
                {
                    $("#challengeSearchMessage").addClass("hide");
                }
                challengePage = 1;
                UpdateChallengeList();
            })

            $("#challengeClearButton").on("click", function() {
                $("#challengeSearchText").val("");
                challengeSearch = "";
                $("#challengeSearchMessage").addClass("hide");
                challengePage = 1;
                UpdateChallengeList();
            })

            $("#groupSearchButton").on("click", function () {
                groupSearch = $("#groupSearchText").val();
                if (groupSearch != "") {
                    $("#groupSearchMessage").removeClass("hide");
                    $("#groupSearchTerm").html(groupSearch);
                }
                else {
                    $("#groupSearchMessage").addClass("hide");
                }
                groupPage = 1;
                UpdateGroupList();
            })

            $("#groupClearButton").on("click", function () {
                $("#groupSearchText").val("");
                groupSearch = "";
                $("#groupSearchMessage").addClass("hide");
                groupPage = 1;
                UpdateGroupList();
            })

            $(document).on("click", ".page-button", function () {
                if (!$(this).hasClass("disabled")) {
                    if ($("#challenge").hasClass("active")) {
                        challengePage = $(this).data("page");
                        UpdateChallengeList();
                    }
                    else {
                        groupPage = $(this).data("page");
                        UpdateGroupList();
                    }
                }
            });
            </text>
        }
    </script>
}