@model GRA.Controllers.ViewModel.MissionControl.Events.EventsDetailViewModel

@section styles {
    <style>
        .tab-pane {
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-radius: 0px 0px 6px 6px;
            border-right: 1px solid #ddd;
            padding: 1rem;
        }
    </style>
}

<form asp-controller="Events"
      asp-action="Create"
      id="createForm"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <input asp-for="UseLocation" type="hidden" />
    <input asp-for="Event.ParentEventId" type="hidden" />
    <input name="Event.IsCommunityExperience"
           value="@Model.NewCommunityExperience.ToString()"
           type="hidden" />

    <div class="row my-2">
        <div class="col-12">
            <label asp-for="Event.Name" class="col-form-label"></label>
            <input asp-for="Event.Name" class="form-control event-name-field" />
            <span asp-validation-for="Event.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-8 col-sm-10">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label asp-for="Event.StartDate" class="col-form-label"></label>
                    <div current-value="@Model.Event?.StartDate"
                         datetimepicker-container
                         id="startDatePicker">
                        <input asp-for="Event.StartDate"
                               datetimepicker-input
                               type="text"
                               value="" />
                    </div>
                    <span asp-validation-for="Event.StartDate" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6">
                    <label asp-for="Event.EndDate" class="col-form-label"></label>
                    <div current-value="@Model.Event?.EndDate"
                         datetimepicker-container
                         id="endDatePicker">
                        <input asp-for="Event.EndDate"
                               datetimepicker-input
                               type="text"
                               value="" />
                    </div>
                    <span asp-validation-for="Event.EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-2 text-center">
            <label asp-for="Event.AllDay" class="col-form-label form-check-label"></label>
            <input asp-for="Event.AllDay"
                   class="form-check-input d-block mx-auto"
                   style="width: 1.5rem; height: 1.5rem;" />
            <span asp-validation-for="Event.AllDay" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <label asp-for="Event.Description" class="col-form-label"></label>
            <textarea asp-for="Event.Description" class="form-control" rows="5"> </textarea>
            <span asp-validation-for="Event.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <label asp-for="Event.ExternalLink" class="col-form-label"></label>
            <input asp-for="Event.ExternalLink" class="form-control" />
            <span asp-validation-for="Event.ExternalLink" class="text-danger"></span>
        </div>
    </div>

    <div id="branchGroup" class="@(Model.UseLocation ? "d-none" : "" )">
        <div class="row my-2">
            <div class="col-12">
                <label asp-for="SystemId" class="col-form-label"></label>
                <select asp-for="SystemId"
                        asp-items="Model.SystemList"
                        class="form-select"></select>
                <span asp-validation-for="SystemId" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-12">
                <label asp-for="Event.AtBranchId" class="col-form-label"></label>
                <label style="font-size: 12px;">
                    <a id="viewLocationList" style="text-decoration:none;cursor:pointer">
                        View location list
                    </a>
                </label>
                <select asp-for="Event.AtBranchId" asp-items="Model.BranchList" class="form-select">
                </select>
                <span asp-validation-for="Event.AtBranchId" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div id="locationGroup"
         class="row my-2
            @(Model.UseLocation ? "" : "d-none" )">
        <div class="col-12">
            <label asp-for="Event.AtLocationId" class="col-form-label"></label>
            <label style="font-size: 12px;">
                <a id="viewBranchList" style="text-decoration:none;cursor:pointer">
                    View library list
                </a>
            </label>
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <select asp-for="Event.AtLocationId"
                            asp-items="Model.LocationList"
                            class="form-select">
                    </select>
                </div>
                @if (Model.CanManageLocations)
                {
                    <div>
                        <button type="button"
                                class="btn btn-outline-primary btn-sm ms-2"
                                data-bs-toggle="modal"
                                data-bs-target="#addModal">
                            <span class="fas fa-fw fa-plus"></span>
                        </button>
                    </div>
                }
            </div>
            <span asp-validation-for="Event.AtLocationId" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <label asp-for="Event.ProgramId" class="col-form-label"></label>
            <select asp-for="Event.ProgramId"
                    asp-items="Model.ProgramList"
                    class="form-select">
                <option value="">All Programs</option>
            </select>
            <span asp-validation-for="Event.ProgramId" class="text-danger"></span>
        </div>
    </div>

    @if (Model.CanRelateChallenge)
    {
        <input asp-for="CanRelateChallenge" type="hidden" />
        <input asp-for="Event.ChallengeId" type="hidden" />
        <input asp-for="Event.ChallengeGroupId" type="hidden" />
        <div class="row my-2">
            <div class="col-12">
                <label class="col-form-label">
                    Related Challenge/Group
                </label>
                <table id="challengeTable"
                       class="table table-sm table-bordered table-striped d-none">
                    <thead>
                        <tr>
                            <th>Challenge Name</th>
                            <th style="width: 75px">Active</th>
                            <th style="width: 75px">Badge</th>
                            <th style="width: 75px">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="challengeList"></tbody>
                </table>
                <table id="groupTable"
                       class="table table-sm table-bordered table-striped d-none">
                    <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Description</th>
                            <th>Link</th>
                            <th style="width: 75px">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="groupList"></tbody>
                </table>
                <div id="noRelated"
                     class="alert alert-warning"
                     style="margin-bottom: 0.5rem;">
                    No related challenges or challenge groups.
                </div>
                <button type="button"
                        id="addButton"
                        class="btn btn-outline-primary"
                        style="display: block">
                    <span class="relatedText">
                        @(Model.Event?.Challenge != null || Model.Event?.ChallengeGroup != null ? "Change" : "Add")
                    </span> Related Challenge
                </button>
            </div>
        </div>
    }

    @if (Model.CanAddSecretCode)
    {
        <input asp-for="CanAddSecretCode" type="hidden" />
        <input asp-for="IncludeSecretCode" type="hidden" />
        <input asp-for="UseBadgeMaker" type="hidden" />
        <input asp-for="BadgeMakerUrl" type="hidden" />
        <input asp-for="BadgeMakerImage" type="hidden" />
        <div class="list-group mt-4"
             id="accordionSecretCode"
             role="tablist"
             aria-multiselectable="true">
            <div class="card">
                <div class="card-header @(Model.RequireSecretCode ? "bg-warning-subtle" : "bg-info-subtle")"
                     role="tab"
                     id="headingSecretCode">
                    <h4 class="card-title">
                        @if (Model.RequireSecretCode)
                        {
                            <text>Add Secret Code to this event (required)</text>
                        }
                        else
                        {
                            <a role="button"
                               data-bs-toggle="collapse"
                               data-bs-parent="#accordionSecretCode"
                               href="#collapseSecretCode" aria-expanded="true"
                               aria-controls="collapseSecretCode">
                                <span id="secretCodeIcon"
                                      class="fas fa-lg @(Model.IncludeSecretCode ? "fa-caret-down" : "fa-caret-right")"></span>
                                Add Secret Code to this event
                            </a>
                        }
                    </h4>
                </div>
                <div id="collapseSecretCode"
                     class="card-collapse collapse@(Model.IncludeSecretCode ? "-show" : "")"
                     role="tabpanel"
                     aria-labelledby="headingSecretCode">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="SecretCode" class="col-form-label"></label>
                                <span id="SecretCode-Icon" class="fa colored-icon d-none"></span>
                                <input asp-for="SecretCode"
                                       class="form-control secretCodeField @(Model.IncludeSecretCode ? "" : "ignore")" />
                                <span id="SecretCode-Validation"
                                      asp-validation-for="SecretCode"
                                      class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-12">
                                <label asp-for="AwardMessage" class="col-form-label"></label>
                                <textarea asp-for="AwardMessage"
                                          class="form-control secretCodeField @(Model.IncludeSecretCode ? "" : "ignore")"></textarea>
                                <span asp-validation-for="AwardMessage" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-12">
                                <label asp-for="AwardPoints" class="col-form-label"></label>
                                @if (Model.MaxPointLimit.HasValue)
                                {
                                    <small>(Up to @Model.MaxPointLimit points)</small>
                                }
                                <input asp-for="AwardPoints"
                                       min="0"
                                       class="form-control secretCodeField @(Model.IncludeSecretCode ? "" : "ignore")" />
                                <span asp-validation-for="AwardPoints" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-12">
                                @if (!string.IsNullOrWhiteSpace(Model.BadgeMakerImage))
                                {
                                    <label class="col-form-label">Edit badge image</label>
                                }
                                else
                                {
                                    <label class="col-form-label">Add a badge</label>
                                }
                            </div>

                            <div class="col-12 col-sm-4 col-md-3">
                                @if (!string.IsNullOrWhiteSpace(Model.BadgeMakerImage))
                                {
                                    <input asp-for="BadgeMakerImage" type="hidden" />
                                    <img id="badgeImage"
                                         class="img-thumbnail badge-lg"
                                         src="~/@Model.BadgeMakerImage?@DateTime.Now.ToString("yyMMddHHmmss")" />
                                }
                                else
                                {
                                    <img id="badgeImage"
                                         class="img-thumbnail badge-lg"
                                         src="@Model.BadgeMakerImage" />
                                }
                                <span asp-validation-for="BadgeMakerImage"
                                      class="text-danger d-block"></span>
                            </div>



                            <div class="col-12 col-sm-8 col-md-9">
                                <label asp-for="BadgeUploadImage" class="col-form-label"></label>
                                <div class="input-group mb-3">
                                    <input type="file"
                                           class="form-control"
                                           asp-for="BadgeUploadImage"
                                           accept=".jpg,.png" />
                                    <button class="btn btn-outline-secondary"
                                            type="button"
                                            onclick="$('#BadgeUploadImage').val('')">
                                        Clear selection
                                    </button>
                                </div>
                                <span asp-validation-for="BadgeUploadImage" class="text-danger mb-3"></span>
                                <div class="mb-3">
                                    <label asp-for="BadgeAltText" class="col-form-label"></label>
                                    <span class="fas fa-info-circle wide-tooltip"
                                          title="How should this badge be described to someone who can't see it?"
                                          data-bs-toggle="tooltip"
                                          data-bs-placement="top"></span>
                                    <textarea asp-for="BadgeAltText" class="form-control"></textarea>
                                    <span asp-validation-for="BadgeAltText" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-end">
            <a asp-action="Index" class="btn btn-outline-secondary me-2">
                Return to List
            </a>
            <button button-spinner
                    class="btn btn-outline-primary"
                    id="saveEvent"
                    type="submit">
                <span class="buttonText">
                    Create @(Model.NewCommunityExperience ? "Community Experience" : "Event")
                </span>
            </button>
        </div>
    </div>
</form>

@if (Model.IgnorePointLimits && Model.MaxPointLimit != null)
{
    <div class="modal fade"
         id="warningModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="warningModalLabel">
        <div class="modal-dialog"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"
                        id="deleteModalLabel">
                        Warning: Award points exceed maximum
                    </h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                          aria-hidden="true"></span>
                    <span id="modal-text">
                        The awarded points for this trigger exceed the maximum of
                        <strong>@Model.MaxPointLimit points per task</strong>.
                        Do you wish to continue?
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal"
                            style="margin-right: 1em;">
                        Cancel
                    </button>
                    <button id="warningSave"
                            type="button"
                            class="btn btn-outline-primary"
                            data-bs-dismiss="modal"
                            style="margin-right: 1em;">
                        Save Challenge
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.CanRelateChallenge)
{
    <div aria-labelledby="listModalLabel"
         class="modal fade"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         id="listModal"
         role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h4 modal-title lead">
                            <span class="relatedText">
                                @(Model.Event?.Challenge != null || Model.Event?.ChallengeGroup != null ? "Change" : "Add")
                            </span> challenge/group
                        </h1>
                    </div>
                    <div class="card-body pt-2">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="nav-item">
                                <button class="nav-link active"
                                        id="challengeTab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#challenge"
                                        type="button"
                                        role="tab"
                                        aria-controls="challenge"
                                        aria-selected="true">
                                    Challenge
                                </button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button aria-controls="group"
                                        aria-selected="false"
                                        class="nav-link"
                                        data-bs-target="#group"
                                        data-bs-toggle="tab"
                                        id="profile-tab"
                                        role="tab"
                                        type="button">
                                    Challenge Group
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="challenge">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <ul class="nav nav-pills">
                                            <li id="All" class="nav-item challengeScope">
                                                <a class="nav-link active">All</a>
                                            </li>
                                            <li id="System" class="nav-item challengeScope">
                                                <a class="nav-link">My System</a>
                                            </li>
                                            <li id="Branch" class="nav-item challengeScope">
                                                <a class="nav-link">My Branch</a>
                                            </li>
                                            <li id="Mine" class="nav-item challengeScope">
                                                <a class="nav-link">Mine</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <form class="d-inline" onsubmit="return false;">
                                            <div class="input-group">
                                                <input id="challengeSearchText"
                                                       class="form-control"
                                                       placeholder="Enter text to search for a challenge here" />
                                                <button type="button"
                                                        id="challengeClearButton"
                                                        class="btn btn-outline-secondary">
                                                    Clear
                                                </button>
                                                <input type="submit"
                                                       id="challengeSearchButton"
                                                       class="btn btn-outline-primary"
                                                       value="Search" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="challengeSearchMessage" class="row d-none">
                                    <div class="col-12">
                                        <p class="mb-0 pt-1 ps-2">
                                            Searching for: <strong id="challengeSearchTerm"></strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div id="modalChallengeList" class="col-12">
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="group">
                                <div class="row my-2">
                                    <div class="col-12">
                                        <form class="d-inline" onsubmit="return false;">
                                            <div class="input-group">
                                                <input id="groupSearchText"
                                                       class="form-control"
                                                       placeholder="Enter text to search for a challenge group here" />
                                                <button type="button"
                                                        id="groupClearButton"
                                                        class="btn btn-outline-secondary">
                                                    Clear
                                                </button>
                                                <input type="submit"
                                                       id="groupSearchButton"
                                                       class="btn btn-outline-primary"
                                                       value="Search" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="groupSearchMessage" class="row d-none">
                                    <div class="col-12">
                                        <p class="mb-0 pt-1 ps-2">
                                            Searching for: <strong id="groupSearchTerm"></strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div id="modalGroupList" class="col-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.CanAddSecretCode)
{
    <div class="modal fade frame-modal"
         id="badgeModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="badgeModalLabel">
        <div class="modal-content">
            <div class="modal-body" style="padding: 30px;">
                <span class="close frame-close fa-stack fa-lg gra-close-stack gra-close-stack-absolute"
                      data-bs-dismiss="modal"
                      alt="Close dialog."
                      role="button">
                    <span class="fas fa-circle fa-stack-2x fa-inverse"></span>
                    <span class="fas fa-times-circle fa-stack-1x fa-lg gra-close-times"></span>
                </span>
                <iframe id="badgeMaker" class="badge-maker"></iframe>
            </div>
        </div>
    </div>
}

@if (Model.CanManageLocations)
{
    <form id="addLocationForm">
        <div class="modal fade"
             id="addModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="addModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="addModalLabel">Add location</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="Location.Name" class="col-form-label"></label>
                            <input asp-for="Location.Name" class="form-control" />
                            <span asp-validation-for="Location.Name"
                                  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Location.Address"
                                   class="col-form-label">
                                Address (include city, state and zip)
                            </label>
                            <input asp-for="Location.Address"
                                   class="form-control addressInput" />
                            <span asp-validation-for="Location.Address"
                                  class="text-danger"></span>
                        </div>
                        @if (Model.ShowGeolocation)
                        {
                            <div class="mb-3 hide mapContainer">
                                <iframe height="180"
                                        width="400"
                                        frameborder="0"
                                        style="border:0"></iframe>
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="Location.Url" class="col-form-label"></label>
                            <input asp-for="Location.Url" type="url" class="form-control" />
                            <span asp-validation-for="Location.Url" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Location.Telephone" class="col-form-label"></label>
                            <input asp-for="Location.Telephone" type="tel" class="form-control" />
                            <span asp-validation-for="Location.Telephone"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button id="addLocation"
                                type="button"
                                class="btn btn-outline-primary float-end"
                                aria-label="Confirm">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}

@section scripts {
    <script>
        $("#SecretCode").on("keypress", function () {
            $("#SecretCode-Icon").addClass("d-none");
        });
    </script>

    @if (Model.IgnorePointLimits && Model.MaxPointLimit != null)
    {
        <script>
            $("#saveEvent").on("click", function (e) {
                e.preventDefault();
                if ($("#AwardPoints").val() > @Model.MaxPointLimit && $("#AwardPoints").val() != @Model.MaxPointLimit) {
                    $('#warningModal').modal("show");
                }
                else {
                    $("#createForm").submit();
                }
            });

            $("#warningSave").on("click", function () {
                $("#createForm").submit();
            });

            $("#warningModal").on("hide.bs.modal", function () {
                $("#saveEvent").removeClass("disabled");
                $("#saveEvent").find(".fa-spinner").addClass("hidden");
            });
        </script>
    }

    <script>
        const eventAllDayCheckbox = document.getElementById('Event_AllDay')

        const datePickers = [
            {
                pickerObject: {},
                pickerElement: document.getElementById("startDatePicker")
            },
            {
                pickerObject: {},
                pickerElement: document.getElementById("endDatePicker")
            }
        ];

        function graRefreshPickerElements() {
            datePickers.forEach((item) =>
            {
                if(item.pickerObject && item.pickerObject.dispose) { item.pickerObject.dispose(); }
                if(eventAllDayCheckbox.checked) {
                    item.pickerObject = graInitalizePickerDate(item.pickerElement);
                } else {
                    item.pickerObject = graInitalizePickerDatetime(item.pickerElement);
                }
                item.pickerObject.toggle();
                item.pickerObject.toggle();
            });
        }

        graRefreshPickerElements();
        document.getElementById("Event_AllDay").addEventListener("change", graRefreshPickerElements);

        $("#viewLocationList").on("click", function () {
            $("#branchGroup").addClass("d-none");
            $("#locationGroup").removeClass("d-none");
            $("#UseLocation").val("true");
        });

        $("#viewBranchList").on("click", function () {
            $("#locationGroup").addClass("d-none");
            $("#branchGroup").removeClass("d-none");
            $("#UseLocation").val("false");
        });

        $("#SystemId").on("change", function () {
            let systemId = $(this).val();
            let branchList = $("#Event_AtBranchId");
            let branchId = branchList.val();
            let url = "@Url.Action(nameof(GRA.Controllers.LookupController.GetBranches), GRA.Controllers.LookupController.Name, new { Area = string.Empty })";

            $.getJSON(url, {
                systemId: systemId,
                branchId: branchId,
                listAll: "false",
                prioritize: "true"
            }, function (response) {
                branchList.empty();
                branchList.append(new Option("", ""));
                $.each(response, function (index, item) {
                    branchList.append(new Option(item.text,
                        item.value,
                        item.selected,
                        item.selected));
                });
                if ($("#Event_AtBranchId>option").length === 2
                    && $("#Event_AtBranchId>option:eq(0)").val() === "") {
                    $("#Event_AtBranchId>option:eq(1)").prop('selected', true);
                }
            });
        });
    </script>

    @if (Model.CanManageLocations)
    {
        <script>
            const addLocationUrl = "@Url.Action(nameof(EventsController.AddLocationReturnList), EventsController.Name)";

            $(document).on("click", "#addLocation", function () {
                let name = $("#Location_Name");
                let address = $("#Location_Address")
                name.validate();
                address.validate();

                if (name.valid() && address.valid()) {
                    let locationList = $("#Event_AtLocationId");
                    let telephone = $("#Location_Telephone");
                    let url = $("#Location_Url");
                    $.getJSON(addLocationUrl, {
                        name: name.val(),
                        address: address.val(),
                        url: url.val(),
                        telephone: telephone.val()
                    }, function (response) {
                        if (response.success == true) {
                            locationList.empty();
                            locationList.append(new Option("", ""));
                            $.each(response.data, function (_, item) {
                                locationList.append(new Option(item.text,
                                    item.value,
                                    item.selected,
                                    item.selected))
                            });
                            $("#addModal").modal("hide");
                            name.val("");
                            address.val("");
                            url.val("");
                            telephone.val("");

                            if (response.message != null) {
                                alert(response.message);
                            }
                        }
                        else {
                            alert(response.message)
                        }
                    });
                }
            });
        </script>

        @if (Model.ShowGeolocation)
        {
            <script>
                const mapsUrl = "https://www.google.com/maps/embed/v1/place?key=@Model.GoogleMapsAPIKey&q=";

                $(".addressInput").on("change", function () {
                    let input = $(this);
                    let address = input.val();
                    let mapContainer = input.parent().siblings(".mapContainer");

                    if (address.length == 0) {
                        mapContainer.addClass("d-none");
                    }
                    else {
                        mapContainer.removeClass("d-none");
                        mapContainer.children().attr("src", mapsUrl + address);
                    }
                });
            </script>
        }
    }

    @if (Model.CanAddSecretCode)
    {
        <script>
            $.validator.setDefaults({
                ignore: ".ignore"
            });

            $("#collapseSecretCode").on("show.bs.collapse", function () {
                $("#IncludeSecretCode").val("true");
                $("#secretCodeIcon").removeClass("fa-caret-right").addClass("fa-caret-down");
                $(".secretCodeField").removeClass("ignore");
            });

            $("#collapseSecretCode").on("hide.bs.collapse", function () {
                $("#IncludeSecretCode").val("false");
                $("#secretCodeIcon").removeClass("fa-caret-down").addClass("fa-caret-right");
                $(".secretCodeField").addClass("ignore");
            });

            $("#badgeTab").on('show.bs.tab', function () {
                $("#UseBadgeMaker").val("true");
            });

            $("#uploadTab").on('show.bs.tab', function () {
                $("#UseBadgeMaker").val("false");
            });

            $("#openMaker").on("click", function () {
                $("#badgeMaker").attr("src", "@Html.Raw(@Model.BadgeMakerUrl)");
                $("#badgeModal").modal("show");
            });

            $(window).on("message", function (e) {
                $("#badgeModal").modal("hide");
                let data = e.originalEvent.data;
                $("#badgeImage").attr("src", data);
                $("#badgeImage").height(200);
                $("#BadgeMakerImage").val(data);
                $('#BadgeUploadImage').val('');
                $('.btn-file').addClass('btn-secondary');
                $('.btn-file').removeClass('btn-outline-success');
                $('#selectedFile').val('');
            });

            const codeCheckUrl = "@Url.Action(nameof(LookupController.SecretCodeInUse), LookupController.Name)";

            $("#SecretCode").on("blur", function () {
                if ($(this).val() != "" && !$(this).hasClass("input-validation-error")) {
                    let icon = $("#SecretCode-Icon");
                    icon.removeClass("d-none fa-times fa-check");
                    icon.addClass("fa-spinner fa-spin");
                    $.post(codeCheckUrl, { secretCode: $(this).val() }, function (response) {
                        if (response) {
                            $("#SecretCode").removeClass("valid");
                            $("#SecretCode").addClass("input-validation-error");
                            $("#SecretCode-Validation").removeClass("text-success");
                            $("#SecretCode-Validation").addClass("text-danger");
                            $("#SecretCode-Validation").removeClass("field-validation-valid");
                            $("#SecretCode-Validation").addClass("field-validation-error");
                            $("#SecretCode-Validation").text("That secret code is already in use.");
                            icon.removeClass("fa-spinner fa-spin");
                            icon.addClass("fa-times");
                        }
                        else {
                            $("#SecretCode-Validation").removeClass("field-validation-valid");
                            $("#SecretCode-Validation").text("That secret code is available.");
                            $("#SecretCode-Validation").removeClass("text-danger");
                            $("#SecretCode-Validation").addClass("text-success");
                            icon.removeClass("fa-spinner fa-spin");
                            icon.addClass("fa-check");
                        }
                    });
                }
            });

            $("#SecretCode").on("keypress", function () {
                $("#SecretCode-Icon").addClass("d-none");
            });
        </script>
    }

    @if (Model.CanRelateChallenge)
    {
        <script>
            var challengePage = 1;
            var challengeScope = "All";
            var challengeSearch = "";
            var challengesLoaded = false;
            const challengesUrl = "@Url.Action(nameof(LookupController.GetChallengeList), LookupController.Name)";
            var groupPage = 1;
            var groupSearch = "";
            var groupsLoaded = false;
            const groupsUrl = "@Url.Action(nameof(LookupController.GetChallengeGroupList), LookupController.Name)";

            function UpdateChallengeList() {
                $.get(challengesUrl,
                    {
                        challengeIds: $("#Event_ChallengeId").val(),
                        scope: challengeScope,
                        search: challengeSearch,
                        showActive: true,
                        page: challengePage
                    }, function (response) {
                        $("#modalChallengeList").html(response);
                    });
            }

            function UpdateGroupList() {
                $.get(groupsUrl,
                    {
                        challengeGroupIds: $("#Event_ChallengeGroupId").val(),
                        search: groupSearch,
                        showActive: true,
                        page: groupPage
                    }, function (response) {
                        $("#modalGroupList").html(response);
                    });
            }

            $("#challengeTab").on("show.bs.tab", function () {
                if (challengesLoaded == false) {
                    UpdateChallengeList();
                    challengesLoaded = true;
                }
            });

            $("#groupTab").on("show.bs.tab", function () {
                if (groupsLoaded == false) {
                    UpdateGroupList();
                    groupsLoaded = true;
                }
            });

            $("#addButton").on('click', function (e) {
                $("#listModal").modal("show");
                if (challengesLoaded == false) {
                    UpdateChallengeList();
                    challengesLoaded = true;
                }
                if (groupsLoaded == false) {
                    UpdateGroupList();
                    groupsLoaded = true;
                }
            });

            $(document).on("click", ".addChallengeButton, .addGroupButton", function () {
                if (!$(this).hasClass("disabled")) {
                    let row = $(this).parent().parent().clone();
                    let addedItem = row.find(".addChallengeButton, .addGroupButton");
                    addedItem.removeClass("addChallengeButton addGroupButton btn-outline-success")
                    addedItem.children().removeClass("fa-plus-circle");
                    addedItem.children().addClass("fa-times");
                    addedItem.addClass("btn-outline-danger removeRelatedButton");

                    $("#noRelated").addClass("d-none");

                    if ($(this).hasClass("addChallengeButton")) {
                        $("#Event_ChallengeId").val($(this).data("id"))
                        $("#Event_ChallengeGroupId").val("")
                        $("#challengeTable").removeClass("d-none");
                        $("#groupTable").addClass("d-none");
                        $("#challengeList").html(row);
                        $("#groupList").html("");
                    }
                    else {
                        $("#Event_ChallengeId").val("")
                        $("#Event_ChallengeGroupId").val($(this).data("id"))
                        $("#challengeTable").addClass("d-none");
                        $("#groupTable").removeClass("d-none");
                        $("#challengeList").html("");
                        $("#groupList").html(row);
                    }

                    $("#listModal").modal("hide");
                    $(".relatedText").text("Change");
                    challengesLoaded = false;
                    groupsLoaded = false;

                    setTimeout(function () { $(this).parent().parent().remove() }, 500);
                }
            });

            $(document).on("click", ".removeRelatedButton", function () {
                $("#Event_ChallengeId,#Event_ChallengeGroupId").val("");
                $(this).parent().parent().remove();
                $("#challengeTable, #groupTable").addClass("d-none");
                $("#noRelated").removeClass("d-none");
                $(".relatedText").text("Add");
                challengesLoaded = false;
                groupsLoaded = false;
            });

            $(".challengeScope").on("click", function (e) {
                e.preventDefault();
                $(this).siblings().children().removeClass("active");
                $(this).children().addClass("active");
                challengeScope = $(this).attr("id");
                page = 1;
                UpdateChallengeList();
            });

            $("#challengeSearchButton").on("click", function () {
                challengeSearch = $("#challengeSearchText").val();
                if (challengeSearch != "") {
                    $("#challengeSearchMessage").removeClass("d-none");
                    $("#challengeSearchTerm").html(challengeSearch);
                }
                else {
                    $("#challengeSearchMessage").addClass("d-none");
                }
                challengePage = 1;
                UpdateChallengeList();
            })

            $("#challengeClearButton").on("click", function () {
                $("#challengeSearchText").val("");
                challengeSearch = "";
                $("#challengeSearchMessage").addClass("d-none");
                challengePage = 1;
                UpdateChallengeList();
            })

            $("#groupSearchButton").on("click", function () {
                groupSearch = $("#groupSearchText").val();
                if (groupSearch != "") {
                    $("#groupSearchMessage").removeClass("d-none");
                    $("#groupSearchTerm").html(groupSearch);
                }
                else {
                    $("#groupSearchMessage").addClass("d-none");
                }
                groupPage = 1;
                UpdateGroupList();
            })

            $("#groupClearButton").on("click", function () {
                $("#groupSearchText").val("");
                groupSearch = "";
                $("#groupSearchMessage").addClass("d-none");
                groupPage = 1;
                UpdateGroupList();
            })

            $(document).on("click", ".page-button", function () {
                if (!$(this).hasClass("disabled")) {
                    if ($("#challenge").hasClass("active")) {
                        challengePage = $(this).data("page");
                        UpdateChallengeList();
                    }
                    else {
                        groupPage = $(this).data("page");
                        UpdateGroupList();
                    }
                }
            });

            $(function () {
                $('.event-name-field').first().focus();
                if ($("#Event_AtBranchId>option").length === 2
                    && $("#Event_AtBranchId>option:eq(0)").val() === "") {
                    $("#Event_AtBranchId>option:eq(1)").prop('selected', true);
                }
            });
        </script>
    }
}