@model GRA.Controllers.ViewModel.MissionControl.Events.EventsDetailViewModel

@if (Model.CanRelateChallenge)
{
    <div class="row">
        <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="lead"><span class="relatedText">@(Model.Event.Challenge != null || Model.Event.ChallengeGroup != null ? "Change" : "Add")</span> challenge/group</span>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active" )>
                                        <a id="challengeTab" href="#challenge" aria-controls="challenge" role="tab" data-toggle="tab">Challenge</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a id="groupTab" href="#group" aria-controls="group" role="tab" data-toggle="tab">Challenge Group</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="challenge">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <ul class="nav nav-pills" style="padding: 10px 0;">
                                                    <li id="All" class="active challengeScope">
                                                        <a>All</a>
                                                    </li>
                                                    <li id="System" class="challengeScope">
                                                        <a>My System</a>
                                                    </li>
                                                    <li id="Branch" class="challengeScope">
                                                        <a>My Branch</a>
                                                    </li>
                                                    <li id="Mine" class="challengeScope">
                                                        <a>Mine</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="row row-spacing">
                                            <div class="col-xs-8">
                                                <input id="challengeSearchText" class="form-control"
                                                       placeholder="Enter text to search for an challenge here" />
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="col-xs-6">
                                                    <button type="button" id="challengeSearchButton" class="btn btn-default btn-block" style="margin-right: 8px;">Search</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button type="button" id="challengeClearButton" class="btn btn-default btn-block">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="challengeSearchMessage" class="row hide">
                                            <div class="col-xs-12">
                                                <p class="alert-sm alert-info">Searching for '<strong id="challengeSearchTerm"></strong>'</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="modalChallengeList" class="col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="group">
                                        <div class="row row-spacing" style="padding-top: 10px;">
                                            <div class="col-xs-8">
                                                <input id="groupSearchText" class="form-control"
                                                       placeholder="Enter text to search for an challenge group here" />
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="col-xs-6">
                                                    <button type="button" id="groupSearchButton" class="btn btn-default btn-block" style="margin-right: 8px;">Search</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button type="button" id="groupClearButton" class="btn btn-default btn-block">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="groupSearchMessage" class="row hide">
                                            <div class="col-xs-12">
                                                <p class="alert-sm alert-info">Searching for '<strong id="groupSearchTerm"></strong>'</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="modalGroupList" class="col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.CanManageLocations)
{
    <div class="row">
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
            <div class="modal-dialog" role="document">
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="addModalLabel">Add location</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label asp-for="Location.Name" class="control-label"></label>
                                <input asp-for="Location.Name" class="form-control" />
                                <span asp-validation-for="Location.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Location.Address" class="control-label"></label>
                                <input asp-for="Location.Address" class="form-control" />
                                <span asp-validation-for="Location.Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Location.Url" class="control-label"></label>
                                <input asp-for="Location.Url" class="form-control" />
                                <span asp-validation-for="Location.Url" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Location.Telephone" class="control-label"></label>
                                <input asp-for="Location.Telephone" class="form-control" />
                                <span asp-validation-for="Location.Telephone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                            <button id="addLocation" type="button" class="btn btn-primary pull-right" aria-label="Confirm">
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<form asp-controller="Events" asp-action="Edit" method="post" role="form">

    <input asp-for="UseLocation" type="hidden" />
    <input asp-for="Event.Id" type="hidden" />
    <input asp-for="Event.IsActive" type="hidden" />
    <input asp-for="Event.IsValid" type="hidden" />
    <input asp-for="Event.ParentEventId" type="hidden" />
    <input asp-for="Event.RelatedBranchId" type="hidden" />
    <input asp-for="Event.RelatedSystemId" type="hidden" />
    <input asp-for="Event.RelatedTriggerId" type="hidden" />

    @if (Model.CanAddSecretCode)
    {
        <input asp-for="CanAddSecretCode" type="hidden" />
        @if (Model.Event.RelatedTriggerId.HasValue)
        {
            <div class="row" style="padding-top:10px;">
                <div class="col-xs-12">
                    <a asp-controller="Triggers" asp-action="Edit" asp-route-id="@Model.Event.RelatedTriggerId" target="_blank" class="btn btn-default">
                        View Related Trigger
                    </a>
                </div>
            </div>
        }
    }

    <div class="row" style="padding: 10px 0;">
        <div class="col-xs-12">
            <label asp-for="Event.Name" class="control-label"></label>
            <input asp-for="Event.Name" class="form-control" />
            <span asp-validation-for="Event.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Event.IsCommunityExperience" class="control-label"></label>
            <select asp-for="Event.IsCommunityExperience" class="form-control">
                <option value="false">Event</option>
                <option value="true">Community Experience</option>
            </select>
            <span asp-validation-for="Event.IsCommunityExperience" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-10 ">
            <div class="row">
                <div class="col-xs-12 col-sm-6 row-spacing">
                    <label asp-for="Event.StartDate" class="control-label"></label>
                    <div class="input-group date" id="pickerStart">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                        <input asp-for="Event.StartDate" type="text" class="form-control" />
                    </div>
                    <span asp-validation-for="Event.StartDate" class="text-danger"></span>
                </div>
                <div class="col-xs-12 col-sm-6 row-spacing">
                    <label asp-for="Event.EndDate" class="control-label"></label>
                    <div class="input-group date" id="pickerEnd">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                        <input asp-for="Event.EndDate" type="text" value="@(Model.Event.AllDay ? Model.Event.EndDate?.ToString() : Model.Event.EndDate?.ToString("t"))" class="form-control" />
                    </div>
                    <span asp-validation-for="Event.EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 row-spacing">
            <label asp-for="Event.AllDay" class="control-label center-label" style="text-align:center;"></label>
            <input asp-for="Event.AllDay" class="form-control form-checkbox" />
            <span asp-validation-for="Event.AllDay" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Event.Description" class="control-label"></label>
            <textarea asp-for="Event.Description" class="form-control" rows="5"> </textarea>
            <span asp-validation-for="Event.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Event.ExternalLink" class="control-label"></label>
            <input asp-for="Event.ExternalLink" class="form-control" />
            <span asp-validation-for="Event.ExternalLink" class="text-danger"></span>
        </div>
    </div>

    <div id="branchGroup" class="@(Model.UseLocation ? "hide" : "" )">
        <div class="row row-spacing">
            <div class="col-xs-12">
                <label asp-for="SystemId" class="control-label"></label>
                <select asp-for="SystemId" asp-items="Model.SystemList" class="form-control"></select>
                <span asp-validation-for="SystemId" class="text-danger"></span>
            </div>
        </div>

        <div class="row row-spacing">
            <div class="col-xs-12">
                <label asp-for="Event.AtBranchId" class="control-label"></label>
                <label style="font-size: 12px;">
                    <a id="viewLocationList" style="text-decoration:none;cursor:pointer">View Location list</a>
                </label>
                <select asp-for="Event.AtBranchId" asp-items="Model.BranchList" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="Event.AtBranchId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div id="locationGroup" class="row row-spacing @(Model.UseLocation ? "" : "hide" )">
        <div class="col-xs-12">
            <label asp-for="Event.AtLocationId" class="control-label"></label>
            <a id="viewBranchList" style="text-decoration:none;cursor:pointer">View Location list</a>
            <input asp-for="CanManageLocations" type="hidden" />
            <div style="display:flex">
                <select asp-for="Event.AtLocationId" asp-items="Model.LocationList" class="form-control">
                    <option></option>
                </select>
                @if (Model.CanManageLocations)
                {
                    <button type="button" class="btn btn-primary btn-xs" style="margin-left:8px;"
                            data-toggle="modal" data-target="#addModal">
                        <span class="fa fa-2x fa-plus"></span>
                    </button>
                }
            </div>
            <span asp-validation-for="Event.AtLocationId" class="text-danger"></span>

        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Event.ProgramId" class="control-label"></label>
            <select asp-for="Event.ProgramId" asp-items="Model.ProgramList" class="form-control">
                <option value="">All Programs</option>
            </select>
            <span asp-validation-for="Event.ProgramId" class="text-danger"></span>
        </div>
    </div>

    @if (Model.CanRelateChallenge || Model.Event.Challenge != null || Model.Event.ChallengeGroup != null)
    {

        <div class="row row-spacing">
            <div class="col-xs-12">
                <label class="control-label">Related Challenge/Group</label>
                <table id="challengeTable" class="table table-condensed table-bordered table-striped @(Model.Event.Challenge == null ? "hide" : "")">
                    <thead>
                        <tr>
                            <th>Challenge Name</th>
                            <th>Badge</th>
                            <th width="44px">Active</th>
                            @if (Model.CanRelateChallenge)
                            {
                                <th width="44px">&nbsp;</th>
                            }
                        </tr>
                    </thead>
                    <tbody id="challengeList">
                        @if (Model.Event.Challenge != null)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@Model.Event.Challenge.Id" target="_blank">@Model.Event.Challenge.Name</a>
                                </td>
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(Model.Event.Challenge.BadgeFilename))
                                    {
                                        <img class="img-thumbnail" style="height: auto; width: 64px;"
                                             src="~/@Model.Event.Challenge.BadgeFilename?@DateTime.Now.ToString("yyMMddHHmmss")"
                                             asp-append-version="true" />
                                    }
                                    else
                                    {
                                        <text>&nbsp;</text>
                                    }
                                </td>
                                <td class="gra-mc-icon">
                                    @if (Model.Event.Challenge.IsActive)
                                    {
                                        <span class="fa fa-lg fa-check text-success"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-lg fa-ban text-danger"></span>
                                    }
                                </td>
                                @if (Model.CanRelateChallenge)
                                {
                                    <td class="gra-mc-icon">
                                        <button type="button" class="btn btn-link btn-xs removeRelatedButton">
                                            <span class="fa fa-2x fa-minus-circle text-danger" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <table id="groupTable" class="table table-condensed table-bordered table-striped @(Model.Event.ChallengeGroup == null ? "hide" : "")">
                    <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Description</th>
                            <th>Link</th>
                            @if (Model.CanRelateChallenge)
                            {
                                <th width="44px">&nbsp;</th>
                            }
                        </tr>
                    </thead>
                    <tbody id="groupList">
                        @if (Model.Event.ChallengeGroup != null)
                        {
                            <tr>
                                <td>
                                    @if (Model.CanEditGroups)
                                    {
                                        <a asp-controller="Challenges" asp-action="EditGroup" asp-route-id="@Model.Event.ChallengeGroup.Id" target="_blank">@Model.Event.ChallengeGroup.Name</a>
                                    }
                                    else
                                    {
                                        @Model.Event.ChallengeGroup.Name
                                    }
                                </td>
                                <td>
                                    @Model.Event.ChallengeGroup.Description
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Challenges" asp-action="List" asp-route-id="@Model.Event.ChallengeGroup.Stub" target="_blank">@Model.Event.ChallengeGroup.Stub</a>
                                </td>
                                @if (Model.CanRelateChallenge)
                                {
                                    <td class="gra-mc-icon">
                                        <button type="button"
                                                class="btn btn-link btn-xs removeRelatedButton"
                                                data-id="@Model.Event.ChallengeGroup.Id">
                                            <span class="fa fa-2x fa-minus-circle text-danger" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="noRelated" class="alert alert-warning @(Model.Event.Challenge != null || Model.Event.ChallengeGroup != null ? "hide" : "")" style="margin-bottom: 10px;">No related challenges or challenge groups.</div>
                @if (Model.CanRelateChallenge)
                {
                    <input asp-for="CanRelateChallenge" type="hidden" />
                    <input asp-for="Event.ChallengeId" type="hidden" />
                    <input asp-for="Event.ChallengeGroupId" type="hidden" />
                    <button type="button" id="addButton" class="btn btn-default" style="display: block"><span class="relatedText">@(Model.Event.Challenge != null || Model.Event.ChallengeGroup != null ? "Change" : "Add")</span> Related Challenge</button>
                }
            </div>
        </div>
    }

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to List</a>
        <a asp-action="Create" asp-route-id="@Model.Event.Id" class="btn btn-default">Copy Event</a>
        <button type="submit" class="btn btn-primary">
            <span class="buttonText">Edit Event</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>

@section scripts
    {
    <script>
        $("#pickerStart").datetimepicker({
            @if (Model.Event != null && Model.Event.AllDay)
            {
                <text>format: "MM/DD/YYYY",</text>
            }
            allowInputToggle: true,
            sideBySide: true,
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-arrow-left",
                next: "fa fa-arrow-right"
            }
        });

        $("#pickerEnd").datetimepicker({
            format: "@(Model.Event?.AllDay == true ? "MM/DD/YYYY" : "hh:mm A")",
            allowInputToggle: true,
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-arrow-left",
                next: "fa fa-arrow-right"
            }
        });

        $("#Event_AllDay").on("change", function() {
            if ($("#Event_AllDay").is(":checked"))
            {
                $("#pickerStart").data("DateTimePicker").format("MM/DD/YYYY");
                $("#pickerEnd").data("DateTimePicker").format("MM/DD/YYYY");
            }
            else
            {
                $("#pickerStart").data("DateTimePicker").format("MM/DD/YYYY hh:mm A");
                $("#pickerEnd").data("DateTimePicker").format("hh:mm A");
            }
        });

        $("#viewLocationList").on("click", function() {
            $("#branchGroup").addClass("hide");
            $("#locationGroup").removeClass("hide");
            $("#UseLocation").val("true");
        });

        $("#viewBranchList").on("click", function() {
            $("#locationGroup").addClass("hide");
            $("#branchGroup").removeClass("hide");
            $("#UseLocation").val("false");
        });

        $("#SystemId").on("change", function() {
            var systemId = $(this).val();
            var branchList = $("#Event_AtBranchId");
            var branchId = branchList.val();
            var url = "@Url.Action("GetBranches", "Lookup", new { Area = string.Empty })";

            $.getJSON(url, { systemId: systemId, branchId: branchId, listAll: "false", prioritize: "true" }, function(response) {
                branchList.empty();
                branchList.append(new Option("", ""));
                $.each(response, function(index, item) {
                    branchList.append(new Option(item.text, item.value, item.selected, item.selected))
                });
            });
        });

        @if (Model.CanManageLocations)
        {
        <text>
        $(document).on("click", "#addLocation", function() {

            var name = $("#Location_Name");
            if (name.valid())
            {
                var address = $("#Location_Address");
                var url = $("#Location_Url");
                var telephone = $("#Location_Telephone");
                var jsonUrl = "@Url.Action("AddLocationReturnList", "Events")";
                var locationList = $("#Event_AtLocationId");
                $.getJSON(jsonUrl, { name: name.val(), address: address.val(), url: url.val(), telephone: telephone.val() }, function (response) {
                    if (response.success == true) {
                        locationList.empty();
                        locationList.append(new Option("", ""));
                        $.each(response.data, function(index, item) {
                            locationList.append(new Option(item.text, item.value, item.selected, item.selected))
                        });
                        $("#addModal").modal("hide");
                        name.val("");
                        address.val("");
                        url.val("");
                        telephone.val("");
                    }
                    else {
                        alert(response.message)
                    }
                });
            }
        });
        </text>
        }
/**/
        @if (Model.CanRelateChallenge)
        {
            <text>
            var challengesUrl = "@Url.Action("GetChallengeList", "Lookup")";
            var groupsUrl = "@Url.Action("GetChallengeGroupList", "Lookup")";
            var challengePage = 1;
            var challengeScope = "All";
            var challengeSearch = "";
            var groupPage = 1;
            var groupSearch = "";
            var challengesLoaded = false;
            var groupsLoaded = false;

            function UpdateChallengeList() {
                $.get(challengesUrl,
                    {
                        challengeIds: $("#Event_ChallengeId").val(),
                        scope: challengeScope,
                        search: challengeSearch,
                        showActive: true,
                        page: challengePage
                    }, function(response) {
                        $("#modalChallengeList").html(response);
                    });
            }
            function UpdateGroupList() {
                $.get(groupsUrl,
                    {
                        challengeGroupIds: $("#Event_ChallengeGroupId").val(),
                        search: groupSearch,
                        showActive: true,
                        page: groupPage
                    }, function (response) {
                        $("#modalGroupList").html(response);
                    });
            }

            $("#challengeTab").on("show.bs.tab", function () {
                if (challengesLoaded == false) {
                    UpdateChallengeList();
                    challengesLoaded = true;
                }
            });

            $("#groupTab").on("show.bs.tab", function () {
                if (groupsLoaded == false) {
                    UpdateGroupList();
                    groupsLoaded = true;
                }
            });

            $("#addButton").on('click', function(e) {
                $("#listModal").modal("show");
                if ($("#challenge").hasClass("active")) {
                    if (challengesLoaded == false) {
                        UpdateChallengeList();
                        challengesLoaded = true;
                    }
                }
                else {
                    if (groupsLoaded == false) {
                        UpdateGroupList();
                        groupsLoaded = true;
                    }
                }
            });

            $(document).on("click", ".addChallengeButton, .addGroupButton", function () {
                if (!$(this).hasClass("disabled")) {
                    var row = $(this).parent().parent().clone();
                    var addedItem = row.find(".addChallengeButton, .addGroupButton");
                    addedItem.removeClass("addChallengeButton addGroupButton")
                    addedItem.children().removeClass("fa-plus-circle text-primary");
                    addedItem.children().addClass("fa-minus-circle text-danger");
                    addedItem.addClass("removeRelatedButton");

                    $("#noRelated").addClass("hide");

                    if ($(this).hasClass("addChallengeButton")) {
                        $("#Event_ChallengeId").val($(this).data("id"))
                        $("#Event_ChallengeGroupId").val("")
                        $("#challengeTable").removeClass("hide");
                        $("#groupTable").addClass("hide");
                        $("#challengeList").html(row);
                        $("#groupList").html("");
                    }
                    else {
                        $("#Event_ChallengeId").val("")
                        $("#Event_ChallengeGroupId").val($(this).data("id"))
                        $("#challengeTable").addClass("hide");
                        $("#groupTable").removeClass("hide");
                        $("#challengeList").html("");
                        $("#groupList").html(row);
                    }

                    $("#listModal").modal("hide");
                    $(".relatedText").text("Change");
                    challengesLoaded = false;
                    groupsLoaded = false;

                    setTimeout(function () { $(this).parent().parent().remove() }, 500);

                }
            });

            $(document).on("click", ".removeRelatedButton", function () {
                $("#Event_ChallengeId, #Event_ChallengeGroupId").val("");
                $(this).parent().parent().remove();
                $("#challengeTable, #groupTable").addClass("hide");
                $("#noRelated").removeClass("hide");
                $(".relatedText").text("Add");
                challengesLoaded = false;
                groupsLoaded = false;
            });

            $(".challengeScope").on("click", function(e) {
                e.preventDefault();
                $(this).siblings().removeClass("active");
                $(this).addClass().addClass("active");
                scope = $(this).attr("id");
                page = 1;
                UpdateChallengeList();
            });

            $("#challengeSearchButton").on("click", function () {
                challengeSearch = $("#challengeSearchText").val();
                if (challengeSearch != "")
                {
                    $("#challengeSearchMessage").removeClass("hide");
                    $("#challengeSearchTerm").html(challengeSearch);
                }
                else
                {
                    $("#challengeSearchMessage").addClass("hide");
                }
                challengePage = 1;
                UpdateChallengeList();
            })

            $("#challengeClearButton").on("click", function() {
                $("#challengeSearchText").val("");
                challengeSearch = "";
                $("#challengeSearchMessage").addClass("hide");
                challengePage = 1;
                UpdateChallengeList();
            })

            $("#groupSearchButton").on("click", function () {
                groupSearch = $("#groupSearchText").val();
                if (groupSearch != "") {
                    $("#groupSearchMessage").removeClass("hide");
                    $("#groupSearchTerm").html(groupSearch);
                }
                else {
                    $("#groupSearchMessage").addClass("hide");
                }
                groupPage = 1;
                UpdateGroupList();
            })

            $("#groupClearButton").on("click", function () {
                $("#groupSearchText").val("");
                groupSearch = "";
                $("#groupSearchMessage").addClass("hide");
                groupPage = 1;
                UpdateGroupList();
            })

            $(document).on("click", ".page-button", function () {
                if (!$(this).hasClass("disabled")) {
                    if ($("#challenge").hasClass("active")) {
                        challengePage = $(this).data("page");
                        UpdateChallengeList();
                    }
                    else {
                        groupPage = $(this).data("page");
                        UpdateGroupList();
                    }
                }
            });
            </text>
        }
    </script>
}