@model GRA.Controllers.ViewModel.MissionControl.Events.EventsListViewModel

@await Html.PartialAsync("_EventsPartial")

<div class="row my-4">
    <div class="col-12">
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
                <a class="nav-link @(Model.ActiveNav == "All" ? "active" : "")"
                    asp-route-ProgramId="@Model.ProgramId"
                    asp-route-Search="@Model.Search">All</a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link @(Model.ActiveNav == "System" ? "active" : "")"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false">
                    @(Model.SystemName ?? "System") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var system in Model.SystemList)
                    {
                        <li>
                            <a class="dropdown-item"
                                asp-route-ProgramId="@Model.ProgramId"
                                asp-route-Search="@Model.Search"
                                asp-route-SystemId="@system.Id">@system.Name</a>
                        </li>
                    }
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link @(Model.ActiveNav == "Branch" ? "active" : "")"
                   data-bs-toggle="dropdown"
                   href="#" role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    @(Model.BranchName ?? "Branch") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var branch in Model.BranchList)
                    {
                        <li>
                            <a class="dropdown-item"
                               asp-route-BranchId="@branch.Id" 
                               asp-route-ProgramId="@Model.ProgramId"
                               asp-route-Search="@Model.Search">@branch.Name</a>
                        </li>
                    }
                </ul>
            </li>
            <li class="nav-item">
                <a asp-route-Search="@Model.Search"
                   asp-route-Mine="True"
                   asp-route-ProgramId="@Model.ProgramId"
                   class="nav-link @(Model.ActiveNav == "Mine" ? "active" : "")">Mine</a>
            </li>
            <li class="nav-item d-none d-sm-block"><a class="nav-link disabled">|</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown"
                   href="#"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Limitations: @(Model.ProgramName) <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-route-BranchId="@Model.BranchId" 
                           asp-route-Mine="@Model.Mine"
                           asp-route-Search="@Model.Search" 
                           asp-route-SystemId="@Model.SystemId"
                           class="dropdown-item">Show All</a>
                    </li>
                    <li>
                        <a asp-route-BranchId="@Model.BranchId" 
                           asp-route-Mine="@Model.Mine" 
                           asp-route-ProgramId="0"
                           asp-route-Search="@Model.Search" 
                           asp-route-SystemId="@Model.SystemId"
                           class="dropdown-item">Not Limited</a>
                    </li>
                    @foreach (var program in Model.ProgramList)
                    {
                        <li>
                            <a asp-route-BranchId="@Model.BranchId" 
                                asp-route-Mine="@Model.Mine"
                                asp-route-ProgramId="@program.Id" 
                                asp-route-Search="@Model.Search" 
                                asp-route-SystemId="@Model.SystemId" 
                                class="dropdown-item">@program.Name</a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>

<form asp-controller="Events" asp-action="@Model.ActionTarget" method="get" role="form">
    @if (Model.SystemId.HasValue)
    {
        <input asp-for="SystemId" type="hidden" />
    }
    @if (Model.BranchId.HasValue)
    {
        <input asp-for="BranchId" type="hidden" />
    }
    @if (Model.Mine == true)
    {
        <input asp-for="Mine" type="hidden" />
    }
    @if (Model.ProgramId.HasValue)
    {
        <input asp-for="ProgramId" type="hidden" />
    }
    <div class="row my-4">
        <div class="col-12 col-sm-2">
            <label class="col-form-label fs-5">Search:</label>
        </div>
        <div class="col-12 col-sm-10">
            <input asp-for="Search" class="form-control" />
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-6 col-lg-8 d-none d-sm-block">&nbsp;</div>
        <div class="col-12 col-sm-3 col-lg-2 d-grid my-1">
            <a asp-action="Index" 
            asp-route-BranchId="@Model.BranchId" 
            asp-route-Mine="@Model.Mine" 
            asp-route-ProgramId="@Model.ProgramId" 
            asp-route-SystemId="@Model.SystemId" 
            class="btn btn-outline-secondary">Clear</a>
        </div>
        <div class="col-12 col-sm-3 col-lg-2 d-grid my-1">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </div>
</form>

<div class="row my-4">
    <div class="col-12">
        @if (Model.Streaming)
        {
            <a asp-action="Create"
               asp-route-streamingEvent="true"
               class="btn btn-outline-primary">Create a new streaming event</a>
        }
        else if (Model.CommunityExperience)
        {
            <a asp-action="Create"
               asp-route-communityExperience="true"
               class="btn btn-outline-primary">Create a new community experience</a>
        }
        else
        {
            <a asp-action="Create" class="btn btn-outline-primary">Create a new event</a>
        }
    </div>
</div>

<div class="row my-4">
    <div class="col-12">
        @if (Model.Events.Count() == 0)
        {
            <div class="alert alert-warning">No Events</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            @if (!Model.Streaming)
                            {
                                <th>Branch/Locations</th>
                            }
                            <th>Start Date</th>
                            @if (Model.Streaming)
                            {
                                <th>Streaming Ends</th>
                            }
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eventItem in Model.Events)
                        {
                            var streamingNowClass = Model.Streaming && eventItem.StartDate <= DateTime.Now && eventItem.StreamingAccessEnds >= DateTime.Now ? "alert-info" : "";
                            <tr class="@streamingNowClass">
                                <td class="td-class">
                                    <a asp-action="Edit" asp-route-id="@eventItem.Id" class="rowlink">
                                        @eventItem.Name
                                    </a>
                                </td>
                                @if (!Model.Streaming)
                                {
                                    <td>@eventItem.EventLocationName</td>
                                    <td>@eventItem.StartDate.ToString("d")</td>
                                }
                                else
                                {
                                    <td>@eventItem.StartDate</td>

                                }
                                @if (Model.Streaming)
                                {
                                    <td>@eventItem.StreamingAccessEnds</td>
                                }

                                <td class="on-top gra-mc-icon">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@eventItem.Id"
                                            data-name="@eventItem.Name"
                                            data-relatedtriggerid="@eventItem.RelatedTriggerId">
                                        <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row my-4">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4"
                        id="deleteModalLabel">
                        Delete @(Model.CommunityExperience ? "community experience" : "event")
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                        
                    </button>
                </div>
                <div class="modal-body">
                    <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal"
                            style="margin-right: 1em;">
                        Cancel
                    </button>
                    <form asp-controller="Events"
                          asp-action="Delete"
                          asp-route-communityExperience="@Model.CommunityExperience"
                          method="post"
                          role="form"
                          style="display:inline">
                        <input id="Id" name="Id" type="hidden" />
                        <button type="submit"
                                class="btn btn-outline-danger float-end"
                                aria-label="Confirm">
                            <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var triggerUrl = "@Url.Action("Edit", "Triggers")";
        $(document).ready(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var relatedTriggerId = button.data("relatedtriggerid");
            var modal = $(this);
            var deleteText = "Are you sure you want to delete the @(Model.CommunityExperience ? "community experience" : "event") \"" + name + "\"";
            @if (Model.RequireSecretCode)
            {
                <text>
                deleteText += " and its <a href=\"" + triggerUrl + "/" + relatedTriggerId + "\" target=\"_blank\">related trigger</a>";
                </text>
            }
            deleteText += "?";
            modal.find('#modal-text').html(deleteText);
            modal.find('#Id').val(id);
        });
    </script>
}