@model GRA.Controllers.ViewModel.MissionControl.Events.LocationsListViewModel

@await Html.PartialAsync("_EventsPartial")

<div class="row my-4">
    <div class="col-12">
        <a class="btn btn-outline-primary"
           data-bs-toggle="modal"
           data-bs-target="#addModal">Add a Location</a>
    </div>
</div>

<div class="row my-4">
    <div class="col-12">
        @if (Model.Locations.Count() == 0)
        {
            <div class="alert alert-warning">No Locations</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th># of Events</th>
                            @if (Model.ShowGeolocation)
                            {
                                <th>Geolocation</th>
                            }
                            <th width="100">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var location in Model.Locations)
                        {
                            <tr>
                                <td>
                                    @location.Name
                                </td>
                                <td>
                                    @location.Address
                                </td>
                                <td>
                                    @location.EventCount
                                </td>
                                @if (Model.ShowGeolocation)
                                {
                                    <td class="text-center">
                                        @if (!string.IsNullOrWhiteSpace(location.Geolocation))
                                        {
                                            <span class="far fa-check-circle fa-lg text-success"></span>
                                        }
                                        else
                                        {
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-primary geolocateButton"
                                                    data-id="@location.Id"
                                                    button-spinner>
                                                Add geolocation
                                            </button>
                                        }
                                    </td>
                                }
                                <td class="d-flex justify-content-evenly">
                                    <button type="submit"
                                            class="btn btn-outline-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal"
                                            data-id="@location.Id"
                                            data-name="@location.Name"
                                            data-address="@location.Address"
                                            data-url="@location.Url"
                                            data-telephone="@location.Telephone">
                                        <span class="fas fa-fw fa-pencil-alt"
                                              aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@location.Id"
                                            data-name="@location.Name">
                                        <span class="fas fa-times fa-fw"
                                              aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>


<div class="row my-4">
    <div class="modal fade"
         id="addModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <form asp-action="AddLocation"
                  asp-controller="Events"
                  class="d-inline"
                  method="post"
                  role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="addModalLabel">Add location</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="Location.Name" class="col-form-label"></label>
                            <input asp-for="Location.Name" class="form-control" />
                            <span asp-validation-for="Location.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Location.Address" class="col-form-label">
                                Address (include city, state and zip)
                            </label>
                            <input asp-for="Location.Address" class="form-control addressInput" />
                            <span asp-validation-for="Location.Address" class="text-danger"></span>
                        </div>
                        @if (Model.ShowGeolocation)
                        {
                            <div class="mb-3 d-none mapContainer d-flex flex-column">
                                <iframe frameborder="0"
                                        style="border:0; max-height: 200px"></iframe>
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="Location.Url" class="col-form-label"></label>
                            <input asp-for="Location.Url" class="form-control" />
                            <span asp-validation-for="Location.Url" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Location.Telephone" class="col-form-label"></label>
                            <input asp-for="Location.Telephone" class="form-control" />
                            <span asp-validation-for="Location.Telephone"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-end">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-outline-primary float-end"
                                aria-label="Confirm">
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <form asp-action="EditLocation"
                  asp-controller="Events"
                  class="d-inline"
                  method="post"
                  role="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="editModalLabel">Edit location</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body">
                        <input id="Location_Id" name="Location.Id" type="hidden" />
                        <div class="mb-3">
                            <label asp-for="Location.Name" class="col-form-label"></label>
                            <input asp-for="Location.Name" class="form-control" />
                            <span asp-validation-for="Location.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Location.Address"
                                   class="col-form-label">
                                Address (include city, state and zip)
                            </label>
                            <input asp-for="Location.Address" class="form-control addressInput" />
                            <span asp-validation-for="Location.Address" class="text-danger"></span>
                        </div>
                        @if (Model.ShowGeolocation)
                        {
                            <div class="mb-3 d-none mapContainer d-flex flex-column">
                                <iframe frameborder="0"
                                        style="border:0; max-height: 200px"></iframe>
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="Location.Url" class="col-form-label"></label>
                            <input asp-for="Location.Url" class="form-control" />
                            <span asp-validation-for="Location.Url" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Location.Telephone" class="col-form-label"></label>
                            <input asp-for="Location.Telephone" class="form-control" />
                            <span asp-validation-for="Location.Telephone"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-end">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-outline-primary"
                                aria-label="Confirm">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete location</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div class="modal-body d-flex align-items-stretch">
                    <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                          aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer d-flex justify-content-end">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <form asp-controller="Events"
                          asp-action="DeleteLocation"
                          method="post"
                          role="form"
                          style="display:inline">
                        <input id="Id" name="Id" type="hidden" />
                        <button type="submit"
                                class="btn btn-outline-danger"
                                aria-label="Confirm">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#editModal').on('show.bs.modal', function (event) {
            let modal = $(this);
            let button = $(event.relatedTarget);
            let address = button.data('address');
            let id = button.data('id');
            let name = button.data('name');
            let telephone = button.data('telephone');
            let url = button.data('url');
            modal.find('#editModalLabel').text('Edit location - "' + name + '"');
            modal.find('#Location_Address').val(address);
            modal.find('#Location_Id').val(id);
            modal.find('#Location_Name').val(name);
            modal.find('#Location_Telephone').val(telephone);
            modal.find('#Location_Url').val(url);
            modal.find('.mapContainer').addClass('d-none');
            modal.find('.mapContainer').children('iframe').attr('src', '');
        })

        $('#deleteModal').on('show.bs.modal', function (event) {
            let modal = $(this);
            let button = $(event.relatedTarget);
            let id = button.data('id');
            let name = button.data('name');
            modal.find('#Id').val(id);
            modal.find('#modal-text').html('Are you sure you wish to delete the location <strong>' + name + '</strong>?');
        })
    </script>


    @if (Model.ShowGeolocation)
    {
        <script>
            var geolocationUrl = "@Url.Action(nameof(EventsController.SetLocationGeolocation), EventsController.Name)";
            var mapsUrl = "https://www.google.com/maps/embed/v1/place?key=@Model.GoogleMapsAPIKey&q=";

            $(".geolocateButton").on("click", function () {
                let button = $(this);
                if (button.hasClass("disabled") == false) {
                    button.prop("disabled", "disabled");
                    button.children("span").removeClass("hidden");
                    $.post(geolocationUrl, { id: button.data("id") }, function (response) {
                        if (response.success) {
                            button.parent().html("<span class=\"far fa-check-circle fa-lg text-success\"></span>");
                        }
                        else {
                            alert("Unable to set geolocation: " + response.message);
                            button.prop("disabled", false);
                            button.children("span").addClass("hidden");
                        }
                    })
                    .fail(function () {
                        alert("Error setting geolocation");
                        button.prop("disabled", false);
                        button.children("span").addClass("hidden");
                    })
                    .always(function() {
                        ResetSpinners();
                    });
                }
            });

            $(".addressInput").on("change", function () {
                console.info("Address change");
                let input = $(this);
                let address = input.val();
                let mapContainer = input.parent().siblings(".mapContainer");

                if (address.length == 0) {
                    mapContainer.addClass("d-none");
                } else {
                    mapContainer.removeClass("d-none");
                    mapContainer.children().attr("src", mapsUrl + address);
                }
            });
        </script>
    }
}