@model GRA.Controllers.ViewModel.MissionControl.Events.LocationsListViewModel

<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li ActiveBy routeKey="Action" value="Index"><a asp-action="Index">Events</a></li>
            <li ActiveBy routeKey="Action" value="CommunityExperiences"><a asp-action="CommunityExperiences">Community Experiences</a></li>
            <li ActiveBy routeKey="Action" value="Locations"><a asp-action="Locations">Locations</a></li>
            <li ActiveBy routeKey="Action"
                value="StreamingEvents"><a asp-action="StreamingEvents">Streaming Events</a></li>
        </ul>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <a class="btn btn-secondary"
           data-bs-toggle="modal"
           data-bs-target="#addModal">Add a Location</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.Locations.Count() == 0)
        {
            <div class="alert alert-warning">No Locations</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th># of Events</th>
                            @if (Model.ShowGeolocation)
                            {
                                <th>Geolocation</th>
                            }
                            <th width="100">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var location in Model.Locations)
                        {
                            <tr>
                                <td>
                                    @location.Name
                                </td>
                                <td>
                                    @location.Address
                                </td>
                                <td>
                                    @location.EventCount
                                </td>
                                @if (Model.ShowGeolocation)
                                {
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(location.Geolocation))
                                        {
                                            <span class="fas fa-check colored-icon"></span>
                                        }
                                        else
                                        {
                                            <button type="button"
                                                    class="btn btn-sm btn-primary geolocateButton"
                                                    data-id="@location.Id"
                                                    button-spinner>
                                                Add geolocation
                                            </button>
                                        }
                                    </td>
                                }
                                <td>
                                    <button type="submit"
                                            class="btn btn-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal"
                                            data-id="@location.Id"
                                            data-name="@location.Name"
                                            data-address="@location.Address"
                                            data-url="@location.Url"
                                            data-telephone="@location.Telephone">
                                        <span class="fas fa-2x fa-pencil-alt" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm"
                                            style="margin-left:16px;"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@location.Id"
                                            data-name="@location.Name">
                                        <span class="fas fa-2x fa-times" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>


<div class="row">
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Events" asp-action="AddLocation" method="post" role="form" style="display:inline">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="addModalLabel">Add location</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="Location.Name" class="col-form-label"></label>
                            <input asp-for="Location.Name" class="form-control" />
                            <span asp-validation-for="Location.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Location.Address" class="col-form-label">Address (include city, state and zip)</label>
                            <input asp-for="Location.Address" class="form-control addressInput" />
                            <span asp-validation-for="Location.Address" class="text-danger"></span>
                        </div>
                        @if (Model.ShowGeolocation)
                        {
                            <div class="mb-3 hide mapContainer">
                                <iframe height="180" width="400" frameborder="0" style="border:0"></iframe>
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="Location.Url" class="col-form-label"></label>
                            <input asp-for="Location.Url" class="form-control" />
                            <span asp-validation-for="Location.Url" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Location.Telephone" class="col-form-label"></label>
                            <input asp-for="Location.Telephone" class="form-control" />
                            <span asp-validation-for="Location.Telephone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                        <button type="submit" class="btn btn-primary pull-right" aria-label="Confirm">
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Events"
                  asp-action="EditLocation"
                  method="post"
                  role="form"
                  style="display:inline">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="editModalLabel">Edit location</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <input id="Location_Id" name="Location.Id" type="hidden" />
                        <div class="mb-3">
                            <label asp-for="Location.Name" class="col-form-label"></label>
                            <input asp-for="Location.Name" class="form-control" />
                            <span asp-validation-for="Location.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Location.Address"
                                   class="col-form-label">
                                Address (include city, state and zip)
                            </label>
                            <input asp-for="Location.Address" class="form-control addressInput" />
                            <span asp-validation-for="Location.Address" class="text-danger"></span>
                        </div>
                        @if (Model.ShowGeolocation)
                        {
                            <div class="mb-3 hide mapContainer">
                                <iframe frameborder="0" style="border:0"></iframe>
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="Location.Url" class="col-form-label"></label>
                            <input asp-for="Location.Url" class="form-control" />
                            <span asp-validation-for="Location.Url" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Location.Telephone" class="col-form-label"></label>
                            <input asp-for="Location.Telephone" class="form-control" />
                            <span asp-validation-for="Location.Telephone"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary pull-right"
                                aria-label="Confirm">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete location</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                        
                    </button>
                </div>
                <div class="modal-body">
                    <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            style="margin-right: 1em;">
                        Cancel
                    </button>
                    <form asp-controller="Events"
                          asp-action="DeleteLocation"
                          method="post"
                          role="form"
                          style="display:inline">
                        <input id="Id" name="Id" type="hidden" />
                        <button type="submit"
                                class="btn btn-danger pull-right"
                                aria-label="Confirm">
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var address = button.data('address');
            var url = button.data('url');
            var telephone = button.data('telephone');
            var modal = $(this);
            modal.find('#editModalLabel').text('Edit location - "' + name + '"');
            modal.find('#Location_Id').val(id);
            modal.find('#Location_Name').val(name);
            modal.find('#Location_Address').val(address);
            modal.find('#Location_Url').val(url);
            modal.find('#Location_Telephone').val(telephone);
        })

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#modal-text').text('Are you sure you wish to delete the location "' + name + '" ?');
            modal.find('#Id').val(id);
        })
    </script>


    @if (Model.ShowGeolocation)
    {
        <script>
            var geolocationUrl = "@Url.Action(nameof(EventsController.SetLocationGeolocation))";

            var mapsUrl = "https://www.google.com/maps/embed/v1/place?key=@Model.GoogleMapsAPIKey&q=";

            $(".geolocateButton").on("click", function () {
                var button = $(this);
                if (button.hasClass("disabled") == false) {
                    button.attr("disabled", "disabled");
                    button.children("span").removeClass("hidden");
                    $.post(geolocationUrl, { id: button.data("id") }, function (response) {
                        if (response.success) {
                            button.parent().html("<span class=\"fas fa-check colored-icon\"></span>");
                        }
                        else {
                            alert("Unable to set geolocation: " + response.message);
                            button.removeAttr("disabled");
                            button.children("span").addClass("hidden");
                        }
                    })
                    .fail(function () {
                        alert("Error setting geolocation");
                        button.removeAttr("disabled");
                        button.children("span").addClass("hidden");
                    })
                }
            });

            $(".addressInput").on("change", function () {
                var input = $(this);
                var address = input.val();
                var mapContainer = input.parent().siblings(".mapContainer");

                if (address.length == 0) {
                    mapContainer.addClass("d-none");
                }
                else {
                    mapContainer.removeClass("d-none");
                    mapContainer.children().attr("src", mapsUrl + address);
                }
            });
        </script>
    }
}