@model GRA.Controllers.ViewModel.ParticipatingBranches.ParticipatingBranchesViewModel

<h1>Participating Branches</h1>

@foreach(var system in Model.Systems)
{
    if (system.Branches.Count() > 1)
    {
        <h1>@system.Name</h1>
        <ul>
            @foreach (var branch in system.Branches)
            {
                <li><a href="@branch.Url"><h2>@branch.Name</h2></a></li>
            }
        </ul>
    }
    else
    {
        <a href="@system.Branches.FirstOrDefault().Url"><h1>@system.Branches.FirstOrDefault().Name</h1></a>
    }
}