@model GRA.Controllers.ViewModel.ParticipatingBranches.ParticipatingBranchesViewModel

<h1>Participating Branches</h1>

<div class="branch-links">
    @foreach (var system in Model.Systems)
    {
        if (system.Branches.Count() > 1)
        {
            <h2>@system.Name</h2>
            <ul>
                @foreach (var branch in system.Branches)
                {
                    <li class=""><a href="@branch.Url"><h3>@branch.Name</h3></a></li>
                }
            </ul>
        }
        else
        {
            <a href="@system.Branches.FirstOrDefault().Url"><h2>@system.Branches.FirstOrDefault().Name</h2></a>
        }
    }
</div>