@model GRA.Controllers.ViewModel.MissionControl.Home.AuthorizationCodeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[GRA.Controllers.ViewDataKey.Title]</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="/css/main.min.css" />
    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.SiteCss))
    {
        <link rel="stylesheet"
              href="@Url.Content(Context.Items[GRA.Controllers.ItemKey.SiteCss].ToString())" />
    }
</head>
<body class="gra-authorization-code">
    <div class="container body-content">
        <form asp-action="AuthorizationCode" method="post">
            <div class="row py-6 mt-5">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-header">
                            <span class="lead">
                                <grasite property="name"></grasite> - Authorization
                            </span>
                        </div>
                        <div class="card-body py-3">
                            @if (TempData[GRA.Controllers.TempDataKey.AlertDanger] != null)
                            {
                                <div class="row mc-alertrow">
                                    <div class="col-12 col-xl-10 offset-xl-1">
                                        <div class="alert alert-danger">
                                            @Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertDanger])
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (TempData[GRA.Controllers.TempDataKey.AlertWarning] != null)
                            {
                                <div class="row mc-alertrow">
                                    <div class="col-12 col-xl-10 offset-xl-1">
                                        <div class="alert alert-warning">
                                            @Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertWarning])
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (TempData[GRA.Controllers.TempDataKey.AlertSuccess] != null)
                            {
                                <div class="row mc-alertrow">
                                    <div class="col-12 col-xl-10 offset-xl-1">
                                        <div class="alert alert-success">
                                            @Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertSuccess])
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (TempData[GRA.Controllers.TempDataKey.AlertInfo] != null)
                            {
                                <div class="row mc-alertrow">
                                    <div class="col-12 col-xl-10 offset-xl-1">
                                        <div class="alert alert-info">
                                            @Html.Raw(TempData[GRA.Controllers.TempDataKey.AlertInfo])
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="mb-3">
                                <label asp-for="AuthorizationCode" class="h4">
                                    Authorization Code for <grasite property="name"></grasite>:
                                </label>
                                <input asp-for="AuthorizationCode"
                                       class="form-control form-control-lg"
                                       type="password"
                                       autofocus
                                       autocomplete="off"
                                       required>
                                <span asp-validation-for="AuthorizationCode"
                                      class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <div>
                                <a asp-action="@nameof(GRA.Controllers.HomeController.Index)"
                                   asp-area=""
                                   asp-controller="@GRA.Controllers.HomeController.Name"
                                   class="btn btn-lg btn-outline-secondary me-2">
                                    Return to <grasite property="name"></grasite>
                                </a>
                            </div>
                            <div>
                                <button class="btn btn-lg btn-outline-primary"
                                        type="submit">
                                    Validate code
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/main.min.js"></script>
    <script src="/js/tempus-dominus.min.js"></script>
    @if (Context.Items.ContainsKey(GRA.Controllers.ItemKey.SiteJs))
    {
        <script src="@Url.Content(Context.Items[GRA.Controllers.ItemKey.SiteJs].ToString())"></script>
    }
</body>
</html>