@model GRA.Controllers.ViewModel.MissionControl.Home.AtAGlanceViewModel

@if (!Model.ShowPosts)
{
    <div class="row mt-2">
        <div class="col-sm-4 col-lg-2 pb-2">
            <div class="ataglance-site ataglance-summary d-flex flex-column justify-content-center align-items-center">
                <div class="fas fa-users fa-2x fa-fw"></div>
                <div class="mc-site-participants">
                    @Model.AtAGlanceReport.SiteStatus.RegisteredUsers.ToString("N0")
                    participant@(Model.AtAGlanceReport.SiteStatus.RegisteredUsers != 1 ? "s" : "")
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 pb-2">
            <div class="ataglance-site ataglance-summary d-flex flex-column justify-content-center align-items-center">
                <div class="fas fa-hashtag fa-2x fa-fw"></div>
                <div class="mc-site-points">
                    @Model.AtAGlanceReport.SiteStatus.PointsEarned.ToString("N0")
                    point@(Model.AtAGlanceReport.SiteStatus.PointsEarned != 1 ? "s" : "")
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 pb-2">
            <div class="ataglance-site ataglance-summary d-flex flex-column justify-content-center align-items-center">
                <div class="fas fa-trophy fa-2x fa-fw"></div>
                <div class="mc-site-challenges">
                    @Model.AtAGlanceReport.SiteStatus.CompletedChallenges.ToString("N0")
                    challenge@(Model.AtAGlanceReport.SiteStatus.CompletedChallenges != 1 ? "s" : "")
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 pb-2">
            <div class="ataglance-site ataglance-summary d-flex flex-column justify-content-center align-items-center">
                <div class="fas fa-certificate fa-2x fa-fw"></div>
                <div class="mc-site-badges">
                    @Model.AtAGlanceReport.SiteStatus.BadgesEarned.ToString("N0")
                    badge@(Model.AtAGlanceReport.SiteStatus.BadgesEarned != 1 ? "s" : "")
                </div>
            </div>
        </div>
        @if (Model.AtAGlanceReport.SiteStatus.DaysUntilEnd != null)
        {
            <div class="col-sm-4 col-lg-2 pb-2">
                <div class="ataglance-site ataglance-summary d-flex flex-column justify-content-center align-items-center">
                    <div class="far fa-calendar-alt fa-2x fa-fw"></div>
                    <div class="mc-site-days">
                        @Model.AtAGlanceReport.SiteStatus.DaysUntilEnd
                        day@(Model.AtAGlanceReport.SiteStatus.BadgesEarned != 1 ? "s" : "")
                        left
                    </div>
                </div>
            </div>
        }
        <div class="col-sm-4 col-lg-2 pb-2">
            <div class="ataglance-site ataglance-summary d-flex flex-column justify-content-center align-items-center">
                <div class="far fa-clock fa-2x fa-fw"></div>
                <div>as of <span class="mc-site-asof">@Model.AtAGlanceReport.SiteStatus.AsOfDisplay</span></div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <span class="h3 mc-branch-description">@Model.AtAGlanceReport.FilteredBranchDescription:</span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-4 col-lg-2 pb-2">
            <div class="ataglance-filtered ataglance-summary d-flex flex-column justify-content-center align-items-center">
                <div class="fas fa-users fa-2x fa-fw"></div>
                <div class="mc-filtered-participants">
                    @Model.AtAGlanceReport.FilteredStatus.RegisteredUsers.ToString("N0")
                    participant@(Model.AtAGlanceReport.FilteredStatus.RegisteredUsers != 1 ? "s" : "")
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 pb-2">
            <div class="ataglance-filtered ataglance-summary d-flex flex-column justify-content-center align-items-center">
                <div class="fas fa-hashtag fa-2x fa-fw"></div>
                <div class="mc-filtered-points">
                    @Model.AtAGlanceReport.FilteredStatus.PointsEarned.ToString("N0")
                    point@(Model.AtAGlanceReport.FilteredStatus.PointsEarned != 1 ? "s" : "")
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 pb-2">
            <div class="ataglance-filtered ataglance-summary d-flex flex-column justify-content-center align-items-center">
                <div class="fas fa-trophy fa-2x fa-fw"></div>
                <div class="mc-filtered-challenges">
                    @Model.AtAGlanceReport.FilteredStatus.CompletedChallenges.ToString("N0")
                    challenge@(Model.AtAGlanceReport.FilteredStatus.CompletedChallenges != 1 ? "s" : "")
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-2 pb-2">
            <div class="ataglance-filtered ataglance-summary d-flex flex-column justify-content-center align-items-center">
                <div class="fas fa-certificate fa-2x fa-fw"></div>
                <div class="mc-filtered-badges">
                    @Model.AtAGlanceReport.FilteredStatus.BadgesEarned.ToString("N0")
                    badge@(Model.AtAGlanceReport.FilteredStatus.BadgesEarned != 1 ? "s" : "")
                </div>
            </div>
        </div>
        @if (Model.AtAGlanceReport.FilteredStatus.DaysUntilEnd != null)
        {
            <div class="col-sm-4 col-lg-2 pb-2">
                <div class="ataglance-filtered ataglance-summary d-flex flex-column justify-content-center align-items-center">
                    <div class="far fa-calendar-alt fa-2x fa-fw"></div>
                    <div class="mc-filtered-days">
                        @Model.AtAGlanceReport.FilteredStatus.DaysUntilEnd
                        day@(Model.AtAGlanceReport.FilteredStatus.DaysUntilEnd != 1 ? "s" : "")
                        left
                    </div>
                </div>
            </div>
        }
        <div class="col-sm-4 col-lg-2 pb-2">
            <div class="ataglance-filtered ataglance-summary d-flex flex-column justify-content-center align-items-center">
                <div class="far fa-clock fa-2x"></div>
                <div>as of <span class="mc-filtered-asof">@Model.AtAGlanceReport.SiteStatus.AsOfDisplay</span></div>
            </div>
        </div>
    </div>
    <input type="hidden" class="md-news-latestid" value="0" />
}
else
{
    <div class="row">
        <div class="col-12 col-lg-3 text-center pb-4">
            <div class="card">
                <div class="card-header">
                    Categories
                </div>
                <ul class="list-group list-group-flush text-start">
                    @foreach (var category in Model.NewsCategories.Where(_ => _.PostCount > 0))
                    {
                        <li class="list-group-item d-flex @(Model.Category == category.Id ? "bg-primary text-light" : null)">
                            <a asp-route-category="@(category.IsDefault ? "" : $"{category.Id}")" class="nav-link flex-grow-1">
                                @category.Name
                                @if (category.PostCount > 0)
                                {
                                    @if (category.IsNew)
                                    {
                                        <span class="badge rounded-pill text-bg-success" title="New posts!">@category.PostCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge rounded-pill text-bg-light">@category.PostCount</span>
                                    }
                                }
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    Subscribe via email
                </div>
                <div class="card-body p-0">
                    <button id="subscribeButton"
                            type="button"
                            name="Subscribe"
                            class="btn btn-link"
                            data-subscribed="@Model.IsNewsSubscribed">
                        <span id="subscribeCheck" class="far fa-lg @(Model.IsNewsSubscribed ? "fa-check-square" : "fa-square") mc-news-subscribe"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 pb-4">
            <div class="alert alert-info mc-news-banner text-center" style="display: none;">
                There is a news update!
                <a href="@Url.Action("Index")" class="mc-refresh-link">Click to refresh</a>
                <a href="@Url.Action("Index")" class="mc-refresh-link"><span class="fas fa-sync-alt mc-refresh-spinner"></span></a>
            </div>
            @if (!Model.NewsPosts.Any())
            {
                <div class="alert alert-info">No posts in this category.</div>
            }
            else
            {
                foreach (var post in Model.NewsPosts)
                {
                    <div class="card mb-3">
                        <div class="card-header d-flex">
                            <span class="flex-grow-1 lead"><strong><a asp-action="@nameof(HomeController.Post)" asp-route-id="@post.Id">@post.Title</a></strong></span>
                            @if (post.IsPinned)
                            {
                                <div title="This post is pinned."><span class="fas fa-map-pin fa-fw text-info"></span></div>
                            }
                            <div>
                                <a asp-action="@nameof(HomeController.Post)"
                                   asp-route-id="@post.Id"><span class="ms-2 fas fa-print fa-fw"></span></a>
                            </div>
                        </div>
                        <div class="card-body">@Html.Raw(post.Content)</div>
                        <div class="card-footer">
                            <small>
                                <em>
                                    Posted on @post.PublishedAt.Value.ToShortDateString() by <a href="mailto:@(Model.SiteAdministratorEmail)?Subject=Post: @(post.Title)" target="_top">@post.CreatedByName</a>
                                    @if (post.UpdatedAt.HasValue)
                                    {
                                        <text> - updated @post.UpdatedAt.Value.ToShortDateString()</text>
                                        @if (post.UpdatedBy != post.CreatedBy)
                                        {
                                            <text> by <a href="mailto:@(Model.SiteAdministratorEmail)?Subject=Post: @(post.Title)" target="_top">@post.UpdatedByName</a></text>
                                        }
                                    }
                                </em>
                            </small>
                        </div>
                    </div>
                }
                if (Model.PaginateModel.MaxPage > 1)
                {
                    <paginate paginateModel="@Model.PaginateModel"></paginate>
                }
            }

        </div>
        <div class="col-12 col-lg-3 pb-4">
            <div class="card ataglance-filtered">
                <div class="card-header">@Model.AtAGlanceReport.FilteredBranchDescription</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="fas fa-users fa-fw me-1"></span>
                        <span class="mc-filtered-participants">
                            @Model.AtAGlanceReport.FilteredStatus.RegisteredUsers.ToString("N0")
                            participant@(Model.AtAGlanceReport.FilteredStatus.RegisteredUsers != 1 ? "s" : "")
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fas fa-hashtag fa-fw me-1"></span>
                        <span class="mc-filtered-points">
                            @Model.AtAGlanceReport.FilteredStatus.PointsEarned.ToString("N0")
                            point@(Model.AtAGlanceReport.FilteredStatus.PointsEarned != 1 ? "s" : "")
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fas fa-trophy fa-fw me-1"></span>
                        <span class="mc-filtered-challenges">
                            @Model.AtAGlanceReport.FilteredStatus.CompletedChallenges.ToString("N0")
                            challenge@(Model.AtAGlanceReport.FilteredStatus.CompletedChallenges != 1 ? "s" : "")
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fas fa-certificate fa-fw me-1"></span>
                        <span class="mc-filtered-badges">
                            @Model.AtAGlanceReport.FilteredStatus.BadgesEarned.ToString("N0")
                            badge@(Model.AtAGlanceReport.FilteredStatus.BadgesEarned != 1 ? "s" : "")
                        </span>
                    </li>
                </ul>
                <div class="card-footer text-center py-1">
                    <small><em>as of <span class="mc-site-asof">@Model.AtAGlanceReport.FilteredStatus.AsOfDisplay</span></em></small>
                </div>
            </div>

            <div class="card mt-4 ataglance-site">
                <div class="card-header">Totals</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="fas fa-users fa-fw me-1"></span>
                        <span class="mc-site-participants">
                            @Model.AtAGlanceReport.SiteStatus.RegisteredUsers.ToString("N0")
                            participant@(Model.AtAGlanceReport.SiteStatus.RegisteredUsers != 1 ? "s" : "")
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fas fa-hashtag fa-fw me-1"></span>
                        <span class="mc-site-points">
                            @Model.AtAGlanceReport.SiteStatus.PointsEarned.ToString("N0")
                            point@(Model.AtAGlanceReport.SiteStatus.PointsEarned != 1 ? "s" : "")
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fas fa-trophy fa-fw me-1"></span>
                        <span class="mc-site-challenges">
                            @Model.AtAGlanceReport.SiteStatus.CompletedChallenges.ToString("N0")
                            challenge@(Model.AtAGlanceReport.SiteStatus.CompletedChallenges != 1 ? "s" : "")
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="fas fa-certificate fa-fw me-1"></span>
                        <span class="mc-site-badges">
                            @Model.AtAGlanceReport.SiteStatus.BadgesEarned.ToString("N0")
                            badge@(Model.AtAGlanceReport.SiteStatus.BadgesEarned != 1 ? "s" : "")
                        </span>
                    </li>
                    @if (Model.AtAGlanceReport.SiteStatus.DaysUntilEnd != null)
                    {
                        <li class="list-group-item">
                            <span class="fas fa-calendar-alt fa-fw me-1"></span>
                            <span class="mc-site-days">
                                @Model.AtAGlanceReport.SiteStatus.DaysUntilEnd
                                day@(Model.AtAGlanceReport.SiteStatus.DaysUntilEnd != 1 ? "s" : "")
                            </span> left
                        </li>
                    }
                </ul>
                <div class="card-footer text-center py-1">
                    <small><em>as of <span class="mc-site-asof">@Model.AtAGlanceReport.SiteStatus.AsOfDisplay</span></em></small>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" class="md-news-latestid" value="@Model.AtAGlanceReport.LatestNewsId" />
    <style>
        .mc-page-title {
            display: none;
        }
    </style>
}

@section scripts {
    <script>
        var newsSubscribeUrl = "@(Url.Action(nameof(HomeController.NewsSubscribe)))";
        var mcAagUpdateCount = 0;
        var mcAagInterval;
        var mcAagStarted;
        var mcAagUpdateEvery = 60 * 1000;
        var mcAagSlowDownAfter = 3 * 60 * 60 * 1000;
        var mcAagSlowDownRate = 30 * 60 * 1000;

        function updateAagReport(updateInterval) {
            mcAagInterval = setInterval(function () {
                mcAagUpdateCount++;
                var durationSeconds = Math.floor((new Date().getTime() - mcAagStarted) / 1000);
                if (updateInterval != mcAagSlowDownAfter && durationSeconds > mcAagSlowDownAfter / 1000) {
                    console.log("Update #" + mcAagUpdateCount + ", total duration " + durationSeconds + "s and slowing down to update every " + mcAagSlowDownRate / 1000 + "s");
                    clearInterval(mcAagInterval);
                    updateAagReport(mcAagSlowDownRate);
                } else {
                    console.log("Update #" + mcAagUpdateCount + ", total duration " + durationSeconds + "s");
                }
                $(".mc-filtered-asof").html(" &hellip;");
                $(".mc-site-asof").html(" &hellip;");
                $.ajax("@Url.Action("AtAGlanceReport")")
                    .done(function (data, textStatus, jqXHR) {
                        updateNumberValue(".mc-filtered-participants", data.filteredStatus.registeredUsers, "participant");
                        updateNumberValue(".mc-filtered-points", data.filteredStatus.pointsEarned, "point");
                        updateNumberValue(".mc-filtered-challenges", data.filteredStatus.completedChallenges, "challenge");
                        updateNumberValue(".mc-filtered-badges", data.filteredStatus.badgesEarned, "badge");
                        updateNumberValue(".mc-filtered-days", data.filteredStatus.daysUntilEnd, "day");
                        $(".mc-filtered-asof").text(data.filteredStatus.asOfDisplay);

                        updateNumberValue(".mc-site-participants", data.siteStatus.registeredUsers, "participant");
                        updateNumberValue(".mc-site-points", data.siteStatus.pointsEarned, "point");
                        updateNumberValue(".mc-site-challenges", data.siteStatus.completedChallenges, "challenge");
                        updateNumberValue(".mc-site-badges", data.siteStatus.badgesEarned, "badge");
                        updateNumberValue(".mc-site-days", data.siteStatus.daysUntilEnd, "day");
                        $(".mc-site-asof").text(data.siteStatus.asOfDisplay);

                        var latestNewsId = $(".md-news-latestid").val();
                        console.log("Old latest post id: " + latestNewsId);
                        if (latestNewsId != "0" && latestNewsId != data.latestNewsId) {
                            console.log("New post, old: " + latestNewsId + " new: " + data.latestNewsId);
                            $(".md-news-latestid").val("0");
                            $(".mc-news-banner").show();
                        }
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        console.log("Failure: " + textStatus + " on At a Glance request, stopping updates");
                        clearInterval(mcAagInterval);
                    });
            }, updateInterval);
        }

        function updateNumberValue(itemClass, numberValue, singularText) {
            $(itemClass).text(numberValue.toLocaleString()
                + " "
                + singularText
                + (numberValue != 1 ? "s" : ""));
        }

        $().ready(function () {
            mcAagStarted = Math.floor(new Date().getTime());
            console.log("Updating At a Glance status every " + mcAagUpdateEvery / 1000 + "s and slowing down after " + mcAagSlowDownAfter / 1000 + "s");
            updateAagReport(mcAagUpdateEvery);
            $(".mc-refresh-link").click(function () {
                $(".mc-refresh-spinner").addClass("fa-spin");
            });
        });

        $("#subscribeButton").on("click", function () {
            var button = $(this);
            if (button.hasClass("disabled") == false) {
                var checkIcon = $('#subscribeCheck');
                checkIcon.addClass("disabled").removeClass("far fa-square fa-check-square").addClass("fas fa-spinner fa-pulse");
                var subscribe = button.data("subscribed") == "False";

                $.post(newsSubscribeUrl, { subscribe: subscribe }, function (response) {
                    if (response.success) {
                        if (subscribe) {
                            checkIcon.addClass("fa-check-square");
                            button.data("subscribed", "True");
                        }
                        else {
                            checkIcon.addClass("fa-square");
                            button.data("subscribed", "False");
                        }
                    }
                    else {
                        alert(response.message);
                        if (subscribe) {
                            checkIcon.addClass("fa-square");
                        }
                        else {
                            checkIcon.addClass("fa-check-square");
                        }
                    }
                })
                    .fail(function () {
                        alert("Error updating news subscription");
                    })
                    .always(function () {
                        checkIcon.removeClass("fas fa-spinner fa-pulse disabled").addClass("far");
                    });
            }
        });
    </script>
}
