@model GRA.Controllers.ViewModel.MissionControl.Home.AtAGlanceViewModel

@section styles {
    <style>
        .ataglance-pill {
            border: 1px solid;
            border-radius: 1rem;
            font-size: 2rem;
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .ataglance-pill-steelblue {
            background-color: steelblue;
            border-color: steelblue;
            color: white;
        }

        .ataglance-pill-forestgreen {
            background-color: forestgreen;
            border-color: forestgreen;
            color: white;
        }
    </style>
}

<div class="row row-spacing" style="text-align: center;">
    <div class="col-sm-3">
        <div class="ataglance-pill ataglance-pill-steelblue">
            <span class="fa fa-user"></span>
            @Model.SiteStatus.RegisteredUsers users
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ataglance-pill ataglance-pill-steelblue">
            <span class="fa fa-hashtag"></span>
            @Model.SiteStatus.PointsEarned points
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ataglance-pill ataglance-pill-steelblue">
            <span class="fa fa-trophy"></span>
            @Model.SiteStatus.CompletedChallenges challenges
        </div>
    </div>
    @foreach (var item in Model.SiteStatus.ActivityEarnings)
    {
        <div class="col-sm-3">
            <div class="ataglance-pill ataglance-pill-steelblue">
                <span class="fa fa-book"></span>
                @item.Value @item.Key
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-xs-12">
        <span class="h3">@Model.FilteredBranchDescription:</span>
    </div>
</div>

<div class="row row-spacing" style="text-align: center;">
    <div class="col-sm-3">
        <div class="ataglance-pill ataglance-pill-forestgreen">
            <span class="fa fa-user"></span>
            @Model.FilteredStatus.RegisteredUsers users
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ataglance-pill ataglance-pill-forestgreen">
            <span class="fa fa-hashtag"></span>
            @Model.FilteredStatus.PointsEarned points
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ataglance-pill ataglance-pill-forestgreen">
            <span class="fa fa-trophy"></span>
            @Model.FilteredStatus.CompletedChallenges challenges
        </div>
    </div>
    @foreach (var item in Model.FilteredStatus.ActivityEarnings)
    {
        <div class="col-sm-3">
            <div class="ataglance-pill ataglance-pill-forestgreen">
                <span class="fa fa-book"></span>
                @item.Value @item.Key
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-sm-12">
        <a asp-controller="Home" asp-action="LoadSampleData" class="btn btn-warning">Insert sample data</a>
    </div>
</div>

