@model GRA.Controllers.ViewModel.MissionControl.Home.AtAGlanceViewModel

@if (!Model.ShowPosts)
{
    <div class="row row-spacing text-center">
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-teal">
                <span class="fas fa-users fa-2x"></span><br />
                <span class="mc-site-participants">
                    @Model.AtAGlanceReport.SiteStatus.RegisteredUsers.ToString("N0")
                </span> participant@(Model.AtAGlanceReport.SiteStatus.RegisteredUsers != 1 ? "s" : "")
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-teal">
                <span class="fas fa-hashtag fa-2x"></span><br />
                <span class="mc-site-points">
                    @Model.AtAGlanceReport.SiteStatus.PointsEarned.ToString("N0")
                </span> point@(Model.AtAGlanceReport.SiteStatus.PointsEarned != 1 ? "s" : "")
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-teal">
                <span class="fas fa-trophy fa-2x"></span><br />
                <span class="mc-site-challenges">
                    @Model.AtAGlanceReport.SiteStatus.CompletedChallenges.ToString("N0")
                </span> challenge@(Model.AtAGlanceReport.SiteStatus.CompletedChallenges != 1 ? "s" : "")
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-teal">
                <span class="fas fa-certificate fa-2x"></span><br />
                <span class="mc-site-badges">
                    @Model.AtAGlanceReport.SiteStatus.BadgesEarned.ToString("N0")
                </span> badge@(Model.AtAGlanceReport.SiteStatus.BadgesEarned != 1 ? "s" : "")
            </div>
        </div>
        @if (Model.AtAGlanceReport.SiteStatus.DaysUntilEnd != null)
        {
            <div class="col-sm-2">
                <div class="ataglance-pill ataglance-pill-teal">
                    <span class="far fa-calendar-alt fa-2x"></span><br />
                    <span class="mc-site-days">
                        @Model.AtAGlanceReport.SiteStatus.DaysUntilEnd
                    </span> day@(Model.AtAGlanceReport.SiteStatus.BadgesEarned != 1 ? "s" : "") left
                </div>
            </div>
        }
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-teal">
                <span class="far fa-clock fa-2x"></span><br />
                as of <span class="mc-site-asof">@Model.AtAGlanceReport.SiteStatus.AsOfDisplay</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="h3 mc-branch-description">@Model.AtAGlanceReport.FilteredBranchDescription:</span>
        </div>
    </div>
    <div class="row row-spacing text-center">
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-darkslateblue">
                <span class="fas fa-users fa-2x"></span><br />
                <span class="mc-filtered-participants">
                    @Model.AtAGlanceReport.FilteredStatus.RegisteredUsers.ToString("N0")
                </span> participant@(Model.AtAGlanceReport.FilteredStatus.RegisteredUsers != 1 ? "s" : "")
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-darkslateblue">
                <span class="fas fa-hashtag fa-2x"></span><br />
                <span class="mc-filtered-points">
                    @Model.AtAGlanceReport.FilteredStatus.PointsEarned.ToString("N0")
                </span> point@(Model.AtAGlanceReport.FilteredStatus.PointsEarned != 1 ? "s" : "")
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-darkslateblue">
                <span class="fas fa-trophy fa-2x"></span><br />
                <span class="mc-filtered-challenges">
                    @Model.AtAGlanceReport.FilteredStatus.CompletedChallenges.ToString("N0")
                </span> challenge@(Model.AtAGlanceReport.FilteredStatus.CompletedChallenges != 1 ? "s" : "")
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-darkslateblue">
                <span class="fas fa-certificate fa-2x"></span><br />
                <span class="mc-filtered-badges">
                    @Model.AtAGlanceReport.FilteredStatus.BadgesEarned.ToString("N0")
                </span> badge@(Model.AtAGlanceReport.FilteredStatus.BadgesEarned != 1 ? "s" : "")
            </div>
        </div>
        @if (Model.AtAGlanceReport.FilteredStatus.DaysUntilEnd != null)
        {
            <div class="col-sm-2">
                <div class="ataglance-pill ataglance-pill-darkslateblue">
                    <span class="far fa-calendar-alt fa-2x"></span><br />
                    <span class="mc-filtered-days">
                        @Model.AtAGlanceReport.FilteredStatus.DaysUntilEnd
                    </span> day@(Model.AtAGlanceReport.FilteredStatus.DaysUntilEnd != 1 ? "s" : "") left
                </div>
            </div>
        }
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-darkslateblue">
                <span class="far fa-clock fa-2x"></span><br />
                as of <span class="mc-filtered-asof">@Model.AtAGlanceReport.SiteStatus.AsOfDisplay</span>
            </div>
        </div>
    </div>
    <input type="hidden" class="md-news-latestid" value="0" />
}
else
{
    <div class="row">
        <div class="col-sm-2 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Categories
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        @for (var category = 0; category < Model.NewsCategories.Count(); category++)
                        {
                            if (Model.WithinAWeek[category] == true)
                            {
                                <li ActiveBy routeKey="Category" value="@(Model.NewsCategories.ElementAt(category).IsDefault ? $",{Model.NewsCategories.ElementAt(category).Id}" : $"{Model.NewsCategories.ElementAt(category).Id}")">
                                    <a style="padding: 5px 10px; text-align: left;" asp-route-category="@(Model.NewsCategories.ElementAt(category).IsDefault ? "" : $"{Model.NewsCategories.ElementAt(category).Id}")">
                                    @Model.NewsCategories.ElementAt(category).Name 
                                    <span class="fas fa-asterisk" style="color:#FF8C00; float: right; line-height: 20px;"></span></a>
                                </li>
                            }
                            else
                            {
                                <li ActiveBy routeKey="Category" value="@(Model.NewsCategories.ElementAt(category).IsDefault ? $",{Model.NewsCategories.ElementAt(category).Id}" : $"{Model.NewsCategories.ElementAt(category).Id}")">
                                    <a style="padding: 5px 10px;  text-align: left;" asp-route-category="@(Model.NewsCategories.ElementAt(category).IsDefault ? "" : $"{Model.NewsCategories.ElementAt(category).Id}")">@Model.NewsCategories.ElementAt(category).Name</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Subscribe via email
                    <br />
                    <button id="subscribeButton"
                            type="button"
                            name="Subscribe"
                            class="btn btn-link"
                            data-subscribed="@Model.IsNewsSubscribed"><span id="subscribeCheck" class="far fa-lg @(Model.IsNewsSubscribed ? "fa-check-square" : "fa-square") mc-news-subscribe"></span></button>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-7">
            <div class="alert alert-info mc-news-banner text-center" style="display: none;">
                There is a news update!
                <a href="@Url.Action("Index")" class="mc-refresh-link">Click to refresh</a>
                <a href="@Url.Action("Index")" class="mc-refresh-link"><span class="fas fa-sync-alt mc-refresh-spinner"></span></a>
            </div>
            @if (!Model.NewsPosts.Any())
            {
                <div class="alert alert-info">No posts in this category.</div>
            }
            else
            {
                foreach (var post in Model.NewsPosts)
                {
                    <div class="news-post panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                @post.Title
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="news-post-content">
                                @Html.Raw(post.Content)
                            </div>
                        </div>
                        <div class="panel-footer mc-news-panel-footer">
                            <em>Posted on @post.PublishedAt.Value.ToShortDateString() by <a href="mailto:@(Model.SiteAdministratorEmail)?Subject=Post @(post.Title)" target="_top">@post.CreatedByName</a></em>
                        </div>
                    </div>
                }
                if (Model.PaginateModel.MaxPage > 1)
                {
                    <paginate paginateModel="@Model.PaginateModel"></paginate>
                }
            }

        </div>
        <div class="col-sm-2 col-md-3">
            <div class="ataglancepill-sidebar ataglance-pill-darkslateblue ataglance-pill-filtered">
                <div class="text-center hidden-sm">@Model.AtAGlanceReport.FilteredBranchDescription</div>
                <div title="@Model.AtAGlanceReport.FilteredBranchDescription participant(s)">
                    <span class="fas fa-users"></span>
                    <span class="mc-filtered-participants">
                        @Model.AtAGlanceReport.FilteredStatus.RegisteredUsers.ToString("N0")
                    </span><span class="hidden-sm"> participant@(Model.AtAGlanceReport.FilteredStatus.RegisteredUsers != 1 ? "s" : "")</span>
                </div>
                <div title="@Model.AtAGlanceReport.FilteredBranchDescription point(s) earned">
                    <span class="fas fa-hashtag"></span>
                    <span class="mc-filtered-points">
                        @Model.AtAGlanceReport.FilteredStatus.PointsEarned.ToString("N0")
                    </span><span class="hidden-sm"> point@(Model.AtAGlanceReport.FilteredStatus.PointsEarned != 1 ? "s" : "")</span>
                </div>
                <div title="@Model.AtAGlanceReport.FilteredBranchDescription completed challenge(s)">
                    <span class="fas fa-trophy"></span>
                    <span class="mc-filtered-challenges">
                        @Model.AtAGlanceReport.FilteredStatus.CompletedChallenges.ToString("N0")
                    </span><span class="hidden-sm"> challenge@(Model.AtAGlanceReport.FilteredStatus.CompletedChallenges != 1 ? "s" : "")</span>
                </div>
                <div title="@Model.AtAGlanceReport.FilteredBranchDescription badge(s) earned">
                    <span class="fas fa-certificate"></span>
                    <span class="mc-filtered-badges">
                        @Model.AtAGlanceReport.FilteredStatus.BadgesEarned.ToString("N0")
                    </span><span class="hidden-sm"> badge@(Model.AtAGlanceReport.FilteredStatus.BadgesEarned != 1 ? "s" : "")</span>
                </div>
                <div class="text-center mc-filtered-asof-container">
                    <em>as of <span class="mc-filtered-asof">@Model.AtAGlanceReport.FilteredStatus.AsOfDisplay</span></em>
                </div>
            </div>
            <div class="ataglancepill-sidebar ataglance-pill-teal ataglance-pill-site">
                <div title="Total participant(s)">
                    <span class="fas fa-users"></span>
                    <span class="mc-site-participants">
                        @Model.AtAGlanceReport.SiteStatus.RegisteredUsers.ToString("N0")
                    </span><span class="hidden-sm"> participant@(Model.AtAGlanceReport.SiteStatus.RegisteredUsers != 1 ? "s" : "")</span>
                </div>
                <div title="Total point(s) earned">
                    <span class="fas fa-hashtag"></span>
                    <span class="mc-site-points">
                        @Model.AtAGlanceReport.SiteStatus.PointsEarned.ToString("N0")
                    </span><span class="hidden-sm"> point@(Model.AtAGlanceReport.SiteStatus.PointsEarned != 1 ? "s" : "")</span>
                </div>
                <div title="Total completed challenge(s)">
                    <span class="fas fa-trophy"></span>
                    <span class="mc-site-challenges">
                        @Model.AtAGlanceReport.SiteStatus.CompletedChallenges.ToString("N0")
                    </span><span class="hidden-sm"> challenge@(Model.AtAGlanceReport.SiteStatus.CompletedChallenges != 1 ? "s" : "")</span>
                </div>
                <div title="Total badge(s) earned">
                    <span class="fas fa-certificate"></span>
                    <span class="mc-site-badges">
                        @Model.AtAGlanceReport.SiteStatus.BadgesEarned.ToString("N0")
                    </span><span class="hidden-sm"> badge@(Model.AtAGlanceReport.SiteStatus.BadgesEarned != 1 ? "s" : "")</span>
                </div>
                @if (Model.AtAGlanceReport.SiteStatus.DaysUntilEnd != null)
                {
                    <div title="Day(s) left">
                        <span class="far fa-calendar-alt"></span>
                        <span class="mc-site-days">
                            @Model.AtAGlanceReport.SiteStatus.DaysUntilEnd
                        </span><span class="hidden-sm"> day@(Model.AtAGlanceReport.SiteStatus.DaysUntilEnd != 1 ? "s" : "") left</span>
                    </div>
                }
                <div class="text-center mc-site-asof-container">
                    <em>as of <span class="mc-site-asof">@Model.AtAGlanceReport.SiteStatus.AsOfDisplay</span></em>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" class="md-news-latestid" value="@Model.AtAGlanceReport.LatestNewsId" />
    <style>
        .mc-page-title {
            display: none;
        }

        .news-post-content :last-child {
            margin-bottom: 0;
        }
    </style>
}

@section scripts {
    <script>
        var newsSubscribeUrl = "@(Url.Action(nameof(HomeController.NewsSubscribe)))";
        var mcAagUpdateCount = 0;
        var mcAagInterval;
        var mcAagStarted;
        var mcAagUpdateEvery = 60 * 1000;
        var mcAagSlowDownAfter = 3 * 60 * 60 * 1000;
        var mcAagSlowDownRate = 30 * 60 * 1000;

        function updateAagReport(updateInterval) {
            mcAagInterval = setInterval(function () {
                mcAagUpdateCount++;
                var durationSeconds = Math.floor((new Date().getTime() - mcAagStarted) / 1000);
                if (updateInterval != mcAagSlowDownAfter && durationSeconds > mcAagSlowDownAfter / 1000) {
                    console.log("Update #" + mcAagUpdateCount + ", total duration " + durationSeconds + "s and slowing down to update every " + mcAagSlowDownRate / 1000 + "s");
                    clearInterval(mcAagInterval);
                    updateAagReport(mcAagSlowDownRate);
                } else {
                    console.log("Update #" + mcAagUpdateCount + ", total duration " + durationSeconds + "s");
                }
                $(".mc-filtered-asof").html(" &hellip;");
                $(".mc-site-asof").html(" &hellip;");
                $.ajax("@Url.Action("AtAGlanceReport")")
                    .done(function (data, textStatus, jqXHR) {
                        $(".mc-filtered-participants").text(data.filteredStatus.registeredUsers);
                        $(".mc-filtered-points").text(data.filteredStatus.pointsEarned);
                        $(".mc-filtered-challenges").text(data.filteredStatus.completedChallenges);
                        $(".mc-filtered-badges").text(data.filteredStatus.badgesEarned);
                        $(".mc-filtered-days").text(data.filteredStatus.daysUntilEnd);
                        $(".mc-filtered-asof").text(data.filteredStatus.asOfDisplay);
                        $(".mc-site-participants").text(data.siteStatus.registeredUsers);
                        $(".mc-site-points").text(data.siteStatus.pointsEarned);
                        $(".mc-site-challenges").text(data.siteStatus.completedChallenges);
                        $(".mc-site-badges").text(data.siteStatus.badgesEarned);
                        $(".mc-site-days").text(data.siteStatus.daysUntilEnd);
                        $(".mc-site-asof").text(data.siteStatus.asOfDisplay);
                        var latestNewsId = $(".md-news-latestid").val();
                        console.log("Old latest post id: " + latestNewsId);
                        if (latestNewsId != "0" && latestNewsId != data.latestNewsId) {
                            console.log("New post, old: " + latestNewsId + " new: " + data.latestNewsId);
                            $(".md-news-latestid").val("0");
                            $(".mc-news-banner").show();
                        }
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        console.log("Failure: " + textStatus + " on At a Glance request, stopping updates");
                        clearInterval(mcAagInterval);
                    });
            }, updateInterval);
        }

        $().ready(function() {
            mcAagStarted = Math.floor(new Date().getTime());
            console.log("Updating At a Glance status every " + mcAagUpdateEvery / 1000 + "s and slowing down after " + mcAagSlowDownAfter / 1000 + "s");
            updateAagReport(mcAagUpdateEvery);
            $(".mc-refresh-link").click(function () {
            $(".mc-refresh-spinner").addClass("fa-spin");
            });
        });

        $("#subscribeButton").on("click", function () {
            var button = $(this);
            if (button.hasClass("disabled") == false) {
                var checkIcon = $('#subscribeCheck');
                checkIcon.addClass("disabled").removeClass("far fa-square fa-check-square").addClass("fas fa-spinner fa-pulse");
                var subscribe = button.data("subscribed") == "False";

                $.post(newsSubscribeUrl, { subscribe: subscribe }, function (response) {
                    if (response.success) {
                        if (subscribe) {
                            checkIcon.addClass("fa-check-square");
                            button.data("subscribed", "True");
                        }
                        else {
                            checkIcon.addClass("fa-square");
                            button.data("subscribed", "False");
                        }
                    }
                    else {
                        alert(response.message);
                        if (subscribe) {
                            checkIcon.addClass("fa-square");
                        }
                        else {
                            checkIcon.addClass("fa-check-square");
                        }
                    }
                })
                .fail(function () {
                    alert("Error updating news subscription");
                })
                .always(function () {
                    checkIcon.removeClass("fas fa-spinner fa-pulse disabled").addClass("far");
                });
            }
        });
                </script>
        }
