@model GRA.Controllers.ViewModel.MissionControl.Home.AtAGlanceViewModel

<div class="row row-spacing" style="text-align: center;">
    <div class="col-sm-2">
        <div class="ataglance-pill ataglance-pill-steelblue">
            <span class="fa fa-user fa-2x"></span><br />
            @Model.SiteStatus.RegisteredUsers.ToString("N0") participants
        </div>
    </div>
    <div class="col-sm-2">
        <div class="ataglance-pill ataglance-pill-steelblue">
            <span class="fa fa-hashtag fa-2x"></span><br />
            @Model.SiteStatus.PointsEarned.ToString("N0") points
        </div>
    </div>
    <div class="col-sm-2">
        <div class="ataglance-pill ataglance-pill-steelblue">
            <span class="fa fa-trophy fa-2x"></span><br />
            @Model.SiteStatus.CompletedChallenges.ToString("N0") challenges
        </div>
    </div>
    <div class="col-sm-2">
        <div class="ataglance-pill ataglance-pill-steelblue">
            <span class="fa fa-shield fa-2x"></span><br />
            @Model.SiteStatus.BadgesEarned.ToString("N0") badges
        </div>
    </div>
    @foreach (var item in Model.SiteStatus.ActivityEarnings)
    {
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-steelblue">
                <span class="fa fa-book fa-2x"></span><br />
                @item.Value.ToString("N0") @item.Key
            </div>
        </div>
    }
    @if (Model.SiteStatus.DaysUntilEnd != null)
    {
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-steelblue">
                <span class="fa fa-calendar fa-2x"></span><br />
                @Model.SiteStatus.DaysUntilEnd days left
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-xs-12">
        <span class="h3">@Model.FilteredBranchDescription:</span>
    </div>
</div>

<div class="row row-spacing" style="text-align: center;">
    <div class="col-sm-2">
        <div class="ataglance-pill ataglance-pill-seagreen">
            <span class="fa fa-user fa-2x"></span><br />
            @Model.FilteredStatus.RegisteredUsers.ToString("N0") participants
        </div>
    </div>
    <div class="col-sm-2">
        <div class="ataglance-pill ataglance-pill-seagreen">
            <span class="fa fa-hashtag fa-2x"></span><br />
            @Model.FilteredStatus.PointsEarned.ToString("N0") points
        </div>
    </div>
    <div class="col-sm-2">
        <div class="ataglance-pill ataglance-pill-seagreen">
            <span class="fa fa-trophy fa-2x"></span><br />
            @Model.FilteredStatus.CompletedChallenges.ToString("N0") challenges
        </div>
    </div>
    <div class="col-sm-2">
        <div class="ataglance-pill ataglance-pill-seagreen">
            <span class="fa fa-shield fa-2x"></span><br />
            @Model.FilteredStatus.BadgesEarned.ToString("N0") badges
        </div>
    </div>
    @foreach (var item in Model.FilteredStatus.ActivityEarnings)
    {
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-seagreen">
                <span class="fa fa-book fa-2x"></span><br />
                @item.Value.ToString("N0") @item.Key
            </div>
        </div>
    }
    @if (Model.FilteredStatus.DaysUntilEnd != null)
    {
        <div class="col-sm-2">
            <div class="ataglance-pill ataglance-pill-seagreen">
                <span class="fa fa-calendar fa-2x"></span><br />
                @Model.FilteredStatus.DaysUntilEnd days left
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-sm-12">
        <a asp-controller="Home" asp-action="LoadSampleData" class="btn btn-warning">Insert sample data</a>
    </div>
</div>

