@model GRA.Controllers.ViewModel.MissionControl.Home.PostViewModel

@section styles {
    <style type="text/css">
        footer {
            display: none;
        }
    </style>
}

<div class="mt-1">
    <em>
        Posted on @Model.Post.PublishedAt.Value.ToShortDateString() by @Model.Post.CreatedByName
        @if (Model.Post.UpdatedAt.HasValue)
        {
            <text> - updated @Model.Post.UpdatedAt.Value.ToShortDateString()</text>
            @if (Model.Post.UpdatedBy != Model.Post.CreatedBy)
            {
                <text> by @Model.Post.UpdatedByName</text>
            }
        }
    </em>
</div>

<div class="mt-4">
    @Html.Raw(Model.Post.Content)
</div>

<div class="d-print-none mt-4">
    @if (Model.Post.PreviousPostId.HasValue)
    {
        <a asp-action="@nameof(HomeController.Post)"
           asp-route-id="@Model.Post.PreviousPostId"
           title="Previous post"
           class="btn btn-outline-primary">
            <span class="fas fa-backward"></span>
        </a>
    }
    <a asp-action="@nameof(HomeController.Index)"
       title="Back to Mission Control"
       class="btn btn-outline-secondary">
        <span class="fas fa-rocket"></span>
    </a>

    @if (Model.Post.NextPostId.HasValue)
    {
        <a asp-action="@nameof(HomeController.Post)"
           asp-route-id="@Model.Post.NextPostId"
           title="Next post"
           class="btn btn-outline-primary">
            <span class="fas fa-forward"></span>
        </a>
    }
</div>