@model GRA.Controllers.ViewModel.Avatar.AvatarViewModel

@inject Microsoft.Extensions.Localization.IStringLocalizer<GRA.Resources.Shared> SharedLocalizer

@section styles {
    <link rel="stylesheet" href="/css/slick.min.css" />
}
<div class="alert alert-danger" id="error-container" style="display: none;"></div>
<div class="card">
    <div class="card-header d-flex">
        <div class="fw-bold flex-grow-1">
            @SharedLocalizer[GRA.Annotations.Title.Avatar]
        </div>
        <div class="d-md-none">
            <button type="button" class="btn btn-outline-secondary btn-sm avatar-zoom-button">
                <span class="fas fa-fw fa-search-plus"></span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-5 float-end">
                <div class="d-block d-md-none" id="mobile-container">
                    <div class="avatar-container mx-auto">
                        @foreach (var layer in Model.LayerGroupings.SelectMany(_ => _))
                        {
                            <img src="~/@layer.FilePath"
                                 class="@($"image{layer.Id}") xsLayer avatar-layer@(string.IsNullOrWhiteSpace(layer.FilePath) ? " d-none" : "")"
                                 style="z-index: @(layer.Position + 1);"
								 alt="@layer.AltText"
                                 data-layer="@layer.Id"
                                 data-item="@layer.SelectedItem" />
                        }
                    </div>
                </div>
                <div class="d-none d-md-block" id="desktop-container">
                    <div class="avatar-container mx-auto">
                        @foreach (var layer in Model.LayerGroupings.SelectMany(_ => _))
                        {
                            <img src="~/@layer.FilePath"
                                 class="@($"image{layer.Id}") avatar-layer@(string.IsNullOrWhiteSpace(layer.FilePath) ? " d-none" : "")"
                                 style="z-index: @(layer.Position + 1);"
								 alt="@layer.AltText"
                                 data-layer="@layer.Id"
                                 data-item="@layer.SelectedItem" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-12 text-center" id="layer-container">
                        @if (Model.LayerGroupings.Count > 0)
                        {
                            foreach (var layerGroup in Model.LayerGroupings)
                            {
                                <div style="display: inline-block;" class="@(layerGroup.Count == 1 ? "d-none" : "")">
                                    @foreach (var layer in layerGroup)
                                    {
                                        <img src="~/@layer.Icon"
                                             id="@($"selector{layer.Id}")"
                                             class="avatar-layer-selector@(Model.DefaultLayer == layer.Id ? " selected" : "")"
											 alt="@SharedLocalizer[GRA.Annotations.Interface.AvatarLayerAltText, layer.Name]"
                                             data-layer="@layer.Id"
                                             data-name="@layer.Name"
                                             data-removelabel="@layer.RemoveLabel"
                                             data-removable="@layer.CanBeEmpty"
                                             data-showitemselector="@layer.ShowItemSelector"
                                             data-showcolorselector="@layer.ShowColorSelector"
                                             data-item="@layer.SelectedItem"
                                             data-color="@layer.SelectedColor"
											 data-alt="@layer.AltText"
                                             data-zoomscale="@layer.ZoomScale"
                                             data-zoomyoffset="@layer.ZoomYOffset"
                                             data-colorrows="@(layer.ShowColorSelector ? (!layer.ShowItemSelector ? 5 : 2) : 0)" />
                                    }
                                </div>
                            }
                        }
                        <div style="display: inline-block;" class="@(Model.Bundles.Count == 0 ? "d-none" : "")">
                            <img src="@(Model.Bundles.Any(_=>!_.HasBeenViewed.Value && _.CanBeUnlocked)
                            ? "/content/site1/avatarbundles/notif.png"
                            : "/content/site1/avatarbundles/icon.png")"
                                 id="selector999"
                                 class="avatar-layer-selector"
								 alt="@SharedLocalizer[GRA.Annotations.Interface.AvatarLayerBundleAltText]"
                                 data-layer="999"
                                 data-name="@SharedLocalizer[GRA.Annotations.Interface.Bundle]"
                                 data-showitemselector="True"
                                 data-showcolorselector="False"
                                 bundle-item=""
                                 data-zoomscale="1.30"
                                 data-zoomyoffset="-5">
                        </div>
                    </div>
                </div>
                <div id="avatarBundles" class="row col-12" style="text-align:center;">
                    <ul class="nav" style="display: inline-table;">
                        <li>

                            @if (Model.Bundles.Count != 0)
                            {
                                var counter = 0;
                                @foreach (var bundle in Model.Bundles)
                                {
                                    @if (bundle.CanBeUnlocked)
                                    {
                                        counter += 1;
                                    }
                                }
                                @if (counter != 0)
                                {
                                    <div class="dropdown" style="margin-top: 1rem;" id="bundleDropdown">
                                        <a class="dropdown-toggle btn btn-outline-primary"
                                           id="bundle-selected"
                                           data-bs-toggle="dropdown"
                                           href="#" role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">
                                            @SharedLocalizer[GRA.Domain.Model.DisplayNames.SelectABundle]
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" id="bundle-drop">
                                            @foreach (var bundle in Model.Bundles)
                                            {
                                                <li class="dropdown-item">
                                                    <a href="#"
                                                       class="bundle-selectors"
                                                       data-bundleid="@bundle.Id"
                                                       data-beenviewed="@bundle.HasBeenViewed"
                                                       onclick="GetBundleItems(this)">
                                                        @bundle.Name
                                                        @if (!bundle.HasBeenViewed.Value)
                                                        {
                                                            <span class="fa-stack newBundleSpan">
                                                                <span class="fas fa-certificate fa-stack-2x text-success"></span>
                                                                <span class="fa-stack-1x"
                                                                      style="color: white;
                                                                  font-size: x-small;">New</span>
                                                            </span>
                                                        }
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <a class="dropdown-toggle disabled"
                                       data-bs-toggle="dropdown"
                                       href="#"
                                       role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        @SharedLocalizer[GRA.Annotations.Info.NoUnlockedBundles]<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu"></ul>
                                }
                            }
                            else
                            {
                                <a class="dropdown-toggle disabled"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    @SharedLocalizer[GRA.Annotations.Info.NoUnlockedBundles]<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu"></ul>
                            }
                        </li>
                    </ul>
                </div>
                <div id="avatarColors" class="row d-none">
                    <div class="col-12">
                        <div class="avatar-selector-well well well-sm">
                            <div id="avatarColorSelectors" class="avatar-selector-container">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="avatarItems" class="row d-none">
                    <div class="col-12">
                        <div class="avatar-selector-well well well-sm">
                            <div id="avatarItemSelectors" class="avatar-selector-container">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center">
                        <button id="removeButton"
                                class="btn btn-outline-secondary d-none m-1 text-nowrap">
                            <span class="fas fa-ban fa-fw"></span>
                            <span id="layerName"></span>
                        </button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="avatar-save-message alert mb-0 mt-2 d-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-center flex-wrap">
        <div>
            <a asp-controller="Home"
               asp-action="Index"
               class="btn btn-outline-secondary m-1 text-nowrap">
                <span class="fas fa-home fa-fw"></span>
                @SharedLocalizer[GRA.Domain.Model.DisplayNames.Home]
            </a>
        </div>
        <div>
            <button id="saveAvatar"
                    class="btn m-1 text-nowrap @(Model.NewAvatar ? "btn-outline-success" : "btn-outline-secondary")"
                    button-spinner>
                <span class="far fa-save fa-fw"></span>
                @SharedLocalizer[GRA.Annotations.Interface.Save]
            </button>
        </div>
        @if (Model.SharingEnabled)
        {
            <div>
                <form id="shareForm"
                      asp-action="@nameof(AvatarController.Share)"
                      class="d-inline"
                      method="post"
                      role="form">
                    <input type="hidden" name="selectionJson" />
                    <button class="btn btn-outline-secondary m-1 text-nowrap">
                        <span class="fas fa-share-alt fa-fw"></span>
                        @SharedLocalizer[GRA.Annotations.Interface.Share]
                    </button>
                </form>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="/js/slick-avatar.min.js"></script>
    <script>
        var baseImagePath = "@Url.Content($"~/{Model.ImagePath}")";
        var xsZoom = false;
        var unsavedChanges = @Model.NewAvatar.ToString().ToLower();
        var prevLayerSelected = [];

        $.ajaxSetup({
            timeout: 30000
        });

        $(document).ready(function () {
            //Sets the default layer
            SetLayer($("#layer-container").find("[data-layer='" + @Model.DefaultLayer +"']"));
        });

        //Returns the layer's selected item Id
        function GetLayersSelectedItemId(layerId) {
            let item = $("img.avatar-layer-selector[data-layer='" + layerId + "']").first();
            return item.data("item");
        }

        //Returns the layer's selected color Id
        function GetLayersSelectedColorId(layerId) {
            let item = $("img.avatar-layer-selector[data-layer='" + layerId + "']").first();
            return item.data("color");
        }

        //Given a layer ID, returns the layer object
        function GetLayerById(layerId) {
            return $("#layer-container").find("#selector" + layerId);
        }

        //Gets the selected Layer object
        function CurrentSelectedLayer() {
            return $("#layer-container").find(".selected");
        }

        function GetFirstActiveSelectedItem() {
            let visibleItems = $("#avatarItemSelectors").find(".slick-active");
            for (let idx = 0; idx < visibleItems.length; idx++) {
                for (let col = 0; col < $(visibleItems[idx]).length; col++) {
                    let items = $(visibleItems[idx]).find(".selected");
                    if (items.first().length > 0) {
                        return items.first();
                    }
                }
            }
        }

        function UpdateRemoveButtonForBundle(item) {
            let layerId = item == undefined ? prevLayerSelected[0] : item.data("layer");
            if (layerId != undefined) {
                $("#removeButton").removeClass("d-none");
                let layer = GetLayerById(layerId);
                $("#layerName").text(layer.data("removelabel"));
                $("#removeButton").data("layer", layerId);
            }
            else {
                $("#removeButton").addClass("d-none");
            }
        }

        //returns the ItemId or ColorId for the first active object & marks it selected
        function SelectGetFirstActiveObjectId(type, layer) {
            let item = $("#avatar" + type + "s").find(".slick-active").find(".avatar-" + type.toLowerCase() + "-selector").first();
            layer.data(type.toLowerCase(), item.data(type.toLowerCase()));
            item.addClass("selected");
            return layer.data(type.toLowerCase());
        }

        //Get all of the selected items
        function GetAllSelectedItems() {
            let layers = $("#layer-container").find(".avatar-layer-selector");
            let items = new Array();
            for (index = 0; index < layers.length; index++) {
                if ($(layers[index]).data("item") != "" && $(layers[index]).data("item") != undefined) {
                    items.push($(layers[index]).data("item"));
                }

            }
            return items;
        }

        //Updates the the layer's image
		function UpdateAvatarContainer(type, id, srcStr, altText, layerId, hide) {
            for (let idx = 0; idx < $(".avatar-container").length; idx++) {
                let image = $($(".avatar-container")[idx]).find(".image" + layerId);
                image.data(type, id);
				image.attr("alt", altText);
                image.attr("src", srcStr);
                if (hide) {
                    image.addClass("d-none");
                }
                else {
                    image.removeClass("d-none");
                }
            }
        }

        // Get the chosen avatar items and converts to JSON
        function GetAvatarSelection() {
            let data_array = new Array();
            $(".avatar-layer-selector").each(function () {
                let layer = {};
                layer['Id'] = $(this).data("layer");
                layer['SelectedItem'] = $(this).data("item");
                layer['SelectedColor'] = $(this).data("color");
                data_array.push(layer);
            });
            return JSON.stringify(data_array);
        }

        // Updates the container with the approprite color
        function SetUnsavedChanges(bool) {
            $(".avatar-save-message").addClass("d-none");
            if (unsavedChanges != bool) {
                if (bool == true) {
                    $("#saveAvatar").removeClass("btn-outline-secondary").addClass("btn-outline-success");
                    unsavedChanges = true;
                }
                else {
                    $("#saveAvatar").removeClass("btn-outline-success").addClass("btn-outline-secondary");
                    unsavedChanges = false;
                }
            }
        }

        // Selects the bundle if the user comes from the notification link
        $(function () {
            $("#error-container").hide();
            let bundleValue = (new URL(location.href)).searchParams.get('bundle');
            if (bundleValue && $("#bundleDropdown")) {
                $('#selector999').trigger("click");
                let bundleItem = $('*[data-bundleid="' + bundleValue + '"]');
                if (bundleItem) {
                    bundleItem.trigger("click");
                }
            }
        });

        // When a layer tab is selected
        $(".avatar-layer-selector").on("click", function () {
            let layer = $(this);
            let currentLayer = CurrentSelectedLayer();
            if (currentLayer == undefined || layer.data("layer") != currentLayer.data("layer")) {
                currentLayer.removeClass("selected");
                SetLayer(layer);
            }
        });

        //Sets the layer with the appropriate containers
        function SetLayer(layer) {
            layer.addClass("selected");
            if (layer.data("layer") == 999) {
                $("#avatarBundles").removeClass("d-none");
                $("#bundle-selected").html("@SharedLocalizer[GRA.Annotations.Interface.SelectABundle] ");
                $("#bundle-selected").append("<span class='caret'></span>");
                $("#bundle-selected").data("bundleid", "");
                $("#avatarItems").addClass("d-none");
                $("#removeButton").addClass("d-none");
            }
            else if (layer.data("showitemselector") == "True") {
                //If a regular item container is being displayed
                $("#avatarBundles").addClass("d-none");
                $("#avatarItems").removeClass("d-none");
                $("#removeButton").data("layer", layer.data("layer"));
                $("#layerName").text(layer.data("removelabel"));
                SetLayersSelectors("#avatarItemSelectors", 3);
            }
            else {
                $("#avatarBundles").addClass("d-none");
                $("#avatarItems").addClass("d-none");
            }
            // Handles the display of Colors and their row cases
            if (layer.data("showcolorselector") == "True") {
                $("#avatarColors").removeClass("d-none");
                SetLayersSelectors("#avatarColorSelectors", layer.data("colorrows"));
            }
            else {
                $("#avatarColors").addClass("d-none");
            }
            layer.data("removable") == "True" ?
                $("#removeButton").removeClass("d-none") :
                $("#removeButton").addClass("d-none");
        }

        // Initializes the item/color slicks
        function SetLayersSelectors(divId, rowCount) {
            let selected = 0;
            let bundleId = 0;
            let selectedIds = [];
            let selectType = (divId == "#avatarColorSelectors") ? "Color" : "Item";

            if ($(divId).hasClass("slick-initialized")) {
                $(divId).slick("unslick");
            }
            $(divId).empty();
            let layerObj = CurrentSelectedLayer();
            let layerId = $(layerObj).data("layer");
            // if we're dealing with bundles
            if (layerId == 999) {
                selectedIds = GetAllSelectedItems();
                selectType = "Bundle";
                bundleId = $("#bundle-selected").data("bundleid");
            } else {
                selected = (selectType == "Color") ? GetLayersSelectedColorId(layerId) : GetLayersSelectedItemId(layerId);
            }
            $.ajax(
                {
                    type: 'GET',
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    data:
                    {
                        type: selectType,
                        layerId: layerId,
                        selectedItemId: $.makeArray(selected),
                        bundleId: bundleId,
                        selectedItemIds: selectedIds
                    },
                    dataType: 'html',
                    url: "@Url.Action(nameof(AvatarController.GetLayersItems))",
                    success: function (data) {
                        $($(divId).parent()).html(data);
                    },
                    error: function () {
                        window.location.href = "@(Url.Action(nameof(SignInController.Index)))"
                    }
                })
                .then(function () {
                    let drag = true;
                    let infin = true;
                    let slickSettings = [];
                    let itemIndex = $(divId).data("index");
                    let totalitems = $(divId).data("count");
                    let lazyLoading = totalitems > 24 ? true : false;
                    //Prevents the repeating of the slick items on mobile
                    if (layerId == 999 && totalitems / 12 <= 1) {
                        drag = false;
                        infin = false;
                    }
                    if (selectType == "Color") {
                        slickSettings.push(SlickSettings(768, Math.floor(itemIndex / (rowCount * 8)) * 8, 8, false, true));
                        slickSettings.push(SlickSettings(992, Math.floor(itemIndex / (rowCount * 10)) * 10, 10, false, true));
                        slickSettings.push(SlickSettings(1200, Math.floor(itemIndex / (rowCount * 12)) * 12, 12, false, true));
                    }
                    else {
                        slickSettings.push(SlickSettings(500, Math.floor(itemIndex / (rowCount * 3)) * 3, 3, drag, false));
                        slickSettings.push(SlickSettings(768, Math.floor(itemIndex / (rowCount * 3)) * 3, 3, false, true));
                        slickSettings.push(SlickSettings(992, Math.floor(itemIndex / (rowCount * 4)) * 4, 4, false, true));
                        slickSettings.push(SlickSettings(1200, Math.floor(itemIndex / (rowCount * 6)) * 6, 6, false, true));
                    }
                    $(divId).slick({
                        arrows: false,
                        infinite: infin,
                        initialSlide: Math.floor(itemIndex / rowCount),
                        lazyLoad: 'anticipated',
                        mobileFirst: true,
                        responsive: slickSettings,
                        rows: rowCount,
                        slidesPerRow: 1,
                        swipeToSlide: true,
                        touchThreshold: 100,
                        variableWidth: true,
                        waitForAnimate: false,
                    });
                    if (layerId == 999) {
                        let item = GetFirstActiveSelectedItem();
                        UpdateRemoveButtonForBundle(item);
                    }
                    else {
                        prevLayerSelected = [];
                    }
                });
        }

        //Creates the slick data
        function SlickSettings(breakpnt, initslide, toshow, drag, arrows) {
            return {
                breakpoint: breakpnt,
                settings: {
                    arrows: arrows,
                    draggable: drag,
                    initialSlide: initslide,
                    slidesToScroll: toshow,
                    slidesToShow: toshow,
                    swipeToSlide: false,
                    touchThreshold: 10,
                    variableWidth: false,
                    waitForAnimate: true
                }
            };
        }

        // When a user saves
        $("#saveAvatar").on("click", function () {
            $(".avatar-save-message").addClass("d-none");
            $(this).prop("disabled", true);
            SaveAvatar();
        });

        // When a user removes the layer's item
        $("#removeButton").on("click", function () {
            SetUnsavedChanges(true);
            $("#saveAvatar").removeClass("btn-outline-secondary");
            $("#saveAvatar").addClass("btn-outline-success");
            let button = $(this);
            let layer = CurrentSelectedLayer();
            if (layer.data("layer") != 999) {
                if (!$("#removeButton").hasClass("d-none") && $(".avatarItems").find(".selected") != undefined
                    && layer.data("removable") == "True") {
                    $(".avatar-item-selector.selected").removeClass("selected");
                    $(".avatar-color-selector.selected").removeClass("selected");
                    layer.data("item", "");
                    layer.data("color", "");
					layer.data("alt", "");
                    UpdateAvatarContainer("item", "", "/", "", layer.data("layer"), true);
                }
            }
            else {
                let itemsLayer = GetLayerById(button.data("layer"));
                if (itemsLayer.data("removable") == "True") {
                    let itemId = GetLayersSelectedItemId(button.data("layer"));
                    itemsLayer.data("item", "");
					itemsLayer.data("alt", "");
                    let item = $("#avatarItemSelectors").find("img.avatar-item-selector[data-item='" + itemId + "']");
                    item.removeClass("selected");
                    let nextSelected = undefined;
                    UpdateAvatarContainer("item", "", "/", "", button.data("layer"), true);
                    prevLayerSelected.splice(0, 1);
                    if (prevLayerSelected[0] != undefined) {
                        nextSelected = $("#avatarItemSelectors").find("img.avatar-item-selector.selected[data-layer='" + prevLayerSelected[0] + "']");
                        UpdateRemoveButtonForBundle(nextSelected);
                    }
                    else {
                        nextSelected = GetFirstActiveSelectedItem();
                        if (nextSelected == undefined) {
                            $("#removeButton").addClass("d-none");
                        }
                        else {
                            UpdateRemoveButtonForBundle(nextSelected);
                        }
                    }
                }
            }
        });

        // Mobile if user zooms in
        $(".avatar-zoom-button").on("click", function () {
            if (xsZoom) {
                $(this).children().removeClass("fa-search-minus").addClass("fa-search-plus");
                $(".xsLayer").css({ "transform": "", "top": "" });
                xsZoom = false;
            }
            else {
                let layer = CurrentSelectedLayer();
                let scale = layer.data("zoomscale");
                let yOffset = layer.data("zoomyoffset");
                $(this).children().removeClass("fa-search-plus").addClass("fa-search-minus");
                $(".xsLayer").css({ "transform": "scale(" + scale + ")", "top": "" + yOffset + "px" });
                xsZoom = true;
            }
        });

        // When a user selects a bundle from the drop down
        function GetBundleItems(bundle) {
            let beenViewed = $(bundle).data("beenviewed");
            let listItem = $(bundle);
            let bundleId = $(bundle).data("bundleid");
            $("#avatarItems").removeClass("d-none");
            $("#bundle-selected").text(listItem.contents().not(listItem.children()).text());
            $("#bundle-selected").append("<span class='caret'></span>");
            $($("#bundle-drop").find(".active")).removeClass("active");
            $("#bundle-selected").data("bundleid", listItem.data("bundleid"));
            listItem.addClass("active");
            // Updates unviewed bundle
            if (beenViewed == "False") {
                $.post("@Url.Action(nameof(AvatarController.UpdateBundleHasBeenViewed))",
                    { bundleId: bundleId },
                    function (response) {
                        if (response.success) {
                            listItem.find('span.newBundleSpan').remove();
                            listItem.data("beenviewed", "True")
                            if ($("span.newBundleSpan").length == 0) {
                                $("#selector999").attr("src", "/content/site1/avatarbundles/icon.png");
                            }
                        }
                    });
            }
            SetLayersSelectors("#avatarItemSelectors", 3);
        }

        // Selecting an Item
        function SelectItem(item) {
            SetUnsavedChanges(true);
            $("#saveAvatar").removeClass("btn-outline-secondary");
            $("#saveAvatar").addClass("btn-outline-success");
            let newDataItem = $(item);
            let itemsLayer = GetLayerById(newDataItem.data("layer"));
            let layerTab = CurrentSelectedLayer();
            // If we're not on bundles remove selected item
            if (layerTab.data("layer") != 999) {
                let oldItem = $("#avatarItemSelectors").find(".selected");
                oldItem.removeClass("selected");
            }
            else {
                // If a bundle, remove selected layer element
                let currentItemId = GetLayersSelectedItemId(newDataItem.data("layer"));
                let currentItem = $("#avatarItems").find("[data-item='" + currentItemId + "']");
                if (currentItemId != newDataItem.data("item")) {
                    currentItem.removeClass("selected");
                }
                if (itemsLayer.data("layer") != prevLayerSelected[0]) {
                    for (let idx = 0; idx < prevLayerSelected.length; idx++) {
                        if (prevLayerSelected[idx] === itemsLayer.data("layer")) {
                            prevLayerSelected.splice(idx, 1);
                        }
                    }
                    prevLayerSelected.unshift(itemsLayer.data("layer"));
                    $("#removeButton").removeClass("d-none");
                    UpdateRemoveButtonForBundle(newDataItem);
                }
            }
            let itemId = newDataItem.data("item");
			let altText = newDataItem.attr("alt");
            newDataItem.addClass("selected");
            itemsLayer.data("item", itemId);
			itemsLayer.data("alt", altText);
            let colorId = itemsLayer.data("color");
            let srcStr = baseImagePath + "layer" + itemsLayer.data("layer") + "/item" + itemId;
            // Handles the image path with the correct color
            if (itemsLayer.data("showcolorselector") == "True") {
                if ((colorId == undefined || colorId == "")) {
                    colorId = SelectGetFirstActiveObjectId("Color", itemsLayer);
                }
                srcStr = srcStr + "/item_" + colorId + ".png";
            }
            else {
                srcStr = srcStr + "/item.png";
            }
			UpdateAvatarContainer("item", itemId, srcStr, altText, itemsLayer.data("layer"), false);
        };

        // Updates the color selected and removes the old
        function SelectColor(color) {
            SetUnsavedChanges(true);
            $("#saveAvatar").removeClass("btn-outline-secondary");
            $("#saveAvatar").addClass("btn-outline-success");
            $("#avatarColorSelectors").find(".selected").removeClass("selected");
            let dataColor = $(color);
            dataColor.addClass("selected");
            let layer = GetLayerById(dataColor.data("layer"));
            let colorId = dataColor.data("color");
            let itemId = layer.data("item");
			let altText = layer.data("alt");
            layer.data("color", colorId);
            if (itemId == "" || itemId == undefined) {
                itemId = SelectGetFirstActiveObjectId("Item", layer);
            }
            let srcStr = baseImagePath + "layer" + layer.data("layer") + "/item" + itemId + "/item_" + colorId + ".png";
            //updates both containers with the appropriate images
			UpdateAvatarContainer("color", colorId, srcStr, altText, layer.data("layer"), false);
        };

        // Saves the Avatars items
        function SaveAvatar() {
            $.post("@Url.Action("SaveAvatar")", { selectionJson: GetAvatarSelection() }, function (response) {
                if (response.success == true) {
                    $(".avatar-save-message").removeClass("alert-danger").addClass("alert-success");
                    $(".avatar-save-message").html("@SharedLocalizer[GRA.Annotations.Interface.AvatarSaved]");

                    if (unsavedChanges && typeof gtag !== 'undefined') {
                        gtag('event', 'avatar_update');
                    }

                    SetUnsavedChanges(false);
                }
                else {
                    $(".avatar-save-message").removeClass("alert-success").addClass("alert-danger");
                    $(".avatar-save-message").text(response.message);
                }
            }).fail(function () {
                $(".avatar-save-message").removeClass("alert-success").addClass("alert-danger");
                $(".avatar-save-message").html("@SharedLocalizer[GRA.Annotations.Validate.CouldNotSaveAvatar]");
            }).always(function () {
                ResetSpinners();
                $(".avatar-save-message").removeClass("d-none");
                $("#saveAvatar").prop("disabled", false);
            });
        }
    </script>

    @if (Model.SharingEnabled)
    {
        // Add's the avatars selection to the share form
        <script>
            $("#shareForm").on("submit", function (e) {
                if (unsavedChanges) {
                    if (typeof gtag !== 'undefined') {
                        gtag('event', 'avatar_update');
                    }
                    $("#shareForm").find("input")
                        .attr("value", GetAvatarSelection())
                        .appendTo($(this));
                }
            });
        </script>
    }
}
