@model GRA.Controllers.ViewModel.Avatar.ShareViewModel

<div class="row row-spacing">
    <div class="col-xs-12">
        <img src="@Model.AvatarImageUrl" class="img-responsive" />
    </div>
</div>

<div class="row row-spacing">
    <div class="col-xs-12">
        <a asp-action="Index" class="btn btn-default row-spacing">
            <span class="fa fa-arrow-left"></span>
            @SharedLocalizer[GRA.Annotations.Interface.Back]
        </a>

        <a aria-label="Facebook @SharedLocalizer[GRA.Annotations.Info.OpensNewWindow]"
           href="@Model.FacebookShareUrl"
           class="btn btn-default row-spacing"
           target="_blank">
            <span class="fa fa-facebook"></span>
            @SharedLocalizer[GRA.Annotations.Interface.Share]
        </a>

        <a aria-label="Twitter @SharedLocalizer[GRA.Annotations.Info.OpensNewWindow]"
           href="@Model.TwitterShareUrl"
           class="btn btn-default row-spacing"
           target="_blank">
            <span class="fa fa-twitter"></span>
            @SharedLocalizer[GRA.Annotations.Interface.Share]
        </a>
        <a asp-action="InstagramImage"
           asp-route-id="@Model.AvatarId"
           class="btn btn-default row-spacing"
           download="avatar.jpg">
            <span class="fa fa-instagram"></span>
            @SharedLocalizer[GRA.Annotations.Interface.DownloadToShare]
        </a>
    </div>
</div>