@model GRA.Controllers.ViewModel.MissionControl.News.CategoryListViewModel

@await Html.PartialAsync("_NewsPartial")

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        <a asp-action="CreateCategory" class="btn btn-secondary">Add a Category</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Categories.Count() == 0)
        {
            <div class="alert alert-warning">No Categories found.</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th># of Posts</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                @if (category.IsDefault)
                                {
                                    <td>@category.Name</td>
                                }
                                else
                                {
                                    <td class="td-class">
                                        <a asp-action="@nameof(NewsController.EditCategory)" asp-route-id="@category.Id" class="rowlink">
                                            @category.Name
                                        </a>
                                    </td>
                                }

                                <td>@category.PostCount</td>

                                @if (category.IsDefault)
                                {
                                    <td>&nbsp;</td>
                                }
                                else
                                {
                                    <td class="on-top gra-mc-icon">
                                        <button type="button"
                                                class="btn btn-danger btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteModal"
                                                data-id="@category.Id"
                                                data-name="@category.Name">
                                            <span class="fas fa-times" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-action="@nameof(NewsController.DeleteCategory)"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <input asp-for="Category.Id" type="hidden" />
                <input asp-for="Category.Name" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="deleteModalLabel">Delete Category</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-danger btn-spinner pull-right"
                                aria-label="Confirm"
                                button-spinner>
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var modal = $(this);
            modal.find("#modal-text").text("Are you sure you want to delete the category \"" + name + "\"?");
            modal.find("#Category_Id").val(id);
            modal.find("#Category_Name").val(name);
        });

        $(window).on("load", function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).height() + 11);
            });
        });
    </script>
}
