@model GRA.Controllers.ViewModel.MissionControl.News.PostListViewModel

@await Html.PartialAsync("_NewsPartial")

<div class="row row-spacing">
    <div class="col-xs-12">
        <span class="dropdown-label">Category:</span>
        <ul class="nav" style="display: inline-table;">
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @(Model.Category?.Name ?? "Show All") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-route-Search="@Model.Search">Show All</a></li>
                    @foreach (var category in Model.CategoryList)
                    {
                        <li><a asp-route-Search="@Model.Search" asp-route-Category="@category.Id">@category.Name</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>

<form asp-controller="News" asp-action="Index" method="get" role="form">
    @if (Model.CategoryId.HasValue)
    {
        <input name="Category" value="@Model.CategoryId" type="hidden" />
    }
    <div class="row row-spacing">
        <div class="col-xs-8">
            <input asp-for="Search" class="form-control" />
        </div>
        <div class="col-xs-4">
            <input type="submit" value="Search" class="btn btn-secondary" style="margin-right: 8px;" />
            <a asp-action="Index" asp-route-Category="@Model.CategoryId" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.Search))
{
    <div class="row">
        <div class="col-xs-12">
            <p class="alert-sm alert-info">Searching for '<strong>@Model.Search</strong>'</p>
        </div>
    </div>
}

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        <a asp-action="CreatePost" class="btn btn-secondary">Add a Post</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Posts.Count() == 0)
        {
            <div class="alert alert-warning">No Posts found.</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Published</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in Model.Posts)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="@nameof(NewsController.EditPost)" asp-route-id="@post.Id" class="rowlink">
                                        @(post.PublishedAt.HasValue ? post.PublishedAt.Value.ToString() : "Draft")
                                    </a>
                                </td>
                                <td>@post.Title</td>
                                <td>@post.CategoryName</td>
                                <td class="on-top gra-mc-icon">
                                    <button type="button"
                                            class="btn btn-danger btn-sm"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            data-id="@post.Id"
                                            data-name="@post.Title">
                                        <span class="fas fa-times" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-action="@nameof(NewsController.DeletePost)"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                <input asp-for="Post.Id" type="hidden" />
                <input asp-for="Post.Title" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="btn-close"
                                data-dismiss="modal"
                                aria-label="Close dialog">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h1 class="modal-title h4" id="deleteModalLabel">Delete Post</h1>
                    </div>
                    <div class="modal-body">
                        <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-danger btn-spinner pull-right"
                                aria-label="Confirm"
                                button-spinner>
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $("#deleteModal").on("show.bs.modal", function (e) {
            var button = $(e.relatedTarget);
            var id = button.data("id");
            var name = button.data("name");
            var modal = $(this);
            modal.find("#modal-text").text("Are you sure you want to delete the post \"" + name + "\"?");
            modal.find("#Post_Id").val(id);
            modal.find("#Post_Title").val(name);
        });

        $(window).on("load", function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).height() + 11);
            });
        });
    </script>
}
