@model GRA.Controllers.ViewModel.MissionControl.Lookup.ChallengesListViewModel

@if (Model.Challenges.Count() == 0)
{
    <div class="alert alert-warning">No Challenges found.</div>
}
else
{
    <div>
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    @if (Model.ShowActive)
                    {
                        <th style="width: 75px">Active</th>
                    }
                    <th style="width: 75px">Badge</th>
                    <th style="width: 75px">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var challenge in Model.Challenges)
                {
                    <tr>
                        <td>
                            @if (Model.CanEditChallenges)
                            {
                                <a asp-controller="Challenges"
                                   asp-action="Edit"
                                   asp-route-id="@challenge.Id"
                                   target="_blank">@challenge.Name</a>
                            }
                            else
                            {
                                <a asp-area=""
                                   asp-controller="Challenges"
                                   asp-action="Details"
                                   asp-route-id="@challenge.Id"
                                   target="_blank">@challenge.Name</a>
                            }
                        </td>
                        @if (Model.ShowActive)
                        {
                            <td class="text-center align-middle">
                                @if (challenge.IsActive)
                                {
                                    <span class="far fa-check-circle fa-lg text-success"></span>
                                }
                                else
                                {
                                    <span class="far fa-times-circle fa-lg text-danger"></span>
                                }
                            </td>
                        }
                        <td class="text-center align-middle">
                            @if (!string.IsNullOrWhiteSpace(challenge.BadgeFilename))
                            {
                                <img class="img-thumbnail badge-xs"
                                     src="~/@challenge.BadgeFilename?@DateTime.Now.ToString("yyMMddHHmmss")" />
                            }
                            else
                            {
                                <text>&nbsp;</text>
                            }
                        </td>
                        <td class="text-center align-middle">
                            <button type="button"
                                    class="btn btn-outline-success btn-sm addChallengeButton"
                                    data-id="@challenge.Id">
                                <span class="fas fa-plus fa-fw" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <paginate paginateModel="@Model.PaginateModel" asButtons="true"></paginate>
}
