@model GRA.Controllers.ViewModel.MissionControl.Lookup.RequirementListViewModel

@if (Model.Requirements.Count() == 0)
{
    <div class="alert alert-warning">No Requirements found</div>
}
else
{
    <div>
        <table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td width="44px">Type</td>
                    <td width="75px">Badge</td>
                    <td width="44px">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var requirement in Model.Requirements)
                {
                    <tr>
                        <td>
                            @requirement.Name
                        </td>
                        <td style="text-align:center;">
                            <span class="fa fa-2x @requirement.Icon" title="@requirement.IconDescription"></span>
                        </td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(requirement.BadgePath))
                            {
                                <img class="img-thumbnail" style="height: auto; width: 64px;"
                                     src="~/@requirement.BadgePath?@DateTime.Now.ToString("yyMMddHHmmss")"
                                     asp-append-version="true" />
                            }
                            else
                            {
                                <text>&nbsp;</text>
                            }
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-link btn-xs addRequirementButton"
                                    data-badgeid="@requirement.BadgeId"
                                    data-challengeid="@requirement.ChallengeId">
                                <span class="fa fa-2x fa-plus-circle text-success" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.PaginateModel.MaxPage > 1)
    {
        <paginate paginateModel="@Model.PaginateModel" asButtons="true"></paginate>
    }
}
