@model GRA.Controllers.ViewModel.MissionControl.Lookup.RequirementListViewModel

@if (Model.Requirements.Count() == 0)
{
    <div class="alert alert-warning">No Requirements found.</div>
}
else
{
    string cacheBuster = DateTime.Now.ToString("yyMMddHHmmss");
    <div>
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                    <td>Badge</td>
                    <td style="min-width: 50px;">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var requirement in Model.Requirements)
                {
                    <tr>
                        <td>
                            @requirement.Name
                        </td>
                        <td class="align-middle text-primary text-center">
                            <span class="fa-stack">
                                <span class="fas fa-circle fa-stack-2x"></span>
                                <span class="fa fa-stack-1x fa-inverse @requirement.Icon"
                                      title="@requirement.IconDescription"></span>
                            </span>
                        </td>
                        <td class="text-center align-middle">
                            @if (!string.IsNullOrWhiteSpace(requirement.BadgePath))
                            {
                                <img class="img-thumbnail badge-xs"
                                     src="~/@requirement.BadgePath?@cacheBuster" />
                            }
                            else
                            {
                                <text>&nbsp;</text>
                            }
                        </td>
                        <td class="text-center align-middle">
                            <button type="button"
                                    class="btn btn-outline-success btn-sm addRequirementButton"
                                    data-badgeid="@requirement.BadgeId"
                                    data-challengeid="@requirement.ChallengeId">
                                <span class="fas fa-plus fa-fw" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <paginate paginateModel="@Model.PaginateModel" asButtons="true"></paginate>
}
