@model GRA.Controllers.ViewModel.MissionControl.Drawing.CriterionListViewModel

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <a asp-action="Index" class="btn btn-outline-secondary">Drawings</a>
        <a asp-action="CriteriaCreate" class="btn btn-outline-primary">Create Criteria</a>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-2">
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
                <a asp-route-Search="@Model.Search" asp-route-ProgramId="@Model.ProgramId" class="nav-link @(Model.ActiveNav == "All" ? "active" : "")">All</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-toggle nav-link @(Model.ActiveNav == "System" ? "active" : "")" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @(Model.SystemName ?? "System") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var system in Model.SystemList)
                    {
                        <li><a asp-route-Search="@Model.Search" asp-route-SystemId="@system.Id" asp-route-ProgramId="@Model.ProgramId">@system.Name</a></li>
                    }
                </ul>
            </li>
            <li class="nav-item">
                <a class="dropdown-toggle nav-link @(Model.ActiveNav == "Branch" ? "active" : "")" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @(Model.BranchName ?? "Branch") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var branch in Model.BranchList)
                    {
                        <li><a asp-route-Search="@Model.Search" asp-route-BranchId="@branch.Id" asp-route-ProgramId="@Model.ProgramId">@branch.Name</a></li>
                    }
                </ul>
            </li>
            <li class="nav-item"><a asp-route-Search="@Model.Search" asp-route-ProgramId="@Model.ProgramId" asp-route-Mine="True" class="nav-link @(Model.ActiveNav == "Mine" ? "active" : "")">Mine</a></li>
        </ul>
    </div>
</div>

<div class="row row-spacing">
    <div class="col-12">
        <span class="dropdown-label">Limited to Program:</span>
        <ul class="nav" style="display: inline-table;">
            <li>
                <a class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @(Model.ProgramName ?? "Show All") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-route-Search="@Model.Search" asp-route-SystemId="@Model.SystemId" asp-route-BranchId="@Model.BranchId" asp-route-Mine="@Model.Mine">Show All</a></li>
                    <li><a asp-route-Search="@Model.Search" asp-route-SystemId="@Model.SystemId" asp-route-BranchId="@Model.BranchId" asp-route-Mine="@Model.Mine" asp-route-ProgramId="0">Not Limited</a></li>
                    @foreach (var program in Model.ProgramList)
                    {
                        <li><a asp-route-Search="@Model.Search" asp-route-ProgramId="@program.Id" asp-route-SystemId="@Model.SystemId" asp-route-BranchId="@Model.BranchId" asp-route-Mine="@Model.Mine">@program.Name</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>

<form asp-controller="Drawing" asp-action="Criteria" method="get" role="form">
    @if (Model.SystemId.HasValue)
    {
        <input asp-for="SystemId" type="hidden" />
    }
    @if (Model.BranchId.HasValue)
    {
        <input asp-for="BranchId" type="hidden" />
    }
    @if (Model.Mine == true)
    {
        <input asp-for="Mine" type="hidden" />
    }
    @if (Model.ProgramId.HasValue)
    {
        <input asp-for="ProgramId" type="hidden" />
    }

    <div class="row row-spacing">
        <div class="col-8">
            <input asp-for="Search" class="form-control" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-outline-primary" style="margin-right: 8px;" />
            <a asp-action="Criteria" asp-route-SystemId="@Model.SystemId" asp-route-BranchId="@Model.BranchId" asp-route-ProgramId="@Model.ProgramId" asp-route-Mine="@Model.Mine" class="btn btn-outline-secondary">Clear</a>
        </div>
    </div>
</form>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.Criteria.Count() == 0)
        {
            <div class="alert alert-warning">No Criteria</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>System</th>
                            <th>Branch</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var criterion in Model.Criteria)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="CriteriaDetail" asp-route-id="@criterion.Id" class="rowlink">
                                        @criterion.Name
                                    </a>
                                </td>
                                <td>@criterion.SystemName</td>
                                <td>@criterion.BranchName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
    </script>
}