@model GRA.Controllers.ViewModel.MissionControl.Drawing.CriterionListViewModel

@section inHeading {
    <div class="ms-auto">
        <a asp-action="@nameof(DrawingController.Index)"
           class="btn btn-outline-primary">Drawing List</a>
        <a asp-action="@nameof(DrawingController.CriteriaCreate)"
           class="btn btn-outline-success">
            <span class="fas fa-plus-circle"></span>
            Create Criteria
        </a>
    </div>
}

<div class="row my-4">
    <div class="col-12">
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
                <a asp-route-Search="@Model.Search"
                   asp-route-ProgramId="@Model.ProgramId"
                   class="nav-link @(Model.ActiveNav == "All" ? "active" : null)">All</a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link @(Model.ActiveNav == "System" ? "active" : null)"
                   data-bs-toggle="dropdown"
                   href="#"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    @(Model.SystemName ?? "System") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var system in Model.SystemList)
                    {
                        <li>
                            <a asp-route-Search="@Model.Search"
                               asp-route-SystemId="@system.Id"
                               asp-route-ProgramId="@Model.ProgramId"
                               class="dropdown-item">@system.Name</a>
                        </li>
                    }
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link @(Model.ActiveNav == "Branch" ? "active" : null)"
                   data-bs-toggle="dropdown"
                   href="#"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    @(Model.BranchName ?? "Branch") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var branch in Model.BranchList)
                    {
                        <li>
                            <a asp-route-Search="@Model.Search"
                               asp-route-BranchId="@branch.Id"
                               asp-route-ProgramId="@Model.ProgramId"
                               class="dropdown-item">@branch.Name</a>
                        </li>
                    }
                </ul>
            </li>
            <li class="nav-item">
                <a asp-route-Search="@Model.Search"
                   asp-route-ProgramId="@Model.ProgramId"
                   asp-route-Mine="True"
                   class="nav-link @(Model.ActiveNav == "Mine" ? "active" : null)">Mine</a>
            </li>
            <li class="nav-item d-none d-sm-block"><a class="nav-link disabled">|</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown"
                   href="#"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Limitations: @(Model.ProgramName ?? "All Criteria") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                           asp-route-Search="@Model.Search"
                           asp-route-SystemId="@Model.SystemId"
                           asp-route-BranchId="@Model.BranchId"
                           asp-route-Mine="@Model.Mine">Show All</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           asp-route-Search="@Model.Search"
                           asp-route-SystemId="@Model.SystemId"
                           asp-route-BranchId="@Model.BranchId"
                           asp-route-Mine="@Model.Mine"
                           asp-route-ProgramId="0">Not Limited</a>
                    </li>
                    @foreach (var program in Model.ProgramList)
                    {
                        <li>
                            <a class="dropdown-item"
                               asp-route-Search="@Model.Search"
                               asp-route-ProgramId="@program.Id"
                               asp-route-SystemId="@Model.SystemId"
                               asp-route-BranchId="@Model.BranchId"
                               asp-route-Mine="@Model.Mine">@program.Name</a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>

<form asp-controller="Drawing" asp-action="Criteria" method="get" role="form">
    @if (Model.SystemId.HasValue)
    {
        <input asp-for="SystemId" type="hidden" />
    }
    @if (Model.BranchId.HasValue)
    {
        <input asp-for="BranchId" type="hidden" />
    }
    @if (Model.Mine == true)
    {
        <input asp-for="Mine" type="hidden" />
    }
    @if (Model.ProgramId.HasValue)
    {
        <input asp-for="ProgramId" type="hidden" />
    }
    <div class="row my-3">
        <div class="col-12 input-group">
            <input asp-for="Search"
                   class="form-control"
                   placeholder="Search drawing criteria" />
            <a asp-action="@nameof(DrawingController.Criteria)"
               asp-route-SystemId="@Model.SystemId"
               asp-route-BranchId="@Model.BranchId"
               asp-route-ProgramId="@Model.ProgramId"
               asp-route-Mine="@Model.Mine"
               class="btn btn-outline-secondary">Clear</a>
            <input type="submit" value="Search" class="btn btn-outline-primary" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        @if (Model.Criteria.Count() == 0)
        {
            <div class="alert alert-warning">No Criteria</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>System</th>
                            <th>Branch</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var criterion in Model.Criteria)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="CriteriaDetail"
                                       asp-route-id="@criterion.Id"
                                       class="rowlink">
                                        @criterion.Name
                                    </a>
                                </td>
                                <td>@criterion.SystemName</td>
                                <td>@criterion.BranchName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.td-class').each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });
    </script>
}