@model GRA.Controllers.ViewModel.MissionControl.Drawing.CriterionDetailViewModel

@section inHeading {
    <div class="ms-auto">
        <a asp-action="@nameof(DrawingController.Criteria)"
           class="btn btn-outline-secondary">Return to list</a>
    </div>
}

@if (!string.IsNullOrEmpty(Model.CreatedByName))
{
    <div class="fs-5 mt-2 mb-3">
        Created By:
        @if (Model.CanViewParticipants)
        {
            <a aria-label="@Model.CreatedByName (Opens new window)"
               asp-action="@nameof(ParticipantsController.Detail)"
               asp-controller="@ParticipantsController.Name"
               asp-route-id="@Model.Criterion.CreatedBy"
               target="_blank">@Model.CreatedByName</a>
        }
        else
        {
            @Model.CreatedByName
        }
        on @Model.Criterion.CreatedAt
    </div>
}

<p>
    To perform drawings, first configure a <strong>Drawing Criteria</strong> (this page),
    then perform the <strong>Drawing.</strong>
</p>
<p>
    Configure the <strong>Drawing Criteria</strong> here. This will limit the participants who are
    entered into the pool to be eligible for the drawing. Fields which are left blank indicate that
    participants are not filtered/limited by the criteria of those fields. For example:
    <ul>
        <li>
            If you select a particular system or branch, only participants registered with that
            system or branch will be eligible to win the drawing. If you do not select one then
            participants from all systems and branches will be eligible.
        </li>
        <li>
            If you select one or more age groups then only participants registered in the selected
            age group(s) will be eligible to win the drawing. If you select all age groups it is
            the same as selecting no age groups: participants from all groups will be eligible.
        </li>
    </ul>
</p>

<form asp-controller="@DrawingController.Name"
      asp-action="@nameof(DrawingController.CriteriaDetail)"
      method="post"
      role="form">
    <input asp-for="Criterion.Id" type="hidden" />
    <div class="row">
        <div class="col-12">
            <label asp-for="Criterion.Name" class="col-form-label"></label>
            <input asp-for="Criterion.Name" class="form-control" />
            <span asp-validation-for="Criterion.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <label asp-for="Criterion.SystemId" class="col-form-label"></label>
            <select asp-for="Criterion.SystemId" asp-items="Model.SystemList" class="form-select">
                <option></option>
            </select>
            <span asp-validation-for="Criterion.SystemId" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <label asp-for="Criterion.BranchId" class="col-form-label"></label>
            <select asp-for="Criterion.BranchId" asp-items="Model.BranchList" class="form-select">
                <option></option>
            </select>
            <span asp-validation-for="Criterion.BranchId" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <label asp-for="Criterion.ProgramId" class="col-form-label"></label>
            <select asp-for="Criterion.ProgramIds"
                    asp-items="Model.ProgramList"
                    autocomplete="off"
                    class="form-select"
                    multiple="multiple"></select>
            <span asp-validation-for="Criterion.ProgramId" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <label asp-for="Criterion.PointsMinimum" class="col-form-label"></label>
            <input asp-for="Criterion.PointsMinimum" type="number" min="0" class="form-control" />
            <span asp-validation-for="Criterion.PointsMinimum" class="text-danger"></span>
        </div>

        <div class="col-6">
            <label asp-for="Criterion.PointsMaximum" class="col-form-label"></label>
            <input asp-for="Criterion.PointsMaximum" type="number" min="0" class="form-control" />
            <span asp-validation-for="Criterion.PointsMaximum" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <label asp-for="Criterion.StartOfPeriod" class="col-form-label"></label>
            <div class="gra-picker-datetime"
                 current-value="@Model.Criterion?.StartOfPeriod"
                 datetimepicker-container
                 id="criterionStartOfPeriodPicker">
                <input asp-for="Criterion.StartOfPeriod" datetimepicker-input type="text" />
            </div>
            <span asp-validation-for="Criterion.StartOfPeriod" class="text-danger"></span>
        </div>

        <div class="col-6">
            <label asp-for="Criterion.EndOfPeriod" class="col-form-label"></label>
            <div class="gra-picker-datetime"
                 current-value="@Model.Criterion?.EndOfPeriod"
                 datetimepicker-container
                 id="criterionEndOfPeriodPicker">
                <input asp-for="Criterion.EndOfPeriod" datetimepicker-input type="text" />
            </div>
            <span asp-validation-for="Criterion.EndOfPeriod" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <label asp-for="Criterion.ReadABook" class="col-form-label"></label>
            <select asp-for="Criterion.ReadABook" class="form-select">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="Criterion.ReadABook" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <label asp-for="Criterion.ExcludePreviousWinners" class="col-form-label"></label>
            <select asp-for="Criterion.ExcludePreviousWinners" class="form-select">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="Criterion.ExcludePreviousWinners" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <label asp-for="Criterion.IncludeAdmin" class="col-form-label"></label>
            <select asp-for="Criterion.IncludeAdmin" class="form-select">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="Criterion.IncludeAdmin" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <label class="col-form-label">Eligible Participants (Click save to update)</label>
            <input asp-for="EligibleCount" type="text" class="form-control" readonly />
        </div>
    </div>
    <div class="mb-3">
        <button type="submit"
                id="Submit"
                name="Submit"
                value="Submit"
                class="btn btn-outline-primary"
                button-spinner>
            <span class="buttonText">Save Criteria</span>
        </button>
        <button type="submit"
                id="Drawing"
                name="Drawing"
                value="Drawing"
                class="btn btn-outline-success"
                button-spinner>
            <span class="buttonText">Save and Perform Drawing</span>
        </button>
    </div>
</form>

@section scripts
{
    <script>
        $("#Criterion_SystemId").on("change", function () {
            let systemId = $(this).val();
            let branchList = $("#Criterion_BranchId");
            let branchId = branchList.val();
            let url = "@Url.Action(nameof(GRA.Controllers.LookupController.GetBranches), GRA.Controllers.LookupController.Name, new { Area = string.Empty })";

            $.getJSON(url, {
                systemId: systemId,
                branchId: branchId,
                listAll: "true",
                prioritize: "true"
            }, function (response) {
                branchList.empty();
                branchList.append(new Option("No", ""));
                $.each(response, function (_, item) {
                    branchList.append(new Option(item.text,
                        item.value,
                        item.selected,
                        item.selected))
                });
            });
        });

        $(function() {
            new TomSelect("#Criterion_ProgramIds");
        });
    </script>
}