@model GRA.Controllers.ViewModel.MissionControl.Drawing.DrawingDetailViewModel

<div class="row">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel">Delete winner</h4>
                </div>
                <div class="modal-body">
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                    <form asp-controller="Drawing" asp-action="RemoveWinner" method="post" role="form" style="display:inline">
                        <input id="drawingId" name="drawingId" value="@Model.Drawing.Id" type="hidden" />
                        <input id="prizeWinnerId" name="prizeWinnerId" type="hidden" />
                        <input id="page" name="page" value="@Model.PaginateModel.CurrentPage" type="hidden" />
                        <button type="submit" class="btn btn-danger pull-right" aria-label="Confirm">
                            <span class="fa fa-remove" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        <label class="control-label">Criteria</label>
        <input asp-for="Drawing.DrawingCriterion.Name" class="form-control" readonly />
    </div>
</div>

<div class="row row-spacing">
    <div class="col-xs-12">
        <label asp-for="Drawing.Name" class="control-label"></label>
        <input asp-for="Drawing.Name" class="form-control" readonly />
        <span asp-validation-for="Drawing.Name" class="text-danger"></span>
    </div>
</div>

<div class="row row-spacing">
    <div class="col-xs-6">
        <label asp-for="Drawing.WinnerCount" class="control-label"></label>
        <input asp-for="Drawing.WinnerCount" class="form-control" readonly />
        <span asp-validation-for="Drawing.WinnerCount" class="text-danger"></span>
    </div>

    <div class="col-xs-6">
        <label class="control-label">Eligible Participants</label>
        <input asp-for="Drawing.DrawingCriterion.EligibleCount" type="text" class="form-control" readonly />
    </div>
</div>

<div class="row row-spacing">
    <div class="col-xs-12">
        <label asp-for="Drawing.RedemptionInstructions" class="control-label"></label>
        <textarea asp-for="Drawing.RedemptionInstructions" class="form-control" readonly></textarea>
        <span asp-validation-for="Drawing.RedemptionInstructions" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <a asp-action="Index" class="btn btn-default">Return to Drawing List</a>
</div>

<hr />

<table class="table table-condensed table-bordered table-striped">
    <thead>
        <tr>
            <th>Redeemed?</th>
            <th>Username</th>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var winner in Model.Drawing.Winners)
        {
            <tr>
                <td>
                    @if (winner.RedeemedAt.HasValue)
                    {
                        <form asp-controller="Drawing" asp-action="UndoRedemption" method="post" role="form">
                            <strong>Reedemed</strong> at @winner.RedeemedAt.Value.ToString()

                            <input id="drawingId" name="drawingId" value="@Model.Drawing.Id" type="hidden" />
                            <input id="prizeWinnerId" name="prizeWinnerId" value="@winner.Id" type="hidden" />
                            <input id="page" name="page" value="@Model.PaginateModel.CurrentPage" type="hidden" />
                            <button type="submit" style="margin-left:5px;" class="btn btn-default btn-xs btn-spinner">
                                Undo
                                <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
                            </button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Drawing" asp-action="RedeemWinner" method="post" role="form">
                            <input id="drawingId" name="drawingId" value="@Model.Drawing.Id" type="hidden" />
                            <input id="prizeWinnerId" name="prizeWinnerId" value="@winner.Id" type="hidden" />
                            <input id="page" name="page" value="@Model.PaginateModel.CurrentPage" type="hidden" />
                            <button type="submit" class="btn btn-success btn-xs btn-spinner">
                                <span class="fa fa-gift"></span>
                                Available, click to redeem!
                                <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
                            </button>
                        </form>
                    }
                </td>
                <td>
                    <a asp-controller="Participants" asp-action="Detail" asp-route-id="@winner.UserId">
                        @winner.UserUsername
                    </a>
                </td>
                <td>
                    <a asp-controller="Participants" asp-action="Detail" asp-route-id="@winner.UserId">
                        @winner.UserFirstName @winner.UserLastName
                    </a>
                </td>
                <td>
                    @if (!winner.RedeemedAt.HasValue)
                    {
                        <button type="button"
                                class="btn btn-danger btn-xs"
                                data-toggle="modal"
                                data-target="#deleteModal"
                                data-id="@winner.Id"
                                data-name="@winner.UserFirstName @winner.UserLastName">
                            <span class="fa fa-remove" aria-hidden="true"></span>
                        </button>
                    }
                    else
                    {
                        @:&nbsp;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PaginateModel.MaxPage > 1)
{
    <paginate paginateModel="@Model.PaginateModel"></paginate>
}

@section scripts
{
    <script>
        $('#deleteModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#modal-text').text('Are you sure you wish to remove the winner "' + name + '" ?');
            modal.find('#prizeWinnerId').val(id);
        });
    </script>
}