@model GRA.Controllers.ViewModel.MissionControl.Drawing.DrawingListViewModel

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        <a asp-action="Criteria" class="btn btn-default">Drawing Criteria</a>
        @if (Model.Archived == true)
        {
            <a asp-action="Index" class="btn btn-default">Drawing List</a>
        }
        else
        {
            <a asp-action="Index" asp-route-Archived="True" class="btn btn-default">Archived Drawings</a>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div style="font-size:large;padding-top:10px;">Created By:</div>
        <ul class="nav nav-pills" style="padding: 10px 0;">
            <li class="@(Model.ActiveNav == "All" ? "active" : "")"><a asp-route-Search="@Model.Search" asp-route-ProgramId="@Model.ProgramId" asp-route-Archived="@Model.Archived">All</a></li>
            <li class="@(Model.ActiveNav == "System" ? "active" : "")">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @(Model.SystemName ?? "System") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var system in Model.SystemList)
                    {
                        <li><a asp-route-Search="@Model.Search" asp-route-SystemId="@system.Id" asp-route-ProgramId="@Model.ProgramId" asp-route-Archived="@Model.Archived">@system.Name</a></li>
                    }
                </ul>
            </li>
            <li class="@(Model.ActiveNav == "Branch" ? "active" : "")">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @(Model.BranchName ?? "Branch") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var branch in Model.BranchList)
                    {
                        <li><a asp-route-Search="@Model.Search" asp-route-BranchId="@branch.Id" asp-route-ProgramId="@Model.ProgramId" asp-route-Archived="@Model.Archived">@branch.Name</a></li>
                    }
                </ul>
            </li>
            <li class="@(Model.ActiveNav == "Mine" ? "active" : "")"><a asp-route-Search="@Model.Search" asp-route-ProgramId="@Model.ProgramId" asp-route-Mine="True" asp-route-Archived="@Model.Archived">Mine</a></li>
        </ul>
    </div>
</div>

<div class="row row-spacing">
    <div class="col-xs-12">
        <span style="font-size:large;">Limited to Program:</span>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            @(Model.ProgramName ?? "Show All") <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-route-Search="@Model.Search" asp-route-SystemId="@Model.SystemId" asp-route-BranchId="@Model.BranchId" asp-route-Mine="@Model.Mine" asp-route-Archived="@Model.Archived">Show All</a></li>
            <li><a asp-route-Search="@Model.Search" asp-route-SystemId="@Model.SystemId" asp-route-BranchId="@Model.BranchId" asp-route-Mine="@Model.Mine" asp-route-ProgramId="0" asp-route-Archived="@Model.Archived">Not Limited</a></li>
            @foreach (var program in Model.ProgramList)
            {
                <li><a asp-route-Search="@Model.Search" asp-route-ProgramId="@program.Id" asp-route-SystemId="@Model.SystemId" asp-route-BranchId="@Model.BranchId" asp-route-Mine="@Model.Mine" asp-route-Archived="@Model.Archived">@program.Name</a></li>
            }
        </ul>
    </div>
</div>

<form asp-controller="Drawing" asp-action="Index" method="get" role="form">
    @if (Model.Archived == true)
    {
        <input asp-for="Archived" type="hidden" />
    }
    @if (Model.SystemId.HasValue)
    {
        <input asp-for="SystemId" type="hidden" />
    }
    @if (Model.BranchId.HasValue)
    {
        <input asp-for="BranchId" type="hidden" />
    }
    @if (Model.Mine == true)
    {
        <input asp-for="Mine" type="hidden" />
    }
    @if (Model.ProgramId.HasValue)
    {
        <input asp-for="ProgramId" type="hidden" />
    }

    <div class="row row-spacing">
        <div class="col-xs-8">
            <input asp-for="Search" class="form-control" />
        </div>
        <div class="col-xs-4">
            <input type="submit" value="Search" class="btn btn-default" style="margin-right: 8px;" />
            <a asp-action="Index" asp-route-SystemId="@Model.SystemId" asp-route-BranchId="@Model.BranchId" asp-route-ProgramId="@Model.ProgramId" asp-route-Mine="@Model.Mine" asp-route-Archived="@Model.Archived" class="btn btn-default">Clear</a>
        </div>
    </div>
</form>

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Drawings.Count() == 0)
        {
            <div class="alert alert-warning">No Drawings</div>
        }
        else
        {
            <div>
                <table class="table table-condensed table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Criteria</th>
                            <th>Date</th>
                            <th>Winners</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var drawing in Model.Drawings)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="Detail" asp-route-id="@drawing.Id" class="rowlink">
                                        @drawing.Name
                                    </a>
                                </td>
                                <td>@drawing.DrawingCriterion.Name</td>
                                <td>@drawing.CreatedAt.ToString("d")</td>
                                <td>@drawing.WinnerCount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
    </script>
}