@model GRA.Controllers.ViewModel.MissionControl.Carousels.DetailViewModel

@section inHeading {
    <div class="ms-auto d-print-none">
        <a asp-action="@nameof(CarouselsController.Index)"
           class="btn btn-outline-secondary">Return to List</a>
    </div>
}

@if (Model.PageAction == GRA.Controllers.ViewModel.PageAction.Edit
&& Model.Carousel.Items?.Any() != true)
{
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-danger">
                <div class=" d-flex align-items-baseline">
                    <div class="fas fa-exclamation-triangle fa-lg text-danger align-self-baseline me-2"
                         aria-hidden="true"></div>
                    <div>
                        This carousel has no items so it will not be displayed on the dashboard.
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<form asp-controller="@CarouselsController.Name"
      asp-action="@Model.PageAction"
      method="post"
      role="form">
    <input asp-for="PageAction" type="hidden" />
    @if (Model.PageAction == GRA.Controllers.ViewModel.PageAction.Edit)
    {
        <input asp-for="Carousel.Id" type="hidden" />
    }

    <div class="mb-3">
        <label asp-for="Carousel.Name" class="col-form-label"></label>
        <description gra-description-for="Carousel.Name"></description>
        <input asp-for="Carousel.Name" type="text" class="form-control" />
        <span asp-validation-for="Carousel.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Carousel.StartTime" class="col-form-label"></label>
        <description gra-description-for="Carousel.StartTime"></description>
        <div class="gra-picker-datetime"
             current-value="@Model.Carousel?.StartTime"
             datetimepicker-container
             id="carouselStartTimePicker">
            <input asp-for="Carousel.StartTime" datetimepicker-input type="text" />
        </div>
        <span asp-validation-for="Carousel.StartTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Carousel.Heading" class="col-form-label"></label>
        <description gra-description-for="Carousel.Heading"></description>
        <input asp-for="Carousel.Heading" type="text" class="form-control" />
        <span asp-validation-for="Carousel.Heading" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit"
                id="Submit"
                name="Submit"
                value="Submit"
                class="btn btn-outline-primary"
                button-spinner>
            <span class="buttonText">Save</span>
        </button>
    </div>
</form>

@if (Model.PageAction == GRA.Controllers.ViewModel.PageAction.Edit)
{
    @if (Model.Carousel.Items?.Any() != true)
    {
        <a asp-action="@nameof(CarouselsController.AddItem)"
           asp-route-id="@Model.Carousel.Id"
           class="btn btn-outline-success btn-lg">
            <span class="fas fa-lg fa-plus-circle fa-fw"></span>
            Add item
        </a>
    }
    else
    {
        @if (string.IsNullOrEmpty(Model.Carousel.Heading))
        {
            <a asp-action="@nameof(CarouselsController.AddItem)"
               asp-route-id="@Model.Carousel.Id"
               class="btn btn-outline-success">
                <span class="fas fa-plus-circle fa-fw"></span>
                Add item
            </a>
        }
        <hr class="mt-4" />
        <div class="row gra-js-required">
            <div class="col-12">
                <p>
                    Carousel items are displayed below. Select an image or title to edit an item,
                    use the "Delete" button under an item to remove it.
                </p>
                <div class="card">
                    @if (!string.IsNullOrEmpty(Model.Carousel.Heading))
                    {
                        <div class="card-header d-flex">
                            <div class="flex-grow-1">@Model.Carousel.Heading</div>
                            <div>
                                <a asp-action="@nameof(CarouselsController.AddItem)"
                                   asp-route-id="@Model.Carousel.Id"
                                   class="btn btn-sm btn-outline-success">
                                    <span class="fas fa-plus-circle fa-fw"></span>
                                    Add item
                                </a>
                            </div>
                        </div>
                    }
                    <div class="card-body">
                        <div class="gra-carousel text-center">
                            @foreach (var item in Model.Carousel.Items)
                            {
                                <div>
                                    <a asp-action="@nameof(CarouselsController.EditItem)"
                                       asp-route-id="@item.Id"
                                       class="gra-carousel-link">
                                        <img src="@item.ImageUrl" />
                                        <p>@item.Title</p>
                                    </a>
                                    <form asp-action="@nameof(CarouselsController.DeleteItem)"
                                          asp-route-id="@item.Id"
                                          method="post"
                                          role="form">
                                        <div class="d-flex justify-content-center">
                                            <button type="submit"
                                                    class="btn btn-sm btn-outline-danger">
                                                <span class="far fa-times-circle fa-fw"></span>
                                                Delete
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}

@section scripts {
    <link rel="stylesheet" type="text/css" href="/css/slick.min.css" />
    <script type="text/javascript" src="/js/slick.min.js"></script>
}