@model GRA.Controllers.ViewModel.MissionControl.Carousels.ListViewModel

@section inHeading {
    <div class="ms-auto d-print-none">
        <a asp-action="Add" class="btn btn-outline-success">
            <span class="fas fa-plus-circle fa-fw"></span>
            Create carousel
        </a>
    </div>
}

<div class="row my-4">
    <div class="col-12 mb-2">
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
                <a ActiveBy routeKey="Archived"
                   value=",false"
                   asp-action="Index"
                   class="nav-link">
                    Current and Upcoming
                </a>
            </li>
            <li class="nav-item">
                <a ActiveBy routeKey="Archived"
                   value="true"
                   asp-action="Index"
                   asp-route-archived="true"
                   class="nav-link">
                    Archived
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @if (Model.Carousels.Count() == 0)
        {
            <div class="alert alert-warning">No Carousels</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start time</th>
                            <th>Item count</th>
                            <th style="width: 4rem;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var carousel in Model.Carousels)
                        {
                            <tr>
                                <td class="td-class">
                                    <a asp-action="Edit" asp-route-id="@carousel.Id" class="rowlink">
                                        @carousel.Name
                                    </a>
                                </td>
                                <td class="td-class">
                                    @carousel.StartTime
                                </td>
                                <td class="td-class">
                                    @if (carousel.ItemCount == 0)
                                    {
                                        <span class="text-danger">
                                            @carousel.ItemCount
                                            items
                                            <span class="fas fa-ban"></span>
                                            <em>Will not display!</em>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            @carousel.ItemCount
                                            items
                                        </span>
                                    }
                                </td>
                                <td class="on-top d-flex justify-content-evenly">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@carousel.Id"
                                            data-name="@carousel.Name">
                                        <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete carousel</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="modal-body d-flex align-items-stretch">
                        <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                              aria-hidden="true"></span>
                        <span id="modal-text"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <form asp-controller="Carousels"
                          asp-action="Delete"
                          method="post"
                          role="form"
                          style="display:inline">
                        <input id="Id" name="Id" type="hidden" />
                        <button id="modal-deleteButton"
                                type="submit"
                                class="btn btn-outline-danger"
                                aria-label="Confirm">
                            <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(window).on("load", function () {
            $('.td-class').each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });
        $(window).resize(function () {
            $('.td-class').each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const id = button.data('id');
            const name = button.data('name');
            const modal = $(this);
            modal.find('#Id').val(id);
            modal.find('#modal-text').html('Are you sure you wish to delete the carousel: <strong>' + name + '</strong>?');
            modal.find("#modal-deleteButton").show();
        })
    </script>
}
