@model SocialItemViewModel

@using GRA.Controllers.ViewModel.MissionControl.Social

@section inHeading {
    <div class="ms-auto d-print-none">
        <a asp-action="@nameof(Index)" class="btn btn-outline-secondary">Return to List</a>
    </div>
}

<form asp-action="@nameof(GRA.Controllers.MissionControl.SocialController.UpdateSocial)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="LanguageId" />
    <input type="hidden" asp-for="HeaderId" />
    <input type="hidden" asp-for="SocialIsNew" />
    <div class="row">
        <div class="col-12 mb-3">
            <label asp-for="Name" class="col-form-label"></label>*
            <description gra-description-for="Name"></description>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="StartDate" class="col-form-label"></label>*
            <description gra-description-for="StartDate"></description>
            <div current-value="@Model.StartDate"
                 class="gra-picker-datetime"
                 datetimepicker-container
                 id="startDatePicker">
                <input asp-for="StartDate" datetimepicker-input type="text" />
            </div>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="LanguageId" class="col-form-label"></label>*
            <description gra-description-for="LanguageId"></description>
            <input disabled value="@Model.LanguageName" class="form-control" />
        </div>
        <div class="col-12 mb-3">
            <label asp-for="Title" class="col-form-label"></label>*
            <description gra-description-for="Title"></description>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="Description" class="col-form-label"></label>*
            <description gra-description-for="Description"></description>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="ImageAlt" class="col-form-label"></label>*
            <description gra-description-for="ImageAlt"></description>
            <input asp-for="ImageAlt" class="form-control" />
            <span asp-validation-for="ImageAlt" class="text-danger"></span>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="TwitterUsername" class="col-form-label"></label>
            <description gra-description-for="TwitterUsername"></description>
            <input asp-for="TwitterUsername" class="form-control" />
            <span asp-validation-for="TwitterUsername" class="text-danger"></span>
        </div>
        @if (!string.IsNullOrEmpty(Model.ImageLink))
        {
            <strong>Image:</strong>
        }
        @if (!Model.SocialIsNew)
        {
            <div class="col-12 col-lg-6 mb-3">
                <a href="/@Model.ImageLink"
                   target="_blank">
                    <img src="/@Model.ImageLink"
                         style="border: 1px solid #ccc;"
                         class="img img-fluid" />
                </a>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                @if (!string.IsNullOrEmpty(Model.Filename))
                {
                    <div><strong>Filename:</strong> @Model.Filename</div>
                }
                @if (!string.IsNullOrEmpty(Model.ImageDimensions))
                {
                    <div><strong>Dimensions:</strong> @Model.ImageDimensions</div>
                }
                <div class="mt-2">
                    <a class="btn btn-warning"
                       data-bs-toggle="modal"
                       data-bs-target="#modalReplaceImage">
                        <span class="fas fa-file-upload"></span>
                        Replace Image
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="col-12 mb-3">
                <label asp-for="UploadedImage" class="col-form-label"></label>*
                <description gra-description-for="UploadedImage"></description>
                <div class="input-group mb-3">
                    <input accept=".png,.jpg"
                           asp-for="UploadedImage"
                           class="form-control"
                           multiple="multiple"
                           type="file" />
                    <button class="btn btn-outline-secondary"
                            onclick="$('#UploadedImage').val('')"
                            type="button">
                        Clear selection
                    </button>
                </div>
                <span asp-validation-for="UploadedImage" class="text-danger mb-3"></span>
            </div>
        }
        <div class="col-12">
            @if (!Model.SocialIsNew)
            {
                <a class="btn btn-outline-danger"
                   data-bs-toggle="modal"
                   data-bs-target="#modalRemoveSocial">
                    <span class="fas fa-times fa-fw fa-fw"></span>
                    Delete Social
                </a>
            }
            <button class="btn btn-outline-primary" type="submit" button-spinner>
                @if (Model.SocialIsNew)
                {
                    @:Upload and Create
                }
                else
                {
                    @:Update Social
                }
            </button>
        </div>
    </div>
</form>

<form asp-action="@nameof(GRA.Controllers.MissionControl.SocialController.ReplaceImage)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="LanguageId" />
    <input type="hidden" asp-for="HeaderId" />
    <div>
        <div class="modal fade"
             tabindex="-1"
             role="dialog"
             id="modalReplaceImage"
             aria-labelledby="modalReplaceImageLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalReplaceImageLabel">Replace image</h4>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/@Model.ImageLink" class="img img-fluid mb-3" />
                        <div class="mb-3">
                            <label asp-for="UploadedImage" class="col-form-label"></label>
                            <description gra-description-for="UploadedImage"></description>
                            <div class="input-group mb-3">
                                <input accept=".png,.jpg"
                                       asp-for="UploadedImage"
                                       class="form-control"
                                       multiple="multiple"
                                       type="file" />
                                <button class="btn btn-outline-secondary"
                                        onclick="$('#UploadedImage').val('')"
                                        type="button">
                                    Clear selection
                                </button>
                            </div>
                            <span asp-validation-for="UploadedImage"
                                  class="text-danger mb-3"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="text-align: right;">
                            <button type="button"
                                    class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-outline-primary">
                                Update Image
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="@nameof(GRA.Controllers.MissionControl.SocialController.DeleteSocial)"
      method="post"
      role="form">
    <input type="hidden" asp-for="LanguageId" />
    <input type="hidden" asp-for="HeaderId" />
    <div class="modal fade"
         id="modalRemoveSocial"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalRemoveSocialLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalRemoveSocialLabel">Delete Social</h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="modal-body d-flex align-items-stretch">
                        <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                              aria-hidden="true"></span>
                        <span>
                            <p>
                                Are you sure you want to delete social <strong>@Model.Name</strong>
                                for language <strong>@Model.LanguageName</strong>?
                            </p>
                            <p>
                                <strong>
                                    Please note:
                                    This will break existing cached links on other sites (e.g.
                                    Facebook, Twitter) which are relying on this image being here.
                                </strong>
                            </p>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-outline-danger">
                        <span class="fas fa-times fa-fw"></span>
                        Delete Social
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
