@model SocialItemViewModel

@using GRA.Controllers.ViewModel.MissionControl.Social

@section styles {
    <style type="text/css">
        div.input-validation-error > input#selectedFile {
            background-color: #fee;
        }
    </style>
}

<form asp-action="@nameof(GRA.Controllers.MissionControl.SocialController.UpdateSocial)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="LanguageId" />
    <input type="hidden" asp-for="HeaderId" />
    <input type="hidden" asp-for="SocialIsNew" />
    <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
        <div class="col-xs-12">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>*
                <description gra-description-for="Name"></description>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>*
                <description gra-description-for="StartDate"></description>
                <div class="input-group date datetimepicker">
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                    <input asp-for="StartDate" type="text" class="form-control" />
                </div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>*
                <description gra-description-for="LanguageId"></description>
                <input disabled value="@Model.LanguageName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>*
                <description gra-description-for="Title"></description>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>*
                <description gra-description-for="Description"></description>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageAlt" class="control-label"></label>*
                <description gra-description-for="ImageAlt"></description>
                <input asp-for="ImageAlt" class="form-control" />
                <span asp-validation-for="ImageAlt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterUsername" class="control-label"></label>
                <description gra-description-for="TwitterUsername"></description>
                <input asp-for="TwitterUsername" class="form-control" />
                <span asp-validation-for="TwitterUsername" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(Model.ImageLink))
            {
                <strong>Image:</strong><br />
            }
        </div>
        @if (!Model.SocialIsNew)
        {
            <div class="col-sm-6">
                <a href="/@Model.ImageLink"
                   target="_blank">
                    <img src="/@Model.ImageLink"
                         style="border: 1px solid #ccc;"
                         class="img img-responsive" />

                </a>
            </div><div class="col-sm-6">
                @if (!string.IsNullOrEmpty(Model.Filename))
                {
                    <strong>Filename:</strong> @Model.Filename<br />
                }
                @if (!string.IsNullOrEmpty(Model.ImageDimensions))
                {
                    <strong>Dimensions:</strong> @Model.ImageDimensions<br />
                }
                <a class="btn btn-warning" data-toggle="modal" data-target="#modalReplaceImage">
                    <span class="fas fa-file-upload"></span>
                    Replace Image
                </a>
            </div>
        }
        else
        {
            <div class="col-xs-12">
                <div class="form-group">
                    <label asp-for="UploadedImage" class="control-label"></label>*
                    <description gra-description-for="UploadedImage"></description>
                    <div class="input-group @SocialItemViewModel.ValidationClass(ViewData, "UploadedImage")">
                        <label class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                <span class="fa fa-file-image-o"></span>
                                Image file
                                <input type="file"
                                       asp-for="UploadedImage"
                                       class="form-control"
                                       accept=".jpg,.png"
                                       style="display: none;" />
                            </span>
                        </label>
                        <input type="text"
                               class="form-control"
                               readonly
                               id="selectedFile">
                    </div>
                    <span asp-validation-for="UploadedImage" class="text-danger"></span>
                </div>
            </div>
        }
        <div class="col-xs-12" style="margin-top: 2rem;">
            <a asp-action="@nameof(Index)"
               class="btn btn-default">Return to List</a>
            <button class="btn btn-primary btn-spinner" type="submit">
                @if (Model.SocialIsNew)
                {
                    @:Upload and Create
                }
                else
                {
                    @:Update Social
                }
                <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
            </button>
            @if (!Model.SocialIsNew)
            {
                <a class="btn btn-danger" data-toggle="modal" data-target="#modalRemoveSocial">
                    <span class="fas fa-minus-circle"></span>
                    Delete Social
                </a>
            }
        </div>
    </div>
</form>

<form asp-action="@nameof(GRA.Controllers.MissionControl.SocialController.ReplaceImage)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <input type="hidden" asp-for="LanguageId" />
    <input type="hidden" asp-for="HeaderId" />
    <div>
        <div class="modal fade"
             tabindex="-1"
             role="dialog"
             id="modalReplaceImage"
             aria-labelledby="modalReplaceImageLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalReplaceImageLabel">Replace image</h4>
                    </div>
                    <div class="modal-body">
                        <img src="/@Model.ImageLink" class="img img-responsive" />
                    </div>
                    <div class="modal-footer" style="text-align: left;">
                        <div class="form-group">
                            <label asp-for="UploadedImage" class="control-label"></label>
                            <description gra-description-for="UploadedImage"></description>
                            <div class="input-group @SocialItemViewModel.ValidationClass(ViewData, "UploadedImage")">
                                <label class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        <span class="fa fa-file-image-o"></span>
                                        Image file
                                        <input type="file"
                                               asp-for="UploadedImage"
                                               class="form-control"
                                               accept=".jpg,.png"
                                               style="display: none;" />
                                    </span>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       readonly
                                       id="selectedFile">
                            </div>
                            <span asp-validation-for="UploadedImage" class="text-danger"></span>
                        </div>
                        <div style="text-align: right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">
                                Update Image
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="@nameof(GRA.Controllers.MissionControl.SocialController.DeleteSocial)"
      method="post"
      role="form">
    <input type="hidden" asp-for="LanguageId" />
    <input type="hidden" asp-for="HeaderId" />
    <div class="modal fade"
         id="modalRemoveSocial"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalRemoveSocialLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalRemoveSocialLabel">Delete Social</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete social <strong>@Model.Name</strong> for
                        language<strong>@Model.LanguageName</strong>?
                    </p>
                    <p>
                        <strong>
                            Please note:
                            This will break existing cached links on other sites (e.g. Facebook,
                            Twitter) which are relying on this image being here.
                        </strong>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">
                        <span class="fas fa-minus-circle"></span>
                        Delete Social
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
        $(".datetimepicker").datetimepicker({
            format: "MM/DD/YYYY hh:mm A",
            allowInputToggle: true,
            sideBySide: true,
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: "fa fa-arrow-left",
                next: "fa fa-arrow-right"
            }
        });

        $(':file').on('fileselect', function (event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles = ' files selected' : label;

            if (input.length) {
                input.val(log);
                $('.btn-file').removeClass('btn-default').addClass('btn-success');
            }
            else {
                input.val('');
                $('.btn-file').addClass('btn-default').removeClass('btn-success');
            }
        });

        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });
    </script>
}
