@model GRA.Controllers.ViewModel.MissionControl.Challenges.ChallengesDetailViewModel

<div class="row">
    <div class="modal fade frame-modal" id="badgeModal" tabindex="-1" role="dialog" aria-labelledby="badgeModalLabel">
        <span class="frame-close fa fa-stack fa-lg" data-dismiss="modal">
            <span class="fa fa-circle fa-stack-2x fa-inverse"></span>
            <span class="fa fa-times-circle fa-stack-1x fa-lg" style="text-shadow:none;"></span>
        </span>
        <div class="frame-container">
            <iframe id="badgeMaker" class="badge-maker"></iframe>
        </div>
    </div>
</div>

<form asp-controller="Challenges" asp-action="Create" method="post" role="form" enctype="multipart/form-data">

    <input asp-for="MaxPointsMessage" type="hidden" />
    <input asp-for="UseBadgeMaker" type="hidden" />
    <input asp-for="BadgeMakerUrl" type="hidden" />
    <input asp-for="BadgeMakerImage" type="hidden" />

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.Name" class="control-label"></label>
            <input asp-for="Challenge.Name" class="form-control" />
            <span asp-validation-for="Challenge.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.Description" class="control-label"></label>
            <textarea asp-for="Challenge.Description" class="form-control"> </textarea>
            <span asp-validation-for="Challenge.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 row-spacing">
            <label asp-for="Challenge.PointsAwarded" class="control-label"></label>
            <label style="font-size: 12px;">@Model.MaxPointsMessage</label>
            <input asp-for="Challenge.PointsAwarded" type="number" min="1" class="form-control" />
            <span asp-validation-for="Challenge.PointsAwarded" class="text-danger"></span>
        </div>

        <div class="col-xs-12 col-sm-6 row-spacing">
            <label asp-for="Challenge.TasksToComplete" class="control-label"></label>
            <input asp-for="Challenge.TasksToComplete" type="number" min="1" class="form-control" />
            <span asp-validation-for="Challenge.TasksToComplete" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.CategoryIds" class="control-label"></label>
            <input asp-for="CategoryPlaceholder" class="form-control" />
            <select asp-for="Challenge.CategoryIds" asp-items="Model.CategoryList" class="form-control hidden" multiple="multiple"></select>
            <span asp-validation-for="Challenge.CategoryIds" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.LimitToSystemId" class="control-label"></label>
            <select asp-for="Challenge.LimitToSystemId" asp-items="Model.SystemList" class="form-control">
                <option value="">No</option>
            </select>
            <span asp-validation-for="Challenge.LimitToSystemId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.LimitToBranchId" class="control-label"></label>
            <select asp-for="Challenge.LimitToBranchId" asp-items="Model.BranchList" class="form-control">
                <option value="">No</option>
            </select>
            <span asp-validation-for="Challenge.LimitToBranchId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Challenge.LimitToProgramId" class="control-label"></label>
            <select asp-for="Challenge.LimitToProgramId" asp-items="Model.ProgramList" class="form-control">
                <option value="">No</option>
            </select>
            <span asp-validation-for="Challenge.LimitToProgramId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            @if (!string.IsNullOrWhiteSpace(Model.BadgePath))
            {
                <label class="control-label">Edit badge image</label>
            }
            else
            {
                <label class="control-label">Add a badge</label>
            }
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">

            @if (!string.IsNullOrWhiteSpace(Model.BadgePath))
            {
                <input asp-for="BadgePath" type="hidden" />
                <img id="badgeImage" class="img-thumbnail badge-lg"
                     src="~/@Model.BadgePath?@DateTime.Now.ToString("yyMMddHHmmss")"
                     asp-append-version="true" />
            }
            else
            {
                <img id="badgeImage" class="img-thumbnail badge-lg" src="@Model.BadgeMakerImage" style="height:210px;" />
            }
        </div>

        <div class="col-xs-12 col-sm-8 col-md-9">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class=@(Model.UseBadgeMaker ? "active" : "")>
                    <a id="badgeTab" href="#badge" aria-controls="badge" role="tab" data-toggle="tab">Badge Maker</a>
                </li>
                <li role="presentation" class=@(Model.UseBadgeMaker ? "" : "active")>
                    <a id="uploadTab" href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload an Image</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane gra-tab-pane @(Model.UseBadgeMaker ? "active" : "")" id="badge">
                    <button id="openMaker" type="button" class="btn btn-default">
                        <span class="fa fa-certificate"></span> Create a Badge
                    </button>
                </div>

                <div role="tabpanel" class="tab-pane gra-tab-pane @(Model.UseBadgeMaker ? "" : "active")" id="upload">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                <span class="fa fa-file-image-o"></span> Select an image<input type="file" name="BadgeUploadImage" id="BadgeUploadImage" accept=".png,.jpg,.jpeg" style="display: none;" />
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly id="selectedFile">
                    </div>
                    <div>
                        <span asp-validation-for="BadgeUploadImage" class="text-danger"></span>
                    </div>
                    <button id="clearFile" class="btn btn-default" type="button" style="margin-top: 0.5em;"><span class="fa fa-ban"></span> Clear file selection</button>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to List</a>
        <button type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-primary btn-spinner">
            <span class="buttonText">Create</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>

@section scripts {
    <script>
        $("#CategoryPlaceholder").remove();
        $("#Challenge_CategoryIds").multiselect({
            nonSelectedText: "",
            buttonClass: "form-control",
            buttonWidth: "100%",
            disableIfEmpty: true
        });

        $(document).ready(function() {
            $(':file').on('fileselect', function(event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles = ' files selected' : label;

                if (input.length)
                {
                    input.val(log);
                    $('.btn-file').removeClass('btn-default');
                    $('.btn-file').addClass('btn-success');
                    $("#badgeImage").removeAttr("src");
                    $("#badgeImage").height(200);
                    $("#BadgeMakerImage").val("");
                }
                else
                {
                    input.val('');
                    $('.btn-file').addClass('btn-default');
                    $('.btn-file').removeClass('btn-success');
                }
            });

            $('#clearFile').on("click", function() {
                $('#BadgeUploadImage').val('');
                $('.btn-file').addClass('btn-default');
                $('.btn-file').removeClass('btn-success');
                $('#selectedFile').val('');
            });

            $(document).on('change', ':file', function() {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            $("#Challenge_LimitToSystemId").on("change", function() {
                var systemId = $(this).val();
                var branchList = $("#Challenge_LimitToBranchId");
                var branchId = branchList.val();
                var url = "@Url.Action("GetBranches", "Lookup", new { Area = string.Empty })";

                $.getJSON(url, { systemId: systemId, branchId: branchId, listAll: "true", prioritize: "true" }, function(response) {
                    branchList.empty();
                    branchList.append(new Option("No", ""));
                    $.each(response, function(index, item) {
                        branchList.append(new Option(item.text, item.value, item.selected, item.selected))
                    });
                });
            });

            $("#badgeTab").on('show.bs.tab', function() {
                $("#UseBadgeMaker").val("true");
            });

            $("#uploadTab").on('show.bs.tab', function() {
                $("#UseBadgeMaker").val("false");
            });

            $("#openMaker").on("click", function() {
                $("#badgeMaker").attr("src", "@Html.Raw(@Model.BadgeMakerUrl)");
                $("#badgeModal").modal("show");
            });

            $(window).on("message", function(e) {
                $("#badgeModal").modal("hide");
                var data = e.originalEvent.data;
                $("#badgeImage").attr("src", data);
                $("#badgeImage").height(200);
                $("#BadgeMakerImage").val(data);
                $('#BadgeUploadImage').val('');
                $('.btn-file').addClass('btn-default');
                $('.btn-file').removeClass('btn-success');
                $('#selectedFile').val('');
            });
        });
    </script>
}