@model GRA.Controllers.ViewModel.MissionControl.Challenges.FeaturedGroupDetailsViewModel

<form asp-controller="@ChallengesController.Name"
      asp-action="@nameof(ChallengesController.FeaturedDetails)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <input asp-for="NewFeaturedGroup" type="hidden" />
    @if (!Model.NewFeaturedGroup)
    {
        <input asp-for="FeaturedGroup.Id" type="hidden" />
        <input asp-for="FeaturedGroupText.ImagePath" type="hidden" />
    }
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label asp-for="FeaturedGroup.Name" class="col-form-label"></label>
                <input asp-for="FeaturedGroup.Name" class="form-control" />
                <span asp-validation-for="FeaturedGroup.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FeaturedGroup.ChallengeGroupId" class="col-form-label"></label>
                <select asp-for="FeaturedGroup.ChallengeGroupId" asp-items="Model.ChallengeGroupList" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="FeaturedGroup.ChallengeGroupId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label asp-for="FeaturedGroup.StartDate" class="col-form-label"></label>
                    <div class="mb-3 date datetimePicker">
                        <input asp-for="FeaturedGroup.StartDate" type="datetime-local" class="form-control" />
                    </div>
                    <span asp-validation-for="FeaturedGroup.StartDate" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 row-spacing">
                    <label asp-for="FeaturedGroup.EndDate" class="col-form-label"></label>
                    <div class="mb-3 date datetimePicker">
                        <input asp-for="FeaturedGroup.EndDate" type="datetime-local" class="form-control" />
                    </div>
                    <span asp-validation-for="FeaturedGroup.EndDate" class="text-danger"></span>
                </div>
            </div>
            @if (Model.NewFeaturedGroup)
            {
                <div class="mb-3">
                    <label asp-for="UploadedImage" class="col-form-label"></label>
                    <input type="file"
                           class="form-control"
                           asp-for="UploadedImage"
                           accept=".jpg,.png" />
                    <span asp-validation-for="UploadedImage" class="text-danger"></span>
                </div>
            }
            <div class="mb-3">
                <label asp-for="FeaturedGroupText.AltText" class="col-form-label"></label>
                <span class="fas fa-info-circle wide-tooltip"
                      title="How should this image be described to someone who can't see it?"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"></span>
                <textarea asp-for="FeaturedGroupText.AltText" class="form-control"></textarea>
                <span asp-validation-for="FeaturedGroupText.AltText" class="text-danger"></span>
            </div>
            @if (!Model.NewFeaturedGroup)
            {
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Image:</strong><br />
                        <a href="/@Model.FeaturedGroupText.ImagePath"
                           target="_blank">
                            <img src="/@Model.FeaturedGroupText.ImagePath"
                                 style="border: 1px solid #ccc;"
                                 class="img img-fluid" />

                        </a>
                    </div>
                    <div class="col-sm-6">
                        @if (!string.IsNullOrEmpty(Model.FeaturedGroupText.Filename))
                        {
                            <strong>Filename:</strong> @Model.FeaturedGroupText.Filename

                            <br />
                        }
                        <a class="btn btn-warning"
                           data-bs-toggle="modal"
                           data-bs-target="#modalReplaceImage">
                            <span class="fas fa-file-upload"></span>
                            Replace Image
                        </a>
                    </div>
                </div>
            }
            <div class="row mt-4">
                <div class="col-12">
                    <a asp-action="@nameof(ChallengesController.FeaturedGroups)"
                       class="btn btn-outline-secondary">Return to List</a>
                    <button class="btn btn-outline-primary btn-spinner" type="submit" button-spinner>
                        <span class="fas fa-file-upload"></span>
                        @if (Model.NewFeaturedGroup)
                        {
                            @:Upload and Create
                        }
                        else
                        {
                            @:Update Featured Group
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@if (!Model.NewFeaturedGroup)
{
    <form asp-action="@nameof(GRA.Controllers.MissionControl.ChallengesController.ReplaceFeaturedImage)"
          method="post"
          role="form"
          enctype="multipart/form-data">
        <input type="hidden" asp-for="FeaturedGroupId" value="@Model.FeaturedGroup.Id" />
        <div class="modal fade"
             tabindex="-1"
             role="dialog"
             id="modalReplaceImage"
             data-bs-backdrop="static"
             data-bs-keyboard="false"
             aria-labelledby="modalReplaceImageLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="modalReplaceImageLabel">Replace image</h2>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="/@Model.FeaturedGroupText.ImagePath" class="img img-fluid" />
                        <div class="mb-3">
                            <div class="mb-3">
                                <label asp-for="UploadedImage" class="col-form-label"></label>
                                <input type="file"
                                       class="form-control"
                                       asp-for="UploadedImage"
                                       accept=".jpg,.png" />
                                <span asp-validation-for="UploadedImage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: left;">

                        <div style="text-align: right;">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Update Image
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
