@model GRA.Controllers.ViewModel.MissionControl.Challenges.ChallengeGroupListViewModel

@await Html.PartialAsync("_ChallengeGroupsPartial")

<form asp-controller="Challenges" asp-action="Groups" method="get" role="form">
    <div class="row my-4">
        <div class="col-12 col-sm-2">
            <label class="col-form-label fs-5">Search:</label>
        </div>
        <div class="col-12 col-sm-10">
            <input asp-for="Search" class="form-control" />
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-6 col-lg-8 d-none d-sm-block">&nbsp;</div>
        <div class="col-12 col-sm-3 col-lg-2 d-grid my-1">
            <a asp-action="Groups" class="btn btn-outline-secondary">Clear</a>
        </div>
        <div class="col-12 col-sm-3 col-lg-2 d-grid my-1">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </div>
</form>
@if (Model.CanAddGroups)
{
    <div class="row my-4">
        <div class="col-12">
            <a asp-action="CreateGroup" class="btn btn-outline-primary">Add a Challenge Group</a>
        </div>
    </div>
}
<div class="row">
    <div class="col-12">
        @if (Model.ChallengeGroups.Count() == 0)
        {
            <div class="alert alert-warning">No Challenge Groups</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Link</th>
                            @if (Model.CanEditGroups)
                            {
                                <th style="min-width: 75px;">&nbsp;</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.ChallengeGroups)
                        {
                            <tr>
                                <td class="td-class">
                                    @if (Model.CanEditGroups)
                                    {
                                        <a asp-action="EditGroup"
                                           asp-route-id="@group.Id"
                                           class="rowlink">
                                            @group.Name
                                        </a>
                                    }
                                    else
                                    {
                                        @group.Name
                                    }
                                </td>
                                <td>
                                    @group.Description
                                </td>
                                <td>
                                    <a aria-label="@group.Stub (Opens new window)"
                                       asp-area=""
                                       asp-controller="Challenges"
                                       asp-action="List"
                                       asp-route-id="@group.Stub"
                                       target="_blank"
                                       class="on-top-nobg">@group.Stub</a>
                                </td>
                                @if (Model.CanEditGroups)
                                {
                                    <td class="on-top gra-mc-icon">
                                        <button type="button"
                                                class="btn btn-outline-danger btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteModal"
                                                data-id="@group.Id"
                                                data-name="@group.Name">
                                            <span class="fas fa-times fa-fw"
                                                  aria-hidden="true"></span>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

@if (Model.CanEditGroups)
{
    <div class="row">
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <form asp-controller="Challenges"
                      asp-action="DeleteGroup"
                      method="post"
                      role="form"
                      style="display:inline">
                    <input asp-for="PaginateModel.CurrentPage" type="hidden" />
                    <input asp-for="Search" type="hidden" />
                    <input asp-for="ChallengeGroup.Id" type="hidden" />
                    <input asp-for="ChallengeGroup.Name" type="hidden" />
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title h4"
                                id="deleteModalLabel">
                                Delete Challenge Group
                            </h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close dialog">
                            </button>

                        </div>
                        <div class="modal-body d-flex align-items-stretch">
                            <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                                  aria-hidden="true"></span>
                            <span id="modal-text"></span>
                        </div>
                        <div class="modal-footer d-flex justify-content-end">
                            <button type="button"
                                    class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit"
                                    class="btn btn-outline-danger btn-spinner"
                                    aria-label="Confirm"
                                    button-spinner>
                                <span class="fas fa-times" aria-hidden="true"></span>
                                Delete
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section scripts {
    @if (Model.CanEditGroups)
    {
        <script>
            $("#deleteModal").on("show.bs.modal", function (e) {
                let button = $(e.relatedTarget);
                let id = button.data("id");
                let name = button.data("name");
                let modal = $(this);
                modal.find("#modal-text").html("Are you sure you want to delete the challenge group <strong>" + name + "</strong>?");
                modal.find("#ChallengeGroup_Id").val(id);
                modal.find("#ChallengeGroup_Name").val(name);
            });

            $(window).on("load", function () {
                $('.td-class').each(function () {
                    $(this).children("a.rowlink").height($(this).outerHeight());
                });
            });
            $(window).resize(function () {
                $('.td-class').each(function () {
                    $(this).children("a.rowlink").height($(this).outerHeight());
                });
            });
        </script>
    }
}