@model GRA.Controllers.ViewModel.MissionControl.Challenges.ChallengesListViewModel

<div class="row">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel">Delete challenge</h4>
                </div>
                <div class="modal-body">
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                    <form asp-controller="Challenges" asp-action="Delete" method="post" role="form" style="display:inline">
                        <input id="Id" name="Id" type="hidden" />
                        <button id="modal-deleteButton" type="submit" class="btn btn-danger pull-right" aria-label="Confirm">
                            <span class="fa fa-remove" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div style="font-size:large;padding-top:10px;">Created By:</div>
        <ul class="nav nav-pills" style="padding: 10px 0;">
            @if (Model.ShowSystem)
            {
                <li class="@(Model.ActiveNav == "All" ? "active" : "")"><a asp-route-Search="@Model.Search" asp-route-Program="@Model.Program">All</a></li>
                <li class="@(Model.ActiveNav == "System" ? "active" : "")">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        @(Model.SystemName ?? "System") <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var system in Model.SystemList)
                        {
                            <li><a asp-route-Search="@Model.Search" asp-route-Program="@Model.Program" asp-route-System="@system.Id">@system.Name</a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="@(Model.ActiveNav == "System" ? "active" : "")"><a asp-route-Search="@Model.Search" asp-route-Program="@Model.Program">@Model.SystemName</a></li>
            }
            <li class="@(Model.ActiveNav == "Branch" ? "active" : "")">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @(Model.BranchName ?? "Branch") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var branch in Model.BranchList)
                    {
                        <li><a asp-route-Search="@Model.Search" asp-route-Program="@Model.Program" asp-route-Branch="@branch.Id">@branch.Name</a></li>
                    }
                </ul>
            </li>
            <li class="@(Model.ActiveNav == "Mine" ? "active" : "")"><a asp-route-Search="@Model.Search" asp-route-Program="@Model.Program" asp-route-Mine="True">Mine</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <span style="font-size:large;padding-top:10px;">Limited to Program:</span>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            @(Model.ProgramName ?? "Show All") <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-route-Search="@Model.Search" asp-route-System="@Model.System" asp-route-Branch="@Model.Branch" asp-route-Mine="@Model.Mine">Show All</a></li>
            <li><a asp-route-Search="@Model.Search" asp-route-Program="0" asp-route-System="@Model.System" asp-route-Branch="@Model.Branch" asp-route-Mine="@Model.Mine">Not Limited</a></li>
            @foreach (var program in Model.ProgramList)
            {
                <li><a asp-route-Search="@Model.Search" asp-route-Program="@program.Id" asp-route-System="@Model.System" asp-route-Branch="@Model.Branch" asp-route-Mine="@Model.Mine">@program.Name</a></li>
            }
        </ul>
    </div>
</div>

<form asp-controller="Challenges" method="get" role="form">
    <div class="row" style="padding: 10px 0;">
        <div class="col-xs-8">
            <input asp-for="Search" class="form-control" />
            @if (Model.Program.HasValue)
            {
                <input asp-for="Program" type="hidden" />
            }
            @if (Model.System.HasValue)
            {
                <input asp-for="System" type="hidden" />
            }
            @if (Model.Branch.HasValue)
            {
                <input asp-for="Branch" type="hidden" />
            }
            @if (Model.Mine == true)
            {
                <input asp-for="Mine" type="hidden" />
            }
        </div>
        <div class="col-xs-4">
            <input type="submit" value="Search" class="btn btn-default" style="margin-right: 8px;" />
            <a asp-route-Program="@Model.Program" asp-route-System="@Model.System" asp-route-Branch="@Model.Branch" asp-route-Mine="@Model.Mine" class="btn btn-default">Clear</a>
        </div>
    </div>
</form>


@if (Model.CanAddChallenges)
{
    <div class="row" style="padding: 10px 0;">
        <div class="col-xs-12">
            <a asp-action="Create" class="btn btn-default">Create a new challenge</a>
        </div>
    </div>
}

<div class="row" style="padding: 10px 0;">
    <div class="col-xs-12">
        @if (Model.Challenges.Count() == 0)
        {
            <div class="alert alert-warning">No Challenges</div>
        }
        else
        {
            <div>
                <table class="table table-condensed table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Badge</th>
                            <th>Active</th>
                            @if (Model.CanDeleteChallenges)
                            {
                                <th>&nbsp;</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var challenge in Model.Challenges)
                        {
                            <tr>
                                <td class="td-class">
                                    @if (Model.CanEditChallenges)
                                    {
                                        <a asp-action="Edit" asp-route-id="@challenge.Id" class="rowlink">
                                            @challenge.Name
                                        </a>
                                    }
                                    else
                                    {
                                        @challenge.Name
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(challenge.BadgeFilename))
                                    {
                                        <img class="img-thumbnail badge-sm" src="~/@challenge.BadgeFilename?@DateTime.Now.ToString("yyMMddHHmmss")" asp-append-version="true" />
                                    }
                                    else
                                    {
                                        @: &nbsp;
                                    }
                                </td>
                                <td class="gra-mc-icon">
                                    @if (challenge.IsActive)
                                    {
                                        <span class="fa fa-lg fa-check text-success"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-lg fa-ban text-danger"></span>
                                    }
                                </td>
                                @if (Model.CanDeleteChallenges)
                                {
                                    <td class="on-top gra-mc-icon">
                                        <button type="button"
                                                class="btn btn-danger btn-xs"
                                                data-toggle="modal"
                                                data-target="#deleteModal"
                                                data-id="@challenge.Id"
                                                data-name="@challenge.Name"
                                                data-hasDependents="@challenge.HasDependents">
                                            <span class="fa fa-remove" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

@section scripts
{
    <script>
        @if (Model.CanEditChallenges) {
        <text>
        $(window).on("load", function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        $(window).resize(function() {
            $('.td-class').each(function() {
                $(this).children('a.rowlink').height($(this).height() + 11);
            });
        });
        </text>
        }

        @if (Model.CanDeleteChallenges) {
        <text>
        $('#deleteModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var hasDependents = button.data('hasdependents');
            var modal = $(this);
            modal.find('#Id').val(id);
            if (hasDependents == "True")
            {
                modal.find('#modal-text').text(name + " has triggers depending on it and cannot be deleted.");
                modal.find("#modal-deleteButton").hide();
            }
            else
            {
                modal.find('#modal-text').text('Are you sure you wish to delete the challenge "' + name + '" ?');
                modal.find("#modal-deleteButton").show();
            }
        })
        </text>
        }
    </script>
}