@model GRA.Controllers.ViewModel.MissionControl.Challenges.ChallengesListViewModel

<noscript>
    <style>
        #Category {
            display: none;
        }
    </style>
</noscript>

<div class="row my-4">
    <div class="col-12">
        <ul class="nav nav-pills flex-column flex-sm-row">
            @if (Model.ShowSystem)
            {
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveNav == "All" ? "active" : "")"
                       asp-route-Search="@Model.Search"
                       asp-route-Categories="@Model.Categories"
                       asp-route-Program="@Model.Program">All</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link @(Model.ActiveNav == "System" ? "active" : "")"
                       data-bs-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        @(Model.SystemName ?? "System") <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var system in Model.SystemList)
                        {
                            <li>
                                <a class="dropdown-item"
                                   asp-route-Search="@Model.Search"
                                   asp-route-Categories="@Model.Categories"
                                   asp-route-Program="@Model.Program"
                                   asp-route-System="@system.Id">@system.Name</a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="@(Model.ActiveNav == "System" ? "active" : "")">
                    <a asp-route-Search="@Model.Search"
                       asp-route-Categories="@Model.Categories"
                       asp-route-Program="@Model.Program">@Model.SystemName</a>
                </li>
            }
            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link @(Model.ActiveNav == "Branch" ? "active" : "")"
                   data-bs-toggle="dropdown"
                   href="#" role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    @(Model.BranchName ?? "Branch") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var branch in Model.BranchList)
                    {
                        <li>
                            <a class="dropdown-item"
                               asp-route-Search="@Model.Search"
                               asp-route-Categories="@Model.Categories"
                               asp-route-Program="@Model.Program"
                               asp-route-Branch="@branch.Id">@branch.Name</a>
                        </li>
                    }
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link @(Model.ActiveNav == "Mine" ? "active" : "")"
                   asp-route-Search="@Model.Search"
                   asp-route-Categories="@Model.Categories"
                   asp-route-Program="@Model.Program"
                   asp-route-Mine="True">Mine</a>
            </li>
            <li class="nav-item d-none d-sm-block"><a class="nav-link disabled">|</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown"
                   href="#"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Limitations: @(Model.ProgramName) <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                           asp-route-Search="@Model.Search"
                           asp-route-Categories="@Model.Categories"
                           asp-route-System="@Model.System"
                           asp-route-Branch="@Model.Branch"
                           asp-route-Mine="@Model.Mine">Show All</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           asp-route-Search="@Model.Search"
                           asp-route-Categories="@Model.Categories"
                           asp-route-Program="0"
                           asp-route-System="@Model.System"
                           asp-route-Branch="@Model.Branch"
                           asp-route-Mine="@Model.Mine">Not Limited</a>
                    </li>
                    @foreach (var program in Model.ProgramList)
                    {
                        <li>
                            <a class="dropdown-item"
                               asp-route-Search="@Model.Search"
                               asp-route-Categories="@Model.Categories"
                               asp-route-Program="@program.Id"
                               asp-route-System="@Model.System"
                               asp-route-Branch="@Model.Branch"
                               asp-route-Mine="@Model.Mine">@program.Name</a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>

<form id="searchForm" asp-controller="Challenges" method="get" role="form">
    @if (Model.Program.HasValue)
    {
        <input asp-for="Program" type="hidden" />
    }
    @if (Model.System.HasValue)
    {
        <input asp-for="System" type="hidden" />
    }
    @if (Model.Branch.HasValue)
    {
        <input asp-for="Branch" type="hidden" />
    }
    @if (Model.Mine == true)
    {
        <input asp-for="Mine" type="hidden" />
    }
    <div class="row my-4">
        <div class="col-12 col-sm-2">
            <label class="col-form-label fs-5">Search:</label>
        </div>
        <div class="col-12 col-sm-10">
            <input asp-for="Search" class="form-control" />
        </div>
    </div>
    @if (Model.CategoryList?.Count() > 0)
    {
        <div class="row mt-4">
            <div class="col-12 col-sm-2">
                <label class="col-form-label fs-5">Category:</label>
            </div>
            <div class="col-12 col-sm-10">
                <select asp-for="CategoryIds"
                        asp-items="Model.CategoryList"
                        autocomplete="off"
                        class="form-control"
                        multiple="multiple"
                        size="1"></select>
            </div>
        </div>
        <div class="mb-4">
            <div class="col-12 col-sm-10 offset-sm-2 ps-2">
                <small><em>To remove a category: select it and use your backspace or delete key.</em></small>
            </div>
        </div>
    }
    <div id="Ordering" class="row my-4">
        <div class="col-12 col-sm-2">
            <label class="col-form-label fs-5">Ordering:</label>
        </div>
        <div class="col-12 col-sm-10 d-flex align-items-center">
            <div class="form-check form-check-inline">
                <input type="radio"
                       class="form-check-input"
                       name="Ordering"
                       id="popularOption"
                       value="@GRA.Domain.Model.Filters.ChallengeFilter.OrderingOption.MostPopular"
                @Model.IsChecked(GRA.Domain.Model.Filters.ChallengeFilter.OrderingOption.MostPopular)>
                <label class="form-check-label" for="popularOption">Most Popular</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio"
                       class="form-check-input"
                       name="Ordering"
                       id="recentOption"
                       value="@GRA.Domain.Model.Filters.ChallengeFilter.OrderingOption.Recent"
                @Model.IsChecked(GRA.Domain.Model.Filters.ChallengeFilter.OrderingOption.Recent)>
                <label class="form-check-label" for="recentOption">Most Recent</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio"
                       class="form-check-input"
                       name="Ordering"
                       id="nameOption"
                       value="@GRA.Domain.Model.Filters.ChallengeFilter.OrderingOption.Name"
                @Model.IsChecked(GRA.Domain.Model.Filters.ChallengeFilter.OrderingOption.Name)>
                <label class="form-check-label" for="nameOption">Name</label>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-6 col-lg-8 d-none d-sm-block">&nbsp;</div>
        <div class="col-12 col-sm-3 col-lg-2 d-grid my-1">
            <a asp-action="Index" class="btn btn-outline-secondary">Clear</a>
        </div>
        <div class="col-12 col-sm-3 col-lg-2 d-grid my-1">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </div>
</form>
@if (Model.CanAddChallenges)
{
    <div class="row my-4">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-outline-primary">Create a new challenge</a>
        </div>
    </div>
}
<div class="row">
    <div class="col-12">
        @if (Model.Challenges.Count() == 0)
        {
            <div class="alert alert-warning">No Challenges</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered link-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Badge</th>
                            <th>Active</th>
                            @if (Model.CanDeleteChallenges)
                            {
                                <th>&nbsp;</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var challenge in Model.Challenges)
                        {
                            <tr>
                                <td class="td-class">
                                    @if (Model.CanEditChallenges)
                                    {
                                        <a asp-action="Edit" asp-route-id="@challenge.Id" class="rowlink">
                                            @challenge.Name
                                            @if (challenge.Categories?.Count > 0)
                                            {
                                                <br />
                                                @foreach (var category in challenge.Categories)
                                                {
                                                    <span class="badge" style="background-color: @category.Color">@category.Name</span>
                                                }
                                            }
                                        </a>
                                    }
                                    else
                                    {
                                        @challenge.Name
                                    }
                                </td>
                                <td class="gra-mc-icon">
                                    @if (!string.IsNullOrEmpty(challenge.BadgeFilename))
                                    {
                                        <img class="img-thumbnail badge-sm" src="~/@challenge.BadgeFilename?@DateTime.Now.ToString("yyMMddHHmmss")" />
                                    }
                                    else
                                    {
                                        @:&nbsp;
                                    }
                                </td>
                                <td class="gra-mc-icon">
                                    @if (challenge.IsActive)
                                    {
                                        <span class="far fa-check-circle fa-lg text-success"></span>
                                    }
                                    else
                                    {
                                        <span class="far fa-times-circle fa-lg text-danger"></span>
                                    }
                                </td>
                                @if (Model.CanDeleteChallenges)
                                {
                                    <td class="on-top gra-mc-icon">
                                        @if (challenge.HasDependents)
                                        {
                                            <button type="button"
                                                    class="btn btn-outline-warning btn-sm"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#deleteModal"
                                                    data-id="@challenge.Id"
                                                    data-name="@challenge.Name"
                                                    data-hasDependents="@challenge.HasDependents">
                                                <span class="fas fa-exclamation fa-fw" aria-hidden="true"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button"
                                                    class="btn btn-outline-danger btn-sm"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#deleteModal"
                                                    data-id="@challenge.Id"
                                                    data-name="@challenge.Name"
                                                    data-hasDependents="@challenge.HasDependents">
                                                <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                            </button>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

<div class="row">
    <div class="modal modal-lg fade"
         id="deleteModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="deleteModalLabel">Delete challenge</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div class="modal-body d-flex align-items-stretch">
                    <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
                <div class="modal-footer d-flex justify-content-end">
                    <button type="button"
                            id="modalCancelButton"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <form asp-controller="Challenges"
                          asp-action="Delete"
                          method="post"
                          role="form"
                          class="d-inline">
                        <input id="Id" name="Id" type="hidden" />
                        <button id="modal-deleteButton"
                                type="submit"
                                class="btn btn-outline-danger btn-spinner"
                                aria-label="Confirm">
                            <span class="fas fa-times" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @if (Model.CategoryList?.Count() > 0)
    {
        <script>
            new TomSelect("#CategoryIds");
        </script>
    }
    @if (Model.CanEditChallenges)
    {
        <script>
            $(window).on("load", function () {
                $('.td-class').each(function () {
                    $(this).children('a.rowlink').height($(this).height() + 11);
                });
            });
            $(window).resize(function () {
                $('.td-class').each(function () {
                    $(this).children('a.rowlink').height($(this).height() + 11);
                });
            });
        </script>
    }
    @if (Model.CanDeleteChallenges)
    {
        <script>
            $('#deleteModal').on('show.bs.modal', function (event) {
                let modal = $(this);
                let button = $(event.relatedTarget);
                let id = button.data('id');
                let name = button.data('name');
                let hasDependents = button.data('hasdependents');
                modal.find('#Id').val(id);
                if (hasDependents == "True") {
                    modal.find('#modal-text').html('Challenge <strong>' + name + '</strong> has triggers depending on it and cannot be deleted.');
                    modal.find("#modalCancelButton").text("Close");
                    modal.find("#modal-deleteButton").hide();
                }
                else {
                    modal.find('#modal-text').html('Are you sure you wish to delete the challenge: <strong>' + name + '</strong>?');
                    modal.find("#modalCancelButton").text("Cancel");
                    modal.find("#modal-deleteButton").show();
                }
            });
        </script>
    }
}