@model GRA.Controllers.ViewModel.MissionControl.GroupTypes.GroupTypesListViewModel

@section inHeading {
    <div class="ms-auto">
        <a class="btn btn-outline-success"
           data-bs-toggle="modal"
           data-bs-target="#addModal">
            <span class="fas fa-plus-circle"></span>
            Add a group type
        </a>
    </div>
}

@if (Model.MaximumHouseholdMembers == null)
{
    <div class="row my-2">
        <div class="col-sm-8 offset-sm-2">
            <div class="alert alert-danger mb-2">
                <div class="d-flex align-items-stretch">
                    <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                          aria-hidden="true"></span>
                    <span>
                        No maximum number of family members is configured for this site so
                        groups will not be used even if group types are configured below.
                        <strong>
                            This setting can be changed in
                            <a asp-area="@SitesController.Area"
                               asp-controller="@SitesController.Name"
                               asp-action="@nameof(SitesController.Settings)"
                               asp-route-id="@Model.SiteId"
                               asp-fragment="Users">Site management</a>.
                        </strong>
                    </span>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row my-2">
        <div class="col-sm-8 offset-sm-2">
            <div class="alert alert-info mb-2">
                <div class="d-flex align-items-stretch">
                    <span class="fas fa-info-circle fa-lg pt-2 me-3"
                          aria-hidden="true"></span>
                    <span>
                        Families will be prompted to upgrade to a group when they exceed
                        <strong>@Model.MaximumHouseholdMembers members</strong> and one or more
                        group types are configured below.
                        <strong>
                            This setting can be changed in
                            <a asp-area="@SitesController.Area"
                               asp-controller="@SitesController.Name"
                               asp-action="@nameof(SitesController.Settings)"
                               asp-route-id="@Model.SiteId"
                               asp-fragment="Users">Site management</a>.
                        </strong>
                    </span>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        @if (Model.GroupTypes.Count() == 0)
        {
            <div class="alert alert-warning">
                No group types configured.
                <a class="btn btn-outline-success my-3 ms-4 d-inline"
                   data-bs-toggle="modal"
                   data-bs-target="#addModal">
                    <span class="fas fa-plus-circle"></span>
                    Add a group type
                </a>
            </div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 7rem;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var groupType in Model.GroupTypes)
                        {
                            <tr data-id="@groupType.Id" data-name="@groupType.Name">
                                <td>
                                    @groupType.Name
                                </td>
                                <td class="d-flex justify-content-evenly">
                                    <button type="submit"
                                            class="btn btn-outline-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal">
                                        <span class="fas fa-pencil-alt fa-fw"
                                              aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal">
                                        <span class="fas fa-times fa-fw"
                                              aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <form asp-controller="@GroupTypesController.Name"
              asp-action="@nameof(GroupTypesController.Add)"
              method="post"
              role="form">
            <input type="hidden" asp-for="PaginateModel.CurrentPage" id="AddCurrentPage" />
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="addModalLabel">Add group type</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="GroupType.Name" class="col-form-label"></label>
                        <input asp-for="GroupType.Name"
                               id="addGroupTypeName"
                               class="form-control" />
                        <span asp-validation-for="GroupType.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-outline-success"
                            aria-label="Confirm"
                            button-spinner>
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4" id="deleteModalLabel">Delete group type</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close dialog">
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="modal-body d-flex align-items-stretch">
                    <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3" aria-hidden="true"></span>
                    <span id="deleteModalText"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">
                    Cancel
                </button>
                <form asp-controller="@GroupTypesController.Name"
                      asp-action="@nameof(GroupTypesController.Delete)"
                      class="d-inline"
                      method="post"
                      role="form">
                    <input type="hidden"
                           asp-for="PaginateModel.CurrentPage"
                           id="DeleteCurrentPage" />
                    <input asp-for="GroupType.Id" id="deleteGroupTypeId" type="hidden" />
                    <input asp-for="GroupType.Name" id="deleteGroupTypeName" type="hidden" />
                    <button type="submit"
                            class="btn btn-outline-danger"
                            aria-label="Confirm"
                            button-spinner>
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="GroupTypes"
                  asp-action="Edit"
                  method="post"
                  role="form">
                <input type="hidden" asp-for="PaginateModel.CurrentPage" id="EditCurrentPage" />
                <input asp-for="GroupType.Id" id="editGroupTypeId" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="editModalLabel">Edit group type</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="GroupType.Name" class="col-form-label"></label>
                            <input asp-for="GroupType.Name"
                                   id="editGroupTypeName"
                                   class="form-control" />
                            <span asp-validation-for="GroupType.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-outline-primary"
                                aria-label="Confirm"
                                button-spinner>
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $('#addModal').on('shown.bs.modal', function (event) {
            $('#addGroupTypeName').focus();
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            let dataElement = $(event.relatedTarget).closest('[data-id]');
            let name = dataElement.data('name');
            $('#deleteModalText').html('Are you sure you wish to delete the group type: <strong>' + name + '</strong>?');
            $('#deleteGroupTypeId').val(dataElement.data('id'));
            $('#deleteGroupTypeName').val(name);
        });

        $('#editModal').on('show.bs.modal', function (event) {
            let dataElement = $(event.relatedTarget).closest('[data-id]');
            let name = dataElement.data('name');
            $('#editModalLabel').text("Edit group type: " + name);
            $('#editGroupTypeId').val(dataElement.data('id'));
            $('#editGroupTypeName').val(name);
        });

        $('#editModal').on('shown.bs.modal', function () {
            $('#editGroupTypeName').focus();
        });
    </script>
}