@model GRA.Controllers.ViewModel.MissionControl.PerformerScheduling.DayScheduleViewModel

<ul>
    @if (!string.IsNullOrWhiteSpace(Model.StartTime))
    {
        @Html.Raw($"<li>Available: {Model.StartTime}");
    }
    @for (int i = 0; i < Model.BranchSelections.Count; i++)
    {
        if (i != 0 || !string.IsNullOrWhiteSpace(Model.StartTime))
        {
            @Html.Raw($"&ndash; {Model.BranchSelections[i].ScheduleStartTime.ToLongTimeString()}</li>")
        }
        <li>Booked: @Model.BranchSelections[i].ScheduleStartTime.ToLongTimeString() &ndash; @Model.BranchSelections[i].ScheduleStartTime.AddMinutes(Model.BranchSelections[i].ScheduleDuration).ToLongTimeString() @@ @Model.BranchSelections[i].Branch.Name <a href="https://www.google.com/maps/search/@Model.BranchSelections[i].Branch.Address" target="_blank"><span class="fa fa-map-o"></span></a></li>
        if (i != Model.BranchSelections.Count - 1 || !string.IsNullOrWhiteSpace(Model.EndTime))
        {
            @Html.Raw($"<li>Available: {Model.BranchSelections[i].ScheduleStartTime.AddMinutes(Model.BranchSelections[i].ScheduleDuration).ToLongTimeString()}")
        }
    }
    @if (!string.IsNullOrWhiteSpace(Model.EndTime))
    {
        @Html.Raw($"&ndash; {Model.EndTime}</li>");
    }
</ul>