@model GRA.Controllers.ViewModel.MissionControl.PerformerScheduling.KitViewModel

@section styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
}

@section inHeading {
    <a asp-action="Kits"
       asp-route-page="@Model.ReturnPage"
       class="btn btn-outline-secondary ms-auto d-print-none">Return to List</a>
}

<div class="row mt-3">
    <div class="col-12 border-bottom border-top py-2 mb-3">
        <div class="d-flex justify-content-between">
            <div class="h2 d-print-none" style="width: 2rem;">
                @if (Model.PrevKit.HasValue)
                {
                    <a asp-action="Kit"
                       asp-route-id="@Model.PrevKit">
                        <span class="fas fa-chevron-left"></span>
                    </a>
                }
            </div>
            <div class="flex-grow-1 text-center h2">
                Kit
            </div>
            <div class="h2 d-print-none text-end" style="width: 2rem;">
                @if (Model.NextKit.HasValue)
                {
                    <a asp-action="Kit"
                       asp-route-id="@Model.NextKit">
                        <span class="fas fa-chevron-right"></span>
                    </a>
                }
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-5 col-md-4">
        @if (!string.IsNullOrWhiteSpace(Model.ImagePath))
        {
            <div class="row pb-4">
                <div class="col-12">
                    <img src="~/@Model.ImagePath" class="img-fluid" style="margin: 0 auto;" />
                </div>
            </div>
        }
        @if (Model.Kit.Images.Count > 1)
        {
            <div class="row pb-4">
                <div class="col-12 text-center">
                    <a asp-action="KitImages" asp-route-id="@Model.Kit.Id" class="btn btn-outline-primary">View More Images</a>
                </div>
            </div>
        }
    </div>
    <div class="col-12 col-sm-7 col-md-8">
        <div class="mb-3">
            <label>Name</label>
            <div>@Model.Kit.Name</div>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <div>@Model.Kit.Description</div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Kit.Website))
        {
            <div class="mb-3">
                <label>Website</label>
                <div>
                    @if (Model.Uri != null)
                    {
                        <a href="@Model.Uri" target="_blank">@Model.Kit.Website</a>
                    }
                    else
                    {
                        <div>@Model.Kit.Website</div>
                    }
                </div>
            </div>
        }
        <div class="mb-3">
            <label>Ages</label>
            <div>
                <ul>
                    @foreach (var age in Model.Kit.AgeGroups)
                    {
                        <li>@age.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@if (Model.SchedulingOpen && Model.CanSchedule)
{
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <hr />
                    <h2>
                        Select Kit
                    </h2>
                </div>
            </div>
            <div class="row">
                <form asp-action="SelectKit" class="form-horizontal col-12" method="post" role="form">
                    <input asp-for="BranchSelection.KitId" value="@Model.Kit.Id" type="hidden" />
                    <div class="mb-3">
                        <label asp-for="BranchSelection.BranchId" class="col-sm-3 col-form-label required-field"></label>
                        <div class="col-sm-9">
                            <select asp-for="BranchSelection.BranchId" asp-items="Model.BranchList" class="form-select">
                                <option></option>
                            </select>
                            <span id="BranchValidationMessage" asp-validation-for="BranchSelection.BranchId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="BranchSelection.AgeGroupId" class="col-sm-3 col-form-label required-field"></label>
                        <div class="col-sm-9">
                            <select asp-for="BranchSelection.AgeGroupId" asp-items="Model.AgeGroupList" class="form-select" disabled="disabled">
                                <option></option>
                            </select>
                            <span asp-validation-for="BranchSelection.AgeGroupId" class="text-danger"></span>
                            <em>Age groups which are not available or have already been scheduled are not shown.</em>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 offset-sm-3" style="margin-top: 1em;">
                            <button type="submit"
                                    class="btn btn-lg btn-success btn-spinner"
                                    style="margin-bottom: 0.5rem;"
                                    button-spinner>
                                Select this kit in place of a program
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        var availableAgeGroupsUrl = "@Url.Action(nameof(PerformerSchedulingController.GetKitAvailableAgeGroups))";
        $("#BranchSelection_BranchId").on("change", function () {
            $("#BranchValidationMessage").addClass("field-validation-valid").removeClass("field-validation-error").text("");
            var branchId = $(this).val();
            if (branchId == "") {
                $("#BranchSelection_AgeGroupId").val("").attr("disabled", "disabled");
            }
            else {
                $.getJSON(availableAgeGroupsUrl, { branchId: $(this).val(), kitId: "@Model.Kit.Id" }, function (response) {
                    if (response.success == true) {
                        $("#BranchSelection_AgeGroupId").removeAttr("disabled", "disabled");
                        $("#BranchSelection_AgeGroupId > option").each(function () {
                            var option = $(this);
                            if (option.val() != "") {
                                if (response.data.indexOf(option.val()) == -1) {
                                    option.attr("hidden", "hidden");
                                }
                                else {
                                    option.removeAttr("hidden");
                                }
                            }
                        });
                    }
                    else {
                        $("#BranchValidationMessage").removeClass("field-validation-valid").addClass("field-validation-error").text(response.message);
                    }
                });
            }
        });
    </script>
}