@model GRA.Domain.Model.PsKit

@section styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
}

<div class="row">
    <div class="col-12">
        <h1>
            Images for Kit: @Model.Name
            <a asp-action="Kit" asp-route-id="@Model.Id" class="btn btn-lg btn-outline-secondary" style="margin-bottom: 0.5rem;">Return to Kit</a>
        </h1>
    </div>
    <div class="col-12">
        @if (Model.Images.Count == 0)
        {
            <div class="alert alert-warning">No Images.</div>
        }
        else
        {
            for (int i = 0; i < Model.Images.Count; i++)
            {
                if (i % 3 == 0)
                {
                    @Html.Raw("<div class=\"row\">");
                }
                <div class="col-12 col-md-4" style="margin-bottom: 2rem;">
                    <div style="padding:10px;border:1px solid black;">
                        <img src="~/@Model.Images[i].Filename" class="img-fluid" style="margin: 0 auto;" />
                    </div>
                </div>
                if (i % 3 == 2)
                {
                    @Html.Raw("</div>");
                }
            }
            if (Model.Images.Count % 3 != 0)
            {
                @Html.Raw("</div>");
            }
        }
    </div>
</div>