@model GRA.Controllers.ViewModel.MissionControl.PerformerScheduling.PerformerViewModel

@section styles {
    <link rel="stylesheet" href="/css/performerregistration.min.css" />
}
@section inHeading {
    <a asp-action="Performers"
       asp-route-page="@Model.ReturnPage"
       class="btn btn-outline-secondary ms-auto d-print-none">Return to List</a>
}

<div class="row mt-3">
    <div class="col-12 border-bottom border-top py-2 mb-3">
        <div class="d-flex justify-content-between">
            <div class="h2 d-print-none" style="width: 2rem;">
                @if (Model.PrevPerformer.HasValue)
                {
                    <a asp-action="Performer"
                       asp-route-id="@Model.PrevPerformer">
                        <span class="fas fa-chevron-left"></span>
                    </a>
                }
            </div>
            <div class="flex-grow-1 text-center h2">
                Performer
            </div>
            <div class="h2 d-print-none text-end" style="width: 2rem;">
                @if (Model.NextPerformer.HasValue)
                {
                    <a asp-action="Performer"
                       asp-route-id="@Model.NextPerformer">
                        <span class="fas fa-chevron-right"></span>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-12">
        <h2 style="margin-top:0px;">
            Information
        </h2>
    </div>
    <div class="col-12 col-sm-5 col-md-4">
        @if (Model.Performer.Images != null)
        {
            <div class="row pb-4">
                <div class="col-12">
                    <img src="~/@Model.ImagePath" class="img-fluid" style="margin: 0 auto;" />
                </div>
            </div>
        }
        @if (Model.Performer.Images.Count > 1)
        {
            <div class="row pb-4">
                <div class="col-12 text-center">
                    <a asp-action="PerformerImages" asp-route-id="@Model.Performer.Id" class="btn btn-outline-primary">View More Images</a>
                </div>
            </div>
        }
		<div class="row pb-4">
			<div class="col-12 text-center">
				<button type="button"
						class="btn btn-outline-primary"
						data-bs-toggle="modal"
						data-bs-target="#referencesModal">
					View References
				</button>
			</div>
		</div>
    </div>
    <div class="col-12 col-sm-7 col-md-8">
		<div class="mb-3">
			<label asp-for="Performer.Name"></label>
			<div>@Model.Performer.Name</div>
		</div>
		<div class="mb-3">
			<label asp-for="Performer.ContactName"></label>
			<div>@Model.Performer.ContactName</div>
		</div>
        <div class="mb-3">
            <label>Email @(Model.Performer.PhonePreferred ? "" : "(preferred)") </label>
            <div>@Model.Performer.Email</div>
        </div>
        <div class="mb-3">
            <label>Phone @(Model.Performer.PhonePreferred ? "(preferred)" : "")</label>
            <div>@Model.Performer.Phone</div>
        </div>
        <div class="mb-3">
            <label>Website</label>
            @if (string.IsNullOrWhiteSpace(Model.Performer.Website))
            {
                <div>n/a</div>
            }
            else
            {
                <div>
                    @if (Model.Uri != null)
                    {
                        <a aria-label="@Model.Performer.Website (Opens new window)"
                           href="@Model.Uri"
                           target="_blank">@Model.Performer.Website</a>
                    }
                    else
                    {
                        <div>@Model.Performer.Website</div>
                    }
                </div>
            }
        </div>
        <div class="mb-3">
            <label>Programs available for the age groups</label>
            <ul>
                @foreach (var ageGroup in Model.AgeGroups)
                {
                    <li>@ageGroup.Name</li>
                }
            </ul>
        </div>
        <div class="mb-3">
            <label>Locations</label>
            <div>
                Able to perform at
                <strong>@(Model.Performer.AllBranches || Model.BranchAvailability.Count == Model.System.Branches.Count ? "all" : $"{Model.BranchAvailability.Count} of {Model.System.Branches.Count}")</strong>
                libraries in your system.
            </div>
            <button type="button" class="btn btn-outline-primary mt-2" data-bs-toggle="modal" data-bs-target="#branchModal">View Locations</button>
        </div>
    </div>

    <div class="col-12">
        <hr />
        <h2>
            Programs
        </h2>
    </div>
    <div class="col-12">
        @if (Model.Performer.Programs.Count == 0)
        {
            <div class="alert alert-warning">No Programs.</div>
        }
        else
        {
            <table class="table table-sm table-bordered link-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Length (minutes)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var program in Model.Performer.Programs)
                    {
                        <tr>
                            <td class="td-class">
                                <a asp-action="Program" asp-route-id="@program.Id" class="rowlink">
                                    @program.Title
                                </a>
                            </td>
                            <td>@program.MinimumCapacity &ndash; @program.MaximumCapacity</td>
                            <td>@program.ProgramLengthMinutes</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="col-12">
        <hr />
        <h2>
            Schedule
        </h2>
    </div>
    <div class="col-12">
        @{
            int count = 0;
        }
        @for (var calendarMonth = new DateTime(Model.Settings.ScheduleStartDate.Value.Year, Model.Settings.ScheduleStartDate.Value.Month, 1); calendarMonth <= Model.Settings.ScheduleEndDate.Value; calendarMonth = calendarMonth.AddMonths(1))
        {
            @if (count % 3 == 0)
            {
                @Html.Raw("<div class=\"row\">")
                ;
            }
            <div class="col-12 col-md-4">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <td colspan="2"><strong style="font-size:large">@calendarMonth.ToString("MMMM")</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var day = (calendarMonth.Year == Model.Settings.ScheduleStartDate.Value.Year && calendarMonth.Month == Model.Settings.ScheduleStartDate.Value.Month ? Model.Settings.ScheduleStartDate.Value : calendarMonth); day.Day <= DateTime.DaysInMonth(calendarMonth.Year, calendarMonth.Month) && day.Month == calendarMonth.Month && day <= Model.Settings.ScheduleEndDate.Value; day = day.AddDays(1))
                        {
                            <tr>
                                <td style="width: 180px;">
                                    @day.ToShortDateString() @day.Date.DayOfWeek
                                </td>
                                <td>
                                    @{
                                        var blackoutDate = Model.BlackoutDates.FirstOrDefault(_ => _.Date == day.Date);
                                    }
                                    @if (blackoutDate != null)
                                    {
                                        <div class="blackout-text">@blackoutDate.Reason</div>
                                    }
                                    else
                                    {
                                        var daySchedule = Model.Performer.Schedule.Where(_ => _.Date == day.Date).FirstOrDefault();
                                        if (daySchedule == null)
                                        {
                                            <div class="available-text">Available</div>

                                        }
                                        else if (daySchedule.StartTime.HasValue)
                                        {
                                            <div class="time-text">@daySchedule.StartTime.Value.ToShortTimeString() &ndash; @daySchedule.EndTime.Value.ToShortTimeString() </div>
                                        }
                                        else
                                        {
                                            <div class="unavailable-text">Unavailable</div>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            if (count % 3 == 2)
            {
                @Html.Raw("</div>")
                ;
            }
            { count++; }
        }
        @if (count % 3 != 2)
        {
            @Html.Raw("</div>")
            ;
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="branchModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="branchModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="branchModalLabel">Branch Availability</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y:auto;">
                    <div style="font-size:x-large;margin-bottom: 0.5rem;">
                        <strong>@Model.System.Name</strong>
                    </div>
                    @foreach (var branch in Model.System.Branches)
                    {
                        <div>
                            <span class="far fa-lg @(Model.Performer.AllBranches || Model.BranchAvailability.Contains(branch.Id) ? "fa-check-circle text-success" : "fa-times-circle text-danger")"></span>
                            <label data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   title="@branch.Address">
                                @branch.Name
                            </label>
                            <a aria-label="Map (Opens new window)"
                               href="https://www.google.com/maps/search/@branch.Address"
                               target="_blank">
                                <span class="far fa-map"></span>
                            </a>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal"
                            style="margin-right: 1em;">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="modal fade"
		 id="referencesModal"
		 tabindex="-1"
		 role="dialog"
		 aria-labelledby="referencesModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title h4" id="referencesModalLabel">References</h1>
					<button type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span id="modal-text" class="pre-wrap">@Model.Performer.References</span>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
    <script>
        $(window).on("load", function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });
        $(window).resize(function () {
            $(".td-class").each(function () {
                $(this).children("a.rowlink").height($(this).outerHeight());
            });
        });
    </script>
}
