@model GRA.Controllers.ViewModel.MissionControl.Systems.BranchesListViewModel

<div class="row my-4">
    <div class="col-12 mb-2">
        <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
                <a ActiveBy routeKey="Action"
                value="Index"
                asp-action="Index"
                class="nav-link">
            System</a>
            </li>
            <li class="nav-item">
                <a ActiveBy routeKey="Action"
                value="Branches"
                asp-action="Branches"
                class="nav-link">
            Branches</a>
            </li>
            <li class="float-end nav-item">
                <div>
                    <a asp-action="Import" class="btn btn-sm btn-secondary nav-link">
                        <span class="fas fa-file-upload"></span>
                        Import
                    </a>
                    </div>
                     <li class="float-end nav-item">
                <div>
                    <div>
                    <a asp-action="Export" class="btn btn-sm btn-secondary nav-link">
                        <span class="fas fa-file-download"></span>
                        Export
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

<form asp-controller="Systems" asp-action="Branches" method="get" role="form">
    <div class="row row-spacing">
        <div class="col-8">
            <input asp-for="Search" class="form-control" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-secondary" style="margin-right: 8px;" />
            <a asp-action="Branches" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <a class="btn btn-secondary"
           data-bs-toggle="modal"
           data-bs-target="#addModal">Add a Branch</a>
    </div>
</div>

<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        @if (Model.Branches.Count() == 0)
        {
            <div class="alert alert-warning">No Branches</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>System</th>
                            @if (Model.ShowGeolocation)
                            {
                                <th>Geolocation</th>
                            }
                            <th width="100">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var branch in Model.Branches)
                        {
                            <tr>
                                <td>
                                    @branch.Name
                                </td>
                                <td>
                                    @branch.SystemName
                                </td>
                                @if (Model.ShowGeolocation)
                                {
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(branch.Geolocation))
                                        {
                                            <span class="fas fa-check colored-icon"></span>
                                        }
                                        else
                                        {
                                            <button type="button"
                                    class="btn btn-sm btn-primary geolocateButton"
                                    data-id="@branch.Id"
                                    button-spinner
                                    ignore-validation="true">
                                                Add geolocation
                                            </button>
                                        }
                                    </td>
                                }
                                <td class="gra-mc-icon">
                                    <div class="btn-group-sm">
                                        <button type="submit"
                                                class="btn btn-outline-primary btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editModal"
                                                data-id="@branch.Id"
                                                data-name="@branch.Name"
                                                data-url="@branch.Url"
                                                data-address="@branch.Address"
                                                data-telephone="@branch.Telephone">
                                            <span class="fas fa-pencil-alt fa-fw" aria-hidden="true"></span>
                                        </button>
                                        <a class="btn btn-outline-danger btn-sm"
                                           style="margin-left:16px;"
                                           asp-action="@nameof(SystemsController.RemoveBranch)"
                                           asp-route-id="@branch.Id">
                                            <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.PaginateModel.MaxPage > 1)
            {
                <paginate paginateModel="@Model.PaginateModel"></paginate>
            }
        }
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="addModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Systems"
                  asp-action="AddBranch"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="Search" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="addModalLabel">Add Branch</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="Branch.Name" class="col-form-label"></label>
                            <input asp-for="Branch.Name" class="form-control" />
                            <span asp-validation-for="Branch.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Branch.SystemId" class="col-form-label"></label>
                            <select asp-for="Branch.SystemId"
                                    asp-items="Model.SystemList"
                                    class="form-control">
                                <option></option>
                            </select>
                            <span asp-validation-for="Branch.SystemId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Branch.Address" class="col-form-label">
                                Address (include city, state and zip)
                            </label>
                            <input asp-for="Branch.Address" class="form-control addressInput" />
                            <span asp-validation-for="Branch.Address" class="text-danger"></span>
                        </div>
                        @if (Model.ShowGeolocation)
                        {
                            <div class="mb-3 hide mapContainer">
                                <iframe height="180"
                                    width="400"
                                    frameborder="0"
                                    style="border:0"></iframe>
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="Branch.Url" class="col-form-label"></label>
                            <input asp-for="Branch.Url" class="form-control" />
                            <span asp-validation-for="Branch.Url" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Branch.Telephone" class="col-form-label"></label>
                            <input asp-for="Branch.Telephone" class="form-control" />
                            <span asp-validation-for="Branch.Telephone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-controller="Systems"
                  asp-action="EditBranch"
                  method="post"
                  role="form"
                  style="display:inline">
                <input asp-for="Branch.Id" type="hidden" />
                <input asp-for="Search" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h4" id="editModalLabel">Edit branch</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close dialog">
                            
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="Branch.Name" class="col-form-label"></label>
                            <input asp-for="Branch.Name" class="form-control" />
                            <span asp-validation-for="Branch.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Branch.Address" class="col-form-label">
                                Address (include city, state and zip)
                            </label>
                            <input asp-for="Branch.Address" class="form-control addressInput" />
                            <span asp-validation-for="Branch.Address" class="text-danger"></span>
                        </div>
                        @if (Model.ShowGeolocation)
                        {
                            <div class="mb-3 hide mapContainer">
                                <iframe height="180"
                                    width="400"
                                    frameborder="0"
                                    style="border:0"></iframe>
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="Branch.Url" class="col-form-label"></label>
                            <input asp-for="Branch.Url" class="form-control" />
                            <span asp-validation-for="Branch.Url" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Branch.Telephone" class="col-form-label"></label>
                            <input asp-for="Branch.Telephone" class="form-control" />
                            <span asp-validation-for="Branch.Telephone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                style="margin-right: 1em;">
                            Cancel
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-spinner float-end"
                                aria-label="Confirm"
                                button-spinner>
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var url = button.data('url');
            var address = button.data('address');
            var telephone = button.data('telephone')
            var modal = $(this);

            modal.find('#editModalLabel').text('Edit branch - "' + name + '"');
            modal.find('#Branch_Id').val(id);
            modal.find('#Branch_Name').val(name);
            modal.find('#Branch_Url').val(url);
            modal.find('#Branch_Address').val(address);
            modal.find('#Branch_Telephone').val(telephone);
        });
    </script>

    @if (Model.ShowGeolocation)
    {
        <script>
            var geolocationUrl = "@Url.Action(nameof(EventsController.SetLocationGeolocation))";

            var mapsUrl = "https://www.google.com/maps/embed/v1/place?key=@Model.GoogleMapsAPIKey&q=";

            $(".geolocateButton").on("click", function () {
                var button = $(this);
                if (button.hasClass("disabled") == false) {
                    button.attr("disabled", "disabled");
                    button.children("span").removeClass("hidden");
                    $.post(geolocationUrl, { id: button.data("id") }, function (response) {
                        if (response.success) {
                            button.parent().html("<span class=\"far fa-check-circle text-success\"></span>");
                        }
                        else {
                            alert("Unable to set geolocation: " + response.message);
                            button.removeAttr("disabled");
                            button.children("span").addClass("hidden");
                        }
                    })
                        .fail(function () {
                            alert("Error setting geolocation");
                            button.removeAttr("disabled");
                            button.children("span").addClass("hidden");
                        })
                }
            });

            $(".addressInput").on("change", function () {
                var input = $(this);
                var address = input.val();
                var mapContainer = input.parent().siblings(".mapContainer");

                if (address.length == 0) {
                    mapContainer.addClass("d-none");
                }
                else {
                    mapContainer.removeClass("d-none");
                    mapContainer.children().attr("src", mapsUrl + address);
                }
            });
        </script>
    }
}