@model GRA.Controllers.ViewModel.MissionControl.Systems.SystemListViewModel

@section inHeading {
    <div class="ms-auto d-print-none">
        <a class="btn btn-outline-success text-nowrap"
           data-bs-toggle="modal"
           data-bs-target="#addModal">
            <span class="fas fa-plus-circle fa-fw"></span>
            Add System
        </a>
    </div>
}

@await Html.PartialAsync("_SystemsPartial")

<form asp-controller="@SystemsController.Name"
      asp-action="@nameof(SystemsController.Index)"
      method="get"
      role="form">
    <div class="row my-3">
        <div class="col-12 input-group">
            <input asp-for="Search"
                   class="form-control"
                   placeholder="Search systems" />
            <a asp-action="@nameof(SystemsController.Index)"
               class="btn btn-outline-secondary">Clear</a>
            <input type="submit" value="Search" class="btn btn-outline-primary" />
        </div>
    </div>
</form>

<div class="row my-4">
    <div class="col-12">
        @if (Model.Systems.Count() == 0)
        {
            <div class="alert alert-warning">No Systems</div>
        }
        else
        {
            <div>
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>System Name</th>
                            <th style="width: 7rem;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var system in Model.Systems)
                        {
                            <tr>
                                <td>
                                    @system.Name
                                </td>
                                <td class="d-flex justify-content-evenly">
                                    <button type="button"
                                            class="btn btn-outline-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal"
                                            data-id="@system.Id"
                                            data-name="@system.Name">
                                        <span class="fas fa-pencil-alt fa-fw"
                                              aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-id="@system.Id"
                                            data-name="@system.Name">
                                        <span class="fas fa-times fa-fw"
                                              aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paginate paginateModel="@Model.PaginateModel"></paginate>
        }
    </div>
</div>

<div class="modal fade"
     id="addModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <form asp-controller="@SystemsController.Name"
              asp-action="@nameof(SystemsController.AddSystem)"
              method="post"
              role="form">
            <input asp-for="Search" type="hidden" />
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="addModalLabel">Add System</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div class="modal-body">
                    <label asp-for="System.Name" class="col-form-label"></label>
                    <input asp-for="System.Name" class="form-control" />
                    <span asp-validation-for="System.Name" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-outline-primary"
                            aria-label="Confirm"
                            button-spinner>
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade"
     id="editModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <form asp-controller="@SystemsController.Name"
              asp-action="@nameof(SystemsController.EditSystem)"
              method="post"
              role="form">
            <input asp-for="System.Id" type="hidden" />
            <input asp-for="Search" type="hidden" />
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h4" id="editModalLabel">Edit System</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close dialog">
                    </button>
                </div>
                <div class="modal-body">
                    <label asp-for="System.Name" class="col-form-label"></label>
                    <input asp-for="System.Name" class="form-control" />
                    <span asp-validation-for="System.Name" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-outline-primary"
                            aria-label="Confirm"
                            button-spinner>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4" id="deleteModalLabel">Delete system</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close dialog">
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="modal-body d-flex align-items-stretch">
                    <span class="fas fa-exclamation-triangle fa-lg text-danger pt-2 me-3"
                          aria-hidden="true"></span>
                    <span id="modal-text"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">
                    Cancel
                </button>
                <form asp-controller="Systems"
                      asp-action="DeleteSystem"
                      method="post"
                      role="form">
                    <input asp-for="Search" type="hidden" />
                    <input id="Id" name="Id" type="hidden" />
                    <button type="submit"
                            class="btn btn-outline-danger btn-spinner float-end"
                            aria-label="Confirm"
                            button-spinner>
                        <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#editModalLabel').text('Edit system - "' + name + '"');
            modal.find('#System_Id').val(id);
            modal.find('#System_Name').val(name);
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            var modal = $(this);
            modal.find('#modal-text').html('Are you sure you wish to delete the system <strong>' + name + '</strong>?');
            modal.find('#Id').val(id);
        });
    </script>
}