@model GRA.Controllers.ViewModel.MissionControl.Systems.RemoveBranchViewModel

<h3>Remove branch</h3>

<div class="row">
    <div class="col-12" style="margin-bottom: 2rem;">
        <form method="post" asp-action="@nameof(SystemsController.RemoveBranch)">
            <input type="hidden" asp-for="BranchId" value="@Model.BranchId" />
            <table class="table table-bordered table-sm table-striped">
                <tr>
                    <th>Branch name:</th>
                    <td>@Model.Branch.Name</td>
                </tr>
                <tr>
                    <th>Participants at this branch:</th>
                    <td>@Model.InUseCount</td>
                </tr>
                @if (Model.InUseCount > 0)
                {
                    <tr>
                        <th>Reassign participants to:</th>
                        <td>
                            <select asp-for="ReassignBranch"
                                asp-items="Model.BranchList"
                                class="form-control"></select>
                        </td>
                    </tr>
                }
            </table>

            <p>When you click the button below the software will attempt to:</p>
            <ul>
                <li>Reassign all participants/staff who have selected <strong>@Model.Branch.Name</strong> to the branch you've selected above.</li>
                <li>Attempt to delete <strong>@Model.Branch.Name</strong></li>
                <li>
                    It will be unable to delete the branch if it has any of the following assigned to it, so please <strong>verify first</strong>:
                    <ul>
                        <li>Challenges</li>
                        <li>Drawings</li>
                        <li>Drawing Criteria</li>
                        <li>Events</li>
                        <li>Program Scheduling</li>
                        <li>Questionnaires</li>
                        <li>Report Criteria</li>
                        <li>Triggers</li>
                        <li>Vendor Codes</li>
                    </ul>
                </li>
            </ul>

            <input type="submit" value="Remove Branch" class="btn btn-outline-danger" />
        </form>
    </div>
</div>