@model TipDetailViewModel

@using GRA.Controllers.ViewModel.MissionControl.DailyTips

<h2>Tip: @Model.Tip.Name</h2>
<p>@Model.Tip.Message</p>


<div class="row py-4">
    <div class="col-12">
        <a class="btn btn-outline-success"
           asp-action="Add"
        asp-route-tipId = "@Model.Tip.Id">
            <span class="far fa-file-archive fa-fw"></span>
            Add new Daily Tips
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped table-bordered table-sm">
            <tr>
                <th>Day</th>
                <th>Name</th>
                <th>Extension</th>
                <th>Actions</th>
            </tr>
            @if (Model?.Images?.Any() != true)
            {
                <div class="alert alert-warning">No images for this tip.</div>
            }
            else
            {
                foreach (var image in Model.Images)
                {
                    <tr>
                        <td>@image.Day</td>
                        <td>@image.Name</td>
                        <td>@image.Extension</td>
                        <td class="btn-group ps-2" role="group">
                            <button type="button"
                                    class="btn btn-outline-danger btn-sm"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal"
                                    data-id="@image.DailyLiteracyTipId"
                                    data-name="@image.Name">
                                <span class="fas fa-times fa-fw"
                                      aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>

                }
            }
        </table>
        <paginate paginateModel="@Model.PaginateModel"></paginate>
    </div>
</div>