@model GRA.Controllers.ViewModel.MissionControl.DailyTips.TipDetailViewModel
@using GRA.Controllers.ViewModel.MissionControl.DailyTips

<h2>Tip: @Model.Tip.Name</h2>
<p>@Model.Tip.Message</p>

<div class="row py-4">
    <div class="col-12">
        <a class="btn btn-outline-success"
           asp-action="Add"
           asp-route-tipId="@Model.Tip.Id">
            <span class="far fa-file-archive fa-fw"></span>
            Add new Daily Tips
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table link-table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Name</th>
                    <th>Extension</th>
                    <th>Preview</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.Images?.Any() != true)
                {
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-warning mb-0">No images found.</div>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var image in Model.Images)
                    {
                            <tr>
                                <td>@image.Day</td>
                                <td>@image.Name</td>
                                <td>@image.Extension</td>
                                <td>
                                    <img src="@Url.Content($"~/{image.ImagePath}")"
                                         alt="@image.Name"
                                        style="max-height: calc(50vh - 100px); overflow-y:auto;" />
                                </td>
                                <td class="btn-group ps-2" role="group">
                                    <form asp-action="DeleteImage"
                                          asp-route-imageId="@image.Id"
                                          asp-route-tipId="@Model.Tip.Id"
                                          method="post"
                                          class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger btn-sm" button-spinner>
                                            <span class="fas fa-times fa-fw" aria-hidden="true"></span>
                                        </button>
                                    </form>

                                    <button type="button"
                                        class="btn btn-outline-secondary btn-sm decreasePosition" button-spinner
                                            data-id="@image.Id"
                                            disabled="@(image == Model.Images.First() ? "disabled" : null)">
                                        <span class="fas fa-arrow-up fa-fw"></span>
                                    </button>

                                    <button type="button"
                                        class="btn btn-outline-secondary btn-sm increasePosition" button-spinner
                                            data-id="@image.Id"
                                            disabled="@(image == Model.Images.Last() ? "disabled" : null)">
                                        <span class="fas fa-arrow-down fa-fw"></span>
                                    </button>
                                </td>
                            </tr>
                    }
                }
            </tbody>
        </table>
        <paginate paginateModel="@Model"></paginate>
    </div>
</div>

@section Scripts {
    <script>
        const decreasePositionUrl = '@Url.Action(nameof(DailyTipsController.MoveImageUp), DailyTipsController.Name)';
        const increasePositionUrl = '@Url.Action(nameof(DailyTipsController.MoveImageDown), DailyTipsController.Name)';

        function AdjustPosition(e) 
        {
            const button = $(e.currentTarget);
            const child = button.children("span");

            const increment = button.hasClass("increasePosition");
            const id = button.data("id");
            const url = increment ? increasePositionUrl : decreasePositionUrl;

            const currentRow = button.closest("tr");
            const tbody = currentRow.closest("tbody");

            let rows = tbody.children("tr");
            const index = rows.index(currentRow);

            if ((increment && index === rows.length - 1) ||
                    (!increment && index === 0)) 
            {
                return;
            }

            const targetRow = increment ? rows.eq(index + 1) : rows.eq(index - 1);

            currentRow.addClass("table-info");
            child.removeClass("fa-arrow-up fa-arrow-down").addClass("fa-pulse");

            $.post(url, { id: id }, function (success) 
            {
                if (success === true) 
                {
                    if (increment) 
                    {
                        currentRow.insertAfter(targetRow);
                    } 
                    else 
                    {
                        currentRow.insertBefore(targetRow);
                    }

                    rows = tbody.children("tr");
                    rows.each(function (i) 
                    {
                        const $row = $(this);
                        $row.find(".increasePosition").prop("disabled", i === rows.length - 1);
                        $row.find(".decreasePosition").prop("disabled", i === 0);
                    });

                    location.reload();
                } 
                else 
                {
                    alert("Error reordering image.");
                }

                child.removeClass("fa-pulse")
                        .addClass(increment ? "fa-arrow-down" : "fa-arrow-up");

                setTimeout(() => currentRow.removeClass("table-info"), 300);
            });
        }

        $(".increasePosition").on("click", AdjustPosition);
        $(".decreasePosition").on("click", AdjustPosition);
    </script>
}