@model TipListViewModel

@using GRA.Controllers.ViewModel.MissionControl.DailyTips

<div class="row" style="padding-top: 2rem; padding-bottom: 2rem;">
    <div class="col-xs-12">
        <a class="btn btn-success"
           asp-action="@nameof(GRA.Controllers.MissionControl.DailyTipsController.Upload)">
            <span class="far fa-file-archive"></span>
            Upload new Daily Tips
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Name</th>
                <th>Message</th>
                <th>Number of tips</th>
                <th>Pop-up Size</th>
            </tr>
            @if (Model?.DailyTips?.Any() != true)
            {
                <tr>
                    <td class="warning" colspan="4">No daily tips found.</td>
                </tr>
            }
            else
            {
                foreach (var tip in Model.DailyTips)
                {
                    <tr>
                        <td>@tip.Name</td>
                        <td>@tip.Message</td>
                        <td>@(Model?.TipCount?.ContainsKey(tip.Id) == true ? Model.TipCount[tip.Id] : "0")</td>
                        <td>@(tip.IsLarge ? "900 pixels (large)" : "600 pixels (small)")</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>