@model GRA.Controllers.ViewModel.PerformerRegistration.Home.PerformerImagesViewModel

@{
    var invalid = Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;
}

<div class="row">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel">Delete images</h4>
                </div>
                <div class="modal-body">
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                    <span id="modal-text">Are you sure you want to delete the selected image(s)?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 1em;">Cancel</button>
                    <form asp-controller="Performer" asp-action="ImagesDelete" method="post" role="form" style="display:inline">
                        <input asp-for="ImagesToDelete" type="hidden" />
                        <button type="submit" class="btn btn-danger btn-spinner pull-right" aria-label="Confirm">
                            <span class="fa fa-remove" aria-hidden="true"></span>
                            Delete
                            <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>
            Performer Images
            <a asp-action="Dashboard" class="btn btn-lg btn-default" style="margin-bottom:10px;">Return to Dashboard</a>
        </h1>
    </div>
    @if (Model.IsEditable)
    {
        <form asp-controller="Performer" asp-action="Images" class="form-horizontal col-xs-12" method="post" role="form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <p>
                        Additional images can be added here. For best results please
                        use images that are at least 1,000px by 1,000px, uploads are limited to @(Model.MaxUploadMB)MB total.
                        Multiple images can be selected by holding the CTRL key.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Upload photos</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                <span class="fa fa-file-image-o"></span> Select file(s)...
                                <input type="file"
                                       multiple="multiple"
                                       asp-for="Images"
                                       accept=".png,.jpg,.jpeg"
                                       style="display: none;" />
                            </span>
                        </label>
                        <input type="text" class="form-control @(ViewData.ModelState.GetValidationState("Images") == invalid ? "input-validation-error" : "")" readonly />
                    </div>
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9 col-sm-offset-3" style="margin-top: 1em;margin-bottom: 1em;">
                    <button type="submit" class="btn btn-lg btn-success btn-spinner" style="margin-bottom:10px;">
                        Upload Image(s)
                        <span class="fa fa-spinner fa-pulse fa-fw hidden"></span>
                    </button>
                    <button id="deleteButton" type="button" class="btn btn-lg btn-danger" style="margin-bottom:10px;" data-toggle="modal" data-target="#deleteModal" disabled>
                        Delete Selected Image(s)
                    </button>
                </div>
            </div>
        </form>
    }
    <div class="col-xs-12">
        @if (Model.PerformerImages.Count == 0)
        {
            <div class="alert alert-warning">No Images.</div>
        }
        else
        {
            for (int i = 0; i < Model.PerformerImages.Count; i++)
            {
                if (i % 3 == 0)
                {
                    @Html.Raw("<div class=\"row\">");
                }
                <div class="col-xs-12 col-md-4" style="margin-bottom:40px;">
                    <div style="padding:10px;border:1px solid black;">
                        <img src="~/@Model.PerformerImages[i].Filename" class="img-responsive" style="margin: 0 auto;" />
                        @if (Model.IsEditable)
                        {
                            <input class="deleteSelection form-control" type="checkbox" data-id="@Model.PerformerImages[i].Id" />
                        }
                    </div>
                </div>
                if (i % 3 == 2)
                {
                    @Html.Raw("</div>");
                }
            }
            if (Model.PerformerImages.Count % 3 != 0)
            {
                @Html.Raw("</div>");
            }
        }
    </div>
</div>

@section scripts {
    <script>
        $(".deleteSelection").on("change", function () {
            if ($(".deleteSelection:checked").length > 0) {
                $("#deleteButton").removeAttr("disabled");
            }
            else {
                $("#deleteButton").attr("disabled", "disabled");
            }
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var imageSelection = JSON.stringify($(".deleteSelection:checked").map(function () { return $(this).data("id") }).get());
            $(this).find('#ImagesToDelete').val(imageSelection);
        })
    </script>
}