@model GRA.Controllers.ViewModel.PerformerRegistration.Home.ProgramDetailsViewModel

<div class="row">
    <div class="col-12">
        <h1>
            Program
            @if (Model.IsEditable)
            {
                <a asp-action="Program" asp-route-id="@Model.Program.Id" class="btn btn-outline-primary" style="display:inline-block">Edit Program</a>
            }
        </h1>
    </div>

    <div class="col-12 col-sm-5 col-md-4">
        @if (!string.IsNullOrWhiteSpace(Model.Image))
        {
            <div class="row pb-3">
                <div class="col-12">
                    <img src="~/@Model.Image" class="img-fluid" style="margin: 0 auto;" />
                </div>
            </div>
        }
        <div class="row pb-3">
            <div class="col-12 text-center">
                <a asp-action="ProgramImages" asp-route-id="@Model.Program.Id" class="btn btn-outline-primary">@(Model.IsEditable ? "View/Manage Images" : "View Images")</a>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12 text-center">
                <a asp-action="Dashboard" asp-route-id="@Model.Program.PerformerId" class="btn btn-outline-secondary">Return to Dashboard</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-7 col-md-8">
        <div class="mb-3">
            <label>Name</label>
            <div>@Model.Program.Title</div>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <div>@Model.Program.Description</div>
        </div>
        <div class="mb-3">
            <label>Capacity</label>
            <div>@Model.Program.MinimumCapacity &ndash; @Model.Program.MaximumCapacity</div>
        </div>
        <div class="mb-3">
            <label>Ages</label>
            <div>
                <ul>
                    @foreach (var age in Model.Program.AgeGroups)
                    {
                        <li>@age.Name</li>
                    }
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label>Program Length</label>
                <div>@Model.Program.ProgramLengthMinutes minutes</div>
            </div>
            <div class="col-6">
                <label>Set-up Time</label>
                <div>@Model.Program.SetupTimeMinutes minutes</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label>Breakdown Time</label>
                <div>@Model.Program.BreakdownTimeMinutes minutes</div>
            </div>
            <div class="col-6">
                <label>Time Between Back-to-Back Programs</label>
                <div>@Model.Program.BackToBackMinutes minutes</div>
            </div>
        </div>
        <div class="mb-3">
            <label>Inclusive Cost</label>
            <div>@Model.Program.Cost.ToString("C")</div>
        </div>
        <div class="mb-3">
            <label>Library Set-up</label>
            <div>@Model.Program.Setup</div>
        </div>
        @if (Model.EnablePerformerLivestreamQuestions)
        {
            <div class="mb-3">
                <label>Willing to allow the library to livestream the program online?</label>
                <div>@(Model.Program.AllowStreaming ? "Yes" : "No")</div>
            </div>
            <div class="mb-3">
                <label>Willing to allow the library to save and share the archive of event, if livestreamed or recorded?</label>
                <div>@(Model.Program.AllowArchiving ? "Yes" : "No")</div>
            </div>
        }  
    </div>
</div>
